---
import Layout from '../../layouts/Layout.astro';
const pageTitle = "週記20xx/xx-x　x、x";
---
<Layout pageTitle={pageTitle}>
    <h1>週記20xx/xx-x （x月x日）</h1>
    <h3></h3>
    <p></p>

    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="ここにタイトル - welame&#39;s page" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</Layout>

