---
import Layout from '../../layouts/Layout.astro';
const pageTitle = "2024年 リザルト画面";
---
<Layout pageTitle={pageTitle}>
    <h1>2024年 リザルト画面</h1>
    <p>今年の自分の諸々を振り返ります。</p>
    <p>目次<br>
        ◆大学卒業<br>
        ◆就職<br>
        ◆個人サイト開設<br>
        ◆配信活動開始<br>
        ◆記事投稿<br>
        ◆同人誌頒布<br>
        ◆競技タイピング<br>
        ◆読んだ本<br>
        ◆読んだ漫画<br>
        ◆遊んだゲーム<br>
        ◆その他</p>
    <p>総合評価：<i><b>priceless...</b></i></p>
    <h3>大学卒業</h3>
    <p>卒業論文を提出し、卒業した。東京大学工学部応用化学科卒、学士（工学）。</p>
    <p>もう二度と戻りたくない。周りの院進学率が9割の学部だろうと、就職先の同期に学部卒が自分しかいなかろうと、大学院に進学しなかったことに後悔はない。自分の中で「専門性がない」ことは割と大きなコンプレックスなのだが、それさえもこの天秤の上で何かを主張することはない。<br>
        別に嫌な目に遭わされたわけではない。ただただ、自分に「授業を受ける」ことの、ひいては「勉強を教えてもらう」ことの資質がなかった。それを独力でカバーしきるだけのバイタリティもなかった。小中高でうすうす分かっていたそういう問題の再演がなされたにすぎない。<br>
        人間関係にはむしろ恵まれていた。前期クラスも、サークル活動も、研究室も、よい思い出だった。それに、中期の本当にひとりで過ごしていた期間は、それまでの自分を完全に他人に変えてしまうほどのインパクトがあった。これは主観世界に関することであって、外からは以前と同じ人間にしか見えないだろうが。</p>
    <p>東大VTuber愛好会の会長も自分から新しい方に代替わりし、いろいろなことに一区切りがついた。とにかく、生ききった。それを支えてくれた親には感謝しかない。</p>
    <h3>就職</h3>
    <p>今年4月、無事就職した。精神的な問題で就活にあまり時間がかけられなかったが、非常によい社風のところに入ることができて安心している。いま学生時代よりはるかに活き活きしているのはそのおかげだ。<br>
        仕事のことについてネットで詳しく話すつもりはないが、プロフィールにある通り分析機器メーカーに勤務している。</p>
    <h3>個人サイト開設</h3>
    <p>憧れだった個人サイトをついに作った（VTuberライター時代に一回やろうとしたが頓挫した）。もちろんこのサイトのことだ。astroというフロントエンドフレームワークを使い、Netlifyでホスティングし、htmlやcssなどを書いてそれっぽい形にしている。</p>
    <h3>配信活動開始</h3>
    <p>YouTube上で配信にチャレンジした。現在は週2～3回のペースで夜配信を行っている。メインとなるのは週1回のタイピング参加型対戦&雑談配信で、ありがたいことに界隈のさまざまな方に来ていただいている。<br>
        基本的にはタイピングコミュニティやVTuberコミュニティで仲良くなった方が視聴者となることが多いが、誰でもウェルカムの精神でやっている。</p>
    <h3>記事投稿</h3>
    <p>個人サイト開設に伴い、毎週のように記事を投稿している。</p>
    <b><a href="/article/keikyoku/">プロセカストーリー『荊棘の道は何処へ』感想</a></b>　知り直しと、対等な「優しさ」の模索<br>
    <b><a href="/article/keikyoku/">プロセカストーリー『傷だらけの手で、私達は』感想</a></b>　あなたを知ること、わたしを語ること<br><br>
    <b><a href="/article/majohousiki/">『キセツに魔法をかけるレシピ -&quot;How to&quot;- 』感想</a></b>　魔女たちの反時間<br><br>
    <b><a href="/article/202412-3/">週記2024/12-3</a></b>　ボルダリング初体験<br>
    <b><a href="/article/202412-2/">週記2024/12-2</a></b>　プロセカ感想、タイパーアドカレ、文庫本ノート<br>
    <b><a href="/article/202412-1/">週記2024/12-1</a></b>　ハンドメイドギンガfinale<br><br>
    <b><a href="/article/202411-4/">週記2024/11-4</a></b>　駒場祭、古代オリエント博物館、コミティア入手品<br>
    <b><a href="/article/202411-2-3/">週記2024/11-2,3</a></b>　拡張される音楽、誕生日、石と科博、コミティア、タイピング大会<br>
    <b><a href="/article/202411-1/">週記2024/11-1</a></b>　教科書に帰れ<br><br>
    <b><a href="/article/202410-3/">週記2024/10-3</a></b>　自撮り、バラドルと存在肯定<br>
    <b><a href="/article/202410-2/">週記2024/10-2</a></b>　週記をリニューアルします<br>
    <b><a href="/article/202410-1/">週記2024/10-1</a></b>　いよわ、はるまきごはん――「反時間」のボカロPと、その未来<br><br>
    <b><a href="/article/202409-4/">週記2024/09-4</a></b>　プロセカ4周年、アセクシュアル/アロマンティック、NEEDY GIRL OVERDOSE<br>
    <b><a href="/article/202409-3/">週記2024/09-3</a></b>　渋谷系、人類の会話のための哲学<br>
    <b><a href="/article/202409-2/">週記2024/09-2</a></b>　古代印欧語研究会、しゅーおん!!!、GiveWellと効果的な利他主義<br>
    <b><a href="/article/202409-1/">週記2024/09-1</a></b>　YouTubeMusicWeekend、カフェ読書、ノンデザイナーズ・デザインブック<br><br>
    <b><a href="/article/202408-4/">週記2024/08-4</a></b>　『社会はなぜ左と右にわかれるのか』：リベラル左派と保守主義、東京都写真美術館<br>
    <b><a href="/article/202408-3/">週記2024/08-3</a></b>　サテライト・コインランドリー、浦和ZINEフェス、入手品の感想書きまくり<br>
    <b><a href="/article/202408-2/">週記2024/08-2</a></b>　YouTube配信チャレンジ、Chase my IDEAL IDOL!、VTuberの哲学、コミックマーケット104<br>
    <b><a href="/article/202408-1/">週記2024/08-1</a></b>　溶ける魚、ケチャまつり、『風とバーチャル』とVTuber年表<br><br>
    <b><a href="/article/202407-4/">週記2024/07-4</a></b>　ハーモニー、児玉まりあ文学集成・雨がしないこと、アンゼルム、みんなで決めるゲーム音楽ベスト100<br>
    <b><a href="/article/202407-3/">週記2024/07-3</a></b>　好き？好き？大好き？、ドロッセルマイヤー退勤 in 大宮、panpanya<br>
    <b><a href="/article/202407-2/">週記2024/07-2</a></b>　中野散歩、太鼓の達人の思い出<br>
    <b><a href="/article/202407-1/">週記2024/07-1</a></b>　＜千のプラトー＞入門講義、ラップスタア2024、OVER RAD SQUAD<br><br>
    <b><a href="/article/202406-2/">週記2024/06-2</a></b>　SF6、カフカ短編集、灯を手繰りよせて<br>
    <b><a href="/article/202406-1/">週記2024/06-1</a></b>　購入した本、プレイヤーとニーゴ楽曲
    <p>競技タイピングのブログで書いた記事は4本。</p>
    <b><a href="https://welame.hatenadiary.com/entry/2024/12/20/014452">『寿司打』全部門史上最高記録、『e-typing』ローマ字史上最高記録。タイピング界の新鋭・goe選手インタビュー</a></b><br>
    <b><a href="https://welame.hatenadiary.com/entry/2024/10/11/235948">競技タイピング界隈のリンク集</a></b><br>
    <a href="https://welame.hatenadiary.com/entry/2024/12/03/000039">タイピング配信をはじめました</a><br>
    <a href="https://welame.hatenadiary.com/entry/2024/11/15/015343">ローマ字入力において「ん」は「n'」で打てる</a><br>
    <h3>同人誌頒布</h3>
    <p>VTuberの歴史・文芸誌『風とバーチャル』の第二集/第1.5集をコミックマーケット104で頒布。また第三集はコミックマーケット105 2日目 東s48ab（東7ホール）で頒布予定。<br>
        自分は特に第二集のほうに年表データ提供やあとがき執筆などで大きく関わっている。</p>
    <p>あわせて、コミックマーケット104で初コミケ参加も果たした。暑かった。ほかにも浦和ZINEフェス、つくみずオンリーイベント、文学フリマ、コミティアなど、いろいろな即売会に行った。</p>
    <h3>競技タイピング</h3>
    <p>Realforce Typing Championship 2024の予選の熱にあてられ、e-typingの自己ベストを646ptに更新した。ちなみに予選週の順位でいうと30位くらいなので、ローマ字予選通過12枠にはかすることもない。当日は普通に観客として現地入りし、ネット上でしか知らなかったいろいろなタイパーの方に挨拶した。また多言語タイピングの世界大会であるIntersteno Internet Contest 2024に日本人選手の一人として久々に参加。世界34位と、あまり締まらない結果を残した。<br>
        それ以外の目立った更新はとくになし。総じてあまりタイピングをやらなかった年だと思う。かわりに記事投稿や先述した配信など、プレイ以外の形でよく関わっていた。</p>
    <h3>読んだ本</h3>
    <p>読み切ったものだけ挙げる。特に印象的だったものに★をつけている。<br>
        来年はもっと読む。</p>
    <p>就職してお金を手に入れてからは購入額も相当なものになったが、あまりその総額を計算したくはない。</p>
    <p>1月：<br>
        『現代日本思想史＜1＞』青木書店<br>
        ダンテ・アリギエーリ『神曲』<br>
        古賀史健『20歳の自分に受けさせたい文章講義』<br>
        菅原和孝『フィールドワークへの挑戦』<br>
        源河亨『悲しい曲の何が悲しいのか:音楽美学と心の哲学』<br>
        浅田彰『20世紀文化の臨界』<br>
        ★宮台真司『虚構の時代の果て』<br>
        磯田光一『思想としての東京』</p>
    <p>2月：<br>
        ★桜庭一樹『砂糖菓子の弾丸は撃ち抜けない』<br>
        アンドレ・ジッド『狭き門』<br>
        竹田青嗣『現象学入門』<br>
        和辻哲郎『古寺巡礼』<br>
        『磯田光一著作集』小沢書店<br>
        ★ソースティン・ヴェブレン『有閑階級の理論』<br>
        ノエル・キャロル『批評について: 芸術批評の哲学』<br>
        （その他青空文庫でいろいろ）</p>
    <p>3月：<br>
        ハインリヒ・ヴェルフリン『美術史の基礎概念 : 近世美術における様式発展の問題』<br>
        ルネ・デカルト『方法序説』<br>
        エルヴィン・パノフスキー『イコノロジー研究』<br>
        森達也『世界は豊かだし、人はもっと優しい』<br>
        マリー・シェーファー『世界の調律』<br>
        ウィリアム・マッカスキル『＜効果的な利他主義＞宣言！』</p>
    <p>4月：<br>
        ★三島由紀夫『豊饒の海』（春の雪、奔馬、暁の寺、天人五衰）<br>
        湯浅邦弘『中国思想基本用語集』</p>
    <p>5月：<br>
        澁澤龍彦『都市ノ病院ニテ幻覚ヲ見タルコト』<br>
        ロイ・ポーター『狂気の社会史』<br>
        フランツ・カフカ『城』</p>
    <p>6月：<br>
        ヴィクトル・マリー・ユゴー『レ・ミゼラブル』<br>
        保阪正康『三島由紀夫と楯の会事件』<br>
        『カフカ短編集』頭木弘樹編<br>
        『＜悪の凡庸さ＞を問い直す』大月書店</p>
    <p>7月：<br>
        仲正昌樹『ドゥルーズ+ガタリ〈千のプラトー〉入門講義』 <br>
        ヘレナ・ローゼンブラット『リベラリズム 失われた歴史と現在』<br>
        丸谷才一『文章読本』<br>
        『現代思想2024年4月号 特集＝〈子ども〉を考える』青土社<br>
        R・D・レイン『好き？好き？大好き？』<br>
        スティーブン・ジョンソン『音楽は絶望に寄り添う』<br>
        伊藤計劃『ハーモニー』</p>
    <p>8月：<br>
        ジョアン・C・トロント『モラル・バウンダリー: ケアの倫理と政治学』<br>
        周司あきら、高井ゆと里『トランスジェンダー入門』<br>
        岩淵悦太郎『悪文 伝わる文章の作法』<br>
        山野弘樹『VTuberの哲学』<br>
        ロビン・ディアンジェロ『ナイス・レイシズム』<br>
        宇野常寛『砂漠と異人たち』<br>
        ★ジョナサン・ハイト『社会はなぜ左と右にわかれるのか』<br>
        エドワード・サイード『オリエンタリズム』<br>
        『石川淳随筆集』澁澤龍彦編<br>
        『装いの不自由』萌書房<br>
        武田泰淳『新・東海道五十三次』<br>
        櫻田潤『インフォグラフィック制作ガイド』<br>
        巖谷國士『シュルレアリスムとは何か』<br>
        『三島由紀夫・川端康成往復書簡』新潮文庫</p>
    <p>9月：<br>
        小林昌樹『調べる技術: 国会図書館秘伝のレファレンス・チップス』<br>
        ロビン・ウィリアムズ『ノンデザイナーズ・デザインブック』<br>
        『イン／ポライトネス—からまる善意と悪意』ひつじ書房<br>
        スラヴォイ・ジジェク『あえて左翼と名乗ろう: 34の「超」政治批評』<br>
        中村佑子『わたしが誰かわからない ヤングケアラーを探す旅』<br>
        北海道新聞空知「炭鉱」取材班『そらち炭鉱遺産散歩』<br>
        斎藤環『生き延びるためのラカン』<br>
        朱喜哲『人類の会話のための哲学: ローティと21世紀のプラグマティズム』<br>
        ★安宅和人『イシューからはじめよ』<br>
        呉明益『眠りの航路』<br>
        笠井潔『テロルの現象学』<br>
        川本三郎『都市の感受性』<br>
        ★阿部幸大『まったく新しいアカデミック・ライティングの教科書』<br>
        ジュリー・ソンドラ・デッカー『見えない性的志向　アセクシュアルのすべて』<br>
        渡邉恒雄『派閥 保守党の解剖』</p>
    <p>10月：<br>
        千葉雅也『現代思想入門』<br>
        ★木澤佐登志『失われた未来を求めて』<br>
        『新訂 日暮硯』笠谷和比古校注<br>
        『ユリイカ』2024年10月号 特集＝いよわ<br>
        ★木澤佐登志『終わるまではすべてが永遠』<br>
        ★五月あかり、周司あきら『埋没した世界――トランスジェンダーふたりの往復書簡』<br>
        クリスティーヌ・オルスィニ『ルネ・ジラール』末永絵里子訳<br>
        アグネス・カラード『怒りの哲学―正しい「怒り」は存在するか』小川仁志監訳、森山文那生訳<br>
        小川公代『ケアの倫理とエンパワメント』<br>
        田中玲『トランスジェンダー・フェミニズム』<br>
        三宅隆太『スクリプトドクターの脚本教室・初級編』<br>
        近内悠太『利他・ケア・傷の倫理学』<br>
        小林秀雄『学生との対話』（講演録）<br>
        ユク・ホイ『芸術と宇宙技芸』<br>
        ★鈴木健『なめらかな社会とその敵』</p>
    <p>11月：<br>
        モーティマー・Ｊ・アドラー、チャールズ・Ｖ・ドーレン『本を読む本』<br>
        桜井厚『境界文化のライフストーリー』<br>
        外山滋比古『乱読のセレンディピティ』<br>
        東儀秀樹『雅楽』<br>
        よしもとばなな『さきちゃんたちの夜』<br>
        草深会『抗いの青春 戦中を生きぬいた静岡高校社研運動の系譜』<br>
        スーザン・ソンタグ『他者の苦痛へのまなざし』北條文緒訳<br>
        『現代思想2018年4月号 特集＝現代思想の316冊』<br>
        ジャック・ランシエール『解放された観客』梶田裕訳<br>
        種田山頭火『日記（一）　行乞記』<br>
        トルーマン・カポーティ『草の竪琴』</p>
    <p>12月（28日まで）：<br>
        上田閑照『哲学コレクションI 宗教』<br>
        武田泰淳『淫女と豪傑』<br>
        『徹底検証 日本の右傾化』塚田穂高編著<br>
        『現代思想 2024年8月号 特集＝長期主義』青土社<br>
        マイケル・スロート『ケアの倫理と共感』 早川正祐、松田一郎訳<br>
        笠井潔『例外状態の道化師 - ポスト3・11文化論』<br>
        赤坂真理『安全に狂う方法』<br>
        水野弘元『仏教要語の基礎知識』<br>
        『少年愛文学選』高原英理編<br>
        ★タリアイ・ヴェーソス『氷の城』<br>
        『共感の共同体 感情史の世界をひらく』伊東剛史、森田直子編<br>
        『写真の理論』甲斐義明編訳</p>
    <p>特に良かった5冊として、文章の構造の捉え方や読み方を劇的に向上させた阿部幸大『<b>まったく新しいアカデミック・ライティングの教科書</b>』、三島の耽美な文章が遺作として存分に詰め込まれた三島由紀夫『<b>豊饒の海</b>』、子供2人のあまりにも無力でイノセントな世界を描いた桜庭一樹『<b>砂糖菓子の弾丸は撃ち抜けない</b>』、広汎な知識で世界のムーブメントを見渡しつつ無情な世界を裏側から見つめる木澤佐登志『<b>失われた未来を求めて</b>』、経済学者の視点から階級格差の原点となる人間本性を抉り出すソースティン・ヴェブレン『<b>有閑階級の理論</b>』を挙げさせていただきたい。</p>
    <h3>読んだ漫画</h3>
    <p>かなり読んだので、特によかったもののみ挙げる。</p>
    <p>年間ベスト：<br>
        幌田『またぞろ。』<br>
        heisoku『春あかね高校定時制夜間部』<br>
        panpanyaの作品集全般<br>
        なまこ屋『ハッピー可視域』（コミティア限定）</p>
    <p>エンターテイメント：<br>
        福島鉄平『放課後ひみつクラブ』<br>
        渋谷圭一郎『瑠璃の宝石』<br>
        こかむも『クロシオカレント』</p>
    <p>情景描写：<br>
        坂月さかな『星旅少年』<br>
        郷本『夜と海』</p>
    <p>空気感：<br>
        川嶋すず『美しいもの』<br>
        須藤真澄『ナナカド町綺譚』<br>
        オカヤイヅミ『雨がしないこと』<br>
        二ツ森曜子『三千世界を弔って』<br>
        heisoku『ご飯は私を裏切らない』<br>
        にわかあめ『サテライト・コインランドリー』</p>
    <p>ユニーク：<br>
        ちょめ『室外機室』<br>
        詩野うら『有害無罪玩具』<br>
        平方イコルスン『ふたりで木々を』<br>
        南野夏雄『バイオレンス・クリスマス』<br>
        三島芳治『児玉まりあ文学集成』『衒学始終相談』『レストー夫人』</p>
    <h3>遊んだゲーム</h3>
    <p>今年はとにかくプロジェクトセカイの年だったといってよい。今年の元日に『仮面の私にさようなら』を読み、それ以降は3周年周辺～4年目のストーリーを読んでいた。『荊棘の道は何処に』『傷だらけの手で、私達は』の2本は生涯忘れないストーリーになるだろう。pixivや同人誌もたくさん漁った。<br>
        あわせて、音ゲー部分も真面目にプレイし始めた。MASTER譜面の解禁を2月ごろにはじめ、今はLv31に（そしてフィクサーをLv32とするならLv32に）フルコンがつき始めるくらいにはなった。MASTERのALL PERFECTはまだ2譜面しかないので、高難易度に疲れたら来年は精度も高めていきたい。</p>
    <p>ほか『Ib』『NEEDY GIRL OVERDOSE』などを遊んだものの、基本的にはあまりゲームはしなかった年だった。</p>
    <h3>その他</h3>
    <p>・SNS移住ブームに便乗してmastodonを開始した。主に読んだ本と漫画、投稿した記事を記録する場所として使っている。<br>
        ・長らく没交渉気味だった中学の部活同期とよく遊びに行ったり飲みに行ったりするようになった。<br>
        ・ボカロPのはるまきごはんへの愛はやまず、『おとぎの銀河団』コンプリートBOXを買ったり、ライブ『ハンドメイドギンガ』ではじめて現地参戦したりした（『幻影』のときは配信だった）。『拡張される音楽』展も見た。<br>
        ・アニメはたぶん劇場版レヴュースタァライトとAKIRAの2本のアニメ映画しか観ていない。それ以外に映画も十数本は見たが、ここに書くほどのことはない。<br>
        ・読書に適した環境を求めていろいろなカフェ巡りをしていたが、最終的に「飲み物適当でもいいからごはんが充実していた方が嬉しいな……」と気付き、ハンバーガー店やドーナツ店などに照準をシフトした。</p>

    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="title - welame&#39;s page" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</Layout>

