---
import Layout from '../../layouts/Layout.astro';
const pageTitle = "週記2024/09-4　プロセカ4周年、アセクシュアル/アロマンティック、NEEDY GIRL OVERDOSE";
---
<Layout pageTitle={pageTitle}>
    <h1>週記2024/09-4 （9月30日）</h1>
    <p>前回手が回らず更新をサボったので、今週は2週間分の内容をカバーする。</p>
    <p>先週と今週で行った配信は6本。<br>
        ・タイピング定期放送（<a href="https://www.youtube.com/live/zwHk0kktfEc?si=fTPKAr5TUMjY0zkg">9/19</a>, <a href="https://www.youtube.com/live/NdRhcqFd6Nc?si=zMZ6PxdFsT3IyfJ-">9/27</a>）<br>
        ・<a href="https://www.youtube.com/live/DmcGRlGngWE?si=EOgj1k1xxayGkJ9M">VTuber語り放送</a><br>
        ・<a href="https://www.youtube.com/live/tXQdKzH-Lcw?si=T-fp1ruJmriYd9h7">ゲーム漁り放送</a><br>
        ・<a href="https://www.youtube.com/live/xW_KonhFpWA?si=elAeBF8l_BV0ROdd">大学カリキュラム漁り放送</a><br>
        ・NEEDY GIRL OVERDOSE放送（後述）
    </p>
    <h3>プロセカ4周年</h3>
    <p>私が以前よりプレイしているゲーム『プロジェクトセカイ』がリリース4周年を迎えた。めでたい。私は本格的にプレイしはじめてから1年経っていないため、周年アップデートの体験はこれが初めてとなる。</p>
    <p>まずもって、告知放送の内容量に圧倒された。最初に20項目近いアップデート情報が発表されただけでも私としては十分にインパクトがあったのだが、それすら序の口にすぎない、とばかりに「ここからは大型アップデートの情報に入ります」という衝撃の一言。今までのは大型アップデートではなかった……？</p>
    <p>そして満を持して出てきたのがこれ。</p>
    <blockquote class="twitter-tweet tw-align-center"><p lang="ja" dir="ltr">大型アップデート<br>「<a href="https://twitter.com/hashtag/%E3%83%9E%E3%82%A4%E3%82%BB%E3%82%AB%E3%82%A4?src=hash&amp;ref_src=twsrc%5Etfw">#マイセカイ</a>」<br>近日リリース決定🏡<br><br>ここはまだ未完成の&quot;&quot;あなたのセカイ&quot;&quot;<br><br>📺番組生配信中：<a href="https://t.co/5cXTiF5Qdw">https://t.co/5cXTiF5Qdw</a><a href="https://twitter.com/hashtag/%E3%83%97%E3%83%AD%E3%82%BB%E3%82%AB4%E5%91%A8%E5%B9%B4%E7%9B%B4%E5%89%8D%E7%94%9F%E6%94%BE%E9%80%81?src=hash&amp;ref_src=twsrc%5Etfw">#プロセカ4周年直前生放送</a> <a href="https://t.co/ueAszqHez1">pic.twitter.com/ueAszqHez1</a></p>&mdash; プロジェクトセカイ カラフルステージ！ feat. 初音ミク【プロセカ】 (@pj_sekai) <a href="https://twitter.com/pj_sekai/status/1839623479689412930?ref_src=twsrc%5Etfw">September 27, 2024</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <p><b>どうぶつの森、開始――。</b></p>
    <p>本当になんなんだこれ。突拍子もない告知が続きすぎて、脳はすでに目の前の情報を現実のものと受け取れなくなってきている。<br>
    この白いアバター（プレイヤーの間では"豆腐"と呼ばれる）はポジション的には自己の分身であるから、それがキャラクターと直接会話するなど考えられないことだし、仮にそんなことをされたら、もう、狂うしかない。</p>
    <p><br></p>
    <p>音楽ゲーム方面で一番注目すべきトピックは、サプライズで行われた難易度改定アップデートだろう。最大の問題児の一角だった『腐れ外道とチョコレヰト』MASTERはついにLv34→35に昇格。APPENDも『Marbleblue.』Lv37昇格、『嬢王』『Sage』Lv36昇格、『フェレス』Lv31昇格をはじめ全体的に上方修正がなされている。<br>
    なにより驚いたのは『フィクサー』『ビターチョコデコレーション』『シルバーコレクター』の3曲がLv32に上がったことだ。個人的にLv31で昇格の器があるとしたら『グリーンライツ・セレナーデ』以外ありえないと思っていたので、それ以外の昇格は自分にとってすべてお得な調整ではある。おかげでLv32の初フルコンも獲得できた（ビターチョコデコレーションも0-1-1まで来ている）ので、ホクホクといったところだ。</p>
    <figure class="respimage">
        <img alt="フィクサーフルコンボ" src="/202409-4_1.png"/>
    </figure>
    <p>そしてプロセカの周年記念に欠かせないのが、全編アニメーションMVによる新曲公開である。今回はkemuが楽曲を担当し、進級後から現在に至るまでのストーリーが描かれる。タイトルは『熱風』。</p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/7kT2Azgw3rc?si=023QSjgaC5OZ0mCh" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p>上がり切ったハードルを易々と超える、とんでもない出来。kemuの感傷的なメロディーが「振り返り」というテーマにマッチし、強力なシナジーを生み出している。司がいつもの高音ではなく低音で目立っているのも印象的だ。「泣き暮れたその先へと」を歌い上げる鍛え上げた声が凛々しい。<br>
    映像のほうも杏vsこはね、RAD BLAST、灯のミラージュなど、今年の印象的な場面が勢揃い。今回はワールドリンクイベントがあったため、その新しい風景も存分に盛り込まれている。ただでさえここ数日で抱えきれないほどのものを与えられているのに、こんなMVまで作ってもらって、こんなに幸せにしてもらっていいのだろうかと思う。</p>
    <blockquote class="twitter-tweet tw-align-center"><p lang="ja" dir="ltr">🎧25時、ナイトコードで。の書き下ろし楽曲を担当いただく<br>なきそ（<a href="https://twitter.com/7kiso_nakiso?ref_src=twsrc%5Etfw">@7kiso_nakiso</a>）さんよりコメントをいただきました✨<br><br>📺番組生配信中：<a href="https://t.co/5cXTiF5Qdw">https://t.co/5cXTiF5Qdw</a><a href="https://twitter.com/hashtag/%E3%83%97%E3%83%AD%E3%82%BB%E3%82%AB4%E5%91%A8%E5%B9%B4%E7%9B%B4%E5%89%8D%E7%94%9F%E6%94%BE%E9%80%81?src=hash&amp;ref_src=twsrc%5Etfw">#プロセカ4周年直前生放送</a> <a href="https://t.co/83cBF0tNx7">pic.twitter.com/83cBF0tNx7</a></p>&mdash; プロジェクトセカイ カラフルステージ！ feat. 初音ミク【プロセカ】 (@pj_sekai) <a href="https://twitter.com/pj_sekai/status/1839635447708086541?ref_src=twsrc%5Etfw">September 27, 2024</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <p>もちろん一番頭を埋め尽くしているのは、そして一番言及すべきなのはこの件なのだが、これに関しては時が来たら話すことにしよう。</p>
    <h3>アセクシュアル/アロマンティック</h3>
    <p>先週と今週で読了した本は、以下の6冊。<br>
    ・安宅和人『イシューからはじめよ』<br>
    ・呉明益『眠りの航路』<br>
    ・笠井潔『テロルの現象学』<br>
    ・川本三郎『都市の感受性』<br>
    ・阿部幸大『まったく新しいアカデミック・ライティングの教科書』<br>
    ・ジュリー・ソンドラ・デッカー『見えない性的志向　アセクシュアルのすべて』上田勢子訳</p>
    <p>「アセクシュアル（アロマンティック）」とは、他者に対する性的欲求（恋愛感情）のない状態を指す用語である。『アセクシュアルのすべて』は、そのようなひとつの「見えにくい」性的志向に関する説明を行う本だ。</p>
    <p><br></p>
    <p>個人的な話をしよう。<br>
    この本で述べられている「アセクシュアル/アロマンティックとは何か」という説明から自分がはみ出ることは、やはり特になかった。その意味で、わたしはこの志向「である」のだろう、と思う。ラブソングが何を言っているのかわかったためしはないし、アダルトビデオがどのようなものかもネットミームを通してしか知らない。<br>
    アセクシュアル（性的に惹かれない）とアロマンティック（恋愛的に惹かれない）は独立の概念であるが、自分は性行為については特に欠如に対する葛藤もないので、より身近なプレッシャーのあるアロマンティックのほうが関心の比重は高い。セクシュアリティに関する用語を知るずっと前から、恋愛という要素は自分の人生において空白としてのみあり続けていた。<br>
    これは実際に選択を迫られる状況になってもそうだ。今まで異性から告白を受けることは何回かあったが、それらのいずれも断ったり、有耶無耶にしたりするのを繰り返してきた。そのたびにさぞ相手を傷付けてしまったことだろうとは思うが、相手が何を欲しているか全く共感できないまま、勘と理屈だけでそれらを"推測"し、満たし続ける関係など、自分には到底こなせはしないと思った。そして、それは大人になった今も変わらない。<br>
    変な例えだが、私にとって恋愛関係を持つことは、ちょうど車の免許を取ることと同じような位置にある。どちらも、年頃になれば多くの人がこぞってやりだすものだ。そして"ライフステージ"なるものを進めるにあたって、恋愛関係を重ねることと同じく、免許を取り、車を持ち、ドライブを楽しむのは、どうやら模範的なスタイルとされているらしい。その意味ではどちらも、「いずれはやらなければいけないのかなあ」と漫然としたプレッシャーを感じさせるポジションにある。このとき、社会的な身なりを整える目的ではなく、本心から車に惹かれ、それを求めて自発的に教習所に通いにいくというのは、最初から私の共感の範疇の外にある、というのが重要だ。別にそれ自体を「やりたくない」とまで思いはしないが（実のところ私は普通免許を取得している）、しぶしぶするには負担の大きい行為であるのは間違いないし、心情的にはどうしても及び腰になってしまう。<br>
    しかし免許取得と恋愛が決定的に違うのは、恋愛には相手がいる、という点である。自分の社会的体面をよくするためだけに他人を文字通り「付き合わせる」というのは、私においそれとできる選択ではない。私が教習所制度に対して行った"妥協"を、そのまま恋愛に差し向けることは、できないし、うまくいきもしないだろう。</p>
    <p>それでもなお、自分がアセクシュアル・アロマンティックと「名乗る」ことに関しては、なにか言い知れないためらいや戸惑いを覚えてしまうところがある。そんなためらいを覚えなくてよい、と主張するのがこの本の内容ではあるとしても。</p>
    <p>まず端的な事実として、私は日常生活であまり困っていない、というのがある（アセクシュアル・アロマンティックがみなそういう環境にあると言いたいのではない。あくまで私自身にかかわる特殊な話と受け取っていただきたい）。<br>
    まずもって、私は孤独ではない。そもそも「恋愛願望がない」人間など、別に自分の身の周りからいくらでも連れてくることができる。高学力クラスタに恋愛に興味のない人間が多かった（といって不正確なら、恋愛に興味がないことを表明しても問題にされない環境があった）こともあり、「マイノリティである」ことの緊迫感は、私の中でそれほど切実なものには発展していない。仮にその中で「そもそも恋愛感情がわからないから欲しようがない」と思っているのが私ほか少数人だけで、大多数の人々は比較選択のうえでそうしているだけなのだとしても、それは私にとっては大した問題ではない。<br>
    加えて、私はセクシュアリティを原因とした具体的被害を受けることも少ない立場にある。とりあえず日本では宗教的ハラスメントを受けることは避けられるだろうし、国からの制度的差別を受けることもあまりない。私は男性であるから「矯正」の名のもとに性行為を強要されるリスクも低い（されたとき抵抗しやすい）だろう。親も自分に対して「こいつは彼女とかできそうにないな」という諦めを抱いているようなので、申し訳なさを感じることはあれど具体的な圧力をかけられることはなさそうだ。<br>
    すると私が直面する必要があるのは、日常でしばしば投げかけられる「お前はおかしい」というメッセージ、ただそれ一点である。これは確かに無視できない要素ではある。恋愛に興味のないことを表明して「そんなはずはない」「早く気付くといいね」「後悔するよ」と直接言われるのは、もはや避けようとすら思わなくなった当たり前の状況だ。それらは慣れたものとしてスルーできるとしても、「強がり」「未熟」「人間の本質を知らない」のように使われる言葉が過激になってくると、私とてさすがに穏やかではない。また書籍内でも触れられている例だが、「○○歳にもなって～～してない人は、私の経験上どこかおかしい人が多い」のような"気づき"を無邪気に表明する人間を見たことはないだろうか。そのような言動を、私のような人間はいったいどう受け止めればよいというのだろうか。剥き出しの形で提示される「人間のランク付け」に対して脆弱なまま生き続けることは、正直辛くはある。私を否定するならそれは私の具体的な言動に結び付けて行われるべきであり、変更困難な属性に基づいてなされるべきではない。<br>
    しかし、「結局困りごとといえばそれだけだろう」と言われてしまえば、これはこれであまり言い返す気が起こらない主張である。黙っていれば「奥手なヘテロセクシュアル」のふりができてしまう立場の私に、他の性的マイノリティが日々受けている抑圧を自分のものとして引き受けることなど、所詮できるはずもない。ちなみに言えば、"ふりをする"ほうが楽でもある。たとえば将来私にパートナーができたとして、周囲の人々はそれをどう思うだろうか、と想像すると、自分にあえてラベルをつけず、ノーマルな人々に紛れて生きていることが私にとってはひとつの道になるのだ（ほんとうはアロマンティックの人々も恋愛・性欲以外の感情で他人に魅力を感じ、生涯を共にする関係を望む/結ぶことはよくあるのだが）。</p>
    <p>かくして恋愛が分からないからそれを指す名詞を名乗ればいいというただそれだけのことが、マイノリティの立場に自分を置くことへの後ろめたい心情から阻害される。その「後ろめたさ」とやらが実際にはアセクシュアル・アロマンティックの不可視化に加担するだけの、誰を利することもない欺瞞と潔癖にすぎないと知ってはいても。<br>
    これはジェンダー以外の問題にもしばしば現れがちな心境らしい。たとえばヤングケアラーのなかには「学校に通えないなど重度な例と比べて自分の境遇など大したことはないのではないか」と引け目を覚え、ヤングケアラーという「名称」を与えられることへの抵抗感を覚える例が少なくないのだという。<br>
    いくら理屈では「他人の苦しみと比べて自分の苦しみを矮小化すべきでない」と言ってみたところで、それをほんとうに心の底から信じることなどできるだろうか。むしろ私はふだんその逆の理屈に頼ってすらいるのだ。</p>
    <p>とりあえず今は、こういうブログのようなパーソナルな場所で長々と表明してみる、くらいのバランスが自分に合っていると思う。別に隠しているわけではないので、それ以外の場所でも気分で言うことはあるだろう。コミュニティに接続することは将来的にはありうるかもしれないが、今はおいておく。<br>
    なんとも半端なことしか言えず恐縮だが、こうして自分の感情について一度掘り返し、文章にしてみる機会を得ることができた点で、この本には感謝している。</p>
    <h3>NEEDY GIRL OVERDOSE</h3>
    <p>『NEEDY GIRL OVERDOSE』をプレイした。以下がそのアーカイブだ。上であんな話をした直後にこんなセクシュアルの極みのようなゲームを語るのも変な流れだが、プレイしたんだからしかたがない。なおこの放送のあと全エンディングを回収し、最後の隠し要素まで見ることができた。</p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/mpKLHGVtE40?si=9zFA509AwWzzGXCX" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p><br></p>
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="週記2024/09-4　プロセカ4周年、アセクシュアル/アロマンティック、NEEDY GIRL OVERDOSE - welame&#39;s page" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <p><br></p>
    <p>（以降、エンディングのひとつに関するネタバレ）<br><br><br><br><br><br><br><br><br><br><br> </p>
    <p>自分が一発目のプレイで引いたエンディングは、『Labor is Evil』。ファン数50万人未満、好感度60以上、やみ度60未満で到達するエンディングらしい。</p>
    <p>配信活動をすっぱり諦め、バイトに生きるあめちゃん。なにも1ヶ月で活動をやめることはないだろうとは思うが、本人としては満足のいく結果ではなかったらしい。しかし身を翻すように彼女が行き着いた迎合生活もまた、長くは続かない。<br>
    そしてこのエンディングを締めくくるのが、「<b>健康に生きることが彼女の幸福に見えましたか？</b>」という強烈な言葉だ。</p>
    <p>まずもってこの言葉は、自分のプレイングに対する率直な非難として受け取ることができる。プレイした人ならわかると思うが、ファン数が50万に満たないというのは初見にしても失敗寄りの結果である。視聴者数の増えやすい配信をギリギリまで選択しなかったのはこのゲームにおいては明白なミスであるし、後半でパラメータに気を遣いすぎてほとんど配信を打てなかったのも自分の見通しの甘さと思い切りのなさの帰結だ。そのような及び腰のプレイングをたった一行で鮮やかに切り捨ててみせるのがこのシンプルなメッセージである。</p>
    <p>しかしこの文は同時に、日和ったプレイヤーの持ち合わせる価値観そのものへの挑戦でもある。ゲームの中ですらせこせこ規範を気にして行動できないお前に、アウトサイダーの気持ちなど所詮わかりはしない。その臆病な両手には成功も、幸せも、共にいる権利も、結局何も残らない。棘のある文の裏にはそのような敵意に満ちた目線が見え隠れする。<b>世界の"外"に生まれた人間にとって、世界の"内"に取り込まれることに真の幸せはない</b>。ある種の人間にとって最も憎むべきは退廃ではなく、漫然とした健康なのだ。いやしくもそのような人間に寄り添い、意思決定をする人間であるならば、道徳など恐れず、ただそのポテンシャルを引き出してやることに専念すべきではなかったのか。プレイングへの非難は、この手のゲームにおいてはプレイヤーの価値観そのものへの非難と不可分である。<br>
    <p>それでもひとつ言い訳をするならば、やはり健康ではいてほしかった、と思う。別にこの期に及んで命そのものの尊さを説きたいわけではない。ただ、アウトサイダーにとっても「生存」は重要であると思うのだ。<br>
    健康によって得られる最大のメリットのひとつは、持続性である。<b>不幸にも有限の認識に囚われながら生まれてきた人類にとって、自分の置かれた生の条件を理解し、外の世界を知り、みずからの思想を練り上げるまでには、途方もない時間が必要となる。</b>そのために、「生き続ける」ことは欠くべからざる条件である。確かに卓越した人間であれば若くして社会の高みに昇ることはできる。このゲームにもそういうエンディングはいくつかある。しかし遠くに行くことはできるか。日和って、軸足を現実側に残して、長く生き延びる選択肢を選ぶことなしに、誰も知らない境地まで行きつくことはできるか。そこらの人間には一生かかっても見つからない「問い」を生まれながらにして背負ったアウトサイダーたちにとって、本当に必要なのは、まさにその「遠さ」の観点ではないのか。そう思ってしまう自分もいるのだ。<br>
    だからいくら下手くそで頼りないピだとしても、死なず、壊れず、健康体のままあめちゃんを送り出したことそれ自体は、なんら悔いるところはないと思ってもいる。その結果彼女が愛想をつかしたとしても、それは仕方のないこと。去った後のあめちゃんはまた自分の意志で新しい生き方を見つけていくことだろう。</p>
    <p>（以降、全ED解放後のネタバレ）<br><br><br><br><br><br><br><br><br><br><br> </p>
    <p><b>思い上がりでしたね。</b></p>
    <p>才覚溢れるあめちゃんにとって、画面の向こうのピの頼りない助言など最初から不要。主体性を奪い返し、プレイヤーを虚構側に押し込め、それで万事をうまく運んでしまう。私がやったことといえば、その能力の発揮を邪魔したことだけ。あめちゃんは何も自分を高める努力をしていないのに<b>プロデューサー</b>や<b>提督</b>や<b>先生</b>になれると思い込んでいるわれわれオタクとはモノが違ったわけだ。<br>
    最後の最後までこちらを突き放し続ける、出口のないゲーム性。いっそすがすがしい終わり方だ。</p>

    
</Layout>

