---
import Layout from '../../layouts/Layout.astro';
const pageTitle = "週記2024/12-1　ハンドメイドギンガfinale";
---
<Layout pageTitle={pageTitle}>
    <h1>週記2024/12-1 （11月25日～12月8日）</h1>
    <h3>読んだ本</h3>
    <p>先週と今週で読んだ本は、以下の4冊。<br>
        ◆上田閑照『哲学コレクションI 宗教』<br>
        ◆武田泰淳『淫女と豪傑』<br>
        ◆『徹底検証 日本の右傾化』塚田穂高編著<br>
        ◆『現代思想 2024年8月号 特集＝長期主義』</p>
    <p>着々と『現代思想』『ユリイカ』で喜ぶタイプのオタクになりつつある。</p>

    <h3>行った配信</h3>
    <p>先週と今週で行った配信は、タイピング定期配信と、最近良かったものを紹介する「Welame's Award」の2024年11月編。ほか、夜配信を何回か。</p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/AGaYZajwOFg?si=aPgSBUFApwH2ihsK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p><br></p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/QMve79_BzSs?si=ely5PwrbYegq-Dt9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p><br></p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/utGhfJMCMWw?si=jqVJ1Cx7D2iUMkLf" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <h3>投稿記事：タイピング配信紹介</h3>
    <p>タイピング配信をはじめました<br><a href="https://welame.hatenadiary.com/entry/2024/12/03/000039">https://welame.hatenadiary.com/entry/2024/12/03/000039</a></p>
    <p>タイピング界隈で開催されている『タイパー Advent Calendar』3日目の投稿記事。普段自分がYouTubeで行っているタイピング定期配信について紹介したもの。ちょうど枠が空いていたので、日付変更3時間前くらいから勢いで書いた。<br>
        自分はこのAdvent Calendarをきっかけにタイピング界に入ったので、こうして参加する立場に回ったのが感慨深い。20日にも記事を投稿予定で、文面はすでに完成している。</p>
    
    <h3>プロセカあれこれ</h3>
    <p>プロジェクトセカイのイベント『傷だらけの手で、私達は』が11月30日から12月9日にかけて開催された。もちろんイベントストーリーは初日に読んだ。<br>
        凄いストーリーだった。前回の『荊棘の道は何処へ』では瑞希に少しでも近づきたいと思っていろいろなことを考えていたが、今回はどちらかというと瑞希の視点から見ていた気がする。<br>
        前回と同じく、今回も長文感想を書きたいと思っている。数日以内に公開するだろう。</p>
    <p>あと、ワンダショイベントの『ぼくのかみさま』がとても良い曲だった。羽生まゐごの書き下ろし曲だ。二度にわたる転調が非常に心地よい。</p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/aNS1lu_PkpQ?si=i1-0uDJoEK5IDFtQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p>ストーリーと重なるような内容の曲でもあるらしいが、そちらはまだ読めていない。最近は追えていないストーリーがまた増えてきているので、どこかでまたこつこつ読んでいきたい。</p>
    <figure class="respimage">
        <img alt="ぼくのかみさま APリザルト" src="/202412-1_1.png"/>
    </figure>
    <p>チャレンジライブでEXPERT譜面を消化したら一発でALL PERFECTが出て嬉しかった。普段自分は地力上げのためにもっぱら高難易度を触っており、APやフルコンボは一切狙わないのだが、行き詰ってきたらそろそろそういった記録狙いに手を出してもいいのかもしれない。</p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/QdO3Kn-yGRY?si=SkAhumtF-UFH59wJ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p>プロセカといえば、先週末は世界大会2024の配信を見ていた。決勝は前回優勝者のSTKさんとファイナリストのかんぱりさんに加え、有名プレイヤーのRENさん、そしてわずか13歳のれおさんと、非常に面白いメンバーでの対戦だった。<br>
        メモリアAPD 1-0-0-2/1-0-0-0/1-0-0-2/2-0-0-1という意味の分からないリザルトが飛び交う激戦のなか、この勝負を最終的に制したのはれおさん。ぶっちぎりの最年少チャンピオンの誕生だ。ぶっちぎりといっても実は年齢的に唯一無二というわけではなく、次回は初心者さんという同年代のトップランカーも相当良いところまで上がってくると思われる。つくづく若い、そして恐ろしいゲームだと思う。</p>
    
    <h3>AKIRA</h3>
    <p>アニメ映画『AKIRA』を観た。YouTubeで期間限定無料公開されていたものを一気見した。<br>
        時代が異なるからこそなかなか引き込まれるものがあった。セル画の派手なアニメーションは見ごたえがあったし、金田たちの悪ガキっぷりを見ているのも楽しい。あとデコ助野郎が思ったよりデコ助野郎だった。</p>
    <p>また音楽は芸能山城組がやっていたらしい。確かにケチャっぽいBGMがあった。<br>
        <a href="https://welame.netlify.app/article/202408-1/">以前の週記</a>で芸能山城組の「ケチャまつり」に行ったときの感想を書いたが、そのときはなぜオープニングでAKIRAの曲をやっているのかよく分かっていなかった。まさかの本家だった。</p>
    
    <h3>放課後ひみつクラブ</h3>
    <p>ブラックフライデーのときに一気買いした漫画を少しずつ読んでいる。その中で、『放課後ひみつクラブ』が特に面白かった。巨大学園都市に入学した主人公が謎の少女と出会い、部活を結成して学園のさまざまな謎に迫っていくコメディ漫画だ。</p>
    <p>この漫画、とにかく会話のキレがいい。あまりにマイペースな部長と、それにごく冷静に付き添い続けるツッコミ役。二人の間で繰り広げられる会話劇はつねにのほほんとしていて、どんな荒唐無稽な事態や陰謀を見つけても、さらりとした空気で流してしまう、この漫画の独特の雰囲気を支えている。<br>
        巻が進むにつれて謎は増えていくけれども、そこで出て来る人物たちはみなどこか間の抜けたところがあり、胃もたれしないライトな空気がずっと続く。するする読める愉快な漫画だ。</p>
    
    <h3>ハンドメイドギンガ Finale -新しい旅-</h3>
    <p>はるまきごはんのライブ『ハンドメイドギンガ Finale -新しい旅-』追加公演1日目に行ってきた。良かった。<br>
        10周年を記念したライブということで、内容はこれまでの氏の楽曲の総まとめのようなものになっていた。『コバルトメモリーズ』『約束』『第三の心臓』などのおなじみの曲から、最新曲の『魔法使いエバ』『ゴールデンレイ』『ゼロトーキング』までいろいろ。プロセカ書き下ろし曲の『エンパープル』を本人歌唱で聴けたのは嬉しかったし、ライブの音響で聴く『銀河録』も格別だった。あと『メルティランドナイトメア』では着ぐるみのメルティさんが黒子さんに誘導されながらぴょこぴょこステージで跳ねていた。かわいい。</p>
    <p>今までさんざはるまきごはん好きを公言してきた自分だが、実のところ現地でライブに参加するのは今回が初めてとなる。<br>
        本人が歌っている姿は散々見慣れているから、生で相対したところで今更そう驚いたりするものでもないが、ライブ特有の体に響くスピーカーを通して直接本人の声を受け取れるというのは、やはり嬉しかった。</p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/h42iOv9gaZI?si=iJHeaWnps-wMvuk8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p>このブログでは以前、記事『<a href="https://welame.netlify.app/article/202410-1/">週記2024/10-1 いよわ、はるまきごはん――「反時間」のボカロPと、その未来</a>』ではるまきごはんの「時間の流れとの闘い」という要素について書いたことがある。はるまきごはんの音楽性は、成長・変化に対する恐怖と密接に結びついている、という話だ。今回のライブは、言うなればその答え合わせのような内容であった。</p>
    <p>ライブで使用されていたアニメーション部分は上のYouTube動画で大部分が公開されている。この後ろの車両に戻れない電車というのは、言うまでもなく「後戻りできない時間」の比喩として扱われるものだろう。そしてこのライブは、その未練を最終的に振り切る。荷物を取りに戻れないという形で"喪失"の存在を認めながらも、それが永遠の別れではないことを知り、受け入れる。そういうビジョンを明示的な形で打ち出してみせる。ここに、「反時間」から「順時間」への転換がなされる。<br>
        そしてアンコールの最後に歌われたのは、やはりあの『セブンティーナ』だった。</p>
    <p>結論自体は、言うなれば穏当で予定調和的なものではある。けれども実際に作品を通して表現されるその内容は、自分が言葉で考えるよりもずっと綺麗だった。ずるいなあ、と思った。</p>

    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="週記2024/12-1　ハンドメイドギンガfinale - welame&#39;s page" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</Layout>

