---
import Layout from '../../layouts/Layout.astro';
const pageTitle = "週記2024/08-1　溶ける魚、ケチャまつり、『風とバーチャル』とVTuber年表";
---
<Layout pageTitle={pageTitle}>
    <h1>週記2024/08-1 （8月4日）</h1>
    <h3>溶ける魚</h3>
    <p>今週はアンドレ・ブルトン『シュルレアリスム宣言・溶ける魚』巖谷 國士訳、ジョアン・C・トロント『モラル・バウンダリー: ケアの倫理と政治学』杉本竜也訳など、計3冊を読了した。</p>
    <p>『溶ける魚』はシュルレアリスム初期の有名な作品であり、理性に頼らずなるべく心の動きのままに言葉を繋ぐ「オートマティスム（自動記述）」の手法によって書かれた文章である。そのあり方ゆえ、必然的に構成の緻密さや論理の明晰さは失われ、かわりに夢を見ているような気ままなイメージの変化、予想外の連関を浮き彫りにする言葉同士の接続、そういった幻想的な要素が色濃く現れてくる。<br>
    途中何度か（これ原理的にはほぼコウメ太夫なのでは？）という思考がちらつき、それまで色とりどりに踊っていた言葉が一気に白一色に染まりそうになった瞬間があったが、それでもこのイメージの奔流は読めば読むほど見事だと感じる。日常で目をつぶって休んでいるとき、ふと頭の中で脈絡なく言葉と感覚が飛び交っているのに気づくことがあるが、この作品はちょうどそれを紙の上に再現したものといえるだろう。パッケージ化された瞑想。もちろん世の中の文章が全部それだけになっても退屈であるし、だからこそこれらの実験的手法はメジャーにはならなかったのであろうが。</p>
    <h3>ケチャまつり</h3>
    <p>芸能山城組の主催する「ケチャまつり」に遊びにいった。ケチャを中心にさまざまな民族芸能のパフォーマンスが披露されるイベントだ。会場は新宿三井ビルディングの広場。新宿の摩天楼のふもとに突如として赤い祝祭空間が出現する様子は、見ようによってはなかなか異様な光景だった。</p>
    <figure class="respimage">
        <img alt="ケチャまつり会場" src="/202408-1_1.jpg"/>
    </figure>
    <p>自分は仕事を終えてから会場に向かったため、鑑賞できたプログラムはガムランの演奏、そしてケチャの舞踊劇の二つ。インドネシア・バリ島の伝統芸能である。いずれも印象に残ったのは、部分が複雑に絡み合って全体を形成するその独特のプロセスだった。<br>
    たとえばガムランは素早くうねるような独特の16ビート・32ビートを大きな特徴としているが、これは奏者が交互に演奏を行って一つのメロディを浮き上がらせるコテカンという奏法が作り出すものである。またケチャは円陣を組んだ奏者がそれぞれ異なる4つのリズムパートを口三味線で演じ、結果として「ケチャケチャケチャ……」というリズムが完成する仕組みになっている。<br>
    いずれも各奏者の演奏はそれ自体は不完全であり、相互に組み合わされることではじめてひとつの複雑なパターンが浮かび上がってくる仕組みになっているのだ。なんとも神秘に満ちた音楽ではないか。特にガムランの『Ujan Mas』（黄金の雨）は雨音という題材とガムランの奏法のあり方が重なり、非常に豊かな情景描写が生まれていたように思う。また各プログラムではシヴァ神の伝承や『ラーマーヤナ』（古代インド叙事詩）をもとにした舞踊劇が組み合わされており、音楽の響きはその演出にも大いに活かされていた。盛り上がりどころでテンポを速めるといった協調を指揮者なしで実現しているのも名人芸のなせるわざだ。2時間ちょっとの鑑賞であったが、いい体験だったと思う。</p>
    <h3>『風とバーチャル』とVTuber年表</h3>
    <p>Twitterにて、文芸・歴史編纂誌『風とバーチャル』新刊の頒布を発表した。バーチャルYouTuber/VTuberについてのコラム・エッセイおよび年表を収めた大型同人誌シリーズだ。</p>
    <p>「第一集」はすでに去年のコミックマーケット103で頒布しており、今回出るのはその続編である「第1.5集」「第二集」。第1.5集はインタビュー・コラムに特化した冊子であり、年表は第二集に収録されている。<br>
    コミックマーケット104 1日目（8月11日） 西2ホール す16b、およびネット通販にてリリース予定。</p>
    <blockquote class="twitter-tweet tw-align-center"><p lang="ja" dir="ltr">【同人誌が出ます！】<br>VTuberに関する文芸・歴史誌『風とバーチャル』の新刊2種を発刊します。<br>コミックマーケット104 1日目(8/11)および通販にて頒布予定。<br><br>VTuberや関係者によるコラム・インタビューに加え、今回も巨大年表を掲載。VTuberマニアの皆様、資料として一家に一冊ぜひ。<br><br>詳細は以下↓ <a href="https://t.co/LugTQY2ybJ">pic.twitter.com/LugTQY2ybJ</a></p>&mdash; うぇるあめ (@welch2929) <a href="https://twitter.com/welch2929/status/1817911160655827027?ref_src=twsrc%5Etfw">July 29, 2024</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <p>詳細はツイート等にまとめられているので、この記事ではたわいのないことをつらつらと話そう。</p>
    <p>私自身はこの同人誌に、データ提供、およびあとがき執筆という形で関わっている。基本的には年表データの元になるリストを作った人という立ち位置になるだろう。<br>
    「VTuber年表」と最近では当たり前のように言っているが、私が個人的に作っていたあの出来事リストはもともと"年表"になることを意図して作ったものではなかった。最初につけた名称は「きょうのVTuber」、その次は「VTuber界ニュース一覧」。つまり最初は日記として開始し、それがやがて他人に見せるニュース一覧表としての機能を帯びたものだ。あそこに書かれているものは徹頭徹尾現在のVTuber界を写し取るための情報で、それが後世に参照されうるものだという意識は、あまりなかった。<br>
    これは私のVTuberファンとしての意識がもっぱら「横」に向いていたことと関係している。我々が目の前にしているVTuber文化は広大であり、全体を見通すことは容易ではない。その中で日々生まれつつある多様な動き、さまざまなアイデアを自らの手で発見し、同じ時代を共有する人々の間に横方向の架け橋を作り続けることは、いちVTuberファンとしての私の大きな望みだった。私は黎明期から熱心にこの文化を追ってきた人間の一人であり（ブーム当時は受験生で、塾からの帰宅後にセンター試験対策そっちのけで動画を見漁っていた）、結果としてそれなりに見晴らしのいい立ち位置に立つことができた。そしてその立ち位置を活かして色々な情報を集め、他のファンに知ってもらう、という活動を積極的に繰り返してきた。動画を宣伝することも、新人VTuberを大量にチェックすることも、メディアで文章を書かせてもらうことも、自分にとっては同じひとつの意志の表れだった。ニュース一覧も、基本的にはその延長線上にあったものだ。<br>
    そうしてできた一覧に「縦」の意識、すなわち時代を超えて歴史を参照しようとする縦方向の意識を強く読み込んだのが、今回の『風とバーチャル』の編集長でもある古月さんだった。何年もリスト作りを続けていると既に自分の持つリストの物量は膨大なものになっており、この時代はどのような出来事があったのか、どんなVTuberが人気だったのか、そうした歴史的な情報を提供する機能をもつようになっていた。単なるニュース一覧であったこのリストは、やがて記録としても注目されるようになったのだ。この記録性を活かすために、古月さんにはきわめて多大なご尽力をいただいた。書籍の形での国会図書館への寄贈を提案したこと、そのためにデータをブラッシュアップし、VTuber前史などの情報を追加して資料としての価値を高めたこと、そして書籍化のための膨大な編集作業を完遂したこと。そうして出来上がったのが、他ならぬ今回の同人誌である。私は諸事情で年表作成も編集作業も困難になり、制作にあたっては多大なご迷惑をおかけしてしまったが、そのカバーにも懸命に動いていただいた。今回こうして『風とバーチャル』が形になったのは、間違いなくこの方の存在あってのことだ。</p>
    <p>横が積み重なって縦となり、ひとつの織物となった巨大年表。今回の第二集の刊行をもって、この年表に関しては私が関わってきた全範囲の内容が収録されることになっている。会場も通販もあるので、ご興味のある方は是非お手に取っていただきたい。私も当日は一般参加者として会場に足を運ぶ予定だ。</p>
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="週記2024/08-1　溶ける魚、ケチャまつり、『風とバーチャル』とVTuber年表 - welame&#39;s page" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</Layout>

