---
import Layout from '../../layouts/Layout.astro';
const pageTitle = "週記2024/08-2　YouTube配信チャレンジ、Chase my IDEAL IDOL!、VTuberの哲学、コミックマーケット104";
---
<Layout pageTitle={pageTitle}>
    <h1>週記2024/08-2 （8月12日）</h1>
    <p>夏休みに入ったので、しばらくはのんびりとした生活が続く。とはいっても家族と出掛けにいくほかは別段なんの用事もないので、家にこもって積読・積みゲー崩しに勤しもうと思う。</p>
    <h3>YouTube配信チャレンジ</h3>
    <p>YouTubeで初めてのライブ配信に挑戦してみた。</p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/0rmef2W9buk?si=aHwDGr9NRGzhgd22" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p>内容はタイピングゲーム実演（Weather Typing）、『漢字でGO!』実況、そして翌日のコミケ準備。思ったより多くの方からコメントをいただき、非常に楽しく配信を行うことができた。感謝してやまない。<br>
    配信画面はpowerpointで作った簡素なものだが、それなりに様になっているのではないかと思う。ただコメント欄を画面に反映し忘れていたり、デスクトップ音声の音量が小さいまま配信を続けてしまったりと、至らない点も多くあった。いろいろとマイナーチェンジを繰り返しつつ、今後も定期的にやっていきたいと思う。</p>
    <h3>Chase my IDEAL IDOL!</h3>
    <p>プロセカのイベント『Chase my IDEAL IDOL!』が終了した。桃井愛莉メインのモモジャンイベントだ。</p>
    <p>プロセカに登場するサブキャラクターは、総じてやや落ち着いたビジュアルをしていることが多い。モモジャンやワンダショの共演者にしても、ビビバスのライバルにしても、あるいは周りの大人にしても、全体的に髪色や見た目上の特徴が抑えめになっており、ある程度メインキャラクターと区別のつきやすい造形をしている。しいて例外を挙げるとすればanemoneの高坂朔や、フェニランの青龍院櫻子くらいのものだろう。メインキャラクターたちは、言ってみれば普段はある程度ゲーム的に守られた存在である。</p>
    <figure class="respimage">
        <img alt="ReLightメンバー" src="/202408-2_1.png"/>
    </figure>
    <p>そんな中で突然現れたのが、この三人組である。赤青黄のいわゆる「<a href="https://dic.nicovideo.jp/a/信号機トリオ">信号機カラー</a>」をまとった、バチバチに目立つアイドル。ストーリーを解禁してサムネイルでこの姿を見たとき、思わず目を疑った。そのくらい、これまでの傾向からいうと異質なビジュアルだ。<br>
    外見だけでなく、内面も際立っている。MORE MORE JUMP!を慕っているというこの三人は、こちら側と同じ「希望を届けたい」という目標を掲げて活動する。そしてその目標を実現するためにひたむきに努力し、新人でありながら高いクオリティでパフォーマンスを披露している。いつなんどきも純粋で、フレッシュな笑顔を届け続ける三人は、明らかに"主人公"の魅力を存分に持ち合わせており、それゆえに、脅威的だ。</p>
    <p>かくしてReLightとの共演ステージに、追われる側として、そして追う側として立つことになったMORE MORE JUMP!。基本的に単独での活動が多いモモジャンにとって、対等な立場の同業者との共演はほとんど初めてともいえる展開であり、これまでと違った緊張感のある状況だ。</p>
    <p>そのような状況にあって、桃井愛莉という人間は、誰よりも輝いていた。<br>
    思えば愛莉はもともと日野森雫という強大なライバルを持ち、自分の武器を磨こうと切磋琢磨してきた経験の持ち主。相手が自分にないものを持ち合わせている状況で、足りない自分自身を受け入れ、めげずにアイドルとしての向上心を抱き続ける、そういう人物であった。その努力はいくらかの大きな挫折に直面しつつも、やがては実を結び、イベント『ハッピー・ラブリー・エブリデイ！』においてひとつの完成形を迎えた。<br>
    しかし今回の愛莉が辿り着いたのは、そのさらに先の境地である。かつて確立した自分のスタイルというのは、自らの持つ条件を受け入れ、その中でベストを叩き出す、という類のものであった。しかしそこにはどこか諦めが含まれているのではないか。自分の中はもっと、もっと、理想に近づける可能性があるはずだ。それが、愛莉がReLightと出会って出した答えだった。結果として愛莉はみずからの殻を破り、本番のステージ上で圧巻のパフォーマンスを見せる。それを目撃したファンたちはその熱演に、そして何よりアイドルとして成長を続けるその姿に、熱狂的な反応を返す。<br>
    エネルギーの塊として進み続ける"格好いい"桃井愛莉を存分に描いた、とてもいいイベントだったと思う。</p>
    <h3>VTuberの哲学</h3>
    <p>今週読んだ本は、岩淵悦太郎『悪文 伝わる文章の作法』、宇野常寛『砂漠と異人たち』、山野弘樹『VTuberの哲学』、ロビン・ディアンジェロ『ナイス・レイシズム なぜリベラルなあなたが差別するのか?』甘糟智子訳の4冊。<br>
    『ナイス・レイシズム』は特にリベラル派であれば読む価値があると思う。無謬を保てている（安全である）と認識しているかぎり、自分が本来果たすべき責任からは遠ざかっている、という内容だ。</p>
    <p>さて、『VTuberの哲学』は歴史上のさまざまな哲学概念を導入し、その用語のなかに現在のVTuber文化のあり方を位置づけようとする書籍である。タイトルこそ堅いものの、書き方は平易で論理もわかりやすく、哲学に馴染みのない読者でも読みやすい内容になっている。<br>
    著者の山野弘樹氏は東大博士課程で現代フランス哲学を専攻し、研究活動の一環として「VTuberの学問化」というテーマに精力的に取り組んでいる人物である。</p>
    <p>VTuberを定義づける方法のひとつとして、「VTuberと名乗った者がVTuberである」という言葉はファンの間で長らく使われてきた。VTuberの多様な活動形態をまとめようとするとき、「○○を使っている」「○○をしている」という記述の集合で定義を行うやり方はどうしても行き詰まりやすい。また仮に同じような形態の存在者だとしても、自分をVTuberだと認識しているかどうか、あるいはVTuber文化との距離が近いかどうかで鑑賞者からの扱いが変化する例は多い。そういうわけで、「VTuberとしてのアイデンティティ意識を持っているかどうか」を第一の基準にする方針は、一見単なる投げっぱなしに聞こえるかもしれないが、実のところきわめて強力であるのだ。<br>
    こうした「アイデンティティ基準の定義」を、本書はより洗練された形で提示する。そのために用いられるのが、サールの社会的存在論、そしてリクールのアイデンティティ論だ。本書はこれらの議論を適用し、VTuberは「VTuberとしてのアイデンティティを持つ者が現にVTuberとして存在し、機能する（ことにする）」という形の宣言を行うことではじめて成立する存在である、という主張を導く。サールの用語を借りれば、地位機能宣言と呼ばれる形の宣言である（なお宣言といっても明示的かどうかは問われない）。言ってみればある紙が紙幣となったり、ある場所が大学となったりするのと同じやり方でVTuberは存在する、ということだ。これはVTuberファンとしての実感に合うものであるし、議論としても従来の形よりはるかに取り扱いやすい。<br>
    持つべきアイデンティティの内容としてはさまざまな種類のものが挙げられていたが、個人的に「倫理的アイデンティティ」という要素は特に興味深いと感じた。この概念は、他者からの呼びかけに対して応答し、その通りに行動することを自らに継続的に義務付ける、そのことによってはじめて生まれるようなアイデンティティを指す。実のところ「VTuberと名乗ればVTuberになる」という最初に挙げた主張は、事実としては明らかに正しくない。ただの言いっぱなしで終わってしまっては、VTuber活動は決して成り立たないからだ。視聴者からVTuberとして呼びかけを受けたとき、それに応答し、みずから統一した人格としてふるまおうとする、そのような継続的な「責任」の遂行があってこそ、はじめてVTuberはVTuberとして受け入れられる。そのようなことをアイデンティティ論は思い出させてくれる。</p>
    <p>また、VTuberとケンダル・ウォルトンの議論が結び付けられていることも印象的だった。自分は以前ウォルトンの『フィクションとは何か: ごっこ遊びと芸術』を読み、「人間は虚構であると知りながらその事物に関心を持つことができる」という事実が真正面から論じられていることに感銘を受けた経験がある。真として信じる態度と偽として退ける態度のあいだにある、人間が生まれながらにして持つこの独特の心的態度を、ウォルトンは"make-believe（ごっこ遊び）"という用語で表す。<br>
    ウォルトン自身は主に演劇や絵画などの芸術作品を論じる対象としていたが、言うまでもなくこの概念は現代のVTuberときわめて相性がいいものでもある。その議論を接続し、VTuberがいかなる表象体として成り立っているかを整理しているところが、本書の重要な点のひとつである。</p>
    <p>そのほかにも、人々がVTuber文化に感じている魅力をどう説明できるのか、といったテーマが本書では芸術論などさまざまな角度から掘り下げられている。特にVTuberの活動の内部に鑑賞者たちがどう組み込まれているのか、という視点が重視されているのは嬉しいところである。いちVTuberファンとして、とても興味深い内容の本だった。</p>
    <h3>コミックマーケット104</h3>
    <p>コミックマーケット104の1日目に参加してきた。初のコミケ体験だ。入手品の感想はまた別の機会に書くので、今回は日記的な内容のみ。</p>
    <p>自分はリストバンド型入場証（午前）を購入したので、会場に入れるのは早くとも11時から。ゆりかもめに揺られて10時すぎに東京ビッグサイト駅で降り、会場までの道を歩く。道中で腕を上げてスタッフにリストバンドを見せているとき、どこかから「ワンピースの23巻じゃん」という声が聞こえてきて、ああ今自分はオタクのイベントに来ているんだ、という実感が強まった。普通にアラバスタって言ったほうがいいと思う。<br>
    おおよそ10時半ごろに待機列に到着。一目見てわかる、絶望的な長さだ。海沿いのコンクリートの広場に、先が見渡せないほど多くの参加者が連なって座っている。列はいくつかのブロックに分かれており、自分もそのうちのひとつに並んで腰を下ろす。ここに来るまでは、待機列は行列のようになっており、歩きながら徐々に会場に近づいていく、という光景をイメージしていたのだが、実際は待機中はひたすら同じ場所で待ち、時間が来たら一斉に移動を開始する、というシステムだった。おかげで移動の負担は省けたけれども、入場がいまどこまで進んでいるのか、いつ自分たちのブロックの移動が開始するのか、といった見込みはまったく持てないまま炎天下でじっとしていることになった。<br>
    暑さに耐えながら、いろいろな手段で時間を潰した。持参した本を読んだり、軽食を取ったり、水分をこまめに取ったり、ときどき日傘代わりに扇子で顔を隠したり。後ろの参加者がスマホで『ゆるキャン△』らしきアニメを流していたが、スマホが熱くなりすぎて再生が止まるという現象に見舞われていて大変そうだった。少なくともソロ参加であれば非電源系の暇つぶしは絶対に持って行った方がいい。</p>
    <p>12時ごろに自分のいた待機ブロックの移動が始まり、そこからほどなくしてビッグサイトに到着。最初は東ホール4,5,6から回る。頼まれていたお使いを済ませ、プロセカサークルが固まっている場所に突入。すでに完売しているブースもあったものの、全体的に想定していたよりは多くの在庫が残っていた。とにかく、買った。ひたすら買った。これまでの人生で膨らんできた「コミケへの憧れ」をぶつけるように、たくさん買った。私はプロセカキャラクターは全員好きなので、こういうとき歯止めがきかない。<br>
    買い終わるなり西館に移動し、VTuberブースを巡回。行きがけに大谷さん（年中エゴサに困っている食べ物系VTuber）の本を入手し、それから自サークルである『風とバーチャル』のブースに顔を出した。古月さんはちょうど不在で、かなたさん、Hutaba Nonさんがいらっしゃった。自分は他のVTuberファンと顔を合わせる機会が少なく、編集部の面々とも直接会ったことがなかったため、実はいずれも今回が初対面である。Twitter画面を見せながら「うぇるあめです」と伝えると、非常に驚いたリアクションが返ってきた。知り合ってから数年越しの巡り会いとあって、感動もひとしおだ。その後は古月さん本人、隣の早稲田大学VTuber研究会、VTuberの新海あざ丸さんに挨拶しつつ、VTuber本を買い漁って回った。目当てにしていたナポ・レボリューションの2サークルの人とも少し会話できた。あわせて音ゲー関係のサークルにもいくつか寄った。気づけば多めに持ってきたはずの資金は底をついており、コミケというイベントの恐ろしさを感じた。<br>
    終了後は『風とバーチャル』編集部のメンバーとともに打ち上げに向かい、次の『第三集』の話などで盛り上がった。</p>
    <p>帰るころにはだいぶくたくたであったが、非常に満足度の高いイベントだった。今回は1日目のみの参加であり、評論など別日に回されたサークルをめぐることはできなかったため、今度参加するときはそちらも見てみたいと思う。</p>
</Layout>

