---
import Layout from '../../layouts/Layout.astro';
const pageTitle = "週記2024/12-3　ボルダリング初体験";
---
<Layout pageTitle={pageTitle}>
    <h1>週記2024/12-3 （12月16日～22日）</h1>
    <p>苦笑いのしかたが父親に似てきた。</p>
    <h3>読んだ本</h3>
    <p>今週読んだ本は、以下の4冊。<br>
        ◆赤坂真理『安全に狂う方法』<br>
        ◆水野弘元『仏教要語の基礎知識』<br>
        ◆『少年愛文学選』高原英理編<br>
        ◆タリアイ・ヴェーソス『氷の城』朝田千惠、アンネ・ランデ・ペータス訳</p>
    <p>ノルウェーの文学作品『氷の城』が非常に良かった。幼いふたりの少女の物語を、極寒の地の峻厳な自然が覆う。その描写の一文一文が美しい。</p>
    <h3>行った配信</h3>
    <p>今週行った配信は、タイピング定期配信1本と、その他カジュアル配信。</p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/Ns-Ppn8mT-c?si=iOZXDZj1WnbZgXDw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <h3>投稿記事：goeさんインタビュー</h3>
    <p>『寿司打』全部門史上最高記録、『e-typing』ローマ字史上最高記録。タイピング界の新鋭・goe選手インタビュー<br>
    <a href="https://welame.hatenadiary.com/entry/2024/12/20/014452">https://welame.hatenadiary.com/entry/2024/12/20/014452</a></p>
    <p>タイパーAdvent Calendar 2024のタイピング部門20日目に、goeさんのインタビュー記事を投稿した。もともとアドカレにインタビュー記事を出したいという計画は前々から口にしていて、その対象として真っ先に思い浮かんだのが、歴代記録を連発し乗りに乗っているこの人の存在だった。ちょうどいいタイミングで実施できたと思う。<br>
        せっかくの貴重な機会なので、記事はタイピングのコミュニティ外の人にも読んでもらえるような形にした。そのためタイトルや文章の書き方など、タイパーから見れば少し大仰な感じになったかもしれない。私のフォロワー層はタイピング文化を知らない人の方が圧倒的に多いため、ときどきこうした余所行きの発信をすることがある。あとかしこまった感じで書いているが自分とgoeさんは記事中にもある通り普通に友人であり、その点も二重にくすぐったい。</p>
    <p>ともあれ、無事に記事を出せてよかった。今年はこれで記事投稿に関して思い残すことはない。ライター時代にインタビューの書き起こしなどの補助を行ったことはあるものの、計画から実行まで自分一人ですべて行ったのははじめての体験だった。完成して安心した。</p>
    <h3>ボルダリング</h3>
    <p>ボルダリングジム『NOBOROCK』に友人と行ってきた。3日経っても全身バキバキ。</p>
    <blockquote class="twitter-tweet tw-align-center"><p lang="ja" dir="ltr">SASUKEオールスターズになりました 印旛村の英雄 <a href="https://t.co/x5Jxt0jil4">pic.twitter.com/x5Jxt0jil4</a></p>&mdash; うぇるあめ (@welch2929) <a href="https://twitter.com/welch2929/status/1870752481116062095?ref_src=twsrc%5Etfw">December 22, 2024</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <p>名前の通り壁一面にホールドが設置されており、存分にボルダリングを楽しめる施設だ。ホールドにはそれぞれ色がついており、基本的には同じ色のもののみを使って一番上の目標まで登り、両手で掴んでゴールする、というのがルールになっている。課題は始めたての人でもすぐにできるような簡単なものから、少し工夫を要するもの、さらにコツを必要とするものなど、次第にレベルアップしていく。<br>
        また登る壁は地面に対する角度ごとに区分けされており、もっとも緩い場所では80°、その横が90°、100°……とだんだん急になっていく。120°あたりになると見た目からして威圧感を醸し出しており、実際にやってみても体を張り付かせるだけで精一杯。「地球には重力が存在する」という、普段は見て見ぬふりくらいで済んでいる事実を全身に教え込まれる貴重な機会となる。</p>
    <p>最初のうちは皆で交代しながらウキウキで登っていくのだが、しばらくすると異変が訪れる。指が、痛い。指の付け根も痛い。手足の筋肉よりもはるか先に、手の方に限界が来る。登ってみても、「もうあんま掴まんほうがいいぞ」と脳がアドバイスしてきて思うように進めなくなる。ことここに至って、いよいよボルダリングというスポーツの恐ろしさを思い知る。人生を通して「なんかボルダリングの壁をスイスイ進んでいる人」のイメージだけを蓄積してきた自分にとって、指の摩擦で体を支え続けると痛い、という基本的な事実は新鮮なものとして立ち現れる。思い知ったところでどうしようもない。休み休みやる。<br>
        恐ろしさとともに、楽しさも知る。攻略の楽しさだ。ホールドの配置によって形作られるそれぞれの「課題」はよく考えられた配置になっており、力技でなんとかするというよりは、いかに適切に自分の身体を支え、押し上げるための方法を見つけるか、という探求の側面も強かった。うまくいかないと足場がわからなくなったり、途中で手も足も完全に動かす余地がなくなったりもする。それだけに、手や足をうまくひっかける方法を見つけ、体がぐっと持ち上がったときの喜びはひとしお。それを連続でできるとなおのこと気持ちいい。<br>
        この要素は、集団で遊ぶスポーツとしても相性がいい。ひとつの壁には同時に一人しか登れない決まりになっているため、同じ壁に何人か集まると、必然的にいま登っている人を周りが観戦する形になる。となればやることはひとつ。指示厨だ。「そこ掴める！」「あと右足そこに上げれば終わり」「体が完全に卍みたいになってる」など、アドバイスともヤジともつかない掛け声を飛ばしながら仲間の挑戦を見守る。そういう無責任な楽しさがある。死角になりやすい足場などもあるため、やってる側としても意外と助かる。一人でとことん遊ぶだけでなく、集団でパーティゲームのようにワイワイ楽しめるのもまた、このレジャーの魅力だと感じた。</p>
    <h3>その他雑記</h3>
    <p>・池袋に友人と食事に行った。商店街を回ったりもした。これはサンシャインの59階から見下ろしたちいちゃい教習所。路上教習もこの大都会でこなさなければいけないのだとしたら大変そうだ。</p>
    <figure class="respimage">
        <img alt="サンシャインから見下ろした景色。ビル群のなかに屋上に設置された教習所コースが見える" src="/202412-3_1.jpg"/>
    </figure>
    <p>・M-1決勝を見た。真空ジェシカのピアノがデカすぎるアンジェラ・アキのネタが一番好きだった。M-1王者の座がピアノがデカすぎるアンジェラ・アキにぶんどられなくてよかったとも思った。</p>
    <p>・起床から出勤～仕事開始までの流れや、帰宅後の流れなど、日常のいろいろな場面のルーティン化を真面目にやりはじめた。だらだらとアドリブでこなすのも楽ではあるが、各動作をかっちりやってみるのもかえって楽だったりするので、なるべくそちら側の岸に行きたいと思っている。</p>

    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="週記2024/12-3　ボルダリング初体験 - welame&#39;s page" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</Layout>

