---
import Layout from '../../layouts/Layout.astro';
const pageTitle = "週記2024/11-1　教科書に帰れ";
---
<Layout pageTitle={pageTitle}>
    <h1>週記2024/11-1 （10月28日～11月3日）</h1>
    <h3>読んだ本</h3>
    <p>今週読了した本は、以下の2冊。<br>
        ◆ユク・ホイ『芸術と宇宙技芸』<br>
        ◆鈴木健『なめらかな社会とその敵』</p>
    <p>『芸術と宇宙技芸』は、テクノロジーの画一化に抗し、特定の「場所」のもつローカルな宇宙観・世界観に結び付いた形で発展してきた技術を再考する、その役割を持ちうるものとしてアートを捉える……といった枠組みの芸術哲学書。とりわけ中国の山水画の"現前をつうじて現前しないものへの道を開く"表現のあり方に新たな知能の可能性を見る、という一貫した主張が刺激的でよかった。ただ内容は自身の別の著書の議論を引き継いだものであったうえ、単体でも道家思想や西田哲学など参照すべき議論が多く「ユク・ホイって名前聞いたことあるし一冊くらい読むか……」で手を出すにはかなり重めだった。再チャレンジ対象。</p>
    <p>名前だけは聞いたことがあった『なめらかな社会とその敵』も非常に良かった。「囲い込む膜から複雑につながりあう網へ」というコンセプトのもと、社会に存在する集団の内と外がなめらかに（峻厳な障壁のない形で）繋がる社会を志向し、そのための新しい人間観にもとづいた社会を構想するという内容。情報技術の発展が人間の認知能力を肩代わりすることを前提に、伝播投資貨幣PICSY、分人民主主義Divicracyなどのアイデアを詳細に提案していく。概念を示すだけでなく、ちゃんと数理モデルでの表現とその証明にまで落とし込んで説明してあるのもうれしい。<br>
        この本を読んだだけではこれらのアイデアが実際に2024年現在でどのくらいの妥当性をもってみられているのかはわからないが、オルタナティブな社会をきわめて具体的なレベルで描写する試みはそれ自体価値あるものであると思う。</p>
    <h3>行った配信</h3>
    <p>今週行った配信は、もじぴったんアンコール配信、タイピング定期配信、Welame's Award 10月編の3本。</p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/i_9TTUdnFvg?si=DTtMzuNjKHmZfOjT" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p><br></p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/awhwNRNwtbs?si=PpPvMaIXyrxwatoK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p><br></p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/mzNtpou8ZW0?si=SBPwW4xXQRA_tvww" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p>Welame's Awardは、その月に自分がよいと思ったコンテンツを発表するための配信である。スライドを作り、ゲーム、漫画、書籍、音楽などいくつかのジャンルに分けて好きなものを語っている。</p>
    <figure class="respimage">
        <img alt="スライド例" src="/202411-1_1.png"/>
    </figure>
    <p>こういうふうなものを毎回ちまちま作り、配信で話す材料にしている。</p>
    <p>自分の好きなものを並べる行為は表現行為といえるものではないが、自分にとっての価値を浮き彫りにして提示する行為ではある。この作品に感じるものがあった。この本が役立った。そうした個々の現象を集めていくと、自分でも知らないような背後の底流の存在がおぼろげに浮かんでくる。それを開示するのはやや気恥ずかしい気もするが、自分にとって大切な過程である。</p>
    <h3>おとぎの銀河団BOX</h3>
    <p>はるまきごはんのアルバム『おとぎの銀河団』のComplete Gift Box 盤がついに届いた。書き下ろし新曲入りディスクを含めたコンプリートCDセットだ。</p>
    <figure class="respimage">
        <img alt="メルティさんフィギュア" src="/202411-1_2.jpg"/>
    </figure>
    <p>ボックスの中にはたくさんのグッズが詰め合わされていたが、なかでも目を引くのがこのフィギュア。『メルティランドナイトメア』MVに登場し、最近は着ぐるみ化も果たして日常世界への侵食を着々と続けているメルティさんだ。私は今までこうした立体造形物のグッズを持ったことがなかったので、大事な第一号として部屋の棚に置き、にやにやしている。<br>
        他のグッズのなかでは手紙が特に嬉しかった。みかげが元気に過ごしていれば私は幸せだ。</p>
    <p>新曲についてはこれからよりじっくり聴く予定なのでここで詳細に語ることはできないが、どれも非常に良かった。<br>
        宇宙というテーマとも関わっているのか、一聴して残響感や広がりを持った音が多く、没入感が高い。それでいて各曲ごとに音のバリエーションが多彩で、アルバムを通して豊かなはるまきワールドを堪能できる。後半に進むにつれ静と動の爆発的な切り替えを繰り返す『魔法使いエバ』は特に印象的な一曲だ。また『Apollo999』（新曲ではなく2015年の曲らしい、存在を知らなかった）も幾重にも線が重なっていくようなトリップ体験を覚える非常に好きな楽曲だった。</p>
    <h3>教科書に帰れ</h3>
    <figure class="respimage">
        <img alt="現代政治理論、山川日本史、山川世界史" src="/202411-1_3.jpg"/>
    </figure>
    <p>政治哲学の入門書として有名なW. キムリッカ『新版 現代政治理論』を買った。内容の規模が規模だけに当然だが、いざ家に届いてみるとその分厚さに面食らった。とりあえず最初の功利主義の章の議論は全部追うことができたが、その他の章も文量が多いのでこつこつ進めていきたい。</p>
    <p>あわせて、教科書だけ買って積んでいた高校の日本史・世界史の勉強もぼちぼち始めた。どちらもまだまだ序盤の内容であるが、すでに中学時代に習った内容と比べて格段に情報量が増えており、読んでいてとても楽しい。</p>
    <p>これに限らず、最近は基礎固めのための本をじっくり読みたいという思いが強まっている。<br>
        政治哲学にしても歴史にしても、特定のトピックを扱った書籍であればこれまでの読書経験のなかで何冊も読んできている。それらは各々、自分の中になにがしかの知識や見方を与えてきた。しかし、それらの知見は言ってみればあくまで個々の点として頭の中に浮遊しているものにすぎない。そこに文脈を与え、より柔軟な応用の機会をもたらすためには、浮遊した点を共通のマップに結び付け、ひとつながりのものとして捉え直す作業が必要なのではないかと感じる。<br>
        私は理系出身で人文学に対する素養がからっきし不足しており、この脳内マップが十分に形成されていないという自覚が強い。よってまだまだ時間のある今のうちに基本に立ち返り、高校や大学のカリキュラムを参考にしながらフィールドとなる部分を固めていきたいと思っている。これからのためにも。</p>

    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="週記2024/11-1　教科書に帰れ - welame&#39;s page" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</Layout>
