---
import Layout from '../../layouts/Layout.astro';
const pageTitle = "週記2024/07-2　中野散歩、太鼓の達人の思い出";
---
<Layout pageTitle={pageTitle}>
    <h1>週記2024/07-2 （7月14日）</h1>
    <p></p>最近はプロセカの二次創作にお熱で、ニーゴのpixiv小説をローラーしたり、司えむWebオンリーを覗いたりと新しい作品探しを日々続けている。</p>
    <p>
    今週読んでいた本は『リベラリズム 失われた歴史と現在』青土社、『現代思想 ＜子ども＞を考える』青土社の2冊。青土社は我々の強い味方。<br>
    7月ともなると仕事と読書の両立にもだいぶ慣れてきて、頭が働く朝のうちに重めの本を読み、帰りの電車ではもう少しさらっと読める本を開く、という流れを確立しつつある。また会社の中にも小さいながら図書室があるため、昼休みはそちらにふらっと寄ることもある。</p>
    <h3>中野散歩</h3>
    <p>月曜、東京の中野にふらりと寄った。自分はあまり旅行をするたちではないが、代わりに目的もなく近場の街を歩くのは好きだ。<br>
    中野駅を降りると、中央も脇道もごみごみした通りが広がっている。飲食店、靴屋、ドラッグストア、小綺麗なペットショップ。狭い通りの両端を固めるようにいろいろな店が並ぶ。路地に煙を吐き出している居酒屋が一軒あったが、よくよく近づいてみると煙ではなく涼むためのミストだった。夏だ。</p>
    <p>
    もちろん中野ブロードウェイも訪れた。おおよそオタクのすべてがあった。地下階はスーパーや食料品店のフロアだったが、上の階に進むといろいろなジャンルのディープなショップが立ち並んでいる。こういう場に来るたび、私はいうほどオタクではなかったのだなと思う。</p>
    <figure class="respimage">
        <img alt="中野ブロードウェイ入口" src="/202407-2_1.png"/>
    </figure>
    <p>
    東京は駅間隔が狭いので、目的の駅から近くの別の駅まで歩いていくとちょうどいい散歩コースになる。今回はJR中野駅から西武鉄道の沼袋駅まで歩いた。<br>
    途中で突き当たった平和の森公園でしばし休み、そのまま帰路につく。夜の公園は、大きい。</p>
    <figure class="respimage">
        <img alt="平和の森公園の広場" src="/202407-2_2.jpg"/>
    </figure>

    <h3>太鼓の達人の思い出</h3>
    今日は『太鼓の達人　ドンだー！世界一決定戦2024』決勝大会の開催日だった。いまもちょうどDiscordで友人と同時試聴しながらこの文章を書いている。太鼓の達人は子どもの頃に熱心に遊んでいたゲームだったため、画面を眺めるとどこか懐かしい気持ちになる。もっとも、poxei◆DOONで3人同時全良が飛び出す世界など私は知ったこっちゃないのであるが。</p>
    <p>
    自分はそれほど極めたレベルのプレイヤーではなかったが、最高で段位道場の九段に合格するくらいにはやり込んでいた。フィジカル面に苦手意識があったため、特にノーツ数の多い闇の魔法少女はかなり苦戦しながら詰めた記憶がある。</p>
    <blockquote class="twitter-tweet tw-align-center"><p lang="ja" dir="ltr">イエロー九段合格！！！！！！！！！！！！！！！！！！！！やり切った！！！！！！！！！！！！！！！！！！！！！！！<br><br>P.S.アドバイス下さったえぬむらさんありがとうございました <a href="https://t.co/hX7dPBVjBo">pic.twitter.com/hX7dPBVjBo</a></p>&mdash; うぇるあめ (@welch2929) <a href="https://twitter.com/welch2929/status/875638988383571968?ref_src=twsrc%5Etfw">June 16, 2017</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <p>
    プレイヤーとして特に熱を入れていたのは中学時代だった。バージョンでいうと新筐体のソライロ・モモイロの頃だ。自分の通っていた学校にはたまたま全国トップクラスのプレイヤーがおり、当時はその友人を中心に周りの多くの学生がゲームセンターに通っていた。自分も少ないお小遣いを筐体に惜しまず流し込み、腕が痛くなるまでバチを振っていた。余談だが、自分のハンドルネームである「うぇるあめ」の"あめ"はその友人を真似してつけたものだ。</p>
    <p>
    ソライロ・モモイロというと、ゲーム自体もひとつの大きな転換点を迎えた時代である。もともと『万戈イム－一ノ十』や『初音ミクの消失 -劇場版-』が最難関を張っていたところに、全国大会のエキシビションで『幽玄の乱』が、ドンチャレ賞品で『ドンカマ2000』が追加されるのをいずれもリアルタイムで目撃した。こちとらBPM200超えで既にヒイヒイ言っているというのに、いきなりBPM300やそこらの速度への対応力を求められるのだからたまらない。それまでの☆10はすべてクリアできていたものの、新世代の難曲はXa（裏譜面）がかろうじてクリアできたくらいで、あとはまったくのお手上げ状態だ。このゲームについていける人は本当にすごいと未だに思う。</p>
    <p>
    同級生の顔の広さのおかげもあり、ゲームセンターでは他のプレイヤーと交流する機会も多かった。太鼓の達人界にはプレイヤー同士でチームを組む文化が根付いており、自分は「金色の太鼓勢」という関東のチームに入れてもらっていた。ちなみに名前は『ToLoveる』の金色の闇からとられているらしい。いかに濃厚な平成の空気がわれわれを覆っていたかがわかるだろう。<br>
    メンバーとは定期的に拠点のゲームセンターで顔を合わせて遊んでおり、ときには筐体を貸し切って交流会を開くこともあった。セッション（二人プレイ）でお互いの好きな曲を選んだり、ローテーションプレイで難しい曲をやったり、そのほかいろいろ。交流とはいっても基本的には皆チームを組むだけあって上位プレイヤーばかりであり、自分などはたんに友達枠で参加していたにすぎない。よく参加を許してもらっていたものだと今になって思うが、実際のチームメンバーは皆優しく、最年少クラスの自分をよく可愛がってくれていた。可愛がられすぎて内輪向けbotのアイコンが自分になった。もっと誰か適任がいただろう。
    <p>
    そんなわけで、自分はいわゆる「ゲーセン文化」を存分に浴びながら自らの中学時代を過ごすことができた。チームで活動していた期間はそう長くはなかったが、メンバーのうち半分くらいは今もTwitterにおり、フォロワーとして繋がり続けている。残りのメンバーの消息は定かではないが、みな大人になってそれぞれの人生を送っていることだろう。お元気ですか。あのときの風変わりなガキはいまもここで生きていますよ。</p>
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="週記2024/07-2　中野散歩、太鼓の達人の思い出 - welame&#39;s page" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</Layout>

