---
import Layout from '../../layouts/Layout.astro';
const pageTitle = "週記2024/10-1　いよわ、はるまきごはん――「反時間」のボカロPと、その未来";
---
<Layout pageTitle={pageTitle}>
    <h1>週記2024/10-1 （10月7日）</h1>
    <p>10月。入社からもう半年が経過したらしい。そろそろ仕事量も増えていく時期だろうから、生活習慣はほどほどに見直していくべきかもしれない。</p>
    <p>今週行った配信は2本。タイピング配信と、ハマったもの紹介配信。<br>
        定期タイピング配信では毎週界隈のニュースを取り上げるようにしているのだが、けっこう話が盛り上がってくれて楽しい。
    </p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/yzxIUF0TF3c?si=setDBSuQsaMmLuon" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p> </p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/04zZpQ36cNE?si=wqirQjxwpJsMa18U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <h3>いよわ、はるまきごはん――「反時間」のボカロPと、その未来</h3>
    <p>今週読了した本は、以下の4冊。<br>
        ・千葉雅也『現代思想入門』<br>
        ・木澤佐登志『失われた未来を求めて』<br>
        ・『新訂 日暮硯』笠谷和比古校注<br>
        ・『ユリイカ』2024年10月号 特集＝いよわ<br>
    </p>
    <p>ユリイカのいよわ特集、面白かった。寄稿者ごとにさまざまな視点から「<b>いよわ曲</b>」というひとつのジャンルが掘り下げられており、どれも興味深い。楽曲のもつ音楽的特徴、グリッチを駆使した作風に関する論評、さらにはファンによる受容のあり方の分析など。実に読んでいて楽しい内容だ。</p>
    <p>いよわ曲の扱うテーマのなかで自分が注目するのは、「反時間」、すなわち<b>一方的に流れる時間への抵抗</b>という要素である。<br>
        もっとも明確にこの特徴が表れているのは、氏の人気曲『アプリコット』だろう。手鏡に姿を映すいたいけな少女は、曲の進行とともに成長していく自分自身に耐えられず、悶え苦しみ、最終的にその鏡を割る。「時の流れが爛れているから  大事な大事な宝箱に かわいいかわいい手垢がついた 大人になるだけの日が来るでしょう」と綴る歌詞は、最終的に「やがて来たるその日から 逃げましょう」という徹底的な成長の拒絶のうちに締めくくられる。関連曲の『<a href="https://www.youtube.com/watch?v=aBZqxfnvaVA">パジャミィ</a>』もあわせ、ここでは時間の流れは避けようのない喪失として現れている。いよわ楽曲おなじみのグリッチ表現は、一様に進む時間の流れを切断しようとする能動的な抵抗として理解することができる、という指摘の存在も興味深い。
    </p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/_uMDEIPgmFI?si=z8zguOtyjK3VnHMO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p>ところで「反時間」を掲げるボカロPといえば、もう一人重要な人物が思い浮かぶ。いよわときわめて距離の近いアーティスト、<b>はるまきごはん</b>だ。<br>
        はるまきごはんの楽曲もまた時間に逆行し、子どもであり続けることに強いこだわりを持つ。『ふたりの』シリーズの楽曲はその最も典型的な例である。シリーズ最序盤の楽曲にあたる『約束』のMVは、とある星に住む幼い二人の少女、「ナナ」と「リリ」の無邪気な交流を描く。特に夜中に家を抜け出して巨大な鯨を目撃する二番のシーンは、小さな身体で大きな世界をせいいっぱい受け止めようとする、子どもならではのノスタルジーに溢れている。「こんな物語を忘れるくらいなら 大人のオの字を知りたくもないのさ 約束したのだ  流れ星の下で」。このふたりの少女の出会いから、シリーズのストーリーは始まっていく。
    </p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/hL-lijONWFI?si=10bnMFtoGvT5xDnp" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p>しかし二人の関係はやがて身分の違いなどの「大人の事情」に引き裂かれ、耐えがたい別れを経験することとなる（『彗星になれたなら』等）。そのような苦痛を経て最終的にふたりは、これ以上生き続けることをもはや諦め、心中することを選ぶ。その結末を描く楽曲が、『再会』である。<br>
        みずからの未来の破壊という、究極の決断。ここにもまた、大人という存在に取り込まれることを拒み、みずからの無垢な姿を保とうとする、反時間の強い願望が表現されている。
    </p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/U0bTlwXLUmM?si=a2F0FuxtgNlqT4QV" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p>このように両者のテーマは、並走し、ときに絡まりながら、「はるまきごはん-いよわ的世界観」とも呼べる、ひとつのネバーランドを形成している。</p>
    <p>この「反時間」のスタンスから繰り出される作品の数々は、あまりにも眩しい。両者の発揮する想像力は、老朽から解き放たれることで、あるいは意図的に老朽を振り切り続けることで、膨大なみずみずしいエネルギーを作品に充填する。その結果として生まれる音楽と映像は、「自分の世界」をこれでもかというほど押し出した、きわめて没入感の高い表現となる。<br>
        私は初めてはるまきごはんの『蛍はいなかった』MVを観たときのことを、初めていよわの『パジャミィ』MVを観たときのことを、今でもよく思い出す。それはあまりにも真っ直ぐで、どこか暗くて、しかしそれ以上に光に溢れた、美しい世界だった。私はその真っ直ぐさに負けないよう、同じくらいの純朴さをもってその音楽を受け取り、楽しみ、愛する。
    </p>
    <p><br></p>
    <p>しかし、こうも思う。<b>「いつまでも子どもでいたい」という願いは、あまりにも儚くはないか</b>。時間に対する憎しみを原点として生まれる作風は、肉体のタイムリミットという、あまりにも厳然とした壁を避けられない宿命として持つ。事実、二人の楽曲に見られる感情は喜びではなく、むしろ失う事への苦しみが圧倒的に多い。だから『アプリコット』も『再会』も、破壊という結論によってしかこの壁に対抗することができなかった。この時間の壁に、われわれはどう折り合いを付ければよいのだろうか。</p>
    <p>またこうも思う。<b>現実にわれわれが出会う大人とは、ほんとうに一律に切って捨てられるほどつまらないものだろうか</b>。『再会』MVに出てくる「大人」は、一貫して個性の感じられないブリキの姿で描かれている。描写だけではない。アルバム『ふたりの』付属のブックレットには、主人公の視点から綴られたより直截的な言葉がある。曰く、「本当に彼らは人間なのだろうかと思う時がある。実はこの星はゆるやかにこの奇妙な姿をした生き物に侵略されていて、本来の人間という種は淘汰されてしまったのではないだろうか？」。ここには、すべてを手にしている子どもと、すべてを失った大人という、あまりにも明快な二項対立がある。きわめて尖った純粋さだと思う。こうして非-人間化された彼らは、いわば彼の作品の陰の部分として、背景に追いやられ続ける。</p>
    <p>しかし、この閉塞した世界観にみずから風穴を開けるような楽曲もまた存在している。それがはるまきごはんの『セブンティーナ』だ。</p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/uSX7jj4-NNE?si=xmEBrFEbLlkePAMi" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p>彼らの作品に登場するキャラクターたちは「いよわガールズ」「はるまきガールズ」と呼ばれ、基本的にはまだ大人になる前の少女たちによって構成されている。しかし『セブンティーナ』で主役となっているのは、社会人として日々働く、いわば"かつて少女だった"人物。毎日目覚ましで起き、仕事に向かい、くたくたになって帰宅する、しがない「大人」の一人である。しかし本を手に取れば、かつて17歳の、少女だったころのやわらかい感性に、いつでも戻ることができる。<br>
        ここで描かれているのは、「子ども」という状態を時間と共に去る一過性のものではなく、永遠のものとして押し広げようとする意志である。<b>タイムリミットを過ぎてもなお、私は私として、大切な感性を守ったまま生き続けることができる</b>。そのための原点として、子どものころの私はあるのだ。
        時間の進みという悪夢に苛まれる世界にとって、「何かを捨てないまま大人になれる」というメッセージは、強力な魅力を持ち続けるのではないだろうか。そのような希望を感じさせる楽曲である。</p>
    <p>あるいはいよわの『1000年生きてる』も、人間のタイムリミットに対するもうひとつの解といえるのかもしれない。上の『セブンティーナ』では、「わかっちゃうよフューチャー 1000年後の私なんて」と、やがて消えていく自分に対するペシミスティックな感情が歌われていた。しかしこの曲はより壮大なスケールにみずからの存在を置く可能性を信じる。「生き汚く生きて何かを創ったら あなたの気持ちが1000年生きられるかもしれないから」。<b>感性を作品に刻むことで、私の命は朽ちようとも、その気持ちは長く生き続けることができるかもしれない</b>。これは死という限界をも超えてみずからの喪失を乗り越えようとする、創作者としての強烈なメッセージである。肉体が滅びた先にもなお、未来はありうる。</p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/3em-J9yYPAo?si=oO6V65Ja6AcQUaF_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p>はるまきごはんは現在28歳。いよわは現在24歳。この文章をいま書いている私（24歳）と同じ、ちょうど子どもと大人のはざまといえる年齢である（もちろん、見ている世界の高さは私などと比べるべくもないだろうが）。その過渡期を、人はどう受け止めていくべきか。若き才能ふたりの選ぶ道を、その同世代の人間として、そしていちファンとして、これからも見届けたいと思う。</p>

    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="週記2024/10-1　いよわ、はるまきごはん――「反時間」のボカロPと、その未来 - welame&#39;s page" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</Layout>

