---
import Layout from '../../layouts/Layout.astro';
const pageTitle = "週記2024/10-3　自撮り、バラドルと存在肯定";
---
<Layout pageTitle={pageTitle}>
    <h1>週記2024/10-3 （10月21～27日）</h1>
    <h3>読んだ本</h3>
    <p>今週読んだ本は、以下の3冊。<br>
        ◆三宅隆太『スクリプトドクターの脚本教室・初級編』<br>
        ◆近内悠太『利他・ケア・傷の倫理学』<br>
        ◆小林秀雄『学生との対話』（講演録）</p>
    <p>都合で読んだ『スクリプトドクターの脚本教室・初級編』がかなり良かった。良質なノウハウ本のなかには「具体的なテクニックを導入する前にまず基本的なものの見方・原則を教える」という過程を重視しているものがしばしばあるが、この本もそのタイプだ。<br>
        魅力を感じることと許せないことを軸に自分の世界観を固めていくこと。具体的な行動を促す状況を見出してそれを発露させること。脚本の話であるが、いくらかは人生訓でもある。こういう本はたとえ将来実際に技術として活かす日が来なかったとしても生活でじわじわ役立つことが多いため、読んで損はない。</p>
    <h3>行った配信</h3>
    <p>今週行った配信は、SNS・ワードパズルなどの雑談配信、タイピング定期配信の2本。</p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/ShmqhhTGJLg?si=8tmWaRhY2P_lgG5Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p><br></p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/s82LBfW4LrM?si=bR46uhmPWGE0Ea5W" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p>今週はe-typingの歴代記録をはじめタイピング界に大きな動きがあり、雑談の話題に事欠かなかった。<br>
        寿司打は（一般的なイメージに反して）あまりタイピングガチ勢が日常的にプレイするゲームではないのだが、先週の配信で自分が偶然wikiを発見してしまったばっかりに、何名かのプレイヤーがそのwiki内ランキングにチャレンジするムーブメントが生まれてしまった。うち一人は自己ベストをすべて更新し、wiki内どころか寿司打史上でもトップ5に入るような大記録を全部門で残していった。私は傍観者としてゲラゲラ笑いながら見ている。</p>
    <h3>おでかけ</h3>
    <p>陸さんと焼肉に行ったり、日本シリーズを見たり、ゲーム制作の相談をしたりした。</p>
    <blockquote class="twitter-tweet tw-align-center"><p lang="ja" dir="ltr">昼からたくさんおにくを食べる、などの活動を行った <a href="https://t.co/OaHiIvkraC">pic.twitter.com/OaHiIvkraC</a></p>&mdash; うぇるあめ (@welch2929) <a href="https://twitter.com/welch2929/status/1850133728456036486?ref_src=twsrc%5Etfw">October 26, 2024</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <p>ゲーム相談では、特にストーリーをどう組み立てるかについて長く話していた。<br>
        私は物語を意味や構造などの抽象化したかたちで捉える傾向がかなり強く、逆に具体的なシチュエーションを考え出して肉付けする能力はあまり持ち合わせていない。つくづく創作者に向かない気質だと自覚している。その点、設定やシーンが次から次にポンポンと出てくる陸さんの存在は非常に心強い。私が「こういう類の展開を入れれば流れが繋がるのではないでしょうか」と提案すると、「じゃあ○○するシーンを作ったり、あるいは○○する設定なんかがあったりするといいかもですね（即答）」という反応が返ってきて内心面食らう場面がかなりあった。話を作れる人、おそるべし。</p>
    <h3>プロセカお気に入り更新</h3>
    <p>プロジェクトセカイのプロフィール設定画面には、自分のお気に入りストーリーを最大10個並べることができるパーツが存在している。以前設定したときからさらにストーリーが増えてきたので、更新した。</p>
    <blockquote class="twitter-tweet tw-align-center"><p lang="ja" dir="ltr">令和最新版プロフィール用マイベストストーリー10選 <a href="https://t.co/7YDvETgBTu">pic.twitter.com/7YDvETgBTu</a></p>&mdash; うぇるあめ (@welch2929) <a href="https://twitter.com/welch2929/status/1849487690250719703?ref_src=twsrc%5Etfw">October 24, 2024</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <p>『荊棘の道は何処へ』『ボクのあしあと、キミのゆくさき』『願いは、いつか朝をこえて』に関しては、以下の記事で多くのことを語っている。<br>
    <a href="https://welame.netlify.app/article/keikyoku/">https://welame.netlify.app/article/keikyoku/</a></p>
    <p>『Parallel Harmony』『Whip the wimp girl!』『ほどかれた糸の、その先は』『仮面の私にさようなら』は、いずれも各ユニットで特に印象的とされるストーリーだ。<br>
        これらのストーリーは共通して、キャラクター同士に生まれる激しい摩擦を描いている。人と人とがすれ違う不安定な状況のなかで、一歌・咲希は、杏・こはねは、雫は、まふゆは、自らの率直な思いを自覚し、表現する。そうしなければならないような状況に追い込まれていく、とも言える。<br>
        それが最終的にすっきりした終わりになることもある。わだかまりのまま残ることも、決裂することもある。しかしどのような場合でも、登場人物は確かに新たな自分を発見し、またそんな自分をより愛せるようになっていく。フィクションで描かれるこのような瞬間は、つねにそれぞれ固有の魅力を持ち合わせている。</p>
    <p><br></p>
    <p>『Take the Best Shot!』『ハッピー・ラブリー・エブリデイ！』については、同じひとつの軸を持ったストーリーとして見ている。「事後的な存在肯定」という軸だ。</p>
    <p>『Take the Best Shot!』は、小豆沢こはねと東雲絵名が同じ一つのフォトコンテストで競い合う日常回ストーリーである。共に撮影に関する趣味を持つ二人は、入賞商品を目当てにそれぞれ友人とチームを組んでコンテストに参加し、よりよい写真の撮り方を模索していく。<br>
        キャラクターの特技を活かしたほのぼのストーリーであるが、これを東雲絵名の物語の一ページとして捉えると、そこには少し違った文脈を見出すことができる。こはねの撮影技術が単なる趣味から来ているのに対し、絵名にとってのそれは、なかば自傷行為に近い自撮り行為の習慣を通して育まれてきたものであるからだ。</p>
    <p>もともと絵名の生活における「自撮り」は、もっぱらネガティブな意味を持つものでしかなかった。自分の絵が認められない苦しみのなかで、束の間だけ自分の容姿を使ってリアクションを稼ぎ、気を紛らわす手段。いくら繰り返しても何も得るもののない、空虚な時間。それは本当に目指したいもののある絵名にとっては、障害として機能するもののはずであった。<br>
        しかし絵名が自分の問題に向き合い、ひたむきな努力によって自信をつけ始めた後も、この無意味とされた習慣は捨てずにとっておかれる。むしろ"盛れる"テクニックを追求したり、写真映えするスポットやアイテムを探してみたりと、それはそれで凝った楽しみ方のできる場に作り変えられていく。ときには「また自撮りにでも使うつもりなんじゃないの～」などと、仲間からキャラ付け要素のひとつとして扱われたりもする。ただ心の欠落を満たすだけの行為だったものは、次第に自分を構成する要素のひとつとして、必ずしもネガティブでない意味づけを獲得していく。</p>
    <p>このような流れの延長線上に『Take the Best Shot!』というストーリーはある。ここでは絵名の諸々の自撮りテクは、立派な「磨いてきた技術」としてポジティブな強さを発揮する段階まで来ている。「絶対勝つ！」と意気込み、地面に寝っ転がってまでも理想のアングルと演出を作り出そうとするその姿に、もはやかつての日々のような陰りは見られない。言ってみれば、絵名は自らの悪癖を自分の中に取り込んでみせ、事後的に立派な「個性」へと書き換えてしまったのだ。ここにはあるひとつの、大きな肯定の力が働いている。</p>
    <p>『ハッピー・ラブリー・エブリデイ！』もまた、このような事後的な肯定の物語だ。こちらはアイドルである桃井愛莉がユニットメンバーとともに小学校に赴き、子供達のための卒業式イベントに協力するストーリーである。そこで愛莉はバラエティアイドル（バラドル）時代に得てきた絶大な人気によって子どもたちに囲まれ、存分にファンサービスを返していく。</p>
    <p>しかし愛莉にとって、バラドルとしての自分の過去は複雑なものであった。バラエティの才能を買われ、テレビに引っ張りだこになったこと自体は、決して悪い話ではない。しかしその結果、本来したかった活動には大きな支障が生まれ、自らが望んでいたアイドル像からは遠く離れてしまった。結果として、愛莉はアイドルを続けられなくなってしまった。その苦悩と挫折は、長らく愛莉の陰の部分として残り続けることとなった。</p>
    <p>このイベントはそのような愛莉の過去を癒し、清算し、新たな意味づけを与える。不本意に思っていた自分の活動もまた、途方もないほどたくさんの人に愛され、知らず知らずのうちに自分の望みを叶えていたのだと。そして自らの葛藤を統合し、負の部分をも自らの物語にしてしまった先に、かつて夢見た「最高の桃井愛莉」としてのソロライブがはじめて披露される。非常にドラマチックで、気に入っているストーリーだ。</p>
    <p>われわれは人生の中で、いくつもの容易に取り払えない枷に縛られる。そこから自由になる方法はふたつある。ひとつは、強い意志を持って綺麗さっぱりその枷を壊してしまうこと。そしてもうひとつは、その枷を自分の一部として取り込み、新たな物語のうちに書き換えてしまうこと。ここまで見てきた「事後的な肯定」とは、まさにこの後者にあたるものに他ならない。</p>
    <p>最後に言及する『あたしたちのハッピーエンド』は、まさにこのふたつの道を両方示してみせたイベントだといえる。拠点を飛び出して外の世界に向かうことを決めたユニットと、自らの立場上それについていく選択に踏み切れない鳳えむ。このストーリーはゲーム内屈指の文量を通して、この問題にふたつの解決策を示してみせる。<br>
        ひとつは勿論、決意を固めてユニット全員で飛び立つという選択肢だ。しかしメンバーを見守るMEIKOたちバーチャルシンガーたちはその前段で、「自分の役割を全うし、その先で再会する」というこれとは異質の選択肢を提示している。たとえ別れが避けられないとしても、そこには自分たち次第で新しい意味を付与することができる。このメッセージもまた、えむにとっては大きな救いとして働いたはずである。</p>
    <p>すべての『かつてそうであった』を、『わたしはそうであったことを欲したのだ』と書き換える意志の力。それは現状肯定や諦めとは異なる、今立っているこの場所から主導権を生み出してみせる力である。私はこのような形の存在肯定もまた、美しいと思う。</p>

    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="週記2024/10-3　自撮り、バラドルと存在肯定 - welame&#39;s page" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</Layout>

