---
import Layout from '../../layouts/Layout.astro';
const pageTitle = "週記2024/09-1　YouTubeMusicWeekend、カフェ読書、ノンデザイナーズ・デザインブック";
---
<Layout pageTitle={pageTitle}>
    <h1>週記2024/09-1 （9月2日）</h1>
    <p>今週は二本の配信を行った。加速主義についてくっちゃべった回と、ゲーム『Ib』完結回である。</p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/v7Z5Y1ALrbU?si=KJWHLKuUJTRHkri2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p> </p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/TuGj1hbJt9w?si=sXDePuPEey3deUoT" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <h3>YouTubeMusicWeekend</h3>
    <p>YouTubeの公式企画『YouTubeMusicWeekend 8.0』をほぼ全枠見た。23日から25日にかけて、総勢94組のアーティストが動画やライブ映像などのプレミア公開リレーを行う企画だ。今回は「デジタルネイティブアーティスト」がテーマになっているらしく、出演者はVTuberやボカロP出身アーティストをはじめ割とおなじみの面々が多い。そのため誰か新しくお気に入りのアーティストが増えるということはなかったが、lilbesh ramkoはかなりよかったかもしれない。音割れ 本来は良くない。</p>
    <p>枠単位でいうと、一番リピートしているのは間違いなく<b>椎乃味醂</b>のPerformance Setだと思う。今回は普段投稿しているようなボーカロイド曲の披露ではなく、インスト新曲5曲のDJパフォーマンスという挑戦的な構成で参戦している。一貫して金属質な音を中心に据えた、ダークな楽曲セット。都会的だな、とも思う。中盤の「M3」で大いに盛り上げを演出し、そこからより複雑に入り組んだ「M4」、そしてジャジーで開放的な「M5」へと移っていく、この流れがたまらない。<br>
    普段の氏の楽曲はwowakaの影響を色濃く受けた思索的なスタイルを大きな特徴としており、その強迫的なまでに深く深く潜ろうとする歌詞作りが一曲一曲に大作のごとき力を与えている、そういうボカロPであると思っている。しかし、特に最近は楽曲の半分をインストパートで構成した『limbo』などによく表れているように、バックの音作りという面においても聴けばすぐそれとわかるような独特の作風を発展させている。今回のパフォーマンスも、そのような「インスト力」の自信のひとつの表れであるのだろう。<br>
    音と歌詞という二つの要素は当然独立にあるものではなく、互いに意味とイメージを与え、強化しあうものとして機能する。そのような相互作用によって椎乃味醂の楽曲はオリジナル性を増し、今なお急激な進化を遂げつつある。初音ミクという存在に自分なりの解釈を与え、ラストのサビとドロップで強力な演出を与えてみせる『デュレエ』など、その集大成のような楽曲だ。自分より4つも若い人間がここまでの完成度を手に入れつつあるのは、勘弁してくれという感じもするし、でもそれ以上に楽しみだという感じもする。</p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/26-9mmAYG7E?si=2kjjWVHDWAiQ55zC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p>若い才能といえば、継ぎ接ぎの美ともいうべき1日目の<b><a href="https://youtu.be/ethXA0upNug">原口沙輔</a></b>のパフォーマンス、そしてシリアスな仕掛けを施した3日目の<b>いよわ</b>の楽曲披露も良かった。特にいよわの枠は直前枠のフロクロの強烈な楽曲と連続していたこともあり、今回の企画のひとつの目玉といえる区間になったのではないだろうか。<br>
    そのほかの枠で個人的に好きだったのは、生バンドを引き連れてお洒落にまとめた<b><a href="https://youtu.be/LQNQsjErwF8?si=5q_fqkcwYzntaO6G">なみぐる</a></b>、インターネットノスタルジーを存分に演出した<b><a href="https://youtu.be/QVAHELn-fKs">somunia</a></b>、ショートドラマでファンを全力で刺しにいった<b><a href="https://youtu.be/uP7JmLy9zrQ">キタニタツヤ</a></b>など。</p>
    <p>インターネット世代の人間は早くからバッターボックスに立つことが容易であるため、才覚を持った者が早くから頭角を現しやすい。今回の年少世代のめざましい活躍も、「デジタルネイティブ」を題材に据えたがゆえの当然の帰結である。一方でインターネットはまだ歴史が浅い存在であるから、いずれはまだ見ぬ晩成型デジタルネイティブも多く出てくるはずであり、今後はそちらに注目を払っていくことも必要になるだろう。10年後、20年後の多世代インターネット社会はどうなっているか。今回見たようなラインナップとはまた違った光景が広がっているのか。楽しみでならない。</p>
    <h3>カフェ読書</h3>
    <p>最近、読書に適したカフェを身の回りでいろいろ探している。退勤後に週2～3回どこかの知らない店に入り、しばらく本を読んでから帰宅する、というルーティンだ。学生時代は割高に感じてほとんど入れなかったカフェも、社会人デビューした今となってはどこにでもある便利スポットに様変わり。よくもまあこんなたくさんの空間が自分の行動圏内に隠れていたものだと、なにか感慨深い思いを抱きながら店を転々と回っている。<br>
    そして大抵、どのカフェでも読書は捗る。出先ゆえ気を散らすような持ち物が少なく、また気分転換の軽食と飲み物も出て来るとあって、人を本に向かわせる環境が整っているのだ。読み切った本の冊数が今年七月は7冊だったのに対し、八月は15冊と増加傾向にあるのは、こうした環境の模索が影響している部分が大きい。なお本屋によっては購入時に併設のカフェの割引チケットを渡してくるところもあるため、この商売スキームにまんまとはまることで購入と消化のループは今後ますます加速しそうである。</p>
    <p>「音」という要素もまた、本を読むときの集中力に影響を与える。その点で言うと大体のカフェでは控えめな音量でBGMが流れており、それが落ち着いた空間を演出しているのだが、それとは別にどのカフェにもふたつ、店側の意図していない音が必ず存在している。キッチンの機械音、そして空調音だ。表面上はどれだけ上品で静かな空間を作ろうとしていても、店舗の呼吸ともいうべきこの二種類の音はつねに背景をなし、決して消えることはない。<br>
    かつて作曲家のマリー・シェーファーは著作『世界の調律』で「サウンドスケープ」という概念を提唱している。空間にあるさまざまな音をひとつの風景としてとらえ、そのまとまりを把握しようとする概念だ。都会や田舎のサウンドスケープ、山や海のサウンドスケープなど、その風景の特徴は空間の性質ごとに異なった面を見せる。しかし同書によると、産業革命以降は機械音という新しい要素が世界を覆い尽くし、世界のサウンドスケープはどんどん平坦に、すなわちローファイなものに変化しつつあるのだという。カフェのなかで機械音がひっきりなしに流れているのも、そのような変化の結果として考えることができるだろう。<br>
    シェーファー自身はこの傾向をどちらかといえば批判的に記述し、人の手でより美的な音の風景を設計するビジョンを示している。そのプロジェクト自体はもっともなことだと思うが、しかし自分自身はこうした文明の駆動音の存在を必ずしも邪魔なものだとは感じていない。機械は間違いなく人間が作り出したものではあるが、同時にもはやそれなしに人間の生活は維持できないという意味で、人間のコントロールを離れた自然的なものでもある。それは確かに人間が生み落とされた原初の自然とは様変わりしたものかもしれない。ただ、われわれをひっきりなしに包み、その背景をなすものとしての機械の音というのはやはり現代の我々の故郷の音であることに変わりはない。カフェという静かさを装った空間でかえって浮き彫りになったこの第二の自然音に耳を傾け、脳の余分なスペースを埋めながら本に向かい合うことは、自分としては悪い気のする体験ではないし、実際にかなり集中もできる。こうした体験の存在は、カフェを頻繁に利用するようになってはじめて気付いたもののひとつだ。上手に付き合いつつ、今月もまたたくさんの本を読んでいきたい。</p>
    <h3>ノンデザイナーズ・デザインブック</h3>
    <p>今週読了した本は以下の4冊。<br>
        ・巖谷國士『シュルレアリスムとは何か』<br>
        ・新潮文庫『川端康成・三島由紀夫　往復書簡』<br>
        ・小林昌樹『調べる技術: 国会図書館秘伝のレファレンス・チップス』<br>
        ・ロビン・ウィリアムズ『ノンデザイナーズ・デザインブック』
    </p>
    <p>『ノンデザイナーズ・デザインブック』、非常に良い本だった。プロのデザイナーではない普通の人々に向けて、デザインの大原則とその活用例を示した書籍だ。メッセージはどれも明確に、かつ繰り返しわかりやすく示されており、かなり即効性のある指南書だと感じた。ロングセラーとして有名なデザイン本らしいが、そうなるのも頷ける内容である。</p>
    <p>この本で触れられている大原則とは、次の4つ。</p>
    <p><b>近接</b><br>
        関連する項目は近接させ、グループ化する。<br>
        <b>整列</b><br>
        端をそろえるなど要素同士の配置に視覚的な関連を生み出し、画面を整える。<br>
        <b>反復</b><br>
        デザインの視覚的要素を作品全体、あるいは作品間で統一し、繰り返す。<br>
        <b>コントラスト</b><br>
        ページ上にはっきり異なった複数の要素を並置し、視覚的な引きを作る。
    </p>
    <p>この四つの原則にもとづいて多くの例を鑑賞し、良い点、悪い点をそれぞれ考えていくのが、この本の基本的な流れである。反復練習のために掲載された具体例や練習問題の種類は非常に多く、読者が一貫して「目を養う」ことができるよう工夫されている。</p>
    <p>似たようなデザイン指南書としてはエミール・ルーダー『本質的なもの』を思い出すが、あちらは「平面は不動、線は運動である」といったきわめて抽象的な原則を取り扱い、どちらかといえばある程度技術のある人の地固めを促すような内容である。それに対し、この本で示されるアドバイスはもう少し易しく、「論理的に近い情報は近接させブロックにする」「端を揃えて線を作り出し、無意味な中央揃えを避ける」など、気づくようになりさえすればすぐに適用可能なものばかり。まさに「ノンデザイナー」のための本だ。それでいて汎用的な原理原則を大事にする点は共通しているため、アドバイスを視覚的デザイン全般に、ひいてはもっと広い多くの活動に応用できる余地がしっかり残されている点もすばらしい。</p>
    <p>内容のすべてをすぐに定着させることは難しいが、ものは試しということでCSSをいじり、とりあえずこのページの見出し(h3)や文章のいくつかの文言を太字にしておいた。上の原則でいうならコントラストの導入だ。今回は時間がなかったので微調整にとどまるが、いずれはこのサイトもいろいろと改善していきたいと思う。</p>
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="週記2024/09-1　YouTubeMusicWeekend、カフェ読書、ノンデザイナーズ・デザインブック - welame&#39;s page" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</Layout>

