---
import Layout from '../../layouts/Layout.astro';
const pageTitle = "週記2024/10-2　週記をリニューアルします";
---
<Layout pageTitle={pageTitle}>
    <h1>週記2024/10-2 （10月7日～10月20日）</h1>
    <h3>週記をリニューアルします</h3>
    <p>毎週投稿する週記の内容を、以下のように変更する。</p>
    <p><b>・2～3トピック制の廃止</b></p>
    <p>従来の週記は、その週にあった出来事のなかから2個～3個のトピックを取り上げ、それぞれ一定程度の長さの文を書く、というスタイルでやってきた。<br>
        ただこのスタイル、意外と負担が大きかった。そもそも日常で出会うことの大半は、「よかった」「楽しかった」以上に書きたいことがあまり生まれないものだ。そのトピックをいくつか選び、ある程度のパラグラフ量まで膨らませる作業は、時間的にもモチベーション的にもやや重かった。<br>
        よってこれからは中程度のトピックを数個用意して1記事にする今のスタイルをやめ、好きな数・好きな分量で自由に報告を連ねる場にしたいと思う。こうすれば書きたいことをその分だけ書くだけでよくなるし、今まで書くことが少ないからと省いてきた話題も取り上げられる。総合的には、1トピックあたりの文は短く、トピック数は多くなるだろう。</p>
    <p><b>・長いトピックの単発記事としての独立</b></p>
    <p>もちろん、トピックによっては長く書きたいこともある。前回のいよわ＆はるまきごはん語りで1週ぶん消費したものなどがそれだ。今後、そのような筆の乗る話は単発記事として独立させることにしようと思う。週記が楽になってリソースが浮いたぶん、より興味のあるトピックに時間をかけるのが正しい道である気がしている。<br>
        今週はさっそく後述するプロセカ感想を単発記事として出したが、このような記事も今後は増えていくかもしれない。</p>
    <h3>投稿記事1：プロセカ感想</h3>
    <p>プロセカストーリー『荊棘の道は何処へ』感想　知り直しと、対等な「優しさ」の模索<br><a href="https://welame.netlify.app/article/keikyoku/">https://welame.netlify.app/article/keikyoku/</a></p>
    <p><b>今週は本当にこのイベントのことだけ考えていた。</b>1週間ずっと考えて、ギリギリまで資料や他の人の感想も読んで、書きたいことは全部書いた。</p>
    <p>元々しんどいストーリーになることはほのめかされていたが、物語の収拾がつかずに終わるというのは流石に予想外だった。なんだかんだアフターライブがあるから2~3話で決裂して8話で収まるだろうみたいな構成を想定していたが全然そんなことはなかった。ただそうしたゲーム的な制約をぶった切ってまで運営が慎重に、丁寧にストーリーを進めようとしてくれているのはありがたいとも思った。その応答として、自分も長大な感想を書きたいと思った。</p>
    <p>ストーリーを読み切った直後は本当に、茫然とした状態になった。周りの情報が全部すり抜けていく感じがした。まず、自分はどうなのだろうと思った。自分が瑞希に同じことを言われたらどうすればいいのだろうと思った。それを考え直す過程としても、この記事の執筆はあった。問題が深いだけにそれは難しい道だった。自分がいま使おうとしている言葉の意味を、自分は正しく分かっているだろうか。この主張をすることによって、自分は何を無意識に踏み躙るだろうか。書けば書くほど自分は何かを間違う。その間違いを認識することもできない。でも書かない・考えないことも選びたくない。そうした袋小路のなかで迷いつづけた。結果として出来上がった文章は1万字を超えた。卒論以外でこんなに長い文章を書いたことはほとんどなかったのではないか。ライター時代もそういうまとまった記事を書くタイプではなかった。ましてやそれ以前は文章を書く立場ですらない。</p>
    <p>結局どれだけ想像したって瑞希のことなどわかりはしない。でも想像し続けることで、以前よりその存在がより愛しく、苦しく、魅力的に感じられるようになったと思う。気持ちの整理はついたが、感情はより深くなった。次のイベントが来たら私はどうなってしまうだろうか。</p>
    <h3>投稿記事2：リンク集</h3>
    <p>競技タイピング界隈のリンク集<br><a href="https://welame.hatenadiary.com/entry/2024/10/11/235948">https://welame.hatenadiary.com/entry/2024/10/11/235948</a></p>
    <p>タイピングブログにて、競技タイピングに関するリンク集の記事を公開した。競技タイピング文化を知らない人、入りたてで全体像が掴めない人、上達や攻略のための情報を求めている人、そんな人々の一助となるべく作成したページだ。</p>
    <p>自分はタイピングを始めた当初からタイパーのさまざまな記事を探し、読み漁ってきたので、こういうリンクはかなりいろいろ手元に集めてあった。この記事はそれをピックアップして放出したものになる。当時こういうページがあれば自分は助かったなと思うし、後続の人にもこれが役立つといいなと思う。</p>
    <h3>読んだ本</h3>
    <p>先週/今週読了した本は、以下の5冊。<br>
        ◆木澤佐登志『終わるまではすべてが永遠』<br>
        ◆五月あかり、周司あきら『埋没した世界――トランスジェンダーふたりの往復書簡』<br>
        ◆クリスティーヌ・オルスィニ『ルネ・ジラール』末永絵里子訳<br>
        ◆アグネス・カラード『怒りの哲学―正しい「怒り」は存在するか』小川仁志監訳、森山文那生訳<br>
        ◆小川公代『ケアの倫理とエンパワメント』</p>
    <h3>行った配信</h3>
    <p>先週/今週で行った配信は3本。ゲーム音楽を語る回と、タイピング定期配信2回分。</p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/gnQCyPVmtLs?si=Kl1gTQMh8QCw7WjW" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p><br></p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/UgYBAT8uTiQ?si=pQRtuXFhb94dCGfR" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p><br></p>
    <iframe class="youtube-16-9"width="560" height="315" src="https://www.youtube.com/embed/Lqn1HFsVXsA?si=g0-SO3xDWPXw9LdX" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <h3>mastodon</h3>
    <p>Twitterのごたごたに便乗して、新たにmastodon(mstdn.jp)のアカウントを運用することにした。<br><a href="https://mstdn.jp/@welch2929">https://mstdn.jp/@welch2929</a></p>
    <p>1年前に作ったままROM専として放置してあったアカウントを再利用する形となる。投稿は見たもの・読んだもののシェアが主で、既にいくつか読んだ本や漫画の簡単なメモを書いてある。今のところまだ他SNSに移住するつもりはないので、こうしたアカウントはあくまでTwitterとは別の場として活用するつもり。</p>
    <h3>プロフィール更新</h3>
    <p>mastodonのアカウントを追加するついでに、プロフィールページの「好きな書籍」欄を更新した。</p>
    <p>・『豊饒の海』三島由紀夫<br>
        ・『砂糖菓子の弾丸は撃ちぬけない』桜庭一樹<br>
        この小説2本に関しては、純粋な私の好みだ。特に説明することはない。</p>
    <p>・『有閑階級の理論』ソースティン・ヴェブレン<br>
        ・『ヴィータ 遺棄された者たちの生』ジョアオ・ビール<br>
        こちらは特定の学問分野の成果を通して自分のものの見方に大きく影響を与えている2つの書籍だ。前者は「誇示的消費」などの概念で知られる経済学者ヴェブレンの著作。後者はブラジルの保護施設を舞台にした文化人類学者ビールの著作。</p>
    <p>・『ゼロ年代の想像力』宇野常寛<br>
        ・『生き延びるための自虐』田原夕<br>
        ・『失われた未来を求めて』木澤佐登志<br>
        この3つは、自分にとっての物書きのひとつの理想を体現した三者の著作である。いずれもジャンルとしては社会評論にあたるだろうか。<br>
        この3人には、まず明確な問いがある。宇野であれば「動員ゲーム」の克服。田原であれば追い込まれた苦悩からの生存。木澤であれば未来の想像。次に解決の糸口を見つけ出すための膨大な知識と、それらを選び取る眼がある。宇野は娯楽作品から、田原は現実の事件から、木澤は国内外の社会的ムーブメントから自らの問いに対する答えを求める。その蓄積の結果として、オリジナルな脱出口のイメージを浮かび上がらせる。<br>
        私はこのような形で現実の世界を広く飛び回り、難しいテーマと格闘しようとする本が、一番好きなのだと思う。</p>
    <h3>雑記</h3>
    <p>・高校同期とビアガーデンに行き、いろいろ話した。食べ放題だったので今の年齢で可能となる限界量の肉と酒を摂取した。また二次会では人生で10年ぶりくらいではないかと思うほど久しぶりにカラオケに行った。人間の喉ってこんなに出ない音あるんだと思った。どこまでがお酒のせいでどこまでが己の限界なのかもよく分からなかった（久しぶりすぎるから）。でも楽しかった。</p>
    <p>・漫画をいくつか読んだ。heisoku『ご飯は私を裏切らない』が良かった。どのバイトもうまくいかず職を転々とする主人公が、その陰鬱な日々で獲得した独特な観点から食事を楽しむ変化球のグルメ漫画。同作者の『春あかね高校定時制夜間部』が大好きなのでそのつながりで読んだが、こちらも作品全体に暗く温かい時間が流れているように感じられた。とりわけ動植物に対する感性が研ぎ澄まされている。非常に豊かな世界の見方をしている漫画だと思う。<br>
        ほか、うさみみき『頽廃の花売り』もひたすらキュートな漫画でよかった。</p>

    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="週記2024/10-2　週記をリニューアルします - welame&#39;s page" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</Layout>

