---
import Layout from '../../layouts/Layout.astro';
const pageTitle = "週記2024/06-2　SF6、カフカ短編集、灯を手繰りよせて";
---
<Layout pageTitle={pageTitle}>
    <h1>週記2024/06-2 （6月30日）</h1>
    <p>
        前回「週記」というタイトルをつけてしまったばっかりに、なんとなく一週間に一回は文章を書かなければいけない雰囲気が出てきてしまった。これは大変なことだ。何かを書くからには、当然書くに値するだけの内容を用意しなければならない。私の日常はそれに値するだろうか。ひとり腕を組む。
    </p>
    <h3>SF6</h3>
    <p>
        昨日は一人暮らしを始めた中学同期の家に友人と集まり、4人でひたすらSTREET FIGHTER 6を遊んでいた。自分にとっては人生初の格闘ゲーム体験だった。
    </p>
    <p>
        プレイしてみてまず、このゲームの機能の充実度に圧倒された。メニューを開けば操作モードごとに大量のチュートリアルが用意され、また設定で練習環境のあらゆる部分をいじることができる。トレーニングモードを開けば自分が何フレームでどのボタンを押したのか、技がどのタイミングで出て、何フレームの猶予差が生まれたのか……などさまざまな情報が画面を埋め尽くすように表示される。すごすぎる。これが現代の格ゲーか。<br>
        正直初見ですべてを理解しきることは難しいが、このゲームが初級者・上級者の双方に最大限気配りを届かせているのだろう、ということはなんとなく分かる。
    </p>
    <p>
        対戦ではなにかと噂のモダン方式を使わせてもらったが、これもやはり使いやすい。使いやすいというか、とにかく助かる。アシストコンボ周りは流石にこちらが気後れしてしまうほどの親切さだが、そういった補助もあくまで初心者目線だと「何も考えなくてよくなる」類のものではなく、むしろ間合いの取り方や始動のタイミング、読み合いといった要素に集中させてくれるありがたいシステムだと感じる。意識させられることを30個から5個くらいに減らしてくれている感覚といってもいい。おかげでプレイしながらじわじわコツを掴み、同じく格ゲー非ガチ勢の友達とパーティーゲームのように遊び続けることができた。そのうちなぜか皆がザンギエフのパワープレイを擦り始めて収拾がつかなくなり、最終的に全員がその対策に詳しくなるというよくわからない展開があったが、それも含めて楽しい時間だった。
    </p>
    <p>
        ひとしきり遊んだあとはビアバーで呑み、駄弁り、現地の行きつけ客と話しながらのんびり夕食を食べた。このメンバーで集まるときはだいたいいつもこういう展開になる。今回も頭がズキズキするまで呑んでから帰宅し、翌朝のけだるい日差しを受けながらこの文章を書いている。
    </p>
    <h3>カフカ短編集</h3>
    <p>
        今週は『ドゥルーズ+ガタリ〈千のプラトー〉入門講義』作品社、『カフカ短編集』岩波文庫の2冊を読んでいた。前者はさすがに手に余る代物だが、合間に読んでいたカフカのほうは短編だけあってさくさくと読み終えることができた。
    </p>
    <p>
        有名な『掟の門』に始まり、『万里の長城』で終わるこの一冊。特に強い印象が残ったのは『流刑地にて』だった。将校は周囲の意思などおかまいなく何か一貫した目標を達成しようと躍起になり、しかもその目標が何なのかすら外から容易には読み取れない人間である。そういう人は現実でよく見るような気もするし、さりとてありがちと呼ぶにはあまりに強烈すぎる気もする。<br>
        また『中年のひとり者ブルームフェルト』はシンプルに愉快な作品だった。冴えない主人公がある日謎の二つのボールに付きまとわれる、これまた奇妙な短編。ボールが意思を持ったように動くこと自体は特に疑問を持たず、ただただ自分から大真面目に対決しに行くその距離感が心地いい。
    </p>
    <p>
        作品ごとにテーマや長さはさまざまであるが、たいてい「相手がなんらかの不明なルールに従っていて、やたらと融通が利かない」という感覚は共通している。最近読んだ『城』もそうだったが、カフカの作品はどれも総じて出てくる人物に人間味が薄く、どちらかといえば有機的なシステムを担うひとつの機能として、あるいは法則性をもってうごめく小さな生物個体として描かれているように感じる。それは良い悪いの話ではなく、ただカフカ自身の世界の見え方がそうなっているのかもしれないと思う。
    </p>
    <h3>灯を手繰りよせて</h3>
    <p>
        20日から開始したプロセカのイベント『灯を手繰りよせて』が28日に終了した。書き下ろし楽曲の『エンパープル』はもちろん、ストーリーにもたいへん満足している。
    </p>
    <p>
        朝比奈まふゆはひとつの磁場のような存在だと思う。人々はこの異質な存在を前にしたとき、決まってその姿をなにかのシンボルに託して写し取ろうとする。仮面。糸。マリオネット。うさぎ。卵。赤い林檎。あらゆる事物は彼女に触れ、その表面で新たな意味を獲得する。<br>
        言わずもがな、今回のイベントで明確にそのような寓意を与えられているモチーフは「手」である。まふゆが父親に手を握ってもらうとき、まふゆは、そして観客の我々は、その体験を一回きりの出来事ではなく、繰り返し立ち現れるものとして受け止めている。その手はかつてまふゆが父親に包んでもらった手であり、母親に冷たく引っ張られた手であり、側で自分を看病する奏に握られた手であり、あるいはフェニランで仲間に優しく導かれた手である。
    </p>
    <figure class="respimage">
        <img alt="まふゆを看病する奏の画像" src="/202406-2_1.png"/>
    </figure>
    <p>
        反復は対象に意味を宿す。まふゆの周りにあって、糸は制限へと、うさぎは愛着へと、林檎は愛情・暴力へと（ちょうどカフカの『変身』を引用しながら！）、次第にその意味を作り変えられていく。<br>
        そのように考えたとき、まふゆにとって手を握るという行為は、"温度を伝える"という特別な意味を宿しつつあると言っていいだろう。手を握れば相手の肌が触れ、体温が直に伝わってくる。それは当たり前のことではあるけれども、常に他人と壁一枚隔てて接するまふゆにとっては何よりも得がたい感触でもある。それに、普段「救う」や「寄り添う」といった抽象的なテーマを扱う空間にあって、相手の手を取る、という行為はこれ以上ないほどわかりやすいひとつの具現化である。<br>
        ニーゴは曲を作り続ける。そうして冷え切ったまふゆの手を握り、あるいは見ず知らずの誰かの手を握り、体温を分け合って安らぎを与え続ける。そうしているうち、いずれはまふゆも誰かの手を握る側になるのだろう。それはニーゴという集団の、ひとつの行きつくべき場所であるように思う。
    </p>
    <p>
        ともあれ、今回はまふゆ箱イベントとは思えないほど穏やかなストーリーになっていた。残る問題は数あれど、まずはそのことに一安心している。<br>
        そして同時に、次に来るであろう瑞希イベントに対するざわめきも膨らんでいる。今回のイベントの終わり方から察するに、いよいよついに、という局面だろう。その峠を超すのか、あるいはいつかまふゆに伝えたように逃げる選択を取るのか、どちらになるかはわからない。どちらでもいいとも思う。今はとにかく、良い結末に落ち着くことを祈るばかりだ。
    </p>
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="週記2024/06-2　SF6、カフカ短編集、灯を手繰りよせて - welame&#39;s page" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</Layout>

