---
import Layout from '../../layouts/Layout.astro';
const pageTitle = "週記2024/09-3　渋谷系、人類の会話のための哲学";
---
<Layout pageTitle={pageTitle}>
    <h1>週記2024/09-3 （9月16日）</h1>
    <p>今週は土・日・月と三連休をしっかり休息に使った。金曜に職場の大きな飲み会があり、その反動が来たのもある。何が言いたいかというと、週記に書くことがあまりない。</p>
    <p>代わりといってはなんだが、トピックとは別のこぼれ話をいくつか箇条書きでまとめておこう。</p>
    <p>・同人誌作業を少し行っていた。年表編集は久々で、よく使っていた構文などもあまり覚えていないため、感覚を取り戻しながらちまちま作業することになった。今のところ過去のメディア記事を漁っていく作業が主になるが、たまに「○○を発表します！」というプレスリリース記事の掲載日が公式アカウント等でのほんとうの発表日より遅かったりすると、あぁこんな罠あったなあと懐かしい気持ちになる。</p>
    <p>・プロセカのイベントストーリー『わんだほら～！？な肝試し』を読んだ。まふゆ×えむ、まふゆ×穂波という、需要に対する公式供給が圧倒的に足りていない組み合わせを突然お出しされてしまった。ありがとうございます。エリア会話でえむだけでなく瑞希までも震え上がらせるまふゆ好き。</p>
    <p>・VTuberのアニマさんからプレゼントとして自分の名前の変化形を作ってもらった。わいわい。Wはラテン語にないのでV（/w/音を兼ねる）になっているとか、母音を補う必要があるとか、古代語に合わせる都合でいろいろ工夫されているらしい。ところで前から思っているのだが、そもそも私の名前のラテン文字表記って"welame"でいいんだろうか。TwitterのIDを作るときの都合でひねり出した表記だが、存在しない言葉を名前に使っているとこういうときの正解がわからなくなる。</p>
    <blockquote class="twitter-tweet tw-align-center"><p lang="ja" dir="ltr"><a href="https://twitter.com/welch2929?ref_src=twsrc%5Etfw">@welch2929</a> 応援のお礼にうぇるあめさんの名前の変化形を作っておくね<br><br>ラテン語<br>主格 Veluamēs<br>呼格 Veluamēs<br>対格 Veluamem<br>属格 Veluamis<br>与格 Veluamī<br>奪格 Veluame<br><br>古代ギリシャ語(ドーリス方言)<br>主格 Ϝελυάμης<br>呼格 Ϝελύαμες<br>対格 Ϝελυάμεα<br>属格 Ϝελυάμεος<br>与格 Ϝελυάμει</p>&mdash; アニマ/Anima ʚ💗ɞ 小悪魔系女神ラテン語Vtuber (@anima_divina) <a href="https://twitter.com/anima_divina/status/1834618118347608154?ref_src=twsrc%5Etfw">September 13, 2024</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <p>今週行った配信は、競技タイピング雑談配信、NEEDY GIRL OVERDOSE配信の二つ。</p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/d-Zx998bfQY?si=SjCrBPAETMjX8X2Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p> </p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/GGHXCwAQa_0?si=49X2bzHWvdfh22pU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <h3>渋谷系</h3>
    <p>最近いわゆる「渋谷系」の曲を聴き始め、いたく感動している。</p>
    <p>渋谷系とは日本で1990年代に流行した、様々なジャンルを素地とする都市的でポップな音楽ムーブメント。個人的に好きな曲である『東京は夜の七時』のPIZZICATO FIVEもこのジャンルの代表的存在らしい。<br>
    ネットで調べると多くのプレイリストが見つかったため、それらをいくつかチェックし、原初とされるFlipper's Guitarをはじめとしたさまざまなアーティストの曲を聴いていった。おおよそ30年前と、現代においてはレトロに分類されるであろう時期の音楽だが、楽曲はいずれも非常にとっつきやすく、また魅力的なものばかり。小躍りするように弾むリズム。甘いボーカル。空へと突き抜けていくような開放的な音。紛れもなく自分の好きなジャンルだ。</p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/3d0ejbGvwJ4?si=4170aCeqTiQVco1N" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p>なお、この感動には個人的な事情も大いに関係している。というのもこのジャンルの曲、どれも音楽ゲームの『pop'n music』との強固な結びつきを感じさせるものばかりなのだ。<br>
    各種解説記事（<a href="https://realsound.jp/tech/2023/09/post-1444798.html">例1</a> <a href="https://note.com/orangehighlight/n/n5b195eba3f5c">例2</a>）によると、pop'n musicはそのオリジナル楽曲に渋谷系音楽の影響を色濃く反映していることが大きな特徴であるらしい。ポップス『I REALLY WANT TO HURT YOU』やソフトロック『Homesick Pt.2&3』をはじめ、数えきれないほどの「ポップンらしい」楽曲にそのような傾向の存在が指摘されている。また中田ヤスタカ自身がpop'nに楽曲提供を行っているように（プラスチックポップ「STEREO TOKYO」）、派生ジャンルであるネオ渋谷系等についてもその影響関係は存続しているらしい。そしてpop'nのサウンドディレクションの中核をなしてきたwacとTOMOSUKEもまた、渋谷系への志向を強く打ち出したアーティストとして知られているようだ。<br>
    私は高校生の頃からpop'n musicの熱心なプレイヤーで、ゲーム性のみならずそのお洒落でポップな楽曲群にも強い魅力を感じてきた。今回その音楽性のルーツ、いわば「元ネタ」のようなものに触れたことは、自分の長年の音楽体験の答え合わせをされているような、非常に刺激的な体験となったように思う。私の大好きだったwacの音楽は、TOMOSUKEの音楽は、いずれもここに同じ源流を持ち合わせていたのだ。こうなるともはや、なぜこんな金脈を自分はいままでスルーしてきたのか、と感じずにはいられない。何事も起源は辿ってみるものだ。</p>
    <h3>人類の会話のための哲学</h3>
    <p>今週読了した本は、以下の3冊。<br>
    ・北海道新聞空知「炭鉱」取材班『そらち炭鉱遺産散歩』<br>
    ・斎藤環『生き延びるためのラカン』<br>
    ・朱喜哲『人類の会話のための哲学: ローティと21世紀のプラグマティズム』</p>
    <p>『人類の会話のための哲学』は、アメリカのプラグマティストであるリチャード・ローティについて論じた哲学書。プラグマティズムとは、ものごとの「真理」や「価値」はそれがもたらす結果の良し悪しなどの実践的な基準によって決められなければならない、とする思想である。ローティはその中でも言語に焦点を当て、言葉の意味は実際の使用実践の場を離れてどこかに存在しているのではなく、あくまでその言葉がいかに使用されているかの機能の分析によって捉えられる、とする言語論的プラグマティズムを展開する。<br>
    そのようなローティの存在を20世紀アメリカ哲学の系譜に位置づけ、シェリル・ミサックなど後の哲学者によるローティ批判に応答しながら、その議論の価値を再評価していく、というのがこの本の趣旨である。言語機能の詳細な考察を行いながら話を進めていくため、内容はタイトルから想定されるよりはかなり堅い。</p>
    <p>個人的に印象に残ったのは、ローティの哲学がいかに現代的な問題に応用されうるか、という終盤の部分。<br>
    ローティの哲学の帰結として重要なワードのひとつに、「文化政治*」というものがある。これは、われわれが会話を行うにあたってどのような言葉（ボキャブラリー）を用いるべきであるのかを考える取り組みを指す。ローティのような言語哲学プラグマティズムの立場からは、ある言葉の意味は、その言葉が会話の中でどのような推論を可能にしているか、という点から測られる。「ライオン」という言葉を導入することは「ライオンであれば哺乳類である」「頭足類であればライオンではない」といった推論を生み出すことであり、推論主義にとってはまさにその推論機能こそが言葉の意味の正体なのである、こうなると、ある言葉を使うということは、それが生み出す推論、明示化する社会的規範をよしとすることでもあるのだ、という結論が導かれる。<br>
    この具体例として挙げられていたのが、ヘイトスピーチの問題である。ヘイトスピーチが「言葉の問題」で済まないのは、それがジェノサイドをはじめとする重大な差別行為に結びつくものだからである。表現の自由があらゆる言葉を擁護しようとすることで突き当たる困難もここにある。プラグマティズムの推論主義はこれを「言葉は推論を導入することで行為を正当化する」という視点から論じようとする。<br>
    ヘイトスピーチは、侮蔑語を使用して特定の集団を表現したり、「○○（属性名）は～～をする人間たちである」という主張を表明したりする言説である。そうした言葉を使用することは、われわれの言語空間に本来許容されていなかったような新たな推論を導入することにほかならない、と推論主義は捉える。そしてこうした言葉による推論導入が最悪の形に帰結した例として、元々人種的な違いのない二集団が「フツ」「ツチ」という言葉を通して分断され、ジェノサイドに至ったルワンダ内戦が挙げられている。推論は「○○なら～してもよい」といったように、しばしば行為を帰結としたり、それらを正当化したりする役割も果たしてしまうものである。だから「文化政治」、すなわち使用する言葉を吟味する営みは、ローティのような言語論的プラグマティズムの立場からは必然的に重要視されることになる。</p>
    <p>この辺りの話は、自分が現在並行して読んでいる『オリエンタリズム』とも通じる視点かもしれない。西洋は、東洋を研究するオリエンタリストたちがもたらした言説を集団内で反復し、再生産することによって、「われわれが支配すべき野蛮なアジア」を作り出し、その主導権を握り続けたのであった。<br>
    <b>われわれが言葉を使用するということは、その言葉が支えている言説空間を追認することでもある。</b>それが推論主義においては、言語の導入する推論機構の問題から語られる。人々は日常の言語実践において、みずからの意図が及ばないような責任を知らず知らずのうちに負っているのだ。</p>
    
    <p>*「文化政治」といえば朝鮮総督府の統治方針のことを指す歴史用語でもあるが、ここではCultural Politicsの訳語。</p>

    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="週記2024/09-3　渋谷系、人類の会話のための哲学 - welame&#39;s page" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</Layout>

