---
import Layout from '../../layouts/Layout.astro';
const pageTitle = "週記2024/07-3　好き？好き？大好き？、ドロッセルマイヤー退勤 in 大宮、panpanya";
---
<Layout pageTitle={pageTitle}>
    <h1>週記2024/07-3 （7月21日）</h1>
    <p>メーカーに勤めていると、機械の駆動音はつねに身近なものとして存在している。たいていは分析機器なのでそううるさいものでもないが、場所によっては製造用の大型機械が密集し、扉を開けるやいなや低い騒音が流れ出すようなところもある。暑っ苦しくてやかましいと周りの人はあまり好まないスペースだが、脳の余計な部分を埋めてくれるような感じがして私は好きだ。</p>
    <h3>好き？好き？大好き？</h3>
    <p>今週読み終わった本は、ヘレナ・ローゼンブラット『リベラリズム 失われた歴史と現在』三牧聖子・川上洋平訳、丸谷才一『文章読本』、そしてR・D・レイン『好き？好き？大好き？』村上光彦訳の3冊。</p>
    <p>『好き？好き？大好き？』は精神科医レインが患者の声をもとにして作り上げた詩集であるが、想像していたよりはだいぶ大人しい作品だと感じた。ステレオタイプな狂気を感じさせるものは序盤の「つぶやき」くらいのもので、あとは沈静したうわごとのような思考が幼げな筆致で綴られる。<br>
    激しさがないぶん、内容はかなり苦しげ堂々巡りのものが多い。詩の大半は会話、とりわけ"彼"と"彼女"の二人の会話から成り立っているが、その話はお互いに閉鎖的で、一歩も歩み寄ることがない。ことにFOURの『どうにもしかたがない』は印象的だ。</p>
    <p>（前略）<br>
    彼　　きみはなぜ　ぼくにきみをたすけさせてくれないのかね？<br>
    彼女　どうやって？<br>
    彼　　もっと気むずかしくなくなることでだよ<br>
    彼女　どうやって？<br>
    彼　　ぼくの質問に答えてくれたまえ<br>
    彼女　あなたの質問ってなんだったかしら？<br>
    彼　　ぼくはさしあたり　質問に答えるのではなく質問をだしているんだ<br>
    彼女　それならあなたの質問ってなんだったかしら？<br>
    彼　　きみはなぜ　そんなに気むずかしいのかね？<br>
    彼女　わたしは気むずかしくはないわ<br>
    彼　　それならきみはなにが不満で苦情を言っていたのかね？<br>
    彼女　苦情なんて言っていなかったわ<br>
    （後略）<br>
    （R・D・レイン『好き？好き？大好き？』村上光彦訳　河出書房新社）</p>
    <p>こんな調子の膠着した会話が19ページの長尺で続く。絶望的だ。ガラス張りの壁を隔てて話しているのとたいして変わりはない。あるいは、普段から心がガラス張りで世界と隔離されてしまっているからこそ、このような言葉は紡ぎ出されるのだろうか。<br>
    実際のところこの"彼"は精神科医のメタファーであり、制度的な治療を通して患者の主体性を奪うその態度を批判している、と読むのが一般的であるようだ。「ここには本物の言葉しかない」とはこの本の帯が掲げる謳い文句であるが、このような不自由と閉鎖の先に産み出される言葉を人間本来の言葉と呼んでいるのだとすれば、それはずいぶんとシビアな現実認識だと思う。</p>
    <h3>ドロッセルマイヤー退勤 in 大宮</h3>
    <p>『ドロッセルマイヤーさんのさんぽ神』というボードゲームがある。本をパラパラとめくって「どの場所で」「何をする」の2つのお題をランダムに引き、実際にそれに従った散歩をする、というゲームだ。出されるお題の例としては、2駅先で電車を降りて/入ったことのない店に入ろう、カッコいい地名の場所で/スキップして歩こう、などなど。<a href="https://www.youtube.com/watch?v=G0XZvZqmj2I">にじさんじの月ノ美兎が動画で遊んでいた</a>こともあり、かねがね興味を持っていたゲームのひとつだった。</p>
    <p>最近きまぐれに調べてみると、どうやら物理的な本だけでなくスマホアプリも出ている様子。早速ダウンロードして、退勤後にアプリで出されたお題を一つクリアしてから帰宅する、という遊びを試してみた。ドロッセルマイヤー退勤といったところだ。</p>
    <p>今回引いたのは、「3つ目のバス停で降り」、「歴史的な遺物を探してみよう」、というお題だった。少し寄り道して埼玉の大宮駅で降り、用事を済ませてから適当なバスに乗り込む。</p>
    <figure class="respimage">
        <img alt="大宮駅前" src="/202407-3_1.jpg"/>
    </figure>
    <p>大宮駅西口。大宮アルシェのビジョン（写真中央下）に埼玉バーチャル観光大使として頑張っている春日部つくしが映し出されており、だいぶ嬉しい気持ちに。</p>
    <figure class="respimage">
        <img alt="降りたバス停" src="/202407-3_2.jpg"/>
    </figure>
    <p>放り出されたバス停。辺りはすっかり暗くなり、広々とした車道をスーパーマーケットの暖色光が照らしている。なんというか、本当に住宅街だ。あとで時刻表を確認したらバス停4つぶん乗っていたらしいが細かいことは気にしない。</p>
    <figure class="respimage">
        <img alt="道" src="/202407-3_3.jpg"/>
    </figure>
    <p>歩きながら、ここは来る場所ではなく帰る場所だ、と思う。どこかで見たようなパーツの並ぶ、初めてなのに既視感のある街並み。いやミニストップはあんまり見たことないかもしれない。少しうきうきで入店し、おにぎりを買って持ち歩く。街灯はあるけれども、道はだいぶ暗い。</p>
    <figure class="respimage">
        <img alt="交差点" src="/202407-3_4.jpg"/>
    </figure>
    <p>この浮島のある交差点がね、いいんですよ。夜中は人通りも少ないため、我が物顔でのんびりと渡る。</p>
    <figure class="respimage">
        <img alt="並木氷川神社入口" src="/202407-3_5.jpg"/>
    </figure>
    <p>お題の「歴史的な遺物」のある並木氷川神社に到着。大宮には氷川神社という有名な神社があるが、そことはまた別のところである。拝殿の灯が宵闇にぼうっと光り、無人の境内になにか近寄りがたい雰囲気を与えている。中には『明治廿七八年同三十七八年戦役記念碑』という三本の石碑が建てられており、これが今回のお題を満たしそうだ。</p>
    <p>適度な疲労感を抱え、帰路につく。私は暑さには多少強いので、今のこのくらいの時間帯であれば体を包む熱気もだいぶ心地よく感じる。楽しかったので、定期的にこの遊びは続けようと思う。</p>
    <h3>panpanya</h3>
    <p>panpanyaの漫画作品集を買った。Amazonにあるだけ全巻だ。早速『おむすびの転がる町』などいくつかの作品を読んだが、これが非常に面白い。体裁としてはエッセイ漫画に近いが、「ツチノコを捕まえて論文を書くことになった」「地下に入り組んだ巨大な街を発見した」など各エピソードには突飛な状況が挿入され、全体としてどれも架空色の強い話に仕上がっている。主人公は探求精神が旺盛であり、直面した状況を思いのままに観察し、出会った人（？）と交流し、やがてはその場に馴染んでいく。その過程は読み進めるほど新たな発見に満ちており、そしてあたたかい。</p>
    <p>この漫画はまた、人工物に対する強い愛着の心を一貫して感じさせる。『おむすびの転がる町』の中だと、リサイクルショップの話がとくに顕著だ。雑貨やガラクタを文字通りなんでも買い取り、店頭に並べ続ける巨大な店。コマの中には所狭しとモノが描き込まれ、そのひとつひとつが過去を持ったものとしてその重みを読者に伝えてくる。壮観な絵面だ。<br>
    そのようなモノへの愛着は、街中を歩く場面でも存分に発揮されている。作品内では街を探索しながら隠された秘密を解き明かしていく展開が多いが、街中に置かれた要素から少し変わったところを目ざとく見つけ、どうしてその状態に至ったのかとことん探求していくやり方には毎度感心させられる。そして直接触れられない背景の事物についても、電柱や看板などさまざまなものがディテールを詰め込まれた形で描かれている。普段からよく周りを観察し、よく愛でているからこそ、このような話作り、絵作りが可能になるのだろうと思わされる。私はこのような「散歩のうまい」タイプの人を常々うらやましいと感じている。他の作品もゆっくり読んで楽しもうと思う。</p>
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="週記2024/07-3　好き？好き？大好き？、ドロッセルマイヤー退勤 in 大宮、panpanya - welame&#39;s page" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</Layout>

