---
import Layout from '../../layouts/Layout.astro';
const pageTitle = "週記2024/08-4　『社会はなぜ左と右にわかれるのか』：リベラル左派と保守主義、東京都写真美術館";
---
<Layout pageTitle={pageTitle}>
    <h1>週記2024/08-4 （8月25日）</h1>
    <p>今週は、ゲーム『Ib』実況配信、勉強・作業配信の2本のYouTube配信を行った。</p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/Ul_YTgiSiPE?si=TLbcxaLnSx9CHSys" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p> </p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/IPrcrLqPYfY?si=Y9lKl1ibKD6WyIzx" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p>配信時間や内容などは今後も徐々に試行錯誤していく予定。よろしくお願いします。</p>
    <h3>『社会はなぜ左と右にわかれるのか』：リベラル左派と保守主義</h3>
    <p>今週読了した本は、<br>
        ヴィクトル・ユゴー『レ・ミゼラブル（下巻）』永山篤一訳<br>
        倉本香・森田美芽・沼田千恵・上田章子・岡村優生『装いの不自由』<br>
        武田泰淳『新・東海道五十三次』<br>
        櫻田潤『インフォグラフィック制作入門』<br>
        エドワード・Ｗ．サイード『オリエンタリズム（上巻）』今沢紀子訳・板垣雄三監・杉田英明監<br>
        ジョナサン・ハイト『社会はなぜ左と右にわかれるのか』高橋洋訳<br>
        の6冊。</p>
    <p>『社会はなぜ左と右にわかれるのか』は、政治的に異なる信念を持つ複数の集団について、その道徳の捉え方の違いをハイト独自の道徳心理学理論から分析しようとする本である。現代アメリカ社会における共和党と民主党の対立を具体的背景としており、とりわけリベラル左派と保守主義者の道徳的基準を関心の中心に置く。<br>
    原題サブタイトルは"Why Good People Are Divided by Politics and Religion"であり、日本語タイトルはいくらか意訳的になっているが、内容からいえばこちらの言い方がわかりやすいだろう。もっと言うならば、「左と右はいかにして互いを理解できるか」としてもよい。</p>
    <p>この本のもっとも特徴的な点のひとつは、道徳はわれわれが思っているよりもきわめて多くのものを直感や情動に委ねている、という理性主義へのカウンター的なスタンスだろう。著者はさまざまな研究成果を通し、「われわれはまず理由なしに直感で道徳的判断を下し、理性はその説明役としての従属的な役割を負っている」というヒューム的な直観モデルを支持する。またその判断時に働く「道徳基盤」の候補として、＜ケア＞＜公正＞＜自由＞＜忠誠＞＜権威＞＜神聖＞の6つを提唱する。これらは全ての人に一様に機能する基準ではなく、いわゆるリベラル左派はケア・公正により大きな注意を払う一方、リバタリアンは自由に極端な関心を払い、また保守主義者は6つ全ての基盤に依存して考える傾向がある、ということがデータを通して示される。「なぜそうなるのか」の考察は基本的に進化生物学によっており、そのストーリーには議論を加える余地が大きく残されているだろう。しかし「現実はどうなっているのか」という記述的な面にすぐれた整理を与えている点で、きわめて示唆に富む本であることは間違いない。</p>
    <p>立場を超えた理解をひとつのテーマとしているだけあって、それぞれの政治的立場の長所・短所はハイト独自の道徳基盤理論に照らし合わせながら丁寧に記述されている。私はリベラル左派の立場から読んだが、どの立場の人間であっても得られる知見は多いだろう。<br>
    まずリベラル左派は先の説明の通り6つの基盤のうちケアと公正に大きな注意を払うが、それは裏を返せば他の要素、特に忠誠・権威・神聖の3要素を無意味なものとして安易に切り捨てがちであるということを意味する。人は合理的な範囲（ミルの危害原則等）を超えてまでなお何かに従わなければならない、という信念を私は好んで採ろうとは思わないし、それは我々世代やその親世代の多くの人が共有する感覚でもあろう。しかしそこには概して社会的な視点、すなわち個人たちがいかに協力関係を維持していくかという視点が欠けがちであることを著者は警告する。集団が内部で規範を共有し、所属者にそれを求めることは、たんなる束縛や排他ではなく、利己主義を抑え、過剰な交流コストなしに人々の協力を長続きさせる明確なメリットも有する。また「自らが所属すべき上位の実体をなんら認めない人に高い目標を持つことはできない」というデュルケーム的な指摘も、内容として決して受け入れがたいものではない。そしてこれらを実現するものとして、忠誠・権威・神聖という要素は歴史上大きな役割を果たしてきたのである。近年無神論に押されつつある宗教という営みも、この観点から再評価がなされる。当たり前であるがゆえに自らが享受していることを忘れがちになるいくつかの価値を見逃すことで、被抑圧者へのケアという元々の望みがかえって遠ざかることのないよう、リベラルは肝に銘じていくべきなのだろう。<br>
    勿論保守主義者はこの点堅実である。6つの道徳基盤を用いているため、ある変革が社会の道徳構成に与える影響を比較的敏感に認識することができる。しかし言うまでもなく保守主義者にもまた盲点は存在する。そもそも社会を結束させ秩序を守ることで道徳を維持するというビジョンが絶え間なく抗議を受け続けてきたのは、何も利己主義のためだけではなく、そのビジョンがあまりにも多くの犠牲者を生み、また権力者の搾取を容認してきたからであった。保守主義者は（リベラルの一部から持たれているイメージと異なり）ケア基盤を支持しないわけではないが、秩序の外でつねに生じている不幸に対する問題意識は相対的に小さくならざるを得ない。我々の社会の制度はつねに改善の可能性を含んでおり、また時間の経過による外的変化にも適応していかなければならない。被抑圧者の声に真摯に耳を傾けることは、そのように社会を改善し、崩壊に至る歪みを直していくためには不可欠な姿勢である。リベラルがそうすべきであるのと同様、保守主義者もみずからの関心の外にあるものに目を向け、より創造的な心構えで社会のダイナミズムを見つめることが肝要になる。</p>
    <p>われわれは第一に直観的存在である。それはどの立場であっても変わらない。ゆえに、対立が激化し、また論題がクリティカルなものになっていくほど、我々は相手が何かしらの正義を希求していることを忘れがちになる。お互い目に入れようとしないものがあること自体は事実であるから、その心理的傾向はなおさら強化される。<br>
    われわれは今こそ「補い合い」という基本、すなわち互いの洞察の長所を組み込んで結論を出すべきであるという基本に立ち返る必要がある。そのためには、おそらくたんに気立てとして寛容であるだけでは足りない。互いに辿ってきた歴史的文脈を知り、それらが異なる形で人々の道徳的心理に訴えかけていることを理解し、その調停を図らなければならない。この本では個人の道徳判断において従属的な立場にあるとされる「理性」は、まさにこの調停の筋道を開き、個々人の判断制御を超えた集団的な善へと人々を導くためにこそ、大きな能力を発揮していくのだろう。</p>
    <h3>東京都写真美術館</h3>
    <p>東京都写真美術館の展示をいくつか見に行ってきた。</p>
    <figure class="respimage">
        <img alt="会場入り口" src="/202408-4_1.jpg"/>
    </figure>
    <p>・いわいとしお×東京都写真美術館 光と動きの100かいだてのいえ</p>
    <p>メディアアーティストにして、絵本『100かいだてのいえ』作者でもある岩井俊雄の作品展。アニメーション装置や、絵本の原画など、本人のさまざまな作品が展示されている。</p>
    <p>会場に入ってまず目を引くのは、小学生時代の工作ノートやパラパラ漫画といった、子どもの頃に用いられていた展示品の数々だった。ひとつひとつは素朴で、言ってしまえばそう大したクオリティのものではない。しかしそのハンドメイド的な「映像」への関心はとどまることを知らず、次第にゾートロープなどのより複雑なアニメーション装置の制作に関心が移っていった、ということが展示の流れから次第に示される。これらの作品群はもっぱら岩井の個人的興味が生み出したものなのであるが、それは奇しくも昔の映像産業が試行錯誤を繰り返してきた道とも相通じるものであった。時代の異なるこの二つの道はやがて合流し、岩井は「19世紀のメディア技術の再発明」というコンセプトのもとにさらなる創造活動を続けていくことになる。幼少期のプリミティブな情熱を維持しながらも、そこに概念を与え、新たな表現手法を次々に発展させていく。この一人の人生を追うような展示の見せ方が見事であると感じた。個人的なお気に入りは生物のような抽象的な模様が鉢の中で動き回る『光の驚き箱』。</p>
    <p>なお絵本作家だからか、このフロアの来場者は他の階と比べても明確に子連れが多かった。子どもたちのキャッキャとした声を聞きながらの鑑賞体験は、静かな空間での鑑賞とはまた別の趣があった。ときには「来年の自由研究これだね」という言葉も聞こえてきて、先人の残した創作物が新しい世代のものづくりを刺激する、そんなバトンタッチの一場面を垣間見る思いだった。</p>
    <p>・今森光彦 にっぽんの里山</p>
    <p>写真家・今森光彦による全国の里山を写した写真展。たまたまサイン会や上映会が開催されていた日らしく、入り口前の特設コーナーにはご本人がいらっしゃった。</p>
    <p>写真を通して自然を見るとはどういうことか、展示物を前にして少し考える。田畑の風景。山や川。動物や虫の姿。プロの写真家の手で切り取られたそれらを、たんに綺麗な写真の集合として消費することはたやすい。綺麗な自然とは、いわばイデアとしての自然である。それは多数性、個別性を獲得する前の、なにか単一の原型のようなものとして受け取られることになる。<br>
    しかし実際にわれわれが田舎で出会う自然とは、そうしたものではない。本来の自然はもっと雑然としており、必ずしも快に限らないさまざまな感覚を伴って我々の前に現れる個別的なものである。その言語化できないほど豊かな味わいに、われわれはほのかな愛着を覚えるのであった。<br>
    そのように人間が直接触れうるものとして、また事実触れられているものとしての自然を捉えることが、この特別展のひとつの眼目であったように思う。題名にもある「里山」とは人間と自然が共生する環境であり。ひとつの境界線である。現代の日本において全く手つかずのまま残っている自然というのはもはやそう多くはない。自然はみずからを構成するだけでなく、そこにいる人間の影響を受け、共存するように育っていくものでもあるのだ。風景という表層の中にそのような交流の要素を感じ取り、意味という次元を見出していくことで、並べられた写真たちはまた違う一面を見せるように感じた。</p>
    <p>個人的なお気に入りは『柴胡の収穫を喜ぶ』『屋根裏の茅置き場』。前者は収穫物の柴胡を抱えた農家の二人を、後者は屋根裏部屋の電燈の下に並ぶ茅を映した写真である。農作業は忙しく、撮影のためといっても大量の農作物をいちいち綺麗に整えてみせるわけにはいかない。必然的に画面のなかにはアンコントローラブルな被写体が入り込むことになり、アクセントとなって写真全体にある種の活力を与えることとなる。これもまた、人間と自然の交わりのリアルを映し出すひとつの要素である。</p>
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="週記2024/08-4　『社会はなぜ左と右にわかれるのか』：リベラル左派と保守主義、東京都写真美術館 - welame&#39;s page" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</Layout>

