---
import Layout from '../../layouts/Layout.astro';
const pageTitle = "週記2024/11-2,3　拡張される音楽、誕生日、石と科博、コミティア、タイピング大会";
---
<Layout pageTitle={pageTitle}>
    <h1>週記2024/11-2,3 （11月4日～17日）</h1>
    <p>最近M-1の3回戦の動画をいろいろ見ている。個人的な一押しは真空ジェシカやマユリカ、滝音、ひつじねいりあたり。コーツ、イチゴ、人間横丁、涼風など、初めて知って気に入ったコンビもたくさんあった。</p>
    <h3>読んだ本</h3>
    <p>先週と今週で読了した本は、以下の8冊。<br>
        ◆モーティマー・Ｊ・アドラー、チャールズ・Ｖ・ドーレン『本を読む本』外山滋比古、槇未知子訳<br>
        ◆桜井厚『境界文化のライフストーリー』<br>
        ◆外山滋比古『乱読のセレンディピティ』<br>
        ◆東儀秀樹『雅楽』<br>
        ◆よしもとばなな『さきちゃんたちの夜』<br>
        ◆草深会『抗いの青春 戦中を生きぬいた静岡高校社研運動の系譜』<br>
        ◆スーザン・ソンタグ『他者の苦痛へのまなざし』北條文緒訳<br>
        ◆現代思想2018年4月号 特集＝現代思想の316冊</p>
    <p>雑多にいろいろ読んだ。途中おっくうになってmastodonでの読了ポストをサボっていた。</p>
    <h3>行った配信</h3>
    <p>先週と今週で行った配信は、タイピング定期配信×2、誕生日配信、雑談配信の4本。</p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/FByZabxxpkM?si=PKkommrNzoO9spV3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p><br></p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/PQ8s1zwBL7A?si=uyWQ1S5Vsyt2e7NC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p><br></p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/_a_NodVKNnE?si=PDTtCmCqO5u_W1n3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p><br></p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/j4TB_WfcTic?si=bM4DqMc_oAE4yZr7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    <h3>投稿記事1：魔女方式1stアルバム感想記事</h3>
    <p>『キセツに魔法をかけるレシピ -"How to"- 』感想 魔女たちの反時間<br>
    <a href="https://welame.netlify.app/article/majohousiki">https://welame.netlify.app/article/majohousiki</a></p>
    <p>好きな音楽ユニット「魔女方式」の1stアルバムが家に届いた。良かった。<br>
        感想はもともとこの週記に書く予定だったが、いろいろ語りたくなったので独立記事にした。はるまきごはん・いよわ記事で話したことと通じるものがある内容だったな、その文脈のなかでこのアルバムの良さやオリジナリティを語ると面白そうだな、と思ったので勢いのままに書いた。
        </p>
    <p>「成長・変化への恐れ」を真剣なテーマとして共有できるのはユースカルチャーならではの特権だと思うし、そうした悩みをも自在に人を魅了する作品に昇華してしまうクリエイターたちの才能は、眩しい。</p>

    <h3>投稿記事2：タイピング関係</h3>
    <p>ローマ字入力において「ん」は「n'」で打てる<br>
    <a href="https://welame.hatenadiary.com/entry/2024/11/15/015343">https://welame.hatenadiary.com/entry/2024/11/15/015343</a></p>
    <p>以前からいろいろなところで話していたトピックを、改めてひとつの記事にまとめた。情報は積極的にストックしたほうがいい。<br>
        調べ物の過程でかつてはローマ字変換システムにもJIS規格が存在していたことを知り、興味深いと思った。しかもこの規格ではもうひとつの特殊入力であるxn→「ん」の変換が指定されていないことを知り、二度びっくり。タイピング競技においてはこちらの仕様のほうがはるかに馴染み深いため、n'があればxnもてっきり載っているものだと思っていたのだ。後発で出てきたのかそれとも当時たまたまこの規格に載らなかっただけかはわからないが、正統性という意味ではむしろn'の方が良い立場を与えられていたらしい。</p>
    <p>この記事がきっかけなのかはわからないが、ここあさんが自作タイピングゲームに早速n'入力を導入していた。最前線。</p>
    <blockquote class="twitter-tweet tw-align-center"><p lang="ja" dir="ltr">ローマ字「ん」のn&#39;入力に対応しました。最前線のタイピングゲーム <a href="https://t.co/OJfQXUuYOk">https://t.co/OJfQXUuYOk</a></p>&mdash; 中原ここあ (@tt_cocoan) <a href="https://twitter.com/tt_cocoan/status/1857629286188068971?ref_src=twsrc%5Etfw">November 16, 2024</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

    <h3>『拡張される音楽』展</h3>
    <p>仕事帰りに、展示会『拡張される音楽』の第一週に行ってきた。もちろんはるまきごはんの作品『聴心』目当てだ。</p>
    <blockquote class="twitter-tweet tw-align-center"><p lang="ja" dir="ltr">🍚EVENT<br><br>昨年12月に大阪で開催された『拡張される音楽』の巡回展が東京で開催されます<br><br>はるまきごはんの作品「聴心」は第１期に展示されます<br><br>巡回展『拡張される音楽』<br>11.7（Thu）～11.30（Sat）　※日・祝休館<br>東京・虎ノ門 SIGNAL<br><br>第１期：11.7（Thu）～11.15（Fri）<a href="https://t.co/rb7Qm4SkTC">https://t.co/rb7Qm4SkTC</a> <a href="https://t.co/aiovfyqSCI">pic.twitter.com/aiovfyqSCI</a></p>&mdash; スタジオごはんOfficial (@studio_gohan) <a href="https://twitter.com/studio_gohan/status/1853640883603669109?ref_src=twsrc%5Etfw">November 5, 2024</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <p>会場は虎ノ門にあり、駅を降りるなり港区のきらびやかな街にお出迎えされた。道を歩いていてやたら大きなビルがあるなと思っていたら虎ノ門ヒルズだったり、交差点を曲がったら急にライトアップされた東京タワーが見えたり、サプライズでどんどん名所が繰り出されて面食らう。</p>
    <p>到着前に何か食べていこうと思いGoogleマップで店を探したところ、鮎ラーメン屋という気になる看板を発見。本当にあるのかこういう店。</p>
    <figure class="respimage">
        <img alt="鮎ラーメン" src="/202411-2_1.jpg"/>
    </figure>
    <p>出てきたのは写真の通り、あっさりスープの上にまるごと一尾の鮎を乗せたメニューだ。繊細にして豪快。<br>
        鮎は非常に美味しかった。表面にほどよく焦げ目がつく焼き加減で、やわらかい身を口に入れるたびに香ばしさがふわりと広がる。ガツンと来る味ではなく、ほんのりと幸せな気分になれるような、そういう味だ。丁寧に調理していることが伝わってきた。<br>
        ラーメンのほうは、よく分からなかった。スープはかなり薄めの味で、なにか鮎？の出汁？の味を探し求めるよう促されているのは分かる。分かるのだが、具体的に何を感じ取ればゴールにさせてもらえるのかよく分からない。探し物がわからないまま探し物をしている状態で、これなのかな？なんとなくそんな気はする……そうかな……？という曖昧な心理のまま終始食べ進めていた。美味しいは美味しいので満足感はあったが、なにか負けた気がする。</p>
    <p>しばし散歩を満喫したあと、目当ての会場に到着。入場は無料で、バーを併設したワンフロアにいくつかの作品が展示されていた。はるまきごはんの作品『聴心』は、その中でも一番奥の一室にあった。<br>
        「一回性の音楽」をテーマとするこの展示会において、この作品は鑑賞者が自由に動かせるフェーダーを用い、その自在な混合によって人間心理を描くことを試みていた。フェーダーの各つまみはそれぞれ特定のシチュエーションに結びついたひとつの気分に対応しており、それらのBGMを同時に鳴らすことで未知の音楽が現れ出る、という仕組みだ。</p>
    <p>人間の心をひとつの単線的な意識として捉えるのではなく、さまざまな思考の流れが共存した集合体として感じ取る。テーマとしてはそう真新しいものではないが、はるまきごはんの世界観でコーティングされると、それは個人化されたオリジナルの作品へと昇華する。<br>
        いま聴こえている音楽は、第一には目の前にいる人物の気分そのものとして読み取るべきものだ。しかし同時に各成分のモチーフは、はるまきごはんが過去に公開してきたさまざまな作品と結びつく内容のものでもある。その意味でこれは、作者自身との交流の音楽でもある。そして第三にこの音楽は、鑑賞者である自分が介入し、もっぱらその身体動作によって決定されたものである。相手のものとして読み取ろうとしている気分は、実のところ自分自身の投げかけの残響でもあるのだ。自己と他者とその内奥、さまざまな層を行き来しながら、この音楽は揺れ動く。<br>
        ノスタルジックで気の利いた演出のおかげもあり、シンプルながらさまざまな思考を喚起し、またそれに浸ることのできる面白い展示だった。</p>
    
    <h3>誕生日</h3>
    <p>11月11日、25歳の誕生日を迎えた。</p>
    <blockquote class="twitter-tweet tw-align-center"><p lang="ja" dir="ltr">これは別に読まなくてもいい手紙です <a href="https://t.co/LgPnUsFwAc">pic.twitter.com/LgPnUsFwAc</a></p>&mdash; うぇるあめ (@welch2929) <a href="https://twitter.com/welch2929/status/1855627328770146463?ref_src=twsrc%5Etfw">November 10, 2024</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <p>日付変更の数時間前、ふとした思い付きでレターセットを買ってきた。せっかくの記念日だから、手書きで何かを書いてみたいと思ったのだ。<br>
        私は競技タイピング勢なので、キーボードであれば口で喋るのとそう変わらないペースで文章を書き込むことができる。頭の中の情報を流し込み、それらを整列して話を広げていくための文章であれば、このハイスピードな能力はうってつけだ。しかしペンで手書きするとなるとそうはいかない。一文字一文字、Backspaceもないままこつこつ手を動かしていかなければいけない。面倒くさいし、神経も使う。そのために書かれる文章は必然的に、複雑さをそぎ落とし、率直に言いたいことをまとめる素朴なものになっていく。薄皮がむかれ、シンプルな心情が浮かび上がってくる。<br>
        そうして出てくる言葉が弱音であったというのは、ちょうど今の自分の写し鏡のような事実だ。私はこれまでの人生をそれなりに誇りに思っているが、同時にその絶対的な薄弱さにも気づいている。足りない。そういう内奥の声だけがただ今日と明日の自分を生かす。そうしてまたふらふらと進んでいった先に、26歳になる自分は何を書くだろうか。</p>
    
    <h3>石と科博</h3>
    <p>最近、『瑠璃と宝石』という漫画を読んでいる。キラキラしたもの好きの主人公ルリが大学院生のナギと出会い、山や川など各地での鉱物採集に没頭していく話だ。<br>
        内容は非常に本格的で、さまざまな石の種類と性質、採集と同定のための調査方法、そして石が生み出され運ばれてくるまでの地球規模の動き、そうした要素が教え役となるキャラクターたちを通じて存分に盛り込まれている。また知識をたんに伝達するのではなく、みずから仮説と調査を繰り返してその奥にある世界に迫っていく、そうした探求の過程が重視されているのも良い。石や鉱物は人間の時間基準を遥かに超えるようなダイナミズムによって形成されたものであり、その来歴を探ることは必然的に見る者のスケール感覚の変容を迫る。その壁を跳躍する瞬間のえもいわれぬ崇高感が、この漫画では幻視的な演出をもって幾度となく描かれる。面白い作品だと思う。来年はアニメ化の予定もあるということで、とても楽しみにしている。</p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/JO4-UjMwLYM?si=9VpurFSgyPMF9FZT" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p>そんなわけで、週末に国立科学博物館に遊びに行ったときも鉱物関連の展示にずいぶん心惹かれた。<br>
        ちょうどよいことに科博は現在、常設展内の企画として鉱物に関する回廊展示を行っている。目玉となるのは福島で採集された新種のレアアース鉱物「宮脇石」だ。先月論文化されたばかりのこの石は、イットリウムを中心とした特殊な結晶構成の鉱石だという。展示されていたのはその実物の摸式標本だ。もっとも標本中の結晶自体は肉眼では見えないほど微細であり、これが宮脇石か……！という感慨に浸ることは難しかったのであるが。またその横の一室では日本各地で採集された鉱物のコレクション（櫻井鉱物コレクション）が部屋一面に展示されており、見ごたえがあった。含まれる成分の多様さゆえ、石によって形も色合いもさまざまだ。菱マンガン鉱の淡いピンク色やブロシャン銅鉱の暗く光る青色などは生で相対すると特に心地よい質感を持って目に入ってきた。<br>
        漫画から影響を受け、その流れで行った博物館にもまた刺激を受ける。我ながらちょろいものだと思う。</p>
    
    <h3>コミティア150</h3>
    <p>同人誌即売会のコミティア150に行ってきた。初参加だ。もともとは忙しさから参加を見送る予定であったが、カタログをあらかじめ買っていなくても当日参加が可能と知り、すぐに行く決心を固めた。</p>
    <p>開場時間から少し経った11時40分ごろ、りんかい線でビッグサイトに到着。カタログ購入者列に並ぶこと十数分、ホールに入るまで並ぶこと数分。確かに混雑はしていたものの、一度コミケを経験してしまえばこのくらいの待ち時間は無いも同然だ。ウキウキの心のまま、会場に入る。<br>
        Twitterであらかじめチェックしていたサークルを回り、その道中で気になった頒布物もどんどん買っていく。文章、漫画、ニッチなレポート本。なんでもありの一次創作が相手であるから、提示される感性もよりどりみどりだ。自分のアンテナに身を任せ、揺蕩うように歩き回る。バッグだけでは足りないだろうと用意しておいた紙袋はみるみるうちに満杯になった。財布は空になった。</p>
    <p>そうだ。私はこういう場所が一番好きだったのだ。なんだか、以前VTuberを狂ったように追っていたときの気持ちを少し思い出した。<br>
        あの文化も第一には、一次創作のビッグバンとして生まれた文化だ。たくさんの精神がひとつの場に集まり、個の形に合わせたコンテンツを生み出していく。業界の礎を築き上げた「四天王」も、それに続いた人々も、同じ心を持つ存在は一人だっていない。人格という交換不可能なものを柱に、皆が一国一城の主として振る舞う。視聴者もまた自分の人格を携えてその深みに入り、共鳴する場所を探していく。そのようなバラエティのある場所として、私はVTuber文化を見ていた。バーチャルがどうとか、美少女美青年がどうとか、そうした外形的な要素は私の中では二の次でしかなかった。個が個のまま多様な形で凝結し、受け手が深みに分け入れば分け入るほど自分に響くものを探し当てることができる。そのインタラクティブな深さこそ、自分が生活のなかでもっとも欲していた部分なのだ。<br>
        思えば私がいま引き寄せられるようにさまざまな同人イベントをめぐっているのも、これと同じ理由によるものなのだろう。コミティアはその中でも特に並ぶ表現が自分好みで、掘っても掘っても掘りつくせない物量を生み出しているように思えた。</p>
    <figure class="respimage">
        <img alt="入手品1" src="/202411-2_2.jpg"/>
    </figure><br>
    <figure class="respimage">
        <img alt="入手品2" src="/202411-2_3.jpg"/>
    </figure><br>
    <figure class="respimage">
        <img alt="入手品3" src="/202411-2_4.jpg"/>
    </figure>
    <p>入手品はこんな感じ。ゆっくり読んでいきたいと思う。</p>

    <h3>Warriors of Typing</h3>
    <p>オンラインタイピング大会『Warriors of Typing S6 -秋の陣-』に出場した。スイス式トーナメントで1対1の対戦を繰り返す大会だ。結果は9位だった。半分より上に行きたかったが、残念。<br>
        公式配信ではunused_HALさんとの1試合目が放送された。</p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/qPGYX33yXxw?si=TEC6Ssr-DlOkvgt8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p>この大会に前回出場したのはSeason3のとき。今回開催されたのはSeason6であるから、非常に久しぶりの出場となる。前回は緊張でガチガチになり、終始感覚が浮遊した状態でタイピングをしていた記憶がある。しかしあれから実力が上がったこともあり、今回の大会では打鍵感を見失う時間を最小限にし、かなり安定したタイピングができていた。mullerさん（全国準優勝複数回。今大会の大ボス）やれんこんさん（新進気鋭の上位プレイヤー。卓越したトップスピードでバンバンワードを取ってきた）との対戦を落としたのは仕方ないとして、それ以外は内容として悪くなかったように思う。ほぼ完全に同格である3の倍数さんとの試合を取り切れていれば6位まで浮上できた可能性があるが、そこは時の運だろう。</p>
    <p>タイピング配信を毎週やっている影響か、最近はプレイヤーとしてのモチベーションが少し復活しつつある。数年前のように毎日数時間のペースで打ち込むことはさすがにもうできないが、こういう機会があれば今後も積極的に飛び込んでいきたい。</p>

    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="週記2024/11-2,3　拡張される音楽、誕生日、石と科博、コミティア、タイピング大会 - welame&#39;s page" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</Layout>

