---
import Layout from '../../layouts/Layout.astro';
const pageTitle = "週記2024/07-4　ハーモニー、児玉まりあ文学集成・雨がしないこと、アンゼルム、みんなで決めるゲーム音楽ベスト100";
---
<Layout pageTitle={pageTitle}>
    <h1>週記2024/07-4 （7月28日）</h1>
    <p>手書き日記を上げている人にちょっとした憧れがあって、Twitterのそういうアカウントをしばしば眺めている。個人的によく見るのは<a href="https://x.com/yumetsukimama">ゆめつきママ</a>さん、<a href="https://x.com/etpanw_">薄宮</a>さん、<a href="https://x.com/HeartMugi">準永遠</a>さん、<a href="https://x.com/movemmo">うごく</a>さんなど。自分も真似してこの週記に手書きを取り入れてみたり、あるいは日記としてTwitterに上げてみたりしてもいいかもしれない。まあ、思い付きの段階だが。</p>
    <p>昨日は中学同期とボウリング場などで遊んでいた。以前の<a href="/article/202406-2/">SF6回</a>とほとんど同じ面子だ。ボウリング場のシステムの機嫌がどうにも悪かったようで、一投目のピン倒しの結果がなかったことにされる事件が多発した。ガーター→ガーター→10本倒し（結果：スペア）というとんでもないフレームまで飛び出す始末だ。この場をもってボウリングはいよいよ一人三投の時代に突入する。</p>
    <h3>ハーモニー</h3>
    <p>今週読了した本は、伊藤計劃『ハーモニー』、スティーブン・ジョンソン『音楽は絶望に寄り添う: ショスタコーヴィチはなぜ人の心を救うのか』吉成真由美訳、『現代思想2024年4月号 特集＝〈子ども〉を考える』、『スピン 8月号』の4冊。</p>
    <p>『ハーモニー』はさすがに名作で、悲惨からの揺り戻しとしての「健康さ」志向とその功罪、というきわめて現代的なテーマが多様な人間の反応を通して丁寧に描かれている。人間は互いを守るために社会的であることを求められるが、同時に決して縛り切れない生物としての限界を持っており、自由を求める。とりわけ超人的な知識を持ち合わせる御冷ミァハは、誰よりもその限界に深く踏み込むことを余儀なくされ、やがてひとつの結論に至る。すなわち、即自という調和。私自身はそれを一向に構わないと思うが、一般的にはその結論はいつまでもラディカルなものであり続けるだろう。<br>
    別に限界があることがその方向に進むべきでない理由に直ちになるわけではないし、現実の世界はこれからも作中世界とある程度軌を一にし、パターナリスティックな「健康」をあらゆる方面で追求し続けるだろう。人間をリソースと捉える向きも、いっそう。神の後退した世界において、人間はなおひとつの善に対するビジョンを抱き、追い求めることができるのだ。それは一定の理を持って選び取られたものであるから、ただ安易に否定して済むものではない。<br>
    しかしあるビジョンはつねに、その外部を排除する形でしか成立しない。どれだけ寛容で慈愛に満ち溢れた教義であろうと、教義である限りその残忍さはどこかに必ず顔を出す。ゆえに徹底は不幸を産む、そのこともまた避けがたいことである。思えばその徹底からの逃走が、この作品では煙草として、セルフネグレクトとして、自殺として、描かれてきたのだろう。そして「程々」というキーワードは、その状況を和らげるひとつの現実的な策として大きな意味を持っている。我々はさしあたり、程々に健康でなければならない。</p>
    <p>ちなみに買った本は下の7冊。これで今週は差し引きプラス3となってしまった。</p>
    <figure class="respimage">
        <img alt="本7冊" src="/202407-4_1.png"/>
    </figure>
    <h3>児玉まりあ文学集成・雨がしないこと</h3>
    <p>今週は本だけでなく、漫画もいろいろと読んでいた。「Kindleマンガを15冊買うとポイント還元」キャンペーンのときに勢い余って20冊ほど買ったので、蓄えはたくさんある。いくつか抜粋して感想を書こう。</p>
    <p>・『児玉まりあ文学集成』</p>
    <p>傑作。「これTwitterで見たコマだ！」の連続だった。「それはもう告白だろうが」のコマもちゃんとあった。<br>
    作者の三島芳治先生は、ある種のインテリが持ち合わせる軽やかで厭世的なリズム（としか言いようのない何か）を漫画作品に落とし込むのが抜群に得意な人だと感じる。本作ではそれがラブコメという形式を用いながら遺憾なく発揮されている。クラスメイトに対して使う言葉を分けているシーンなど、いかにも、という感じだ。<br>
    作中では「文学」の名のもとに言葉などの記号が解体、再構築されていき、基本的に主人公と「まりあ」の間で会話が円滑に噛み合うことはない。ちぐはぐで、戯れに満ち溢れている。しかしその戯れの共有自体が二人を近付ける紐帯にもなっている。この独特の空気感はそうそう普通の作品には出せそうにない。それぞれの回は何か特定の文学作品等にインスピレーションを受けているようで、実際にその作品名も毎回提示されている。刺激的な発想に溢れた、かなり好きな作品だ。</p>
    <p>・『雨がしないこと』</p>
    <p>自分のペースを持ったひとりの女性、花山雨を主人公とした漫画。周囲の人々はそんな雨に各々「接しやすさ」を感じて近付き、また雨自身も垣根を作らない性格ゆえ人々を気軽に招き入れる。その関係は適度で、心地よい。</p>
    <p>単刀直入に言えば、これはアセクシャルの物語である。人々が恋愛を知り、その力学のなかで生き始めるなか、雨はそこに加わることはない。雨はただ砂の基地を作り、トルティーヤを作り、仕事をし、日々を過ごす。<br>
    6話では「自分の気持ちに気付いていないだけ」「本当に好きな人が現れたら変わる」など、現実でもおなじみの言葉が雨に対して投げかけられる。思えば、私自身も昨日バーで「早くこっち側に来なよ」という似たような説教を受けている。「こっち側」。私は自分が"どっち側"の人間なのか正直知らない。なにしろすべては未来の話なのだから、向こうの言っていることが間違っていると断定する術はこちらにはない。ただひとつ言えることは、この言葉は受け手のこれまでを、そして今を、孤独にする。<br>
    しかし雨は、決してそれだけで尽くせる存在ではない。自分なりの方法で生き、人と関わることができる。雨が人とものを食べるシーンが多いのも、そのつながりの豊かさの現れだ。作中で「心細いときはごはんを作る」と語る雨。それは自分のリズムを守るための行為であるが、同時にそのリズムは他人を引き入れる普遍性を持ってもいる。私はそのあり方を見て、ただ温かく感じる。</p>
    <p>他にも『一二三四キョンシーちゃん』、『忍耐サトリくん』を読んだ。いずれも面白い作品だった。</p>
    <h3>アンゼルム</h3>
    <p>ナイトショーで『アンゼルム “傷ついた世界”の芸術家』を観た。会社の行事帰りに無性に映画を見たくなり、そのまま周辺の映画館の上映予定を調べたら運良くヒットした作品だ。私はこういう突発的鑑賞をたまにするので、「近場の映画館で今から見られる映画」を効率的に探せる方法があったらぜひご教示いただきたい。</p>
    <p>本作は戦後ドイツの芸術家であるアンゼルム・キーファーを描いたドキュメンタリー作品だ。アンゼルムは巨匠であると同時に「扱いづらい芸術家」でもあり、ドイツの暗い歴史に直接的に踏み込み、世界的に高い評価を受ける一方で、美術界からは少なからぬ反発を受けた、といったことが語られる。<br>
    作中ではパウル・ツェランの詩の挿入に合わせ、山荘でのハイデガーとの一件も触れられていた。やはりハイデガーは本国においては難しい立場にあるのだろうと感じた。</p>
    <p>社会的文脈を踏まえると見えてくる内容はたくさんあるだろうが、本作を観て最も印象に焼きついたのは何よりその映像美であった。とりわけ風景画の題材にもなった雪景色は圧巻で、物寂しい音楽と合わせ否が応でも厳粛な心持ちになる。また幾度となく映し出されるアンゼルムのアトリエも壮大を極め、建物内を自転車で移動しながら巨大な絵画を運ぶ冒頭のシーンひとつとっても、その制作現場の規模に圧倒させられる。<br>
    なにか明確なストーリーやメッセージを打ち出す作品ではないが、見る者を没入させ、心象風景になにがしかのイメージを掘り込んでいくような、そういう良い映画だったと感じる。この映像を映画館のスクリーンで観られたことはなによりの幸福であったように思う。</p>
    <h3>みんなで決めるゲーム音楽ベスト100</h3>
    <p>したらば掲示板で毎年開催されている投票企画『みんなで決めるゲーム音楽ベスト100』に参加した。名前の通り、ゲームファンが集まって自分の好きなゲーム音楽に投票し、そのランキングを決める、という企画だ。ベスト100と銘打たれているが、曲数が多すぎるため実質的にベスト1000までは「ランクイン」という扱いを受けることが多い。</p>
    <p>ラインナップの中にはこの企画の最人気楽曲である大神『太陽は昇る』をはじめ、スーパーマリオブラザーズ『地上BGM』、クロノ・トリガー『時の回廊』『風の憧憬』、UNDERTALE『MEGALOVANIA』など大抵の有名楽曲が入っている。我々世代のゲームでいうとポケモン不思議のダンジョンの『けっせん！ディアルガ！』やポケモンBW2の『戦闘！チャンピオンアイリス』、ゼノブレイド『名を冠する者たち』などは特に上位に入りやすい楽曲だ。また最新楽曲もブルーアーカイブ『Unwelcome School』、ウマ娘『GIRLS' LEGEND U』、NEEDY GIRL OVERDOSE『INTERNET OVERDOSE』など話題作は手堅く入る。他におなじみの楽曲としてはひぐらしのなく頃に『you』、AIR『夏影』などがあるほか、前回は初代アイドルマスターの"てってって～"こと『TOWN』が初めてランクインして話題になった。</p>
    <p>紹介しておいてなんだが、この企画にゲーム音楽のランキングとしてどれほど信憑性があるかと言われると、まあ、あんまりない。なにしろ17回も同じ企画をやり続けているものだから、参加者はつねに変化を求めており、結果としてその年に新しく出てきた曲に注目が集まりすぎるのだ。全ての結果はwikiから閲覧することができるが、第6回とかその辺りはちょうどいい結果になっているけれども、最近の回ともなると、そうかなあ、と少し首をかしげたくなる。<br>
    それでもこの企画が愛されているのは、第一にはここがゲーム音楽ファンと新たな曲を結びつけるこれ以上ない場だからだ。無数の歴代楽曲の中から1000位以内に選び出されるだけあり、ランクインした楽曲はいずれも強い個性や文脈を持ち、そのゲームを彩ってきた名曲ばかり。出自のゲームジャンルもバリエーションに富んでいるため、ランキングや他の投票を眺めるだけで自分の知らない楽曲にいくらでも出会うことができる。</p>
    <p>往年の人気曲や最新の有名曲だけでなく、この企画自体をきっかけとして注目が集まった楽曲もいくつか存在する。その最たる例が『バンバード ～Piano Version～』だ。この曲は元々とあるフリーゲームに使われていたmozell氏のフリーBGMであり、知名度的には派生企画のランキングでただ1票を投じられるに留まる存在だった。しかしその票をきっかけとしてバグパイプとハンドクラップ音を存分に活かした本曲の音楽性に多くの注目が集まり、第6回で初ランクイン、そのままこの企画屈指の人気曲へと名を連ねることとなった。現在はゲーム『そろそろ寿司を食べないと死ぬぜ！ユニバース』などにも収録されており、この企画の外でも定番楽曲としての地位を築き上げている。</p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/PyhgmSj5I2E?si=UDksDx-3B_1d8bts" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p>また『prime # 4507』も第9回で話題になって以来毎年人気を集めている楽曲である。本曲はPS3のパズルゲーム『無限回廊 光と影の箱』に収録された、弦楽四重奏とピアノからなる美麗なBGM。しかしその最大の特徴は、全体で<b>75分7秒</b>という異様なまでに長い再生時間にある。ギネス記録にも認定された、正真正銘"史上最長"のゲーム音楽だ。<br>
    この曲がその長大な尺で表現しようとしたのは、「曲の時間経過を人生に見立てる」というひとつのコンセプトである。楽曲は全体を通して1分=1年のペースで展開していき、各パートでは悲喜交々に満ちた人生の様子が表現される。誕生に胸を躍らせるような小気味良い演奏から始まり、希望にあふれる青年期や心穏やかな壮年期を過ごしつつ、75歳の寿命に向かってフィナーレを迎えていく。新しいメロディーが出てくるごとに聴く者は想像を掻き立てられ、最後には哀愁や幸福感が胸を埋め尽くす。再生を通してひとりの人生を追体験できるこのコンセプトは、本楽曲を実にユニークで聴きごたえのあるものに変化させている。</p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/qNHTihbV94M?si=dZ4frz20DrR7BDl0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p>他にもスウェーデンの会社が大昔にAmigaでリリースしたゲーム『Pinball Dreams』からクオリティの高いタイトル曲が発掘されたり、『英単語ターゲットDS』のやたらと気合が入っているステージ曲が話題になったり、1000曲もあればラインナップはだいぶ混沌としてくる。今回のランキングは一体どのような並びになるか、今から楽しみである。</p>
</Layout>

