---
import Layout from '../../layouts/Layout.astro';
const pageTitle = "週記 2024/07-1　＜千のプラトー＞入門講義、ラップスタア2024、OVER RAD SQUAD";
---
<Layout pageTitle={pageTitle}>
    <h1>週記 2024/07-1 （7月7日）</h1>
    <p>7月から新しい研修先に異動し、ちまちま頑張っている。</p>
    <p>今週は8冊の本を購入した。ボーナスが入った日にそのまま書店に行って揃えた。なお別にボーナスがなくとも買っていたのでこの文は完全にミスリードだ。</p>
    <p>ちなみに当日は会社の飲み会があったので、これらを収めた重い紙袋をそのまま持っていく羽目になった。趣味を聞かれたときにせっかくだからといくつか中身を見せたら『好き？好き？大好き？』が出てきた段階で「<b>メンヘラのやつじゃん</b>」と言われた。意外と知名度があるらしい。</p>
    <figure class="respimage">
        <img alt="積み重ねた本の画像" src="/202407-1_1.png"/>
    </figure>
    <h3>＜千のプラトー＞入門講義</h3>
    <p>仲正昌樹『ドゥルーズ+ガタリ ＜千のプラトー＞入門講義』をようやく読み終えた。もう一周読むつもりなので内容に深く分け入ることはここではしないが、昔いきなり原著を読んだときと比べると各概念の要点・目的がかなり掴めてきたように思う。総じて流動的で語りにくいものを全力で認識の俎上に上げようとしてくれている感じだ。</p>
    <p>「逃走」というのはドゥルーズ・ガタリに言わせれば段階を踏んで慎重にきちんとやらなければならないものであり、浅田彰の語りではそれが過度に楽観的な形で描かれているのではないか、という著者の指摘はなるほどと思った。秩序からの急激な離脱は自己の喪失を招いたり、あるいはファシズム的な方向に取り込まれる可能性がある。この抑制的な面は元々漠然と抱いていたイメージとはかなり異なっているところかもしれない。</p>
    <h3>ラップスタア2024</h3>
    <p>ラッパーのオーディション番組『ラップスタア』が今年も完結した。毎年密かに楽しみにしている番組だ。自分は普段からどっぷりHIPHOPを聞き漁っているわけではないため、色々なラッパーを探すとっかかりになるこの番組にはたいへん助けられている。</p>
    <p>オーディション審査はいくつかの段階に分けられており、回を重ねるごとに進出する参加者が絞られていく。<br>
    今年は例年通り応募動画の審査からはじまり、グループで順にパフォーマンスを披露するサイファー審査、地元に密着取材して楽曲を披露するフッドステージ審査、合宿所で24時間以内に一曲を仕上げるラップスタアキャンプと続いていく。最後は幕張の会場でライブを行うファイナルステージ審査が行われ、その場で今年の優勝者が決まる。</p>
    <p>動画審査は基本的にブラックボックスで進んでいくが、その中で上位に入った応募動画はTwitterの番組公式アカウントで公開されるしきたりになっている。中でも特にインパクトが強かったのはLil Ash 懺悔だった。<br>
    開口一番、独特な声質で放たれる「万引きとか業務スーパーで俺は満たしていた腹！」。万引きと業務スーパーでの節約はどう考えても同列ではないだろとか、そういう細かいツッコミが野暮に思える存在感。ざらついて粗いがその強弱で確実に自分のリズムを作り出すフロー。字幕の出し方や、突然跳ねる寿司（マジで何？）、そういう端々に流れ出る無秩序さ。かなり好きなラッパーだと思った。音源もいくつか聴いたがそちらはサウンドも含めよりアングラ色が強くてこれまた強烈だった。</p>
    <blockquote class="twitter-tweet tw-align-center"><p lang="ja" dir="ltr">Lil Ash 懺悔/24歳/大阪<a href="https://twitter.com/hashtag/%E3%83%A9%E3%83%83%E3%83%97%E3%82%B9%E3%82%BF%E3%82%A2?src=hash&amp;ref_src=twsrc%5Etfw">#ラップスタア</a><br><br>5,785人の中から厳選された<br>応募動画を先行公開！ <a href="https://t.co/7iqAtOpEHM">pic.twitter.com/7iqAtOpEHM</a></p>&mdash; ラップスタア (@rapstar_jp) <a href="https://twitter.com/rapstar_jp/status/1770012340332958104?ref_src=twsrc%5Etfw">March 19, 2024</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <p>その後のサイファー審査はとにかくCグループ最後のTOKYO世界が注目をかっさらっていたように思う。おそらく自分だけでなく観た人のほとんどが感じているところだろう。生真面目なラッパーが多い雰囲気のなかで、知名度もない、クルーもいない、どこから来たのかもよくわからない若者がいきなりそのオリジナル性を見せつけていく。言葉にすればあまりに物語的に過ぎるけれども、しかしこの番組では毎回起こる出来事だ。</p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/4a7L1gwsOJ8?si=Ivonx33isoQSPVma" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p>個人的にはEグループ5人目のEliseにも通ってほしかったのだけど、叶わなかった。不安定な場所をさまよう独特のパフォーマンスは、本人の陰のある出で立ちも相まって聴けば聴くほど魅力的に感じる。Homunculu＄ビートの最適解がFグループのMIKADOであるとするなら、こちらは別解といっていいかもしれない。<br>
    ちなみにD-RAM曰くサイファーの収録前には参加者たちが交流する時間もあったらしいが、それでいうとEグループは本当に盛り上がっているところがイメージできなくて面白い。現役アイドル（2人目）とマジの悪ガキ（3人目）と超内向型人間をひとつの部屋に集める番組、懐が深い。</p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/6HyS2Iduld0?si=Jp-fZ8zx7SmLuneB" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p>その後はメンバーが12人に絞られ、フッドステージ・ラップスタアキャンプと進んでいく。良くも悪くもすでに地力のある参加者が多く残ったため、クオリティは尻上がりだった。とくにD3adStockやAIRIEのキャンプ曲は衝撃的だった。そしてライブで大化けしたHezronの楽曲も。</p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/qwmhAUDXoT4?si=D3cnihWFEXjDGDsL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p>最終的に優勝となったKohjiya以外にも、番組を通してたくさんよいパフォーマンスが観られた。残ってほしい人がなかなか残ってくれないもどかしい年ではあったが、最終的にはかなり満足だった。</p>
    <h3>OVER RAD SQUAD</h3>
    <p>プロジェクトセカイのイベント『OVER RAD SQUAD』が本日終了した。これまでの全イベントの中でも五指に入るであろう重要回だ。</p>
    <p>端的に、卒業式のようなストーリーだと思った。憑き物が落ちた回、と言ってもいい。それだけRAD WEEKENDという存在はVivid BAD SQUADのストーリー全体を覆う重力として君臨しつづけてきた。それを振り切るためにメンバーは丹念に道を整え続け、脱出速度に達するための力を一点に集め、そして爆発させた。</p>
    <p>ビビバスたちは過去を本当に「超えた」のか。身も蓋もないことを言えば、イベント名を『RAD BLAST』と銘打った時点で完全にそうと言い切れないところはある。今回は自分たちのオリジナルのテーマを打ち立てるのではなく、あくまで文脈を背負う事が最大の焦点として設定された。となれば必然的に、そこで得られた結果は過去の巨大な積み重ねに大きくアシストされたものとならざるを得ない。だからここはゴールではない。今はまだまだ過渡期で、イベントはそこに切れ目を入れるひとつの中間の儀式だ。<br>
    もちろん、過去の重力のなかにいるのは若者の側だけではない。街の人々もまた、この儀式を待ちわびていた側の集団だ。一度出来上がった「完璧」はそれを体験したものを萎縮させる。以降のあらゆるものはその中心からの距離で測られることになる。それはまぎれもないひとつの硬直状態である。その下で古瀧凪の願いを、進歩という願いを叶えるにはどうすればいいのか。託すほかない。この一点を信じるしかない。そうすることでピラミッドを崩し、ビビッドストリートをふたたび参照点なき空間へと変えるしかない。かくしてRAD BLASTという共同儀式は出演者だけでなく、それを観る者にとっても大きな意味を持つ。</p>
    <p>それにしても、このエネルギーの中心となったのが他ならぬ小豆沢こはねであるというのは、どうにも不思議で、それでいてリアルな話だ。こはねは杏や彰人のように過去の文脈を直に背負っているわけではなく、まして冬弥のように強力なバックグラウンドがあるわけでもない。ただ異質である、それだけのことによって自らのアーティスト性を確立している。この単純にして得難い資質は、今回のイベントでも遺憾なく発揮されている。<br>
    とかく意気軒昂で派手な演出を好むビビバスストーリーの作風にあって、こはねは今回のライブ中に真逆の"静"の境地に至る。周りがゆっくりに見え、一人一人の持つ力が手に取るように感じられる、彼女だけの時間。その一瞬は空間に穿たれた特異点となり、こはねの意志を「ついていきたい」から「つれていきたい」へとエゴイスティックに変化させる。その衝動を起点に場のルールは今や完全に書き換えられ、イベントの完成への道はようやく開かれる。<br>
    ひとつの大きな物語を受け継ぎながらも、同時にそれを自分の方向に捻じ曲げ、引っ張るだけの可能性を圧縮した存在。そうした「異邦人」は、新たな光景を見るためには不可欠な存在である。若者はみな異邦人であるが、小豆沢こはねという人間はその中でも誰より際立っていた。それゆえに今回の大役を担うことが可能になったといえる。今まで繰り返し描かれてきた彼女のポテンシャルが、もっとも綺麗な形で発揮されたイベントだったと思う。</p>
    <p><br></p>
    <p>今週も読書とプロセカでプライベートの大半が埋まる生活だった。悪くはないが、せっかくものを書く場があるのだから、たまには普段しないことをしてみたい気持ちもある。</p>
</Layout>