---
import Layout from '../../layouts/Layout.astro';
const pageTitle = "週記2024/09-2　古代印欧語研究会、しゅーおん!!!、GiveWellと効果的な利他主義";
---
<Layout pageTitle={pageTitle}>
    <h1>週記2024/09-2 （9月9日）</h1>
    <p>今週読了した本は以下の3冊。<br>
    ・ひつじ書房『イン／ポライトネス—からまる善意と悪意』<br>
    ・スラヴォイ・ジジェク『あえて左翼と名乗ろう: 34の「超」政治批評』勝田悠紀訳<br>
    ・中村佑子『わたしが誰かわからない ヤングケアラーを探す旅』</p>
    <p>今週行った配信は以下のふたつ。ラテン語予習回と、漢字でGO!ガチ勢がコメント欄に来訪した回。</p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/LR3RGE54tsw?si=6Fg9LjDG7q_K99BQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p> </p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/xbBDvtk6h_s?si=vXhqQbsM3X0vkEIu" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <h3>古代印欧語研究会</h3>
    <p>陸さん＆VTuberアニマが主催する<a href="https://twipla.jp/events/628652">古代印欧語研究会</a>に参加した。ラテン語など古代の諸言語を中心に取り扱う勉強会である。</p>
    <figure class="respimage">
        <img alt="資料表紙" src="/202409-2_1.jpg"/>
    </figure>
    <p>今回題材となったのは、いわゆる「対訳碑文」と呼ばれる種類の史料。石碑などに複数の言語で同じ文章が記されているという、言語学的・文化的に重要な意味を持つ史料群である。当時の発音の実態がどのようなものだったのか、時制や格変化の指す範囲が両言語でどのように対応しているのか、両文化はどのように交わっていたのか、そういったさまざまな歴史的情報が対訳を通すとより鮮明に浮かび上がってくる。 <br>
    とくにこの会でラテン語と古代ギリシャ語間の対訳碑文が対象となった。古代ギリシャ語にはいくつかの方言が存在し、音韻関係や単語の末尾の形など各所に違いがみられるが、今回取り扱われていた碑文にはアイオリス方言など珍しいものも含め複数種類の方言が含まれていた。</p>
    <p>個人的に印象に残ったのは、対訳のなかに異なる神話間の対応関係が反映された部分があること。例えばラテン語側の文でローマ神話の「ユーピテル」Jovīが登場する場合、古代ギリシャ語側の文ではギリシャ神話の「ゼウス」Διὶに置き換えられている。ローマ古来の神々とギリシャ神話の神々は当時の人々のなかで対応づけられ、いくつかの神が同一視されていたとされているが、そのような事実は対訳碑文においてきわめて直接的な形で表れている。<br>
    さらに興味深いことには、ラテン語側の定型句であるI・O・M「至高最大のユーピテル」がギリシャ語側に伝わり、翻訳を通して新しい表現として定着したというように、表現面における影響関係も存在しているらしい。言語が流動的であり、近接する他言語とかかわりながら変化していく、という現象をここでは具体的なイメージをもって覗き見ることができる。</p>
    <p>配布されたオリジナル紙資料の解説は非常に詳細かつ専門的で、短い碑文からこれほどまでに多くの情報が読み取れるのか、と終始感心していた。それでいて自分のようなまだ活用表を覚える段階の初学者でも聞きやすい内容になっているのだから、不思議なものである。楽しい会だった。</p>
    <h3>しゅーおん!!!</h3>
    <p>つくみず作品オンリーイベント「しゅーおん!!!-2024-」に参加した。</p>
    <blockquote class="twitter-tweet tw-align-center"><p lang="ja" dir="ltr">いよいよ来週となりました、つくみず作品オンリーイベント、「しゅーおん!!!-2024-」<br>そのメインビジュアルを公開致します。<br><br>会場内で即売会を楽しむ参加者達を描いてくれたのは、引き続きよよはちさん（<a href="https://twitter.com/kDm844?ref_src=twsrc%5Etfw">@kDm844</a>）と、ロゴをデザインしたしがになさん（<a href="https://twitter.com/redokoitta?ref_src=twsrc%5Etfw">@redokoitta</a>）です。ありがとうございます！ <a href="https://t.co/ELxbNxdxer">pic.twitter.com/ELxbNxdxer</a></p>&mdash; つくみず作品オンリー同人誌即売会「しゅーおん！」 (@shu_on_gltonly) <a href="https://twitter.com/shu_on_gltonly/status/1830208596795396435?ref_src=twsrc%5Etfw">September 1, 2024</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <p><br>『少女終末旅行』『シメジシミュレーション』などで知られる漫画家・つくみずの作品を取り扱った即売会イベント。自分はつくみず作品ファンなので（Profileのお気に入り漫画欄でも上記2作品を筆頭に挙げている）、Twitterで開催の告知を見かけてから長らく開催を楽しみにしていた。<br>
    ちなみにイベントのメインビジュアルを担当したのは、<a href="https://welame.netlify.app/article/202408-3/">以前の週記</a>で取り上げた『サテライト・コインランドリー』の作者であるよよはち先生とのこと。思わぬ再遭遇。</p>
    <figure class="respimage">
        <img alt="展示セット" src="/202409-2_2.jpg"/>
    </figure>
    <p>会場に来てまず目に入るのは、『少女終末旅行』をイメージした展示セットの数々。二人が探索の際に身に着けていたヘルメットや銃、「ぬこ」と名付けられた謎の生物など、作品にまつわるさまざまな模造品が飾られている。<br>
    『少女終末旅行』はミリタリー要素のちりばめられた作品であり、モチーフもそれに即したものが多い。</p>
    <figure class="respimage">
        <img alt="十字マークつき銃床" src="/202409-2_3.jpg"/>
    </figure>
    <p>銃床のマークがまっさらではなく少し赤茶けた使用感のある色をしているのもポイントが高い。</p>
    <figure class="respimage">
        <img alt="アンケート" src="/202409-2_4.jpg"/>
    </figure>
    <p>またその横の特設ボードでは「終末／シメジ世論調査！！」と題し、来場者がシールで自由に回答できるアンケートが実施されていた。<br>
    項目を眺めてみると、「最終回後にふたりはどうなった？」「チトとユーリ、どちらが年上？」などファンの間で解釈が分かれそうなさまざまな質問が並べられている。つくみず作品には作中で明かされない謎が多く存在しており、同じファンの間でも多くの点で感じ方に違いがあることがわかる。なかには「シメジシミュレーション18.5話の存在を知っている？」といった質問も……<font size="+2">シメジシミュレーション18.5話！？！？！？？？！？！？！？？？！？！？</font></p>
    <p>参加サークル数は全部で12。小説や漫画、色紙、グッズなど、それぞれ趣向を凝らした作品をじっくりと眺めることができた。コスプレで参加している方やぬいぐるみを作ってきた方もおり、空間全体で存分につくみずファンワールドを堪能した。</p>
    <h3>GiveWellと効果的な利他主義</h3>
    <p>慈善団体「<a href="https://www.givewell.org">GiveWell</a>」に$350、日本円で約5万円の寄付を行った。種別はやや対象の広いAll Grants Fund。<br>
    寄付金はGiveWellが選定した支援プログラム群に送られることになっている（なお選定プログラムの範囲内であれば自分で寄付先の団体を指定することもできる）。</p>
    <p>GiveWellの活動を特徴づけるのは、「<b>この1ドルでどうすれば最大限の影響を及ぼせるか？</b>」という問いである。GiveWellはこの効率を突き詰めるため、みずから慈善活動の評価組織として活動し、さまざまな援助活動における"実質的効果"の科学的検証を重視する。<br>
    世の援助活動にはさまざまなコンセプトのものがあるが、あくまで費用対効果という一点で測るならば、そこには空回りしているものと成功を収めているものの厳然とした差が存在している。われわれの身の周りにはさまざまな支援団体、あるいはフェアトレードなどのエシカル消費機会があるが、それら個々の活動が必ずしも出費増に見合った効果を生み出しているかどうかは十分に検討の余地がある。<br>
    そのなかで着実な成功例をできるだけ正確に評価し、とくに<b>最も効果的な方法</b>、すなわち他の何倍ものスケールで良い結果を生み出している方法を選定して、集まった寄付をそこに集約するというのが、この団体の基本方針となる。<br>
    慈善活動はその性質上市場原理が働かない領域であり、経済的効率は必ずしも重視されない。そのような領域においてあえて活動の客観的評価の重要性を唱え、人々の善意を「桁違いに有効な方法」に導くのが、GiveWellの目指すところだといえる。</p>
    <p>ちなみに現在サイト上で「Top Charities」に指定されているプロジェクト一覧を見ると、マラリア感染予防のための薬剤供給（Malaria Consortium等）と蚊帳提供（Against malaria Foundation等）、ビタミンAの補給剤の供給（Helen Keller International等）、小児ワクチンの資金援助（New incentives等）と、堅実な医療支援の項目が並んでいる。いかに人々の健康基盤の確立が社会全体に絶大な効果をもたらすかが窺い知れる。このような目立ちにくい活動を第一に評価できることが、客観的評価という方法論のひとつの長所であるといえるだろう。</p>
    <p>このようなGiveWellの方針の背景には、「<b>効果的な利他主義</b>(Effective Altruism、以下EA)」と呼ばれる思想の存在がある。<br>
    EAとは簡単に言えば、自らのリソースでいかに世界に対する最大限の影響を及ぼせるかを考え、客観的な証拠と推論をもとに合理的にその答えを探ろうとする思想である。そのためにはローカルを超えたグローバル規模で解決すべき問題を検討し、ベストであると考えられるプロジェクトに集中的にコミットすることが求められる。なお本格的なEA実行者であれば、キャリアプラン検討（非営利企業で働くか？寄付のために年収を最大化するか？起業家・研究者・政治家を目指すか？）など人生設計レベルでこの思想を貫く場合もある。<br>
    当然厳密解が出るはずはないが、いくつかの主要な観点からオーダーを見積もり、各活動のもつインパクトをかなりの程度区別することは可能である。よく使う観点として挙げられるのは、「生み出される効果の規模」「解決しやすさの度合い」「世間的注目度の低さ」といったものがある。たとえば先進国から途上国への支援は経済規模の違いにより同じ金額でも段違いの効果を生み出すことができる。アメリカの収監率減少は刑事司法制度の改革によって実現できるため、相対的に小さい労力で結果を引き出すことができる。国際的労働問題は注目を浴びる機会が少ないため、わずかな前進でも重要なインパクトを与えることができる。こうした観点を組み合わせながら、問題の山積する現在の世界で注力すべき優先事項を決定しようとするのが、EAという思想である。<br>
    EAは2000年代から発展した運動といわれているが、近年は国内でも注目を集めはじめており、シンガー『あなたが世界のためにできるたったひとつのこと――〈効果的な利他主義〉のすすめ』、マッカスキル『〈効果的な利他主義〉宣言！慈善活動への科学的アプローチ』などが有名な書籍として知られている（私自身は後者を読んだことがある）。</p>
    <p>もちろん注意すべきなのは、こうしたEAの信条はあくまで数ある方針のひとつであり、唯一の解ではない、ということである。寄付や支援にあたって何を最大化すべきかは、当然個々人によって異なってよい。<br>
    例えば自分にとって心理的・環境的に近しい人を優先的に助けようとする行為は、効率性を信条とするEAの観点からは非合理として戒められる（ゆえにケア倫理などとも相性はよくないと思われる）が、この道徳的基盤なしにわれわれの社会が成立すると考えるのは無理筋というものであろう。そのほか、EAは「手近な対症療法に終始しており、貧困を生み出す根本の社会構造に切り込む力が弱い」と評されることも多いようだ。<br>
    しかしそれでも、大上段に構えた実践から遠い解決策、イメージ優先で不合理性を含んだ活動を掲げるのではなく、現実的できわめて安定した効果を生み出す解決策に注目すべきである、というEAの主張には重要な示唆が多く含まれている。そういうわけで、私自身はEA、そしてGiveWellの方針には賛成している。</p>
    <p>この団体は単発での寄付と毎月の定期寄付の2種類の方法を受け付けている。自分が今回行ったのは単発寄付のほう。今後はほかの寄付サイトとの比較も行いつつ、定期寄付も検討していこうと思う。</p>

    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="週記2024/09-2　古代印欧語研究会、しゅーおん!!!、GiveWellと効果的な利他主義 - welame&#39;s page" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</Layout>

