---
import Layout from '../../layouts/Layout.astro';
const pageTitle = "週記2024/06-1　購入した本、プレイヤーとニーゴ楽曲";
---
<Layout pageTitle={pageTitle}>
    <h1>週記2024/06-1 （6月22日）</h1>
    <h3>書籍購入</h3>
    <p>
        積読が減ってきたので、今週は4冊の本を購入した。
    </p>
    <figure class="respimage">
        <img alt="books" src="/202406-1_1.png"/>
    </figure>
    <p>
        職場の近くに品揃えのいい書店が見つかったため、4冊ともそこで購入した。ずまひーの有名な著作など、気になる本をいくつか。
    </p>
    <p>
        2冊ほど実用書も混じっているが、どこでも活かせるインフォグラフィックの本はともかく、CSSの本はきちんと読んで活かされるかどうか我ながら疑わしい。私がサボっているか否か、このサイトの今後の変わりようから察していただくことにしよう。
    </p>
    <h3>『25時、ナイトコードで。』とプレイヤー</h3>
    <p>
        プロセカのイベント『灯を手繰りよせて』が20日から始まり、はるまきごはんの書き下ろし楽曲『エンパープル』が公開された。嬉しすぎる。みなさんも聴いてくださいね。
    </p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/InZ7GOU-CQ8?si=Dp6cvKHDMhFjdCCI" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p>
        <br>
        ところで本当にどうでもいいことなのだが、告知ツイートに「25時、ナイトコードで。による１曲、お聴きください。」という文言が入っているのを見たとき、「ニーゴメンバーが制作した想定の楽曲！？！？！？？」と一人で勝手に舞い上がってしまった。普通に考えればニーゴメンバーが歌っていますという意味だ。
    </p>
    <blockquote class="twitter-tweet tw-align-center"><p lang="ja" dir="ltr">🎧25時、ナイトコードで。<br>書き下ろし楽曲追加🎤<br><br>『エンパープル』<br>🎵はるまきごはん（<a href="https://twitter.com/harumaki_gohan?ref_src=twsrc%5Etfw">@harumaki_gohan</a>）<br><br>あの手のあたたかさは……たしかに残っている。<br>未来はまだわからないけど、”私”は――<br>25時、ナイトコードで。による１曲、お聴きください。<br>　<a href="https://twitter.com/hashtag/%E3%83%97%E3%83%AD%E3%82%BB%E3%82%AB?src=hash&amp;ref_src=twsrc%5Etfw">#プロセカ</a> <a href="https://twitter.com/hashtag/%E3%83%8B%E3%83%BC%E3%82%B4?src=hash&amp;ref_src=twsrc%5Etfw">#ニーゴ</a> <a href="https://t.co/XXF0O8dbld">pic.twitter.com/XXF0O8dbld</a></p>&mdash; プロジェクトセカイ カラフルステージ！ feat. 初音ミク【プロセカ】 (@pj_sekai) <a href="https://twitter.com/pj_sekai/status/1803672168599003201?ref_src=twsrc%5Etfw">June 20, 2024</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <p>
        <br>
        実際問題、プロセカプレイヤーはどうあがいても"ニーゴ"（25時、ナイトコードで。）の直接のリスナーになることはできない。<br>
        ニーゴは作曲担当、作詞担当、イラスト担当、動画担当の4名からなる劇中クリエイターユニットであるが、ニーゴの作る楽曲がストーリー上でそのまま流されることは決してない。時折それらしいBGMが後ろで鳴ることはあるものの、あくまでイメージ以上のものとして受け取ることはできそうにない。我々はただ、キャラクターの台詞を通してその作風を間接的に知ることができるにすぎない。
    </p>
    <p>
        ニーゴのオタクはわんさかいるにもかかわらず、その誰一人として『25時、ナイトコードで。』の制作した楽曲を聴いたことがない。こうした状況は、ときどき非常にねじれた奇妙なものにも感じられる。
    </p>
    <p><br></p>
    <p>
        ニーゴとはまず第一にアーティスト集団である。すなわち、協力して「作品」を作り、それを通じて人々に何かを伝えようとする存在である。本人らもそれを自分たちの使命であると認識している。<br>
        しかし、作中世界から締め出され、その回路にアクセスすることを許されていない我々プレイヤーが、それでもなおその存在に惹かれ、あまつさえ救われることがあるとするなら、一体ニーゴにとって作品とはどのような立ち位置のものになってしまうのだろうか。
    </p>
    <p>
        この辺り、<a href="https://note.com/kksk/n/nf6173d29da74">kqckさんのnote</a>で指摘されていた「奏が作中で繰り返し語る『人を救う曲を作る』という望みは文字通りの目標としては機能していない」という内容を思い出す。<br>
        奏は作曲を「自分→作品（媒介）→他人」という一方的な伝達行為として扱い、したがって楽曲自体にありったけの意味を与えようとするが、実際にはむしろ曲を作るという行為それ自体が（奏の人生を繋ぎ止めるものとして）個々の作品以上に重大な意味を持っている、というわけだ。<br>
        行為そのものの方が重要になっているのは、奏にとってだけでなく、それを見る我々にとっても同じかもしれない。思えばまふゆが奏についていく決心をしたのも、他ならぬ奏自身のそのあり方に何か感じるものがあったからであった。メインストーリーの終盤でも、まふゆは奏のスマホを叩き落としたきり与えられた楽曲を一切聴いていない。作中世界ですらも、「作品の価値」と「作り手の価値」が逆転している瞬間はたびたびある。
    </p>
    <p><br></p>
    <p>
        そんなわけで、ニーゴは自分たちの曲で現実に何かを伝えることよりも、その過程に生きる自分自身を曝け出すことで何かを伝えることのほうが圧倒的に多い、そういうグループになっている。<br>
        それは何かグループとしての価値を損ねるものではないだろうし、あるいは作品と作り手を截然と分けて考える思考自体があまり賢明ではないのかもしれない。それでも、いちオタクとしては作る過程をただ外から眺めるだけではなく、実際にその楽曲を聴いて、そのディテールを楽しんでみたい、とも思う。なのでたまには運営さんもニーゴ"名義"の曲を出してみたりしませんか。どうですか。へっへ……
    </p>
</Layout>

