---
import Layout from '../../layouts/Layout.astro';
const pageTitle = "週記2024/11-4　駒場祭、古代オリエント博物館、コミティア入手品";
---
<Layout pageTitle={pageTitle}>
    <h1>週記2024/11-4 （11月18日～24日）</h1>
    <h3>読んだ本</h3>
    <p>今週読み終わった本は、以下の2冊。<br>
        ◆ジャック・ランシエール『解放された観客』梶田裕訳<br>
        ◆種田山頭火『日記（一）　行乞記』</p>
    <p>『解放された観客』は、ランシエールによる芸術哲学書。先週読んだ『現代思想の316冊』から選んだ一冊だ。<br>
        ひとことでいえば、主体的な「観客」を可能にするアートのあり方について考える書だった。知る者から知らない者への伝達という一者的な関係ではなく、すべての者に備わっている制作・語りの能力を解放させる、そういう二者関係をもった営みとしての芸術。芸術は身体同士を配置しなおし、ある感性的な世界から新たな感性的世界への移動を促すことで、人々の新たな能力のあり方を提示する。このときまさに、芸術は固有の政治性を獲得する。</p>
    <p>『行乞記』は、自由律俳句で有名な山頭火の旅行記だ。各地で行乞（僧侶として家々を回り、ものを恵んでもらいながら旅する）をして回った様子が記されている。<br>
        句集そのものというわけではないが、文章内には旅先で作った自由律俳句がたくさん収められている。自由律俳句ならではの簡潔にして自由な切り取りが活きており、言葉を通した写真集のような味わいがあった。ただ、その様子がすべて優美かというとそうでもなく、山頭火が行く先行く先でひたすらアルコールに溺れまくる様子を見せられもした。そういう生活面のことも知れる本だ。</p>
    <h3>行った配信</h3>
    <p>今週行った配信は、タイピング定期配信および深夜配信2本（アーカイブは限定公開）。</p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/zSm-rJybdn4?si=QaY0IMmfxWC6X1oS" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p>毎週やることのあるタイピング定期配信はともかく、それ以外の配信で使えるテーマというのがだんだんとなくなってきている。やりたいゲームや、見たいサイトなど、いうほどそう毎週出てくるものでもなかった。<br>
        その一方で、配信で作業をしたり、勉強したり、わざわざテーマにするほどではないけれどもやりたいことは日々たくさん生まれてくる。これらはどちらかというと公開の場でモチベーションを保ちたいがためにやることであり、自分のためという側面が強い。要するに自己満足ではあるのだが、何もやらなくなるよりはまだいいのかもしれない。ここに今までとは違う形の、少しカジュアルな形の配信を行う必要が生まれてくる。<br>
        よって先週は試験的に、告知などをせずゆるりと行う深夜配信を2回ほど行った。23時から1時間ほど、なにか見たり読んだりしながら話す気軽な配信だ。</p>
    <p>特に視聴者が来なくても出来るよう一人で完結したことのみ行うつもりだったが、意外と人が来てくれて驚いた。おかげでけっこう喋ることになった。<br>
        これからもしばらくは同様の配信を続けていく予定。定点枠として聞き流してもらえると幸いだ。</p>
    <h3>駒場祭</h3>
    <p>日曜日の午前中に2時間ほど、東大の駒場祭を回ってきた。</p>
    <p>主にKOMCEE East/Westにある学術系の展示をいくつか見て回った。再生コンクリートの説明とか受けてた。また自分が在学中に参加した実験も展示になっていて少し嬉しい気持ちになった。<br>
        あとはコミプラのレゴなどの展示を少し見た。</p>
    <figure class="respimage">
        <img alt="圏界面" src="/202411-4_1.jpg"/>
    </figure>
    <p>コミックアカデミー（学内同人誌即売会）では、以前から気になっていたもののコミティアで入手できなかった環境SF合同『圏界面』を入手した。表面に塩の結晶を析出した特殊なコーティングの本だ。手に取ってそのパック越しのざらざらした手触りに感動した。読むのが楽しみ。</p>
    <h3>古代オリエント博物館</h3>
    <p>友人の陸さんと池袋の古代オリエント博物館に遊びに行ってきた。</p>
    <figure class="respimage">
        <img alt="誕生日祝い" src="/202411-4_2.jpg"/>
    </figure>
    <p>行く前に池袋WACCAのTUCANO'Sというお店に誘ってもらい、そこで昼食をとった。ブラジルの肉料理、シュラスコのお店だ。なんとサプライズで誕生日のお祝いまでしてもらった。うれしい。<br>
        肉がどんどん運ばれて来るので調子に乗って食べまくっていたところ、後に予定が控えているのに満腹で死にかけになった。</p>
    <figure class="respimage">
        <img alt="博物館入口" src="/202411-4_3.jpg"/>
    </figure>
    <p>身体を引きずり、オリエント博物館に到着。なんだか雰囲気のある壁だ。</p>
    <figure class="respimage">
        <img alt="ガラス容器" src="/202411-4_4.jpg"/>
    </figure>
    <p>展示品はその大半が壺や土偶などの日常的な品物類だった。こういうこまごまとしたものばかり好んで眺めていたように思う。自分はオリエントの品物だととくにガラス容器が好きなので、さまざまな種類が揃っているラインナップは見ごたえがあった。</p>
    <figure class="respimage">
        <img alt="垂飾" src="/202411-4_5.jpg"/>
    </figure>
    <p>これは東工大の校章みたいな垂飾。</p>
    <p>また特別スペースではいわゆる「ペルシャ書道」の作品が飾られていた。とはいっても歴史的資料などではなく、そういう教室の生徒が書いた作品の展示会という感じだったが。書道文化が東アジアだけでなく西アジアの地にもあるというのは少し意外な感じがする。<br>
        我々のなじみ深い書道と異なり、自由に装飾した派手なビジュアルの使用が許されているのが印象的だった。さまざまな色を使ったり、模様を描いてみたり、とにかくデザインとしてなんでもしてよさそうな雰囲気だ。アラビア文字の横線が生む整列感など、形状を活かした作品が多かったのも面白い。白紙に黒い墨で文字を書き込んでいく引き算の美学とはまた違った、多くの要素を使いこなして全体に調和を与える足し算的なテクニックが必要とされてくるのだろうと思った。</p>
    <h3>コミティア入手品感想（一部）</h3>
    <p>先週行ったコミティアの入手品をちまちま読んでいる。どれも面白い。<br>
        全体的に、読者を信頼してくれているものが多いな、と感じる。私がただ直感に沿って選んだらそうなっただけのことかもしれないが、自らのノリを貫き通したり、趣味に徹したり、そういう尖った部分をどの本もそれぞれのやり方で持ち合わせている。特にシュール系の漫画を多く集めたので、一冊一冊ごとに脳をぐにゃぐにゃさせながら読んでいる。</p>
    <p>さしあたり、今週は2サークルの感想を記す。</p>
    <p><b>◆なまこ屋『ハッピー可視域』（漫画）</b></p>
    <p>良かった。今回の非常に大きな収穫だった。</p>
    <blockquote class="twitter-tweet tw-align-center"><p lang="ja" dir="ltr">コミティアで入手したなまこ屋『ハッピー可視域』すごかった<br>失うことは実は得ることでもあって 得ることは逆に失うことでもある その転倒の中心に可視域というひとつの確かな価値があったのだけれども 内側に居るわたしがそれに気づくことは決してない それが悲しい <a href="https://t.co/ieyg7p9mCk">pic.twitter.com/ieyg7p9mCk</a></p>&mdash; うぇるあめ (@welch2929) <a href="https://twitter.com/welch2929/status/1859568201518153854?ref_src=twsrc%5Etfw">November 21, 2024</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <p>ハッピーでなくなることは、人間的進歩でありうる。<br>
        世界が自明であることをやめ、自分の身体から離れていく体験。この世界はただ幸福のうちに自分を守ってくれる空間ではないのだと、さまざまな経験のうちに知ってしまう感覚。それは無垢な子供が出会う、はじめての喪失である。このメランコリーは、ある種の人間にとっては生涯を塗りつぶしてしまうほど暗い影をもって現れることもある。この物語もきっと、そういう取り返しのつかなさから始まっているのだろうと思う。<br>
        そしてこの漫画はその喪失を、さりげない肯定のまなざしをもって眺める。「可視域」というのはそのキーワードだ。幸せを自明に与えられなくなった人間は、能動的にそれを探すことを覚え始める。その過程で、今まで目を向けることのなかったものを見つける目を獲得していく。ハッピーはどれだけ追っても雲を掴むように逃げてしまうけれども、かわりにそれとはまったく異質の生活が少しずつ顔を表しはじめるのだ。下を見て歩くことで、小さな花が目の中に入ってくる。私自身はそれを、進歩と呼びたい。そう思って生きている。だからこそ、この物語の結末は、とても悲しい。</p>
    <p>読み終わったあとに表紙を眺めてみると、その光の配置がこのストーリーのすべてを表していることに気づく。手に入れたハッピーもまた次第に擦り切れ、孤独のなかに溶解してしまうのだろうか。</p>
    <p><b>◆661nos『ニュートリノ反応散乱断面積測定 YOGASCI 素粒子実験体験記』<br>
        ◆661nos『東京大学の量子コンピュータもどき見学記 その理論と物理実装』</b></p>
    <p>2冊買った。どちらもタイトル通りの内容だ。</p>
    <p>前者は「YOGASCI」という素粒子実験の体験記。鉛(220kg用意したらしい！）にニュートリノを大量に発射し、その反応を統計的に観測する実験とのことだ。ニュートリノ自体は荷電粒子ではないため、ブロックの前後にシンチレータを置いておくといい感じに電荷の変化から反応の存在が割り出せるらしい。テーマこそ堅いが、相当かいつまんで説明してもらっているため説明自体はさらりと読める。<br>
        実験は大規模な施設を使い、何日もかけて泊まり込みで行われる。そのレポート部分がとても面白い。準備段階からかなり大変なようで、設営だけでも丸一日やそれ以上を要する手のかかりよう。そのぶん、最終的にうまく結果が見えたら感慨もひとしおだろうなと思う（こういうセッティングがうまくいかないケース、ざらにありそうなので……）。自分にとってはこれほどの規模の実験というのは完全に未知の世界なので、興味深いやら、少し羨ましいやら、そういった気持ちになりながら読み進めていた。</p>
    <p>うってかわって量子コンピュータの巻は、大学キャンパス内にある低温研究施設の見学の話だ。<br>
        こちらはどちらかといえばより理論的解説に重きを置いている印象を受けた。分野が分野だけに少なくともハミルトニアンが何かくらいの前提知識はあったほうがよさそうだが、そのぶん内容はかなり読み応えがある。じっくり式を追っていくといつの間にか人工原子などの魅力的なアイデアが立ち現れ、最終的にひとつの観測法の確立とその限界に至る、その流れがエキサイティングだ。自分は化学分野から量子論に触れたことはあるものの、量子物理や量子コンピュータの具体的な研究は全然知らないという人間だったので、ある意味ちょうどいい読者だったかもしれない。<br>
        印象的だったページは、やはり表紙ともつながる「これが量子コンピュータだ」の1ページ。一見するとなんだかわからないゴッテゴテの機械の集合体だが、よく見るとそれらひとつひとつのパーツは「冷やす」というひとつの共通目的に向かう明確な役割を持っている。そうしなければならない理由を語るために先の理論パートがあったわけだが、いざ実際の構成を目にしてみると、その地道な努力がどのようなものなのか実感として窺い知ることができる。気の遠くなるような精密化の努力だ。これを今後はさらに汎用化させていかなければならないとなると、その道筋のありかたはもはや想像しようもない。そのぶん、楽しみでもあるが。</p>
    <p>2冊とも先端研究の「現場」に根差した体験を書き留めつつ、その道すがらで分野の概観を導入してくれる、ページ数あたりの満足度の高い内容だった。</p>


    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="週記2024/11-4　駒場祭、古代オリエント博物館、コミティア入手品 - welame&#39;s page" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</Layout>

