---
import Layout from '../../layouts/Layout.astro';
const pageTitle = "週記2024/12-2　プロセカ感想、タイパーアドカレ、文庫本ノート";
---
<Layout pageTitle={pageTitle}>
    <h1>週記2024/12-2 （12月9日～12月15日）</h1>
    <p>相変わらずM-1の動画を楽しんでいる。三回戦で知った涼風、準々決勝も非常に面白かった。</p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/hbguLHUF4SQ?si=LMPk6tG5Ek9H6iKr" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <h3>読んだ本</h3>
    <p>今週読んだ本は、以下の2冊。<br>
        ◆マイケル・スロート『ケアの倫理と共感』	早川正祐、松田一郎訳<br>
        ◆笠井潔『例外状態の道化師 - ポスト3・11文化論』
    </p>
    <p>最近目に見えて読書スピードが下がってきており苦しい。今週は後述の記事を書いていたというのもあるが。</p>
    <h3>行った配信</h3>
    <p>今週行った配信は、タイピング定期配信と、いろいろな国のwikipediaを眺める配信、ほかカジュアル配信2本の計4本。</p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/EElml04jDXM?si=vd9iqRD2IFwOpDrT" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p><br></p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/DLbwKyQD9h8?si=_-BUh2vulGTFld75" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <h3>投稿記事：プロセカ感想</h3>
    <p>プロセカストーリー『傷だらけの手で、私達は』感想　あなたを知ること、わたしを語ること<br>
    <a href="https://welame.netlify.app/article/kizudarakenotede/">https://welame.netlify.app/article/kizudarakenotede/</a></p>
    <p>プロセカの絵名イベントの感想を書いた。前回の『荊棘』感想記事よりは少し短くなる予定だったが、書いているうちに止まらなくなり、1万字行ってしまった。今年はこれを出せれば心残りがない。</p>
    <p>自分で感想を書くだけでなく、他の方々が書いた感想もたくさん読んだ。まと入りドロップスさん（前回記事を出したとき反応をいただけて嬉しかった）の『<a href="https://koikokoromillefeuille.hatenablog.jp/entry/2024/11/30/184745">『傷だらけの手で、私達は』から見る、東雲絵名と愛</a>』。二時沢静音さんの『<a href="https://note.com/kamochikamo_39/n/nc199d7713271">絵名から学べること：「消えたい人」の心理とその対応について【プロセカ考察】</a>』。ねぼろくさんの『<a href="https://note.com/nebou_june/n/n2506be450eaf">「傷だらけの手で、私たちは」感想 〜絵名はいかにして瑞希の心をこじ開け得たのか〜</a>』など。どれも真剣にイベントと向き合ったとても良い文章だった。逆に言えばそれをするだけの価値があるイベントでもあった。</p>
    <p>一連の物語、絵名がすごいというのは勿論として、感想を書く人はみな「瑞希は強い」という共通感覚も持ち合わせているような気がした。当然だろう。理由を挙げればきりがないが、あえて表すなら「生き延びた」というその一言で十分だ。そもそも瑞希・絵名個人の強さをあてにしていいのか、という話ではあるのだが。本来のアクターは周りの個人や社会ではなかったか。その強さに甘えてはいないか。そう強く言えるほど私自身が何かを為しえてきたとも思わないが。</p>
    <p>この世界にあって「自分の言葉で自分を語る」ことの難しさ、そして重要さに着目した書き方にしたのは、プロフィールで自分が好きな書籍に挙げている田原夕さんの『生き延びるための自虐』の影響を受けている部分が大きい。<br>
    例えば瑞希のジェンダーに踏み込むにあたって『ただの勘違いかもしれないでしょ』『若い時って、そう思い込む時期があるらしいね』という2つの台詞の存在は特に重要なものとされているが、これは瑞希の内奥にある語るべきものの存在を示唆するのみならず、その語りの主導権が奪われてきたことを直接的に示しているものでもある。作中何度も出てくる『変なの』の一言にしても同様である。それは悪口である以上に、立場を一方的に決められる言葉でもある。ニーゴが回復してきたもののひとつは、まさにこのような「語りの権利」とも言えるのかもしれない。</p>
    <p>ちなみにまったく言及せずに終わるのもあれなので一応アロマンティック（無性愛者）といわれるっぽい自分の立場からのことも書いておくと、面倒くさいなあと思う言葉はだいたい「強がりで嘘を言っている」「人格がどこかおかしい、人生について語る資質がない」の2つの型に集約される。この話でいえばそれぞれ主観について語る権利の否定、客観について語る権利の否定といえるかもしれない。逆にいうと自分の場合は語った内容が一般に認められてほしいとか、そういう気持ちは比較的薄いのかもしれない。なんかそういう人もいるんだ……よく分かんないな……でいい（私だって分からない）。皆どんどん恋愛で幸せになってくれればいい。私もそれを見るのは幸せだ。</p>
    <figure class="respimage">
        <img alt="余花にみとれて APリザルト" src="/202412-2_1.png"/>
    </figure>
    記事とは関係ないが、『余花にみとれて』MASTERをAPした。
    <h3>タイパーアドカレ2024</h3>
    <p>競技タイピング界では現在、『タイパー Advent Calendar 2024』が開催されている。2018年から続き、今年で7回目となる定番行事だ。<br>
    今回はテーマ別に2枠存在し、「<a href="https://adventar.org/calendars/10657">タイピング部門</a>」ではタイピング自体の話を、「<a href="https://adventar.org/calendars/10658">フリー部門</a>」ではそれ以外の話をするという分け方になっている。私はタイピング部門の3日目に「<a href="https://welame.hatenadiary.com/entry/2024/12/03/000039">タイピング配信をはじめました</a>」という記事を投稿している。明日も記事を投稿する予定だ。</p>
    <p>これまでの他の方の記事で、個人的に面白かったものをいくつか紹介していきたい。</p>
    <p>◆12/4 フリー部門 たのんさん『<a href="https://note.com/tanon_710/n/n1cbc59861c7a">Steamの音ゲーを遊ぼう！</a>』</p>
    <p>タイパーアドカレの管理人にして音ゲーマーでもあるたのんさんのSteam音ゲー紹介記事。単純に、網羅性が非常に高い。やったことのある音ゲーから本当に名前も聞いたことがない音ゲーまで、1記事の中に大量に入っている。タイプごとに分けられているのもうれしいポイント。</p>
    <p>◆12/14 タイピング部門 tetsuさん『<a href="https://note.com/tetsu_gfw/n/ndce7057c9a97">結婚式でキーボード型ケーキを発注したりタイピング対戦をするとどうなるのか</a>』</p>
    <p>タイピングプレイヤー同士で今年ご結婚されたtetsuさんによる記事。今回もっとも楽しみにしていた記事かもしれない。特注ケーキ（すごい）の作成のみならず、余興でタイピング対戦を行うなど、タイパーの夢みたいな結婚式を開催している。めちゃめちゃ良い光景だ。一人でアンケート入力役を担っていた珠さんが式場スタッフに「一人で大丈夫ですか？」と心配されていたという話が一番面白い（珠さんは全国大会出場経験者）。
    </p>
    <p>◆12/16 フリー部門 fazさん『<a href="https://note.com/faz1458/n/n69db8acb5c04">ドラゴンロードNITAガチ解説</a>』</p>
    <p>マリオカートのTAの世界記録保持者であるfazさんによる解説記事。投稿者がタイピングプレイヤーでもある（むしろ私にはそちらの印象が強い）のでこのタイパーアドカレに投稿されている。記事は高度で全然理解できないが、どれだけ試行錯誤を緻密に繰り返しながらコツを練り上げて来たのかは伝わる。めでたい。</p>
    <h3>文庫本ノート</h3>
    <p>無印良品で「文庫本ノート」を買った。<br>
    <a href="https://www.muji.com/jp/ja/store/cmdty/detail/%E6%96%87%E5%BA%AB%E6%9C%AC%E3%83%8E%E3%83%BC%E3%83%88/4550182111262?srsltid=AfmBOopWg_xBaRBFEw70DcB9NhmRFUF60zjIAiGscclECMjC_2WcCTIb">https://www.muji.com/jp/ja/store/cmdty/detail/%E6%96%87%E5%BA%AB%E6%9C%AC%E3%83%8E%E3%83%BC%E3%83%88/4550182111262?srsltid=AfmBOopWg_xBaRBFEw70DcB9NhmRFUF60zjIAiGscclECMjC_2WcCTIb</a></p>
    <p>ひとことで言えば、文庫本とまったく同じ様式で作られたノートだ。サイズも厚みも綴じ方も同じ。なんなら紐のしおりまでついている。けれども表紙は無地、中身はすべて白紙であるから、ハンディサイズのノートとして使うことができる。そういう商品である。</p>
    <p>元々自分は雑多なその場メモはすべてスマホでCosense（旧Scrapbox）に書き込んでいた。ただ正直、手書きのほうかスマホ入力より速度は劣るもののストレスは少ないと感じるので、携行用の筆記メモを合わせて買おうとも考えていた。その矢先に飛び込んできたのがこれである。<br>
    大きさはちょうどよく、書ける量も多い。なにより目に入れたときにちょっとだけ楽しくなる。ただ文庫本という形式を借用するだけで、メモ帳が一気に愛らしいものに変化する。はやくもっと使って最後のページまで埋め、一冊を書き尽くしたという体験で悦に浸りたいと思う。</p>
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="週記2024/12-2　プロセカ感想、タイパーアドカレ、文庫本ノート - welame&#39;s page" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</Layout>

