---
import Layout from '../../layouts/Layout.astro';
const pageTitle = "週記2024/08-3　サテライト・コインランドリー、浦和ZINEフェス、入手品の感想書きまくり";
---
<Layout pageTitle={pageTitle}>
    <h1>週記2024/08-3 （8月19日）</h1>
    <p>家族と東京観光に行った。一般公開中の迎賓館を訪れたが、展示品がいかに貴重なものかの説明を受けるたびに、頭の中のヴェブレンが「でもこれは顕示的消費の一形態にすぎなくて……」と毎回ささやいてきて、もう自分は二度と豪勢なものを豪勢なまま受け取ることができないのだと悟った。</p>
    <p>時間があったわりにそこまで読書は進まず、今週読了したのは平凡社『石川淳随筆集』の1冊のみ。あとは『社会はなぜ左と右にわかれるのか』『オリエンタリズム』などを読んだり、以前読んだ本を読み直したりしていた。</p>
    <figure class="respimage">
        <img alt="Highlight EXP ALL PERFECT" src="/202408-3_1.png"/>
    </figure>
    <p>これはプロセカ2曲目のALL PERFECT（1曲目はアサガオの散る頃に[MAS]）。アップ中に出た。いいかげんEXPERT譜面くらいは軽々APを出せるようになりなさいという話だが、進歩は進歩である。</p>
    <h3>サテライト・コインランドリー</h3>
    <p>漫画『<a href="https://comic-walker.com/detail/KC_004626_S/episodes/KC_0046260000100011_E">サテライト・コインランドリー</a>』の1,2巻を読んだ。<br>
    宇宙の片隅にあるコインランドリーを舞台とした、日常系の作品。主人公のキリミと店長が、さまざまな星から訪れるお客たちに洗濯の場を提供する。</p>
    <p>このコインランドリーという舞台設定が秀逸である。全体としてはSFチックな世界観を持つ本作であるが、それらは「洗濯」という日常に根ざした営みを通すことで、一風変わった視点で眺められている。<br>
    宇宙に店を構えているだけあって、来店する客はどこかの宇宙人であったり、アンドロイドであったり、よくわからない生物であったりする。生態も事情も、それぞれ異なったものを持っている。そのなかで唯一共通しているのは、どの客にも固有の生活があり、そのなかで日々汚れが溜まっていくという事実。その汚れを取り払い、きれいな状態にして送り出すのが、この「サテライト・コインランドリー」の代々担ってきた役割である。<br>
    本作で中心的に扱われるのはなにか壮大な物語ではない。むしろ、その背後にあるような小さな物語である。洗うというごく素朴な観点から、超常存在の「生活」の部分を映し出す。結果として、この作品には終始ほのぼのとした雰囲気が生み出されている。派手さはないが、ほんのり好きな作品だと感じた。テルルかわいいね。</p>
    <h3>浦和ZINEフェス</h3>
    <p>浦和パルコで17日に開催されたZINEフェスに行ってきた。</p>
    <p>ZINEとは、個人やグループが制作する自主的な非営利出版物のことを指す。もともとは英語圏においてSFファンや政治的に疎外された人々のためのアンダーグラウンドな発信手段として生まれ、次第にあらゆるテーマ・形式を包含した自由な自己表現のメディアとして発達した文化である。<br>
    ZINEは日本国内でも特にここ十数年で注目を集めており、元々根付いていたいわゆる同人誌文化とも一部合流しつつ、吉祥寺など各地で「ジン・フェスティバル」が開催されている。今回埼玉で開催された浦和ZINEフェスも、そのようなイベントのひとつに数えられる。</p>
    <p>会場は浦和パルコの4階。広い通路に設けられたイベントスペースに、出展者の机が並ぶ。規模は数十組といったところだろうか。<br>
    扱われているテーマはさまざまで、漫画やアートブック、趣味や街歩きのレポート、特定のテーマをもったエッセイ本など、参加者がおのおの趣向を凝らしている。本だけでなく、写真やポストカードなどの制作物を並べる人も多い。来場者は自分のような一人客もいれば、家族連れ、友人と来ている人なども見られた。</p>
    <figure class="respimage">
        <img alt="ZINEフェス入手品のバッグ" src="/202408-3_2.jpg"/>
    </figure>
    <p>このバッグも会場で手に入れたもの！</p>
    <p>アーティスティックかつ生活感のあるZINEフェス特有の雰囲気は、二次創作を中心とするコミックマーケットなどとはまた違った趣があった。形式も比較的自由で、普通に製本されたものだけでなく、ホチキス留めの簡素な本や、サイズの小さい本、特殊な紙を使った本、果ては変わった手段で作られた豆本など、自主制作ならではの手軽さや幅の広さが活かされている。<br>
    ZINE関連のイベントを訪れるのは初めてだったが、よい体験だった。主催のZINE FARM TOKYOはこれ以外にも各地で頻繁にイベントを開催しているようなので、また気が向いたら訪れるかもしれない。</p>
    <h3>入手品の感想書きまくり</h3>
    <p>度重なるイベント参加を経て、我が家には大量の入手品が積み上がっている。<br>
    本記事のこれ以降の部分では、さしあたり先週のコミケ入手品の感想（一部）をひたすら記していくことにする。</p>
    <p>【プロセカ】</p>
    <p><b>・ぬれぎぬ『壊壊』『痛痛』</b><br>
    『壊壊』：重いちかイラスト本。一歌はどんな表情をしても映えるな……。剥かれたリンゴ、『その歌を聴かせて』特訓後に描かれているものですかね？<br>
    レオニミクとの背中合わせイラストが一番のお気に入り。<br>
    『痛痛』：いちさき。Parallel Harmoniesだ！　名イベント。<br>
    こういう二次創作でしか描けない展開、正直ありがたい。現実にあそこで押し黙ることを選ぶのもまた二人の関係性ではあるのだけれど、そうならなかった先にも待っている"何か"はある。</p>
    <p><b>・くろろふぃる『宵と星集め（仮）』</b><br>
    イラスト本。奏＆一歌。カーネーション・リコレクションの柔らかい雰囲気が一番好き。<br>
    ブルフェス奏が最たる例ですが、こうして見ると奏って衣装によって雰囲気の振れ幅だいぶ大きいですね。</p>
    <p><b>・GHworks『同じ音が流れている』</b><br>
    奏＆穂波の小説。これものすごく良かった……！　ちょうどイベントストーリーをひとつ読んだような充実感がある。梅本さんが右手のなめらかな動作でカクテルを作るシーン。奏が穂波の料理の音を聞きながらピアノを鳴らしていくシーン。好きなシーンを挙げればきりがない。どの場面にもそれぞれの温度が感じられて、それがこの本全体を温かいものにしている。<br>
    送別会で奏がピアノを弾くとき、きっとその演奏はひとつの「会話」のようなものになっていたんだろうな、と思う。インプロヴィゼーションの美といえばよいのか。話し声、食器の音、笑い声、そういったことばたちを全身で受け取り、自らもピアノを通して加わっていく。それはふだん試行錯誤して作り上げる楽曲とはまた違った、不思議で、それでいて幸せな時間であるように見える。<br>
    奏はいろいろな人を受け入れる大きな度量を持っているのだけれど、とかく引きこもりがちな生活習慣のせいもあって、ニーゴのストーリーにおいて外で誰かと触れ合う機会は決して多くはない。だからこそ、こうしてさまざまな人と出会い、その人生と直接交わる場面を見られるのは、とてもありがたい。その過程で大きな役割を担ったのが穂波であるというのも、また良い。「救う」が奏のキーワードであるとするなら、穂波のキーワードは「導く」、というのはまさにその通りの話で。穂波がレオニでの日々を通して得てきた意志の強さは、奏との関係においても大いに発揮されている。そしてそれを受け取る奏はまたその手で他の人を助けるのだから、穂波と奏の関係はちょうど贈り物のリレーのようなものだな、と感じる。</p>
    <p><b>・滑り込みセーフ『リフレクション』</b><br>
    はるしず本。成長してさらに美人になった二人、良すぎる。それでいて二人とも在りし日と変わらない無邪気さを残しているところも。<br>
    頑張り屋にもいくつかタイプがあるとすれば、遥は精神を振り絞り続けて頑張る気質というよりは、むしろあまり意識せずとも易々と「頑張れてしまう」気質の人だな、と思っている。だからこそ、時が経っても公私問わず完璧であり続けるその姿は、あまりにもたやすく想像できる。そんな遥が内側にひそめた綻び、きっと崩壊には繋がらないであろうわずかな綻びをきちんと感じ取って、全身で受け止めようとする雫。あまりにもありがたい解釈……。遥が楽しめるよう優しい気遣いを注ぐだけでなく、雫自身もまた一緒にいるこの時間を心から楽しんでいるのだと、ときどき見せる表情から伝わってくるのも素敵。最高漫画でした。</p>
    <p><b>・第3形態『おさとういっぱい』</b><br>
    まふえな本。まふえな本はいくらあってもいい。<br>
    全体的に首がもげるほど同意しながら読んでいた。この二人って基本的に平常時の喜怒哀楽は圧倒的に絵名に偏っていて、まふゆ側は意味不明な距離の詰め方でバンバン主導権を逆転させてくるし、絵名はそれに振り回されていろんなリアクションを見せるんだけど、でもそういうひとときを幸せに思っているところもある。まふゆの力が強すぎてスキンシップでうめき声上げるとこ好き。</p>
    <p><b>・YN-ID『うす暗い部屋で君を思わする』</b><br>
    奏×まふゆママ（！）。創作でこのイミシブル組を見たのは初めてかもしれない。<br>
    まふゆママの過去というのは現在のストーリーにおいて全然描かれていない部分で、だからこそそこにミステリアスさというか、想像を読み込んでみたくなる気持ちは確かにある。宵崎親子、見た目だけではなく内面もしっかり受け継いでる親子だから、余計なにか感じるところがあるんだろうな……。</p>
    <p><b>・eau『最終手段』</b><br>
    るいみず本。屋上組感謝。<br>
    お互い似た境遇にある二人だけれども、時系列的にはまだ中学時代だから、既に明確な夢と実力を持っている神代先輩に対し、瑞希はそうして自分を位置づけるものがまだなく、より不安定な状態にある、というのは屋上組に対して感じることで。そのとき確かに家族というのは大きな存在だったんだろうと思う。<br>
    あまり深く切り込むことを好まず、でも瞬間的にはそれを超える一言を交わすこともある、この会話の距離感があまりにも類瑞。</p>
    <p>【VTuber】</p>
    <p><b>・早稲田大学VTuber研究会『早稲田V学』『VTrue』</b><br>
    『早稲田V学』：断片として散らばった「VTuber文化の記憶」のアーカイブ化、そして論文・評論などの発表の場の提供を目的とした小冊子。うちの『風とバーチャル』と似たコンセプトの冊子であり、実際に当日のブースも隣接していた。大学院で研究を行っている会員の文章もある。自分はVTuberの研究方面には比較的疎く、越後宏紀、陆志聪といった名は初めて知った。<br>
    VTuberの研究論文自体はこれまでに数多く存在しているものの、それらがいずれも散発的な発表にとどまってきたことは指摘の通りである。一方で2024年は国内で『VTuber学』等を皮切りに「学際分野としてのVTuber研究」の確立が急激に進められている記念すべき年であり、この冊子の存在もそのような動きの中に位置づけられることであろうと思う。<br>
    なお本筋とは関係ないが、巻末にある研究会公式VTuberオーディションのお知らせが興味深かった。学生主導でVTuberが制作される例は芝浦工業大学「芝浦ミドリ」を筆頭にいくつかみられるが、オーディションまで本格的に行う例は珍しい。詳細は公式ホームページにも掲載されているらしい。デビューが楽しみ。<br>
    <br>
    『VTrue』：寄稿誌。今回は「VTuber音楽」をテーマにさまざまな文章が集められている。ちなみに我々東大VTuber愛好会のメンバーからの寄稿もある。おすすめにépeler挙げてるのかなりwaterさんのオタク魂を感じる。<br> 
    VTuber音楽という存在が当たり前になりすぎた今ではあまり語られなくなったことだが、そもそもVTuberと音楽という2つの要素は当初は必ずしも密接ではなかった。ちょっと歌ってみたを出しただけで「ミライアカリや田中ヒメが歌を！？」みたいになる雰囲気は普通にあったし、2018年上半期に響木アオが曲を出してイベントを開催したのも当時としては非常に先進的な試みだった。それが今では多くの寄稿文が集まり、また付録の会員対象調査でも「VTuber音楽を毎日聴く」の回答がほとんどを占めているのだから、時代は進んだものである。<br>
    VTuber-音楽の組み合わせの誕生によって現れたシナジーの最たるものとして、もともと本人が作り上げてきたパーソナリティ、またその過程で生まれた視聴者との交流、そうした物語的な要素を盛り込みやすいという点は確実に挙げることができる。この冊子においてもこのシナジーの効果は強く表れており、それぞれの寄稿者が「このVTuberはこういう個性を持っていて、だからこそこの曲がより魅力的になっている」というストーリーを語ることで、冊子全体が大きな熱量を持つものになっていると感じた。個人的には「この曲がオススメ！」でココツキのWishingを挙げてくださった方にLOVEを送ります。</p>
    <p><b>・大谷さんとつむぐ谷さん『大解剖！「日本のカレー」』『大谷劇場DX』</b><br>
    『大解剖！「日本のカレー」』：明治ごろから普及した日本の国民食としての"カレー"にスポットを当てた本。こういうグルメ系の同人誌には以前から興味があったので今回の初コミケで手に入って嬉しい。<br>
    ご当地カレーから庶民的なアレンジカレーまで、たくさんの情報がまとまった一冊。全国でのカレー食べ歩き旅行も経験している著者だけあり、味の特徴を詳細に書き留めた記述の数々が食欲をそそる。メニューの内容だけでなく、それが人々にどのように受容されているか、という文化的な面まで詳細にまとめられているところもまた読んでいて非常に面白い。カレーとまちおこし、たしかに相性いいかも。<br>
    あまからカレーとスパイスカレーが鎬を削る大阪に思いを馳せたり、あるいは身近にある食堂カレーの良さを思い出してみたり。読んでいるうちに今にも外に出たくなるような、そんな同人誌だった。<br>
    <br>
    『大谷劇場DX』：こちらは打って変わって、大谷さん（VTuber）チームを中心にした4コマ漫画集。かわいい。なんとなく予想できたことではあるけど、ほぼすべての漫画でなんかものを食べていてすごい。大谷さんはあらゆるジャガイモを受け入れるし、ジャガイモも大谷さんをきっと受け入れる。Win-Win。</p>
    <p><b>・新海あざ丸『遠い夏のアルモニー』『ソラノオトシゴ』</b><br>
    シングルCD2枚。後者はシングルといいつつ全然8トラック入っててびっくりした。盛りだくさん。<br>
    楽曲としては、やはりボーカル3人の各音域が緻密に重ねられた『遠い夏のアルモニー』が一番お気に入り。空を見上げるような開放的な曲調に七夕らしい祈りの歌詞が乗った、この季節に聴いてこその曲だなあと感じる。表題曲らしいフレッシュさのなかに架空言語などのロマン要素がたくさん詰まった『ソラノオトシゴ』も好き。また『Twilight Fairy Garden』もLazさんのフルートを軸にした格別のイントロと、その後の落ち着いた音の流れが印象的だった。<br>
    それにしてもあざ丸さんの曲、とにかく聴いていて楽しい音が多いな、と思う。旅や冒険、異国情緒がテーマだけあって、最初に聴くときは空間の広がりが伝わるような、のびやかな音のまとまりに身をゆだねることができる。その一方で、一音一音に耳を傾けてみると、そこには凝った音、少し変わった軽快な音がたくさん存在していることにも気付かされる。今回の曲でいうと、風鈴や花火の音など風物詩までも楽器に取り入れた『遠い夏のアルモニー』がその最たるもの。そこにあざ丸さんの歌声が合わさりひとつの曲が完成するとあって、何回も違った楽しみ方ができる曲ばかりだと感じた。歌詞カードのアートワークも素敵なので、それを広げながらのんびり聴くのがいちばんいいかも。</p>
    <p><b>・むし『ゆめみてごめん』</b><br>
    ナポレボ本1。いろいろな衣装・シチュエーション・配信ネタのナポ君が見られるよくばり本。キョンシーイラストとモコモコ差し入れ服イラストがお気に入り。無感情書き初めナポも。同性だと普段あんまり意識しないけど、こうして改めて見るとやっぱビジュいいな……。<br>
    絵の可愛さはもちろん、ここには書けないネタも含めて発言などとても細かく拾われていて、すべてをひっくるめた愛を感じる。</p>
    <p><b>・こんぺいとうバンク『離れていても繋がっているから。』</b><br>
    ナポレボ本2。アクスタもいただきました。このタイトルの付け方と矛盾しない範囲でもっとも倫理に反したシチュエーションが飛んできて笑った。<br>
    配信を止めようとするところなどの、目を見開いたような表情が特に好き。おじさんにもっといろんな顔見せてね……。あとちゃんと部屋がずっと汚いところにこだわりを感じる。</p>
    <p>【その他】</p>
    <p><b>・Slappin' Beats『音楽ゲームとRTA』</b><br>
    その名の通り、音ゲーのRTAについての本。オンゲキRTAの実走記録つき。ブースにいらっしゃったはるくさんはたいへん気さくな方で、受け取るときに「Ragくんさんがヤバすぎる」などの話を二言三言交わしたことを記憶している。<br>
    内容は各種RTAイベントでもいろいろと案じられている、「いかに音ゲーでRTAを行うか？」というテーマを扱ったもの。冊子内でも挙げられているPIU InfinityのRTAは壮観だったし、A Dance of Fire and IceもきわめてRTA向きの仕様の音ゲーだった。ただ確かに、ルールとしてのバランスと、参入障壁の低さ、2つの要素を満たしながら興行的なRTAを音ゲーで成立させることは難しい。実力が求められることはある程度受け入れつつ、その場その場でユニークなルールを考案し、その結果として現れる新たなゲーム要素（例えばノスタルジアRTAの楽曲途中打ち切り戦略など）を楽しむ、というのが結局はよい落としどころになるのだろう。SOUND VOLTEXがRiJでのShowcaseという前例を作ったのも大きな一手で、これによっても音ゲーの見せ方の選択肢は一段と広がったように思う。<br>
    またRTAイベントといった表舞台とは離れる話だが、音ゲー文化にいわゆる「解禁無職」という風習があることは実はこの話題では特筆に値するかもしれない。ゲームイベントの仕様を理解し、最適な進行方法や即落ち・短時間選曲（IIDXでいうとKEEP ON MOVIN'が有名）を組んで新曲をいち早く出しに行くそのさまは、まさにリアルなタイムアタックの一形態である。ゲームによっては解禁中の様子をレポート動画や配信で見せることである種の興行性（？）が発生している例もある。他にも超高難易度の新曲が収録されたときのランカーの記録達成競争など、ゲームのアップデートを前提にした音ゲーならではの変則的なRTA文化は各所で見られるようにも思う。<br>
    <br>
    余談だが、音楽ゲームの類似ジャンルとして個人的に馴染み深いもののひとつにタイピングゲームがある。指定された入力をうまく行う点は音ゲーと同じだが、こちらは入力の上手さがそのままタイム短縮に繋がるという点でよりタイムアタック向きであるとは言える。実際に<a href="https://www.youtube.com/watch?v=mIyU42KYoTg">RTA in Japanでの採用実績</a>もある。<br>
    ただし、このジャンルはそもそも余所行きの場で使えるゲームがほぼ『The Typing of The Dead』しかないという唯一にして絶望的な弱点がある。バリエーションという点に限れば、実は音楽ゲームは恵まれた立場にはあるのかもしれない。</p>
</Layout>

