---
import Layout from '../../layouts/Layout.astro';
const pageTitle = "週記2025/01-2　やらなきゃダメだから（クリフハンガー/e-typing）やってるだけ";
---
<Layout pageTitle={pageTitle}>
    <h1>週記2025/01-2 （1月6日～1月12日）</h1>
    <p>最近、職場の昼休みの時間を使って机の上のものをスケッチしている。ハイユニ3Bと練り消しを使いつつ、無印の文庫本ノート（<a href="https://welame.netlify.app/article/202412-2/">週記2024/12-2</a>参照）に描き込む。影の付け方とかは後でいいので、とりあえずまともに形をとれるようにしたい。</p>
    <h3>読んだ本</h3>
    <p>今週読んだ本は、以下の4冊。<br>
        ◆『批評の歩き方』赤井浩太、松田樹<br>
        ◆『批評の教室』北村紗衣<br>
        ◆『〈弱さ〉から読み解く韓国現代文学』小山内園子<br>
        ◆『講談最前線』瀧口雅仁</p>
    <h3>行った配信</h3>
    <p>今週行った配信は、好きなもの紹介配信、タイピングスコア狙い配信、タイピング定期配信、プロセカニーゴストーリー再読配信の4本。</p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/HNlZz_MyUS4?si=N26XmTb1QYOwViB3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p><br></p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/SzunjGxxKO4?si=Kmy4Z3WABQCw_iTn" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p><br></p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/2ksgZzpmCL8?si=YAVmDnL4jllkyCzC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p><br></p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/aR_3JxcBWUc?si=XAUb1mkc2xaD0dre" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p>プロセカのストーリー再読配信は、今後も長いスパンで続けていく予定だ。</p>
    <p>今回読んだのは、ユニット『25時、ナイトコードで。』のメインストーリー。
        このストーリーの感想としては、田原夕さんの記事『<a href="https://dismal-dusk.hatenablog.com/entry/2024/03/12/210708">「消えたい」の解釈を拒絶する：プロジェクトセカイ「25時、ナイトコードで。」について</a>』が秀逸だと思っている。メインストーリーは明らかに、人と人とが通じ合う物語ではない。分かり合えず、すれ違いが消えないまま、それでも何か新しいものを得るストーリーだ。自殺しようとしている人にできることなど、もとよりそれしかないと思う。</p>
    <p>ちなみに概要欄にはニーゴを紹介するために自分で書き上げた文章を載せてある。最悪これだけ読んでくれれば配信は見なくてもいい。</p>
    <figure class="respimage">
        <img alt="プロセカの25時、ナイトコードで。のストーリーを読み直す配信シリーズです。 初回は「メインストーリー」。  【プロジェクトセカイと『25時、ナイトコードで。』の解説】 『プロジェクトセカイ カラフルステージ！』は、スマートフォン向けにリリースされた音楽/アドベンチャーゲーム。ボカロ楽曲を題材としており、初音ミクをはじめとする6名のバーチャル・シンガーが作中に登場することが大きな特徴である。  本作のストーリーには、5つの4人組ユニットが登場する。幼馴染バンドの『Leo/need』、アイドルユニットの『MORE MORE JUMP!』、ストリート音楽グループの『Vivid BAD SQUAD』、ショーユニットの『ワンダーランズ×ショウタイム』、そしてネット上の音楽制作サークル『25時、ナイトコードで。』。 ゲーム上では各ユニットの結成過程を描いた「メインストーリー」のほか、特定ユニット（または混合）のエピソードを描く「イベントストーリー」が月3回程度配信され、それぞれの物語が並行して進んでいく。  『25時、ナイトコードで。』は、作曲担当の宵崎奏、作詞担当の朝比奈まふゆ、イラスト担当の東雲絵名、動画担当の暁山瑞希の4名からなる音楽サークルである。インターネット上で活動し、動画サイトに自分たちの作品を投稿している。ボイスチャットアプリ「ナイトコード」（現実世界のDiscordにあたる）で深夜1時に集まって制作を行っており、その活動スタイルがユニット名の由来になっている。通称は「ニーゴ」。  プロデューサー曰く、本ユニットはボーカロイド文化を扱うにあたって避けることのできないアンダーグラウンド性、死生観などの重い要素を担う存在として生み出されている。 メンバーはそれぞれ人生における何らかの困難を抱えており、その問題に向き合い、自らの答えを模索していく過程が「ニーゴ」のストーリーの軸となる。夢や理想の追求がテーマに置かれやすいプロジェクトセカイというゲームにおいて、内面の問題に静かに取り組み続けるストーリーラインは異色ともいえる。ダークなビジュアルに違わず、内容も5ユニットの中では群を抜いて暗く、過酷である。 しかしながら、その険しい道を少しずつ寄り添って進んでいく物語は、「ニーゴならでは」といえるどこか穏やかな時間の流れを感じさせるものでもある。日常に苦痛を抱える4人だからこそ、深夜の制作活動という一息つける場所の存在、そこで交わされる他愛のない言葉のひとつひとつは、かけがえのないものとしての印象を強く残す。厳しさのなかに共感と安らぎを生むストーリーはプレイヤーからも大きな支持を集めており、ユニットとしての人気は非常に高い。" src="/202501-2_1.png"/>
    </figure>
    <figure class="respimage">
        <img alt=" 【キャラクター紹介】 （微ネタバレ含むので気になる人は注意）  宵崎奏： 作曲担当。並外れた作曲センスを持つ、ユニットのリーダー的存在。ハンドルネームはK。 穏やかできわめて優しい性格の持ち主であり、その精神性は楽曲にも反映されている。 作曲にすべてを捧げるあまり、カップラーメン中心の食事、不規則な睡眠など、極度に不摂生な生活を送っている。そのため体力に乏しい。  中学生の頃、ふとしたきっかけで作曲家である父親のヒットに貢献するものの、その才能が回り回って父親を追い詰め、ついには生活不能な状態に追い込んでしまう。 そのときの負い目から「人を救える作曲家」になることを自らの唯一の存在意義とみなし、取り憑かれたように制作に明け暮れる日々を送ることとなる。  朝比奈まふゆ： 作詞担当。ミックスなどを行うこともあるほか、自身も優秀な作曲能力を持つ。ハンドルネームは雪。 学校では学業、運動ともに優秀。学級委員も務め、周囲からは模範的な生徒として尊敬を集めている。  抑圧的な家庭に育てられており、進路を決められる、物を勝手に捨てられるなど、母親から日常的に強い干渉を受ける。その中で親や周囲の期待に応えようと「いい子」を演じ続けた結果、感情を失う、食べ物の味が分からなくなるなど、内側に重い障害を負うことになる。 『メインストーリー』での紆余曲折を経てニーゴの前ではテンションの低い素の自分をさらけ出すようになり、自分の居場所として束の間の安らぎを感じている。しかし親の干渉が強まるにつれてその活動も制限されていき、『イミシブル・ディスコード』『ボクたちの生存逃走』『仮面の私にさようなら』の三連作でついに親と対峙、ひとつの臨界点を迎える。  東雲絵名： イラスト担当。ハンドルネームはえななん。 性格は強気で直情的。子供っぽい一方で他人に対する面倒見のよさを覗かせる一面もある。いつでもストレートに感情を表現するタイプ。  有名画家の娘として育ち、自らもまた画家になるという夢を抱く。しかし次第に自らの才能のなさに苦しむようになり、高校受験の実技試験にも失敗するなど、絵の道を諦めかけるところまで追い込まれる。 一時期はSNSの自撮りアカウントで承認欲求を満たすだけの荒れた生活を送っていたが、ニーゴの活動を通して自らの生き方に対する覚悟を決め直す。『空白のキャンバスに描く私は』での出来事以降、本格的に絵と向き合う生活を続ける。  暁山瑞希： 動画担当。絵名と協力し、MVの映像を仕上げる役割を担う。ハンドルネームはAmia。 「カワイイ」ものをこよなく愛しており、トレードマークのリボンやファッションなど、その追求には余念がない。 メンバーの中でとくに快活な性格を有する、ムードメーカー的存在でもある。  法律上の性とは別の形で日常を過ごす、いわゆる（少なくとも広義の）トランスジェンダー。 学校では幼少期から周囲による否定的な扱いを受け続け、苦難に満ちた人生を送ってきた。現在も高校にはまともに通っていない。 学校の外であるニーゴでは事情を明かさず活動していたものの、そこでも次第に来たる終わりへの恐怖や自責の念に苛まれるようになる。その顛末は『ボクのあしあと、キミのゆくさき』を経て、『荊棘の道は何処へ』『傷だらけの手で、私達は』の2作で決定的な瞬間を迎える。" src="/202501-2_2.png"/>
    </figure>
    <h3>SASUKE動画</h3>
    <p>最近、SASUKEの公式YouTubeをよく見ている。年末のSASUKE2024の放送を見て久しぶりに興味を持ったのがきっかけだ。</p>
    <p>近年のSASUKEはTVを飛び出してYouTubeでの積極的な発信を続けており、現在チャンネルには多くの動画が投稿されている。第1回大会から第40回大会までの40本のプレイバック映像も存在しており、順に見ていくと歴史が感じられて楽しい（私はこの1～2週間で全部見た）。</p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/66OkqcImrK0?si=Ef5QETtktpJXFhPm" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p>またチャンネルには番組映像だけでなく、常連選手にスポットを当てた特別企画もある。そこではさまざまなトークを通して、各選手の性格、関係性、考えていることなど、それぞれの個性が浮かび上がってくる。マニアがSASUKEをより楽しく見るための番組側の計らいだろう。<br>
        ちなみに自分の好きな選手は佐藤惇、日置将士、宮岡良丞。優しいお兄さんが好きなのかもしれない。</p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/HHucGjYcums?si=F2Hiaq4GPATzyWsi" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p>この企画動画のひとつに、常連選手に「嫌いなエリア」を発表してもらう名物シリーズがある。選手の自宅にインタビュアーが訪れ、プレイしていて嫌だと感じるエリアとその理由を1位から5位までのランキング形式で聞いて回る企画だ。<br>
        軽量選手がタックルやバックストリームといったフィジカル種目の辛さを語っていたり、森本選手がFINALのサーモンラダーの邪悪さを2ndのサーモンラダーと比較して説明したり、フライングバーが複数人から「毎回たまたまできてるだけ」「落ちてる人あんまり居ないけどそんなわけなさすぎる」と文句を言われていたり、選手目線で様々なエリアの難しさを知ることができて興味深い。</p>
    <p>そんな中で印象的だったのは、又地選手が嫌いなエリアランキングの第2位に「クリフハンガー」を挙げていたことだ。約3cmの突起を掴んで指の力だけで進む、3rdステージの難関エリアである。</p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/0qRD8tmt5Os?si=5Dp9vb-LIm5Ncz8c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p>又地選手といえば身軽でぶらさがり力に長け、特に3rdステージのグリップ系エリアで抜群の安定感を発揮してきた選手だ。当然クリフハンガーも3戦3勝と非常に得意としており、第36回大会ではジャンプ後の瞬間を片手が外れた状態で耐えきる怪物じみたプレイを見せたこともある。だからこの回答は、率直に言えば意外だった。</p>
    <p>そんな又地選手がクリフハンガーを嫌う理由は単純。「痛すぎるから」。<br>
        練習するたび、指が擦れて痛む。一回やるだけなら平気でも、繰り返しているとどんどん痛みが蓄積してくる。そうした練習時の辛さを語り続け、挙句の果てには「やらなきゃダメだからやってるだけ（赤字テロップ）」と身も蓋もないことを言い始める始末だ。</p>
    <p>しかし私はこの一言に、競技をやる人間の何たるかを見たような気がする。<br>
        もちろん第一には、SASUKEの常連選手はSASUKEが好きで仕方がないからこそあそこまでの実力を手に入れている。クリフハンガーにしても、漆原選手や森本選手といった他の得意選手は「好きなエリア」として名前を挙げており、その根源的な楽しさが高いパフォーマンスのひとつの原動力になりうるのは間違いない。<br>
        しかし、それ一本で長期間の練習が続くわけはない。それにSASUKEは多種多様なエリアで構成されるから、あまりやりたくないものも突破しなければならない。むしろ楽しくないときでも、楽しくないことでも、それを当たり前のこととしてできてしまうからこそ、常連は常連たりうるのではないか。「変態になったかのようにトレーニングを積まないと本番のクリフハンガーでクリアできない」「あれをクリアできる人は変態なんだなと思う」となぜか他人事のように語る言葉の裏には、もはや安易な根性論の通用する領域を超え、価値体系が根本から狂ってしまった人間たちの誇らしい姿が見え隠れする。</p>
    <p>同じくクリフハンガーを嫌いなエリアに挙げた日置選手も、「クリフはめちゃめちゃ痛くなる」とその練習の難しさを語っている。「ちょっと見てる方やってごらんなさいよこれ！テーブルにダーンって思いっきり！！」とカメラに向かって熱のこもった様子で語る日置選手。しかしそんな彼も、毎回自宅のセットでそのクリフの練習を重ね、跳べるように準備をした上で本番に臨んでいる。</p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/ii9ht_chGUE?si=iNGbe7Qs0CXntF5v" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p>好きな種目を極めるだけでなく、そうでもない種目も入念に準備する。なんでこんなことをしなくちゃならないんだと毒づきながら、それでもやらないという選択肢を自然と捨てて練習し続ける。そんなトレーニングの過程に思いを馳せると、これからのSASUKEもより楽しく見られそうな気がする。</p>
    <h3>e-typing元気ワードチャレンジ</h3>
    <p>又地選手を見習って、私も「やらなきゃダメ」なタイピング種目をやる。『e-typing』だ。</p>
    <p><a href="https://www.e-typing.ne.jp/member/">e-typing</a>は、国内最大級のユーザーを抱えるタイピング練習サイトである。モードのひとつである「腕試しレベルチェック」は毎週ワードセットが入れ替わり、毎週何千人ものユーザーがランキングに参加して競い合う。現代タイピング界においてはもっとも広く使われる実力指標でもある。</p>
    <p>ただこのe-typing、上級者になるほどそのろくでもないゲーム性が牙をむき始める。ガチ勢向けでないものをガチ勢が無理矢理使おうとした結果、ひずみが生まれてしまっているといってもいい。</p>
    <p>まずこのゲームの最大の特徴として、「ワードが表示された瞬間にタイム計測が始まる」という仕様の存在がある。これは1文字目を認識し、打ち始めるまでの反射速度がタイムに含まれることを意味する。この時間は、慣れた人ならおおよそ0.5秒前後に収まる。<br>
        しかし、このたった0.5秒が大問題なのである。というのも、真面目にこのゲームの上位を狙うプレイヤーであれば、1秒間に10打以上のペースで文字をタイピングできる水準にある。そうなると当然、文字と文字の間で消費する時間は0.1秒にも満たない。十数打の短いワードであれば、1秒程度もあれば入力が完了する計算になる。このレベルのスピード勝負になってくると、0.5秒という最初の固定ダメージはもはやまったく無視できない数字になる。この時間を削れるかどうかが、最終的にスコアに非常に大きな影響を及ぼしてくるのだ。<br>
        このため、プレイヤーは素の打鍵速度が高速になればなるほど、この打鍵外の要素とも真剣に向き合うようになる。1文字目の反応速度を計測するニッチなブラウザ拡張機能も存在しており、ほとんどの上級者がその数字に基づいて自分の状態を定量的に把握している。最初だけローマ字部分を見る方法を身に着ける、目線や位置を調整して最適なものにする、果てはこのためだけにモニターを高性能なものに買い替えるなど、それぞれが対策を積み重ね、0.4秒台・0.3秒台を目指していく。「<a href="https://w-h.medium.com/%E5%88%9D%E9%80%9F%E3%82%92%E4%B8%8A%E3%81%92%E3%82%8B13%E3%81%AE%E6%96%B9%E6%B3%95-dd96c411a161">初速を上げる13の方法</a>」という記事を見れば、たかが1文字目を打つためにどれだけ我々が工夫を強いられているかがよく分かるだろう。</p>
    <p>加えて、e-typingは打鍵ミスによるペナルティの大きなゲームである。スコアの計算式は、（速度[打/分]）×（正確率^3）。基本的には速度の値がそのままスコアになる仕様であるが、正確率（99%なら0.99）が3乗された上で掛けられるため、ミスが重なるとスコアに大きな打撃を与えることとなる。このため、プレイヤーはなるべく打鍵が崩れないように走り抜けなければならない。たとえスタートダッシュがギリギリの勝負だろうと、踏み外すことは許されない。</p>
    <p>しかし当然速度も捨てることはできない。e-typingは初心者も遊ぶゲームである以上、一文一文は短く、どちらかといえば瞬発力が求められる傾向にある。良いスコアを引き出すためには、自分が安定的に持続できる速度よりも少し速いペースで駆け抜けなければならない。それを1トライアルあたり15文。不安定な領域を止まっては走り、止まっては走り、激しい緩急を繰り返しつつ完走を目指していく。</p>
    <p>これらの要素が組み合わさった結果、プレイヤーは「1文字目を高速で認識しスタートダッシュを決める」こと、そのまま「短文を全力ダッシュに近い速度で打ち切る」こと、それらを「ミスをほとんどせずにこなす」こと、この3つを1トライアル中ずっと両立させ続けるよう求められる。集中力を切らせば、いつどの箇所でつまずいてもおかしくない。非常にシビアな世界である。<br>
        クラウチングスタートから細い足場の上を疾走する動きを15セット続け、足を踏み外したら最初からやり直し、という例えを使えば、e-typingというゲームが我々に与えてくるストレスが少しでも伝わるだろうか。自分はやらないが、台パンでイライラを発散しながらスコア狙いをする人も一定数いる。私はそんな人たちを責めることができない。</p>
    <p>繊細な競技だけあって、実際10回やったら8回や9回は失敗に終わる。残りの1回や2回もただ走り抜けられたというだけであり、自分の最終的に狙っているスコアにはなかなか達しない。だからスコアをきちんと狙うならば、たいてい複数日にわたって1日何時間もトライアルを繰り返すことが必要になる。<br>
        ただ1回を引き当てるために、同じことを何百セットも繰り返す。やることに変化は起こらない。祈っても目の前のトライアルや次のトライアルで良い結果が出る確率は限りなく低い。そのなかで自分の状態を細かく観察し、経験をもとに調整し、「その時」が来るまでじわじわと量を重ね続ける。それが、競技タイピングという一見カッコいい名詞の内側にあるものだ。</p>
    <p>こんな繰り返し作業、正直まともな人間がやることではない。タイピングゲームという圧倒的なプレイ人口を誇るゲームジャンルで「競技タイピング界隈」が狭いコミュニティに留まり続けている最大の理由はここにある。奥深さを伝えるには、あまりにゲームとして広がりがなさすぎるのだ。変な人じゃないと年単位もやれない気がするし、実際やってる人はなんか変な人が多い。</p>
    <p>まともでない側の人間であっても、それぞれ人によってキツく感じるものはある。私にとっては当然、ここまでつらつらと文句を垂れてきたe-typingがそれにあたる。自分は普段の練習では得意な長時間種目、あるいは反射のいらない打鍵力種目を中心にしていた。言い換えれば、その他の種目は嗜み程度にしかやってこなかった。しかし先述の通り、e-typingは競技シーンの最も重要な実力指標である。どこかではやらなければいけない。<br>
        そんなとき、今週は腕試しのお題として「元気の出る言葉」が出題された。ワードが長く（反射神経要素が小さく）、かつ滑らかに打てる箇所が多い、e-typing屈指の当たりワードである。ふたたびこのゲームと向き合いはじめるなら、今が絶好の機会だろう。</p>
    <p>というわけで今週は少しだけ本腰を入れ、毎日時間を割いて一週間打ち続けた。本格的にe-typingを打つのは久しぶりだったので、最初は感覚を思い出しながらのプレイになった。ウィンドウはモニターのどこに置いていたか、目線はどこに定めていたか、意識はどこにどんな比率で割いていたか。ひとつずつ見直しながら、最適なものへと近づけていく。</p>
    <figure class="respimage">
        <img alt="e-typing 619ptのスコアリザルト" src="/202501-2_3.png"/>
    </figure>
    <p>一週間が経過し、最終的に得られた結果は619pt。歴代自己ベストである646ptには及ばず、今一歩の結果となった。<br>
        しかし練習の過程で自分のプレイの見直しができたことは、スコア以上に大きな収穫であった。継続的な上達のためには、自分の指の動きの水準を正確に理解することと、自分の課題を見つけ出すこと、このふたつが欠かせない。そしてこれらは、どうしても負荷の高い打鍵を一定量こなさないと見えてこないものである。今回は普段のプレイよりもそういった要素が多く見えた一週間だった。やはりきちんとやらなければダメだなあ……と実感する週でもあった。今後もe-typingは毎週参加し続け、地道なステップアップを目指すつもりだ。</p>
    <p>別に楽しくて仕方がないわけではないが、気づけばキーボードに手が伸びてしまう。そしてやらなきゃダメなときは、ぶつくさ文句を言いつつスコア狙いをやる。ぐんぐん伸びる初心者期間が過ぎ去り、中堅プレイヤーとして安定期に入った今だからこそ、改めてそういう淡々とした形で、少しずつ競技タイピングの能力を伸ばしていきたいと思う。</p>

    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="週記2025/01-2　やらなきゃダメだから（クリフハンガー/e-typing）やってるだけ - welame&#39;s page" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</Layout>

