---
import Layout from '../../layouts/Layout.astro';
const pageTitle = "週記2025/02-1,2,3　閑静なmastodon日記";
---
<Layout pageTitle={pageTitle}>
    <h1>週記2025/02-1,2,3 （1月27日～2月16日）</h1>
    <p>先日、SPI試験の結果が返ってきた。「じっとしていたさ」と「欲のなさ」が人口比2%だった。なんかそういう陰鬱なMENSAがあれば入れる。</p>
    <h3>読了した本</h3>
    <p>この三週間で読了した本は、以下の4冊。<br>
        ◆ハンス・ロスリング、オーラ・ロスリング、アンナ・ロスリング・ロンランド『FACTFULNESS』上杉周作、関美和訳<br>
        ◆マーク・フィッシャー『K-PUNK 自分の武器を選べ──音楽・政治』五井健太郎、 坂本麻里子、髙橋勇人訳<br>
        ◆蓮實重彦『スポーツ批評宣言 あるいは運動の擁護』<br>
        ◆桜木紫乃『ワン・モア』</p>
    <p>これまで概ね2日に1冊読み終えるペースでやってきたことを考えると、かなり緩やかな期間だったといえる。『K-PUNK』が厚み3冊分ほどある本であり、またこれ以外に重めの本を複数冊読んでいたので、量的には極端に減っているわけではないが。</p>
    <h3>行った配信</h3>
    <p>この三週間で行った配信は、9回。Welame's Awardの1月分と、PCモニターを視聴者と調べる配信、そしてタイピング定期配信3回。</p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/CVzIbpwlL_o?si=CTSsIpaidBe7yFqA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p><br></p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/lzIYpv2cXjc?si=F8MIxjVmD-JuM7LA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p>加えて、プロジェクトセカイの『25時、ナイトコードで。』ストーリー再読配信が4回。『交わる旋律 灯るぬくもり』から『イミシブル・ディスコード』まで。いよいよ次は大詰めの『仮面～』回だ。</p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/ML3JHpRbhfY?si=Z_EcC1CdJpH8RZky" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <h3>投稿記事1：競技タイピング界近況まとめ</h3>
    <p>競技タイピング界の現在　2025年1月編：いろはかるたと新世代、R総合ZF、a-cho閉店など<br>
        <a href="https://welame.hatenadiary.com/entry/2025/02/02/203839">https://welame.hatenadiary.com/entry/2025/02/02/203839</a></p>
    <p>新連載。タイピング界の最近の動向をまとめている。<br>
        配信で話したことを記事の形で書き直したものだが、こうして見ると1ヵ月単位でもけっこう色々なことがある。</p>
    <h3>投稿記事2：タイピング実験</h3>
    <p>タイピング考察ノート　7巻：「動作最適化」概念と定量的なスピード感覚の構築<br>
        <a href="https://welame.hatenadiary.com/entry/2025/02/09/151158">https://welame.hatenadiary.com/entry/2025/02/09/151158</a></p>
    <p>自分の打鍵を速くするにはどうすればよいのか、具体的な数字をもって語れるようにしたいと思って書いた記事。今回はとっかかりとして、ミクロな基本動作のデータを集めることにした。<br>
        タイピング界は歴史の長い界隈ではあるが、こうした定量的な議論の蓄積は驚くほど少ない。やってみればいくらでも非自明な仮説が出てくる領域だと思うので、今後も考えていきたい。</p>
    <h3>投稿記事3：校歌指導について</h3>
    <p>校歌指導の何がよくなかったのか2025（浦和高校卒業生視点）<br>
        <a href="https://welame.netlify.app/article/koukasidou/">https://welame.netlify.app/article/koukasidou/</a></p>
    <p>書きたいことは中にすべて書いたので、それ以上のことはあまり語りたくない。</p>
    <h3>モニター購入</h3>
    <p>PCモニターを新しく購入した。TUF Gaming VG27AQ3Aである。</p>
    <blockquote class="twitter-tweet tw-align-center"><p lang="ja" dir="ltr">なんか1日早く届きました <a href="https://t.co/dQSHgdtELa">pic.twitter.com/dQSHgdtELa</a></p>&mdash; うぇるあめ (@welch2929) <a href="https://twitter.com/welch2929/status/1885562118940082431?ref_src=twsrc%5Etfw">February 1, 2025</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <p>最も大きな変化は、リフレッシュレートが60Hzから144Hzになったことだ。最大180Hzというスペックはまだ利用できていないが、それでも十分すぎる進化といえる。設定変更後にマウスをはじめて動かしたとき、そのぬるぬる具合に感慨を覚えた。</p>
    <p>自分の場合、この変化が最も意味を持つのはタイピングゲームにおいてである。<br>
        e-typingをはじめいくつかのタイピングサイトでは、ワードが表示された瞬間からタイムの計測が始まる仕様になっている。これはすなわち、単純な文の打鍵速度だけでなく、1文字目を打ち始めるまでの反射神経もスコアに大きな影響を与えるということを意味する。今回のモニター変更によって、このレイテンシは0.03秒程度改善している。ごくわずかな差に見えるかもしれないが、上位帯ではかなりの意味を持つ数字だ。</p>
    <h3>mastodon日記</h3>
    <p>1月下旬ごろから、mastodonのアカウントの方で毎日その日の記録を書いている。html埋め込みのコマンドがあったので、適宜埋め込む。</p>
    <iframe src="https://mstdn.jp/@welch2929/113901727243514093/embed" class="mastodon-embed" style="max-width: 600px; border: 0" width=100% allowfullscreen="allowfullscreen"></iframe><script src="https://mstdn.jp/embed.js" async="async"></script>
    <p>元々は読み終えた本や漫画を記録したり軽い感想を添えたりするアカウントだったのだが、より気軽に雑多な内容を詰め込めるよう、運用方法を変えた。週記をずいぶん長い期間ほったらかしにしていた間も、この日記はもくもくと続けていた。</p>
    <p>毎日一回送る、誰に届くとも知れない報告。私はTwitterの方では約2000人のフォロワー数を持っているのだが、mastodonのフォロワーはわずか12人。やっていることはほぼ壁打ちであり、それも「別に誰も読んでいないわけではないが、それはそれとして別に誰が読むとも意識しなくていい」というちょうどよい塩梅を突いている。<br>
        フォローは常時歓迎であるが、それはそれとして私は今のところ、このまばらな空気を心地よく感じている。そもそも私が代替SNSのなかでmastodonを選択したのは、単純にここが一番"静かそうな"場所だと思ったからだ。華美なUIやゴテゴテしたリアクションスタンプに脳の資源を奪われることもない。Twitter文化に近いもののそれほどごみごみした感じはなく、基本的に各自がマイペースでいる印象を受ける。あまり一般層が入ってくる空間でもないため、インターネットらしい雰囲気を保ってもいる。総じてSNSの中では少し落ち着いた、隠れ家のような場所だと捉えている。</p>
    <p>文字数が500文字まで使えるというのもよいところで、こちらが少し内容のあることを書いてもそれなりに受け入れてくれる感じがある。1ポストが重めになると、必然的にSNSとしてのテンポ感も少しだけスローダウンする。どこか静かな印象に、より拍車がかかる。そういうところもmastodonを気に入っているゆえんだ。</p>
    <iframe src="https://mstdn.jp/@welch2929/113935591917248645/embed" class="mastodon-embed" style="max-width: 600px; border: 0" width=100% allowfullscreen="allowfullscreen"></iframe><script src="https://mstdn.jp/embed.js" async="async"></script>
    <p>最近の内容としては、タイピングに関するものが多い。今年に入ってから競技タイピングのモチベーションが急激に高まっており、毎日練習でさまざまなことを考えては一日単位でこの日記に記録している。<br>
        どんな競技もそうだと思うが、ある程度上手くなった状態でさらに実力を伸ばそうとする場合、短い期間で集中的に打ち込んでプレイを底上げすることは非常に重要になってくる。やる気スイッチの入った今だからこそ、e-typing700ptという一度は諦めた目標を掴めるよう、その足掛かりをどんどん作っていきたい。</p>
    <iframe src="https://mstdn.jp/@welch2929/113935620595137025/embed" class="mastodon-embed" style="max-width: 600px; border: 0" width=100% allowfullscreen="allowfullscreen"></iframe><script src="https://mstdn.jp/embed.js" async="async"></script>
    <p>また、現在読み込んでいるキムリッカ『現代政治理論』のメモも多い。現在功利主義・リベラルな平等主義・リバタリアニズムの章を終え、マルクス主義の章に入っている。内容が濃密であるため、なにかと議論を辿るのに時間がかかってしまうが、それをするだけの価値は間違いなくある本だと思う。</p>
    <p>陽のTwitterと、陰のmastodon。以降も形を変えながら両方活用していくつもりだ。</p>

    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="週記2025/02-1,2,3　閑静なmastodon日記 - welame&#39;s page" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</Layout>

