---
import Layout from '../../layouts/Layout.astro';
const pageTitle = "";
---
<Layout pageTitle={pageTitle}>
    <h1>日記remix 2025年11～12月編</h1>
    <p>こんにちは、うぇるあめです。<br>
        私は普段、mastodonアカウントにて日記を投稿しています。本記事ではその内容の中から、11月～12月に投稿した文章の総集編をお届けします。</p>
    <blockquote class="twitter-tweet tw-align-center"><p lang="ja" dir="ltr">11月の私の様子<a href="https://t.co/Bn0cXx1Rlq">https://t.co/Bn0cXx1Rlq</a></p>&mdash; うぇるあめ (@welch2929) <a href="https://twitter.com/welch2929/status/1985469622532128920?ref_src=twsrc%5Etfw">November 3, 2025</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <blockquote class="twitter-tweet tw-align-center"><p lang="ja" dir="ltr">12月の私の様子<a href="https://t.co/Bn0cXx1Rlq">https://t.co/Bn0cXx1Rlq</a></p>&mdash; うぇるあめ (@welch2929) <a href="https://twitter.com/welch2929/status/1995629317238431793?ref_src=twsrc%5Etfw">December 1, 2025</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <p>この記事は<a href="https://adventar.org/calendars/11952">タイパー Advent Calendar 2025 (フリー部門) </a>24日目の記事です。</p>
    <p>周辺の記事はこちら。<br>
    12/23（フリー部門）：motokiさん『自転車ロックされて社会の厳しさを知った話』<br>
    12/23（タイピング部門）：えふさん『<a href="https://note.com/brisk_sorrel2438/n/n25576c2b19ea">不調の原因について</a>』<br>
    12/24（タイピング部門）：yonezuosiさん『机上の配列論』<br>
    12/25（タイピング部門）：uaaaaaaaaさん『REALFORCE R4ってどんなキーボード？』</p>
    <h2>日常</h2>
    <p>11/1：まっさらなノートに向き合ったとき、新品の本をめくったとき、そして新しい月が始まったとき。人はなにかと気が張り、自分がいつもより大層なことをしているかのような錯覚を覚える。</p>
    <p>11/3：美容院に行った。癖っ毛を流しやすくするため、少しだけパーマをかけてもらった。毛束にウェーブがかかり、頭を動かしたときに独自の動きをする髪が増えた。</p>
    <p>11/6：早めに会社を出ると、かろうじて夕暮れが見えた。西方の空は澄んだ青色をしており、地平線が橙色に染まっていた。そこに東の方から暗い紺青色が迫り、まばらな白雲とともに押し寄せていたので、空全体が波打ち際のような様相を呈していた。<br>
満月は煌々と光っていた。やがて夜が深まると暖色の光を強めた。</p>
    <p>11/7：揺れる電車の中で立っていると、体はさまざまな方向に振られる。このとき、吊り革にぐっと力をかけずとも、振られた方向に合わせて細かく立ち位置を変化させたり、角度を変えていったりすると、無理なくその揺れを吸収できる。ひとつの姿勢を維持しようと思うのではなく、外からの刺激を取り入れて手がかりにし、たえず少し違う姿勢に自分を移してみればよい。<br>
最近の私の生活は、要するにこのような心構えでやっている。</p>
    <p>11/8：朝、犬にぜんぜん懐かれていない飼い主とすれ違った。散歩させられている犬が、しきりに飼い主の足元で鳴き声を上げ続けていた。わたしは犬の「震える」ような鳴き声をはじめて聞いた。</p>
    <p>11/14：夕陽が落ちて来る時間が早くなった。<br>
仕事場の窓から差し込むオレンジ色の光が、ちょうど定時のすこし前くらいにぴったり目に入る角度に来るようになった。晩秋特有ともいうべきこの光線は、わたしが座る位置や首の角度を変えるごとに、ふいに目の中に入ってきたり、また消えたりを繰り返す。</p>
    <p>11/17：ヘアケアの用具を買った。それらしいインバストリートメントと、ドライヤー前のヘアオイル。手入れをした後のつやめいた髪を見ると悪い気はしない。</p>
    <p>11/19：風に化けた氷が無邪気に肌を撫でるような、冷たい朝だった。チョコ菓子を買って職場に向かった。</p>
    <p>11/20：電車から降りると柔らかい煙の匂いがした。朝のコンビニがせわしなかった。</p>
    <p>11/20：キャンドル風のライトを買った。段ボールの箱に12個セットで入っていた。読書灯に使うには明るさが足りないが、少しだけ光量が欲しいときには有用だ。</p>
    <p>11/21：私も太陽もまだ目を覚ましたばかりの朝、今日も家を出る。西の空は青く澄み、東の空はまだ水平線をオレンジ色に染めて名残惜しそうにしている。<br>
空のどちらが東と西かなんて、思えば長らく気にしたこともなかった。自分は毎日、東に向かって歩き始めているらしい。</p>
    <p>11/21：仕事でこまごました作業を続けていたので、終わったあとは何もする気が起きず、ただ家路をぼうっと歩いていた。線路沿いの呑み屋が煙をもうもうと立て、夜空に膨らんだ幕をかけていた。自分の吐き出す白い息が、その群れに溶けて混ざった。</p>
    <p>11/26：私はいま仕事で庭を整えている。別に庭いじりをしているわけではなく、身の回りの情報をちまちまと整理する仕事をルーチンワークの合間にやっている。交通は庭師がいないと案外成立しない、というのが少しずつ分かってきた。</p>
    <p>11/26：朝の路面が湿っていた。昨晩は雨が降っていたのだろうか。空は満足そうに晴れ、強い日差しが照りつけていた。電車が走り出すと、その光は街を片端から焼いていった。</p>
    <p>11/28：鉄塔が見える。朝日の差した青空で、あまたの影に縁取られ、ただ穏やかに座っている。</p>
    <p>11/28：時間どおりに電車が来ることも、冷蔵庫を開くとキャベツがあることも、毎晩6時に電灯がつくことも。わたしたちの生活はつねに不可解な符合がないとやっていられなくて、それは人々が送電線となってたがいを見守り、これがほしいだろうな、と思うものをそっと置き合うことで成り立っている。こんなにも細い線によりすがって生きている。</p>
    <p>11/30：免許更新の日。優良区分なので講習自体にはさして時間がかからなかった。優良とはもちろん「乗らないから面倒事を起こさない」という意味だ。</p>
    <p>12/4：ずいぶんと空気が冷え込んできた。夜の月さえも綿のような暖かい雲に潜り、巣ごもりの幸福に浸っていた。明日はコートを出そうと思った。</p>
    <p>12/6：映画『Ryuichi Sakamoto: Diaries』を観た。</p>
    <p>12/14：冷え込みが厳しくなってくる。空気は氷を閉じ込めて固くなり、太陽の光がその光沢を顕にする。</p>
    <h2>冬</h2>
    <p>11/5：調子のよくない朝。頭の内側にクリームがべったりとつき、甘ったるい重みで思考がうまく出てこられずにいる。</p>
    <p>ほとんど模様のない薄雲が、ぼんやりと空全体を一色に覆っている。太陽のあるところだけ、ピンホールを空けたような円形の光が見える。<br>
街はひときわ冷え込み、そこかしこで室外機がゆったり回っている。屋外は屋内と比べて静かであるから、その音も耳を傾ければほのかに聴こえてきそうである。</p>
    <p>家に帰ってからは抜き書き帳の作成や読書などをしていた。<br>
体を動かさない時間がしばらく続いたので、途中でランニングシューズを履いて家を飛び出し、あちこち走った。そのままの勢いで近くにあった柵を掴み、側転の要領で飛び越えようとしたところ、振り上げた脚が急な伸展に耐えられずに攣りかけた。入念に準備運動をするべきだったと反省し、いやに冷静な気持ちで家に戻った。この突発的運動は、集中力に劇薬じみた回復を与えた。</p>
    <h2>都心、セカスト、地元の線路</h2>
    <p>11/22：昼食会に出かけていた。インドカレーのお店だった。六本木の高層ビルのフロアはさながら迷路のようで、駅を出てからはなすがままに目の前の道を流されていた。集まったのは3人で、主に言語に関する話をした。<br>
すぐ近場に公園があったので、食後に少し散歩をした。凝った公園だった。広々した土地に計算的な緑を寄せ集め、そこに曲線形のオブジェをちりばめるのが都心の嗜みというものであるが、この街もその例に漏れないようだった。中心部には水底の浅い池がゆらめき、それを取り囲む木々たちは青葉とそれを燃やすような紅葉を一面に茂らせていた。</p>
    <p>2nd STREETに寄り、冬物のコートを買った。私もレジの店員さんもときどき鼻をすすっていた。</p>
    <p>帰りは4時頃になった。いつも通っている線路沿いの道が、仕事帰りの日没後の光景とは違って見えた。建物の壁面はみな一様にオレンジ色の光で塗られていた。線路横に点在する箱型の電気設備が、ライトアップの下で誇らしげに影を落としていた。側面には錆が垂れ、年季の深さを思わせた。</p>
    <h2>波</h2>
    <p>11/25：何もする気が起きなかった。詩集を読んでいたが途中でやめ、ベッドに寝転んだ。もこもこした布団の中は海になっていて、波打ち際となった私のうちにさまざまな想念が押し寄せては消えた。<br>
そのまま、ふっと眠りについた。</p>
    <p>“暖かい思いをしながら、外がどのくらい寒いかを知りたくなったら、新聞に載っているシュヴァリエ式温度計の数字を見るんだろ。だがな、俺たちはこの身体が温度計だ！　気温が氷点下何度まで下がっているかなんて、川岸にある時計のそばに調べに行く必要なんてありゃしねえ。血管のなかの血が固まりそうになって、それが心臓まで流れてくるから、こう叫ぶのさ。『もう終わりだ！』ってな。”<br>
（ヴィクトル・ユゴー『レ・ミゼラブル』永山篤一訳）</p>
    <p>目を覚ますと朝の5時になっていた。まだ朝日は差していなかった。からからの喉にお茶を一杯流し込んだ。</p>
    <h2>誕生日</h2>
    <blockquote class="twitter-tweet tw-align-center"><p lang="ja" dir="ltr">11/11 誕生日<a href="https://t.co/japH74ET84">https://t.co/japH74ET84</a> <a href="https://t.co/CyHSb6y0fB">pic.twitter.com/CyHSb6y0fB</a></p>&mdash; うぇるあめ (@welch2929) <a href="https://twitter.com/welch2929/status/1988580054759301317?ref_src=twsrc%5Etfw">November 12, 2025</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <h2>カラス</h2>
    <p>11/12：朝、駅のホームでかなり長い待ち時間が発生した。ただ立って待っているのも退屈なので、いったん改札の外に出て、駅前の広場で時間を過ごしていた。冬の朝の潤いに満ちた寒空の下、目の前で一羽のカラスがサンドイッチの袋をついばんでいた。嘴でくわえて袋を少しずつ移動させながら、表面の付着物でも探っているのか、ときどき入念にあちこちを突っついていた。<br>
カラスの首の動かし方は独特で、静と動のふたつの状態の切り替えがはっきりしている。だらだらとした緩慢な動きは決してせず、首を動かすときは点と点のあいだを最短距離で繋ぐようにすばやく動き、その先でぴたっと静止する。そしてわずかにその場にとどまったかと思えば、また首を他の角度へと動かし、ふたたび止める。この瞬間的な動きを、カラスの頭部は不規則な軌道を描きながらたえず繰り返している。それはいわば、優れた踊り手が示す機敏かつ繊細な身体の統制と同様のものが、人間の熟練とは異なる自然の論理によって生み出されたものだといえる。</p>
    <h2>駅間歩行</h2>
    <p>11/13：帰りの電車がごたごたしていたので、途中で降りて乗り換え駅まで歩いた。最近、このように駅と駅の間を歩いて移動する機会が増えている。電車の時間の都合に合わせるのが億劫になったり、人混みが嫌になったりしたときにその場の気分で決めているから、歩く区間はあらかじめどこと定まっているわけではない。<br>
今日歩いたのは川沿いの道だった。11月の夜は寒く、水辺からの湿った空気が肌を冷やした。ランニング中の人と何回かすれ違った。<br>
遠くには集合住宅の部屋の明かりが規則正しく並んでいる。それが、なぜか自分の歩きにともなって明滅していた。これは、自分と建物との間に電線が架かっており、暗闇で線そのものは見えないけれども、移動する視界のなかでときどき向こうの電灯と重なり、間接的にその存在を現しているのだとわかった。</p>
    <h2>静</h2>
    <p>11/18：さっ、さっ。物を研ぐ乾いた音が聞こえる。いつもより人の少ない冬の朝、規則的にその音は響く。われわれは静けさを音の不在によって知るのではない、むしろ、音が鳴ったとき、今まで埋もれていた小さな音が聞こえたときに、静寂を知る。空調の音。遠くの足音。また響き始めた、あの摩擦の音。<br>
そういう静けさがもっと欲しくて、家に帰ってからは暗い部屋に籠る。電気をつけない、刺激の少ない部屋に。かろうじて使っているデスクライトは部屋の奥の方にあるから、入るときと出るときは壁伝いに手を這わせ、身体を支えながら移動しなければならない。そういう部屋では、空気の音さえもこの耳に聞こえる。</p>
    <h2>メモ</h2>
    <p>11/5：最近の日記は、だいたい普段の生活のなかで書き付けたメモをつぎはぎして作っている。<br>
やり方は簡単だ。私は起きているあいだ、頭の中で数えきれないほどのおしゃべりをする。それをどこでも書き付けられるよう、バッグのポケットに常にメモ帳とボールペンを入れておく。脳内会話はたいていの場合において自分でも気付かないくらいの自然さで始まるものだが、しだいに何回か同じ話をぐるぐる繰り返すようになると、そうしている自分を意識できるくらいになる。こうなったら適当なところでメモを取り出し、おしゃべりの内容を紙の上で再現する。<br>
一日は長いから、これを繰り返していればそれなりの分量の言葉が溜まる。頭をからっぽにしておける時間も増えるし、よいことが多い。</p>
    <p>11/17：最近は手帳に思考をありったけ書きつけているので、メモには日記にまだ載せていない言葉の山が連なっている。今のところがらくたの山であるが、風が吹きつけるたびどこかが発火して少しだけ使い物になる。</p>
    <p>11/19：今日もメモ帳にいろいろ書き溜めた。<br>
不思議なもので、メモ帳にいちど思考を書きつけておくと、その考えは再び脳内に出てこなくなる。たとえ出てくるとしても、前回とは少し違う形に変わっている。<br>
そのうちに、思考が脳内で繰り返し現れようとするのは、それら一つ一つがみな自分のことを大事に思ってもらいたがっているからだ、と分かった。いま書き取ってくれないと、次の日にはもう消えてしまうかもしれない。それがたまらなく怖いから、存在を残そうとしているのだ。私たちと同じだと思った。</p>
    <h2>リーディングトラッカー</h2>
    <p>12/22：最近、リーディングトラッカーという読書補助具を導入した。Twitterのフォロワー経由で知って以来、多くの場面で愛用している。<br>
この道具は、しおりのような形をした1枚の縦長シートである。基本的には不透明であるが、中心部分に一本だけ、縦向きの透明なラインが入っている。シートを本に当て、このラインを今読んでいる文にぴったりと重ね合わせることで、両隣の部分がちょうどうまく隠れ、ひとつの文だけを集中して読めるようになっている。<br>
物理的に読書をサポートできるため、視覚過敏やディスレクシアに対して有効な道具であるといわれている。自分の場合は、難しい本を読む時の先走り防止において特に高い効果を発揮している。一文を理解するための時間が長くなるほど、ストッパーの存在がありがたい。配信でも使っており、シートを当てながら本を読んでいる映像を手元カメラによく映している。</p>
    <h2>読書</h2>
    <p>
        11/1：『失われた時を求めて』2巻を読み終えた。<br>
        11/10：『失われた時を求めて』3巻を読み終えた。<br>
        11/20：『wowaka 歌詞集』をぜんぶ読んだ。<br>
        11/24：週末翻訳倶楽部『BABELZINE』Vol.4、素晴らしい作品集だった。<br>
        11/28：レヴィ=ストロース『野生の思考』を読み終えた。<br>
        11/30：秋田麻早子『絵を見る技術』を読んだ。<br>
        12/2：合同誌『BRIDGES vol.1』を読み終えた。<br>
        12/3：山本浩樹『フィクションと日記帳』を読み終えた。<br>
        12/7：鈴木一平『教育装置のある生活』を読んだ。<br>
        12/7：大山エンリコイサム『ストリートアートの素顔』を読んだ。<br>
        12/8：𠮷田恭大の詩集『光と私語』を読んだ。<br>
        12/9：三宅香帆『なぜ働いていると本が読めなくなるのか』を読んだ。<br>
        12/9：文学フリマで買った『塾生三田文學』を読んだ。<br>
        12/14：『失われた時を求めて』4巻を読み終えた。<br>
        12/17：『経済』2026年1月号を読んだ。<br>
        12/17：『思想』2025年12月号 特集：ミシェル・ド・セルトーを読み終えた。<br>
        12/21：ロラン・バルト『物語構造の分析』を読み終えた。</p>
        <p>11/12：最近の生活では、いくつかの長距離走が並行している。プルースト『失われた時を求めて』全14巻の読破。歴史の勉強。Spotifyのプレイリスト巡回。複数のブックリストのチェック。一週間やそこらでは終わらない課題が増えているため、生活のタイムスケールの感覚を徐々に修正しなくてはならない。</p>
        <p>11/27：自分が文章を見て内容を理解できるということが、ときどきまったく根拠のない不思議な状況に思えてならない。もしかしたら、次の瞬間にはもう文字は私の脳に概念を喚起することをやめ、こちらがいくら呼びかけてもぼんやりとした愛想笑いを繰り返すだけになるかもしれない。まだ文字が返答してくれている今のうちに読む。</p>
        <p>12/21：雑誌的なもの、あるいはPodcast的なものへの関心を深めている。理由は明確で、「外部の客向けに何かを解説する言葉ではなく、そのコミュニティの中にいる人々が実際に内側で交わしている言葉を見たい」から。会話は講演とは異なる。そこには、特定の閉じた世界の用語、価値観、共通理解が折り畳まれ、そのうえに参加者それぞれのリアルな関心が展開されている。こうした生の言葉は、意外と読書ではカバーしにくい。お客さんとして接客される立場を捨て、こっそりバックヤードに侵入する必要がある。</p>
    <h2>記事</h2>
    <p>11/1：タイピング定期配信を実施。うぇるあめ杯の配信枠のおわりに、これまでの上位者をまとめるスプレッドシートを作成した。よくもまあここまでいろいろな人に参加してもらえているものだと思う。課題となる種目は毎回ルーレットで決まっているため、いわば無茶ぶりをする大会であるわけだが、1位のスコアを並べてみればどれもその種目からみて相当な水準の記録が並んでいる。<br>
    <a href="https://welame.hatenadiary.com/entry/2025/11/02/013233">https://welame.hatenadiary.com/entry/2025/11/02/013233</a></p>
    <p>11/8：日記まとめ記事の10月編を作った。<br>
    <a href="https://welame.netlify.app/article/202510/">https://welame.netlify.app/article/202510/</a></p>
    <p>11/8：プロセカストーリー『Colors of Pure Sense』の感想をすこし追記修正し、記事にした。<br>
    <a href="https://welame.netlify.app/article/colorsofpuresense/">https://welame.netlify.app/article/colorsofpuresense/</a></p>
    <p>12/1：Advent Calendar用の記事「現在やっているタイピング企画をぜんぶ紹介します」を公開した。<br>
        <a href="https://welame.hatenadiary.com/entry/2025/12/02/004520">https://welame.hatenadiary.com/entry/2025/12/02/004520</a>
    </p>
    <p>12/7：記事『2025年に読んでよかった本ピックアップ（+タイパー推薦図書）』を出した。
        <a href="https://welame.netlify.app/article/2025books/">https://welame.netlify.app/article/2025books/</a>
    </p>
    <h2>文学フリマ</h2>
    <p>11/9：文学フリマに出る『生き延びるための自虐 ［増補改訂版］』の告知をTwitterで行った。自分が解説を書かせてもらっている本だ。<br>
    <a href="https://x.com/welch2929/status/1987459475041923127?t=ukhEL0YgRaOCbHaOrXX0sg&s=19">https://x.com/welch2929/status/1987459475041923127?t=ukhEL0YgRaOCbHaOrXX0sg&s=19</a></p>
    <p>11/23：文学フリマ東京41に参加した。</p>
    <p>会場最寄りの国際展示場駅は、一言で言えば物が少ない駅である。本当に贅沢な土地は引き算で成り立っている。<br>
天候は曇りで、真昼時でありながら風の涼しさを感じた。銀杏の葉が乾燥して砕け散り、風に乗って道に散らばっていた。入り口の近くに「植民地支配をつくる文学共同体やめませんか」の看板が立てられていた。</p>
    <p>とにかく人が多かった。蛇のごとくうねる長い列が続き、ビッグサイトがそれを苦しげに飲み下していた。<br>
別に人が大勢集まっているからとはしゃぐ歳でもないが、ここにいる全員が自覚のあるなしにかかわらず何かを祈っているのであろうことは覚えておこうと思った。</p>
    <p>入場後は田原さんのところに挨拶に行き、ついでに少し留守番も任せてもらった。ほんの少しの間であるが、ブースの内側に立つとき道行く人がどう見えるのかを知った。<br>
その後はひたすらブースを見て回った。若い層を中心に、いろいろな人が出展していた。カニのぬいぐるみで手を振ってくれる人がいた。<br>
本はたくさん買った。冊数も金額も計算できないので重量だけ言うと、9.4kgだった。</p>
    <h2>風とバーチャル</h2>
    <p>12/17：コミックマーケット107で頒布する『風とバーチャル』年表集+用語集の告知をした。自分はちょっとした文章を書き下ろしている。<br>
<a href="https://x.com/i/status/2001293689872630172">https://x.com/i/status/2001293689872630172</a><br>
今回はデータの量が多く、約700ページの厚さになる。<br>
私はこのシリーズにおいては年表作成の先人という立ち位置で毎度クレジットされているが、自分としてはたんに病的な記録癖を実行してきただけなので、その「患者の手記」が発見されて明確な意味付けのもとに整備されていくのも、それが次々と立派な本になっていくのも、なにか現実感のない出来事として眺めている。</p>
    <h2>音楽</h2>
    <p>11/6：最近聴き直した初代塊魂のBGM『天使風味の贈り物』に、当時はわからなかった格好良さを感じた。無機質な音とコーラスが思い思いに交錯する、捉えどころのない楽曲。その曲調は耽美でありながら不気味でもあり、ステージに広がる青空さえどこか不吉の象徴のように見えたりするのだが、しかし確かにひとつの調和をなし、音の繰り返しによってゆっくりと光景を作り上げている。</p>
    <p>11/10：名取さなの『きらめく絆創膏』が良かった。「僕らは裏と表じゃないの 傷口と絆創膏」。画面に映る自分と、病室で寝そべる自分を重ね合いながら、その怖さと幸せを慎重な手つきで言葉にした曲。</p>
    <p>11/17：「帰宅した直後は脳がもっとも音楽を受け入れやすい状態になっている」と気づいてから、より音楽鑑賞が捗っている。今日は『Planetary Natural Love Gas Webbin' 199999』を頭から聴いていた。乱暴なリズムに合わせて脳のいろいろな部分が開く。<br>
    <a href="https://www.youtube.com/watch?si=0eukFLgMPTZs3d7Q&v=EF6rIOM3fJw&feature=youtu.be">https://www.youtube.com/watch?si=0eukFLgMPTZs3d7Q&v=EF6rIOM3fJw&feature=youtu.be</a></p>
    <p>12/6：ボカロP・はんごうすいはんの最近の楽曲を聴いていた。<br>
ピクトグラムが、警告表示が、専門用語が、わたしのためのスラングになる。おすすめは『デンセッ』。<br>
<a href="https://www.youtube.com/watch?si=nxJDYcLuoeEmvl-d&v=emi1UPjhTeY&feature=youtu.be">https://www.youtube.com/watch?si=nxJDYcLuoeEmvl-d&v=emi1UPjhTeY&feature=youtu.be</a></p>
    <p>12/13：最近気に入った音楽の紹介をする。</p>
    <p>個性になっちゃった！<br>
<a href="https://youtu.be/Lm46uVgr1cQ?si=kQMuXhCvIEG_KL5I">https://youtu.be/Lm46uVgr1cQ?si=kQMuXhCvIEG_KL5I</a><br>
エバの散弾<br>
<a href="https://youtu.be/-z8ijfIOtOA?si=iIRfQuip4xoM9U_H">https://youtu.be/-z8ijfIOtOA?si=iIRfQuip4xoM9U_H</a><br>
風のいしずえ<br>
<a href="https://youtu.be/PU0MT4A9pIc?si=Hoa8aB9HPIv10jrZ">https://youtu.be/PU0MT4A9pIc?si=Hoa8aB9HPIv10jrZ</a><br>
惑星間SA<br>
<a href="https://youtu.be/oXbFvPScxn0?si=nRZwGJucdHY87C5G">https://youtu.be/oXbFvPScxn0?si=nRZwGJucdHY87C5G</a><br>
なんでもしたいからｯ!!。<br>
<a href="https://youtu.be/XVb0Gadflug?si=RFWW7A9bv4_YC-Zw">https://youtu.be/XVb0Gadflug?si=RFWW7A9bv4_YC-Zw</a><br>
月夜のゴンドラ<br>
<a href="https://youtu.be/9UlorDeoWYM?si=73LMfXivHM3E7ZpA">https://youtu.be/9UlorDeoWYM?si=73LMfXivHM3E7ZpA</a><br>
Solitary Walker<br>
<a href="https://youtu.be/T_DvZQxiQ4M?si=esSfWZJBE-tIcU-Y">https://youtu.be/T_DvZQxiQ4M?si=esSfWZJBE-tIcU-Y</a><br>
電波塔の街、海底逃避行<br>
<a href="https://youtu.be/GvOY7qw_w8w?si=VCexwYqy8cMFYvm3">https://youtu.be/GvOY7qw_w8w?si=VCexwYqy8cMFYvm3</a><br>
なんかいい場所<br>
<a href="https://youtu.be/MnOaOoHMToM?si=79eQ3Nb7nXh8kFzf">https://youtu.be/MnOaOoHMToM?si=79eQ3Nb7nXh8kFzf</a></p>
    <p>12/22：『RAPSTAR 2025』ファイナルのライブが良かった。Pxrge Trxxxperの怒りは誰よりも鋭く磨かれていて、危うげで、そして綺麗だった。</p>
    <h2>夜</h2>
    <p>12/4：疲れきったのか、帰ってからひたすら眠った。配信をする予定であったが、ベッドの中で動けずにいた。</p>
    <p>窓から霧が入ってきた。<br>
ふわりとした、白く穏やかな霧だった。輪郭がカーテンのような流線形を描いて広がった。小さな光の粒ひとつひとつが空中を漂い、深い宵闇のなかに染み込んでいった。<br>
やがて部屋中に充満したそれは、自身の上にさまざまなイメージを映し出した。砂漠の風景。ホテルの最上階。さびれた温水プール。いずれも見たことのない風景であったが、混濁した意識の中では昔馴染みの場所のように思えた。<br>
朝に目を覚ますと、ちょうど目覚まし時計が鳴るくらいの時間だった。</p>
    <h2>鯨月夜</h2>
    <p>12/5：満月の夜だった。紫色の空を覆い尽すように、一頭の大きな鯨が泳いていた。私はバルコニーから身を乗り出し、じっとその光景を眺めていた。さすがに物珍しい光景なので、私だけでなく近所の人々みんなが玄関から飛び出したり、窓から顔を出したりしていた。オペラグラスを持ち出して見ている人もいた。彼方に向かってゆっくりと飛んでいくこの鯨は、わたしたちの命よりも長く生き続けるらしかった。</p>
    <h2>クラウド</h2>
    <p>12/10：朝の空に、ちぎって置いたような形の雲が並んでいた。そのうちの一つをつまんで手に取ってみると、思いのほか硬めの材質で出来ていた。形をもち自立していて少し反発があり、指で押すとその通りに凹んだ。触っていて不思議と冷たさは感じなかった。<br>
このまま持ち続けているわけにもいかないので、手でこねてそれらしい形状に戻し、元の場所に置いた。数分後にはもうどれが自分の手に取った雲か分からなくなっていた。</p>
    <h2>ビート</h2>
    <p>12/11：植物が曲線だとして、人工物はリズムを作る直線である。消失点に向かって伸びていくフェンス。切り揃った屋根板。ケーブルラック。<br>
塩味のきいた音楽ばかり好んでいる。</p>
    <h2>自室</h2>
    <p>12/16：私の部屋の奥の方には湖がある。入口のドアのちょうど真向かいのところにぽつんと広がり、窓を閉じきった無風の部屋で穏やかに凪いでいる。魚もいなければ水草のひとつもない、単なる水辺である。水は黒く透き通っていて、近寄って目を凝らせば奥の方まで見ることができる。しかしそこには水底はない。かわりに、逆さまになった天井がぼんやりと見える。<br>
実際にこの湖はもう一つの部屋とまっすぐ繋がっていて、中に入ることができる。部屋着のまま水に入り、奥へ奥へと潜っていくと、しばらくしたところで重力が反転し、ぐるりと平衡感覚が回転するような地点を通過する。それに気を取られずに直進を続ければ、やがて向こう側の水面に着く。そこにあるのは四畳ほどの、ドアも窓もないシンプルな空間である。<br>
ちなみに、もといた部屋を部屋A、今来た部屋を部屋Bとすると、部屋BはAと比べて時間の流れが少し遅くなっている。だから本をジップロックに入れて持ち込んだりすると、なかなか読書が捗る。働いていると本が読めないとも言われるご時世で、どのように読書量を確保しているのかといえば、こうしたからくりがある。</p>
    <h2>白猫</h2>
    <p>車道で猫が亡くなっていた。白い猫だった。<br>
そのままにしていると危ないから、とりあえず歩道のほうに運ぼうと思った。猫の近くに寄って、横たわった胴体の下に、おそるおそる自分の右手を差し入れた。そのとき触れた胴体の感触は、まるで液体を入れた袋のように柔らかかった。持ち上げようとすると、動きに合わせて重量が手のひらにのしかかった。猫特有の重み、とっくに知っていたはずのその重みが、そのときだけは禁忌的なものとして感じられた。持ち上げたくないと思った。生きているときひとつの有機的な塊であったものが、斃れたあとはにわかに臓器となり、絶対に壊してはいけないと訴えかけてくるのだった。<br>
高校2年の冬の話だ。</p>
    <h2>花</h2>
    <p>花は吠えるたび邪な白を飛ばす。<br>
共生の闇は真っ逆さまに落ちる。<br>
鎖は伸びることそれだけを願う。<br>
明滅する。</p>
    <h2>グラウンドについて</h2>
    <p>グラウンドの土は、いくつかの材料を混ぜ合わせて作られています。花崗岩が風化してできた真砂土。粘土質が強く、適度な湿り気と固さをもつ荒木田土。水はけを良くするための川砂。そして仕上げに撒かれる塩化マグネシウムは、土の粒子をくっつけることで、砂埃の発生を防いだり、冬の凍結を予防したりします。<br>
グラウンドは複数の層からなっており、上記のブレンド土は基本的にグラウンドの表層の部分に使われているものです。その一つ下の層である路盤層には、主に砕石が敷き詰められています。これらは土台を固めると同時に、水を下に逃がす道を作っています。<br>
そしてこの二つの層を最下部で支えるのが、路床とよばれる地盤の部分です。この層は人間の記憶や生物の死骸など、有機的な物質が長い時間をかけて固まることで形成されます。その成分は降雨のたびに少しずつ上方に染み出し、地表部分に至ったものが大気中に溶解します。地上にいる我々がいま言葉を話したり、文章を書いたりできることの所以です。</p>

    <p>◆◆◆</p>
    <p>投稿物共有コミュニティ『<a href="">タイパーブログ部</a>』では、投稿カテゴリのひとつとして「日記」カテゴリを設けています。もっとも気軽に参加できる、新年の習慣にもぴったりな部門です。ぜひご参加ください。</p>

    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="日記remix 2025年11～12月編 - welame&#39;s page" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</Layout>

