---
import Layout from '../../layouts/Layout.astro';
const pageTitle = "週記2025/03-1　x、x";
---
<Layout pageTitle={pageTitle}>
    <h1>週記2025/03-1 （2月17日～3月2日）</h1>
    <p></p>
    <h3>読了した本</h3>
    <p>今週読了した本は、以下の冊。</p>
    <h3>行った配信</h3>
    <p></p>
    
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="ここにタイトル - welame&#39;s page" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</Layout>

