---
import Layout from '../../layouts/Layout.astro';
const pageTitle = "週記2025/01-3,4　ニーゴ配信、タイピング再燃";
---
<Layout pageTitle={pageTitle}>
    <h1>週記2025/01-3,4 （1月13日～26日）</h1>
    <p>最近はYouTubeで「運動クラブ」というポケモン解説チャンネルをよく見ている。</p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/5F3zAkpseCM?si=1JejZbHpslysSrDd" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p>解説とはいっても、対戦に役立つ情報を提供する、公式情報をまとめるなどの実用的な側面は一切ない。ではかわりに何をしているかといえば、ポケモンというコンテンツの少し変な要素を目ざとく見つけてきては、毒のある解説でひたすら重箱の隅をつついたり、嘘すぎる説を唱えたり、そういう放言を十数分間ひたすら並べ続けるだけ。解説というよりはフリップ芸に近い。</p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/53kzB_awa4Y?si=Zo281EM5abuPAGhj" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p>「都市伝説」といういくらでも解説できるテーマを放棄して「都市伝説を広めていた奴」という当たり障りに溢れたテーマを採用するあたりにこの投稿者の生き方が窺い知れる。</p>
    <p>どこかの動画のコメント欄で「もう内容ではなく語り口を目当てに見に来る落語みたいなコンテンツになっている」というコメントがあったが、言い得て妙だと思う。ついつい連続で見てしまうような魅力が、そこにはある。</p>
    <p><br></p>
    <p>他に、YouTube上に上がっていた個人制作アニメを見て回ったりしていた。自分のお気に入りは以下の二本。</p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/BJa2g4bLBq4?si=tiCs85llisPcDygO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p><br></p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/x0NEu1ECjpc?si=_uaVvk1emR78kNlx" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <h3>読んだ本</h3>
    <p>先週と今週で読了した本は、以下の7冊。<br>
        ◆ジェイムズ・クリフォード『文化の窮状』太田好信ら訳<br>
        ◆賀淑芳『アミナ』及川茜訳<br>
        ◆毛利嘉孝『ストリートの思想』<br>
        ◆中国中央電視台『中国絵画の精髄ー国宝に秘められた二十五の物語』岩谷貴久子、張京花訳<br>
        ◆ジャン・ポール・サルトル『主体性とは何か』澤田直、水野浩二訳<br>
        ◆ハリー・ケメルマン『九マイルは遠すぎる』永井淳訳<br>
        ◆小町谷朝生『色彩のアルケオロジー』<br>
    </p>
    <h3>「ニーゴ」ストーリー再読配信</h3>
    <p>先週と今週で行った配信は、タイピング定期配信2回、バラエティ配信1回。</p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/9cukp6d1p68?si=Q0_qiz03eMR8bX6u" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p><br></p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/ff9NWPSkdNQ?si=NVpqeXh7OYWjNpYG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p><br></p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/apUjYU8vFA8?si=Oo1nfZ72M0UNhQvR" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p>あわせて、プロジェクトセカイの『25時、ナイトコードで。』（ニーゴ）のストーリー再読配信を4回行っている。</p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/10OKyEBxSyU?si=fX50ks3yWV5vQClO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p><br></p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/6q-Tvm2ZPYU?si=I3w05jPYGhMV1Sb4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p><br></p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/Nv2elazSnN0?si=JTFtwiFbDpTxtoge" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p><br></p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/_lOvC9o8P3A?si=iNdYPoRQ-vOzlAEx" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p>ニーゴというユニットは、元はといえばゲーム制作上の2つの「制約」のうえに成立したものである。リリース初期の<a href="https://news.denfaminicogamer.jp/interview/200803a">開発者インタビュー</a>によると、もっともストーリー作りに苦心したユニットだと述べられている。</p>
    <p>記事曰く、まずもってこのユニットが生み出されたのは、「ボーカロイドのゲームを作るならばその文化のアンダーグラウンド性には必ず踏み込まなければならない」という制作陣の認識によるものである。<br>
        非商業的な文脈から出発したボカロ文化は、次第にユーザー達の幅広い音楽性を発揮する場となり、ポップな曲だけではなく、ダークな曲、過激な曲をも大いに受け入れる場所として発展してきた。しかし文化が成熟期に達し、商業文脈でボーカロイドが取り扱われるようになったとき、そこにはオプティミスティックな（あるいは『Tell Your World』的な）、どこか捨象と美化を伴うパブリックイメージがさかんに用いられた。それは現代的漂白が施された『プロジェクトセカイ』の作風も例外ではない。こうした自己意識を持ち、そこに能う限り逸脱の線を持ち込もうとした結果として、制作チームは各ユニットに与えるカテゴライズとして「アンダーグラウンド」の枠を用意した。そうして生まれたのが、『25時、ナイトコードで。』というユニットだ。</p>
    <p>しかし勿論、『プロジェクトセカイ』は全年齢対象のゲームである。それはとりもなおさず、多くの子供に遊ばせるゲームでもあるということだ（ファンにたびたび擦られている事実として、このゲームのApp Storeの対象年齢は4歳以上である）。過激・陰鬱なストーリーが求められてはいるけれども、同時にその描写は万人に対して通じるものでなければならない。</p>
    <p>この2つの制約にたいする応答として、はじめてニーゴの持つ独特な雰囲気は成立している。その軸は、「暗く重いものと、気恥ずかしいまでに真っ直ぐに向き合う」という姿勢にもっともよく現れる。<br>
        直接的な表現こそぼかされるものの、ニーゴの題材選びは基本的にギリギリで容赦がない。親を壊してしまったことへの贖罪。親に壊された心の再生。マイノリティとして生きる苦痛の昇華。その点をマイルドにすることはない。<br>
        しかし同時に、そうした状況に対する単なるメランコリーに主導権を譲り渡すこともない。斜に構えて物事を捉えたり、露悪的に物事を描いて密かに悦楽を得たりする表現は、大人の世界でしか通用しない。だからこの作品は、切実で率直な思いを自覚し、口にする、そんなストレートな過程に重心を置く。宵崎奏は、「人を救いたい」という言葉を惜しげもなく使う。朝比奈まふゆもまた、救われたいと素直に口に出す。低い年齢層にも届けるという条件があるからこそ、かえって我々は心ゆくままに退行し、前を向くことができる。その非日常性こそ、『25時、ナイトコードで。』が暗いフィクション作品一般と分けられる部分であると思う。</p>
    <p>再読配信ではそのような雰囲気を味わいながら、今まで読んできたストーリーをひとつずつ辿り直している。終了までは2ヶ月程度かかる見込みである。</p>
    <h3>記事投稿：RTCパンタグラフ選手分析</h3>
    <p>ここ1～2週間は、タイピング練習に多くの労力を費やした期間でもあった。e-typing腕試し700ptという目標を達成するため、まとまったモチベーションを回復させることに成功したのだ。</p>
    <p>下の記事は、その一環として書いたものだ。</p>
    <p><a href="https://welame.hatenadiary.com/entry/2025/01/17/015826">RTCの歴代パンタグラフキーボード選手と、その打ち方</a></p>
    <p>RTC(REALFORCE TYPING CHAMPIONSHIP)とは、キーボードブランド『REALFORCE』が主催する、競技タイピング界最高峰の全国大会。その中で自分と似たキーボードを使用している選手の手元映像を観察し、自分の動作の改善に活かそうというのが、この記事の主旨だ。</p>
    <blockquote class="twitter-tweet tw-align-center"><p lang="ja" dir="ltr">これ本当か？と思ってきちんと実環境で見直したら想像の100倍誇張されてて面白い 冷静に考えてこんな手首高いはずないな<br>実際に持っていこうとしている状態は正しくはこんな感じで、こうしてみると本質は中指のラインだけではなく人差し指・薬指の張り方にもあることが分かる <a href="https://t.co/ZItAKCWrpL">pic.twitter.com/ZItAKCWrpL</a></p>&mdash; うぇるあめ (@welch2929) <a href="https://twitter.com/welch2929/status/1883493203711807946?ref_src=twsrc%5Etfw">January 26, 2025</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <p>今はこのように、自分の運指に対する試行錯誤を重ねている。タイピング練習をしていると、自分の指がうまく動いていると感じる時もあれば、明らかに力が入らずつまずきやすくなっていると感じるときもある。そのなかで前者の再現性を上げようと思えば、自分がどのような状態にあれば打鍵がしやすくなるのか、身体の各部位に注目しつつ重要な要素を洗い出していく、という作業が必要になる。現在は薬指・人差し指の上げ方に注目し、手掌腱膜の張り方や重心の置き方を探っている。</p>
    <p>競技タイピング界は、この手の動作・姿勢に関するノウハウの蓄積が驚くほど少ない。人によって使う指や身体的条件が異なり、統一した結論は得られないというのがその理由の一端だろう。どうすればより力が伝わるのか、指の角度はどうするのか、そういうことは個々人がひとりで地道に探していくしかない。このプロセスを意識的に進めることで、打鍵力をワンステップ上げるための手がかりを掴んでいきたい。</p>
    <p>ちなみに21日に発売された『タイピング オブ ザ ネット』もプレイした。『NEEDY GIRL OVERDOSE』スピンオフとして発売された、ネットスラングをひたすら打っていくゲームだ。別にタイピングゲームとしてどうというものでもないが、楽しかった。</p>

    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="週記2025/01-3,4　ニーゴ配信、タイピング再燃 - welame&#39;s page" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</Layout>

