---
import Layout from '../../layouts/Layout.astro';
const pageTitle = "週記2025/01-1　Typing of The Deadを探せ";
---
<Layout pageTitle={pageTitle}>
    <h1>週記2025/01-1 （12月23日～1月5日）</h1>
    <p>年末年始は親戚の家に集まり、のんびり過ごした。雪国なのでそこらを散歩するにもだいぶ苦労する土地だった。</p>
    <h3>読んだ本</h3>
    <p>ここ2週間で読んだ本は、以下の4冊。<br>
        ◆『共感の共同体 感情史の世界をひらく』伊東剛史、森田直子編<br>
        ◆『写真の理論』甲斐義明編訳<br>
        ◆『ユリイカ 2024年1月号 特集＝panpanya』<br>
        ◆『匿名他者への贈与と想像力の社会学：献血をボランタリー行為として読み解く』吉武由彩</p>
    <p>年末年始はブックマークの大掃除のほうを優先していたので、のんびりペース。</p>
    <h3>投稿記事：2024年振り返り</h3>
    <p>2024年 リザルト画面<br>
        <a href="https://welame.netlify.app/article/2024result/">https://welame.netlify.app/article/2024result/</a>
    </p>
    <p>ここ一年の出来事を振り返る記事を出した。卒業、就職、個人サイト&配信デビュー。ベタに人生の転機という感じだ。<br>
        読んだ本もおおむね全部書いた。上半期は忙しくてあまり読んでいなかったものの、こうして並べてみるとそれなりの量になる。一冊一冊に思い出があるのでしみじみと眺められる。</p>
    <h3>群馬TODぶらり旅</h3>
    <p>京都の有名なゲームセンター、a-choが閉店の告知を出していた。</p>
    <blockquote class="twitter-tweet tw-align-center"><p lang="ja" dir="ltr">【閉店のお知らせ】<br>平素はneoアミューズメントスペースa-choをご利用いただき誠にありがとうございます。<br>当店は<br><br>令和7年1月31日（金）<br><br>をもちまして<br>閉店させていただくこととなりました。<br><br>長年のご愛顧、誠にありがとうございました。<br><br>neo amusement space a-cho <a href="https://t.co/3bMpKkbaI4">pic.twitter.com/3bMpKkbaI4</a></p>&mdash; a-cho (@acho_kyoto) <a href="https://twitter.com/acho_kyoto/status/1871138196291256535?ref_src=twsrc%5Etfw">December 23, 2024</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <p>主に格闘ゲームの聖地として有名なゲームセンターだが、このニュースはタイピングゲーマー界隈にとっても大きなインパクトがあった。というのも、『The Typing of The Dead(TOD)』という世にも珍しいアーケードタイピングゲームの数少ない稼働店のひとつだったのだ。<br>
        TODはセガの有名ゲーム『The House of The Dead』のスピンオフとして2000年代初頭にリリースされた作品であり、対人戦も可能なタイピングゲームの金字塔として今なお界隈に愛されている。ただリリース時期が時期なだけに現存する筐体は非常に少なく、秋葉原、池袋、そしてこの京都の3店でしか存在が確認できていなかった。<br>
        a-choは関西で唯一このゲームが遊べるゲームセンターとあって、近郊のプレイヤー達のオフ会などにも頻繁に利用されるおなじみの場所だった。</p>
    <p>それが、閉店。日本に3台しかない筐体が、2台に減ってしまいかねない。これを由々しき事態と見た一部のプレイヤーは、まだコミュニティで把握していない筐体を探す活動を始めた。<br>
        なにせタイピング界隈はそう人数の多くない小さな界隈。日本中のゲーセンの中には見落としがあったとしてもおかしくない。実際この調査によって新たに新潟に稼働店舗が現存していることが確認され、拠り所がまた一つ確保されることとなった。<br>
        そのような捜索活動でほかに候補に上がったのが、2016年のブログで稼働報告が確認できる群馬レジャーランドである。自分はその調査に協力する形で、2024年現在も店舗が筐体を保有しているかどうか現地確認することにした。</p>
    <figure class="respimage">
        <img alt="高崎レジャーランドのフロア案内表" src="/202501-1_1.jpg"/>
    </figure>
    <p>結果は、稼働なし。店員に聞いたら「壊れてしまったからもうない」との回答。稼働年数に加え、キーボード2台という特殊な設備を備えた筐体であることを考えると、やむなし、という話ではある。もともとここまで大きなゲームセンターにレア筐体が人知れず置かれている可能性は低いと考えていたが、その予想は覆されなかった。</p>
    <p>群馬まで来てこのまま直帰するのも味気ないので、その後は高崎駅周辺を歩いて回った。よく晴れた天気だったため、やわらかな日の光が気持ちよかった。というか正直に言うと半分はこの散歩目当てで来た。知らない土地の散歩は楽しい。</p>
    <figure class="respimage">
        <img alt="烏側の土手" src="/202501-1_2.jpg"/>
    </figure>
    <p>近くには烏川というそれなりに大きな川が流れている。</p>
    <p>目指したのは、川を越えた先にある観音山。とくに高い山というわけでもないが、Googleマップで見るといろいろな名所のシンボルが集まっている。その山に向かう閑静な道を、のびのび歩く。</p>
    <figure class="respimage">
        <img alt="高崎の道。広々とした車のない車道のそばに、まばらに店や民家が並ぶ" src="/202501-1_3.jpg"/>
    </figure>
    <p>だいたいこんな雰囲気の道が続く。</p>
    <p>ふもとまで来ると、清水寺という寺に行き当たった。京都東山のあの清水寺から勧請したらしい。<br>
        境内は山中にあり、520段もの石段を登る必要がある。あえて飛ばさずに一段ずつ登ってみると、息が弾み、頭がくらくらしてくる。前日の忘年会のせいかもしれないし、両側の高木によって乱された遠近感のせいかもしれない。登るほどに町の音は遠ざかり、虫の声と葉が風に擦れる音が聞こえてくる。</p>
    <p>境内には人は誰もいない。並ぶ絵馬にその痕跡だけが刻まれている。参拝を済ませて展望台に立ち、しばしぼうっとする。山中とはいえ高い木に囲まれているため、市内が一望できるわけではない。眼前はただ葉に囲まれているのみだ。それがかえって心を落ち着かせる。いま自分は違う時間に包まれている。ほんの少しだけ長く延びた時間に。</p>
    <figure class="respimage">
        <img alt="山の中にあったブランコ" src="/202501-1_4.jpg"/>
    </figure>
    <p>ブランコなんて久しぶりに乗った。目をつむったまま揺られるのが、子供の頃よりもずっと気持ちよかった。</p>
    <figure class="respimage">
        <img alt="道に落ちていたキノコのぬいぐるみ" src="/202501-1_5.jpg"/>
    </figure>
    <p>あんまり山道に嘘のキノコが落ちてることなくないですか？</p>
    <figure class="respimage">
        <img alt="小川に立つ白い鳥" src="/202501-1_6.jpg"/>
    </figure>
    <p>なんか居た鳥を眺めつつ、へとへとの足を引きずって帰路につく。</p>
    <p>ちなみに、TOD筐体を所有していると思われる店舗は群馬にもう一つある。2023年に公式noteでTODに関する記事を投稿している、北軽井沢のSARGASSOUだ。<br>
        ただしここはゲームセンターというよりは保管場所としての役割のほうが強い特殊な施設らしく、一般公開日はごく限られている。その日が来たとしてもTOD筐体がプレイ可能な状態である保証はない。ただ、次なる調査の地として候補に入る場所ではある。TOD探しの旅はもう少し続く。</p>

    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="週記2025/01-1　Typing of The Deadを探せ - welame&#39;s page" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</Layout>
