---
import Layout from '../../layouts/Layout.astro';
const pageTitle = "日記remix 2025年10月編";
---
<Layout pageTitle={pageTitle}>
    <h1>日記remix 2025年10月編</h1>
    <p>私が2025年10月にmastodonで書いた日記を、内容別に再編集してまとめました。<br>
        各文章はおおむねそのままの形で掲載してあります。</p>
    
    <h2>日常</h2>
    <p>10/1：雨上がりで空気が冷え込む。温度が肌に伝わり、流れが触覚で感じられるようになっていく。</p>
    <p>10/1：ここ数日で疲れが蓄積しており、今日は帰ったあとすぐに眠りこけてしまった。次に目を覚ましたのは深夜の3時であり、いったん目を閉じるとその数瞬後には5時半になっていた。好き勝手に眠るくせ、アラームの直前にちゃんと起きるところだけは妙に律儀な身体だ。<br>
窓のカーテンが光を帯び始める早朝、入浴と食事を済ます。
</p>
    <p>10/2：風景にとって、自動車教習所はいつでも異物だ。広々とした楕円形の空間が街に大穴を開け、曲がりくねった車道が灰色の地面を露出させる。</p>
    <p>10/3：うろこ雲が綺麗な朝だった。小さな雲片が密になって重なり合い、巨大な雲の群れとなって空を覆っている。全体に行き渡った灰色の影が質量を感じさせる。あいだに雲の隙間が列をなすようにして走り、朝陽のやわらかい白に染まっている。その複雑な陰翳の模様が、空の果てまで続いている。</p>
    <p>帰りに道すがらの公園で休憩した。朝方あれほどはっきりとしていた雲は互いに溶け合い、夕暮れのぼんやりとした藍色のなかに透明になって埋もれていた。<br>
この公園は大通りを外れて人も少なく、背もたれのないベンチと二段の鉄棒、レンタサイクルの駐輪場が離れ離れになってぽつんと置かれている。向こうの方ではさっきまで乗っていたブランコが揺れている。快適だとは思わないが、いつまでもいられそうな公園だと思う。</p>
    <p>思えば、雲をよく見ている気がする。毎日たいして変わらない風景のなかで、この部分だけは驚くほど多彩な変化を見せる。視覚を圧倒するほどの巨大な自然現象が、いわく言いがたい繊細さと茶目っ気を発揮する。それが面白いのだと思う。</p>
    <p>10/4：高尾山のふもとにて行われる会社のレクリエーションに参加した。その後、ソロで高尾山頂、ついで小仏城山に登り、そこから2時間ほどかかる相模湖駅まで歩いた。<br>
土曜の人気観光地だというのに、あれほどいた登山客は奥高尾の地に至ってぱたっと途絶える。天候はあいにくの小雨。湿った山道のなか、もくもくと足を動かす。</p>
    <p>最初は見たものをあれこれ詳しく日記に書こうと思ったが、そんな気持ちは次第になくなった。そもそも山は自然を楽しむ場所ではない。身の安全のために目線を下げ、足元の地形を睨む時間ばかりが続く。足首をひねらないようにとか、筋肉の負担を和らげたいとか、そんなことばかり考えるようになる。それに山中の風景だって他の山とそう変わるわけではない。<br>
けれども確かに、文字通り声を上げて感嘆する場所はいくつかあった。分かり切った山頂の眺めではなく、何があるとも思わなかったさりげない場所にそれらはあった。来てよかったと思った。</p>
    <p>10/6：帰り際に書店に寄り、5冊ほど本を買った。</p>
    <p>10/8：快晴の朝。眩しすぎない程度の日差しが寝ぼけ眼に当たり、氷を溶かすようにじっくりと温めていく。</p>
    <p>10/10：大喜利ライブを見に行く日。仕事帰りに渋谷まで向かう。<br>
小腹を満たすために途中の駅にふらりと寄ったところ、運悪く古本市に遭遇してしまった。小腹はほとんど満たせなかったし、荷物が6.3kg増えた。<br>
観に行ったのは、『こんにちパンクールの大喜利ライブvol.6』というイベントである。出演するのは、普段からさまざまな大喜利お笑いライブに出演し、「こんにちパンクール」の名で大喜利専門のYouTubeチャンネルも動かしている7人。このライブはオンサイトで毎月行っている定期ライブの10月回らしい。自分は今回が初参戦。<br>
イベントの内容はいたってシンプルで、回し2人と回答者5人をローテーションし、5分1題で2時間ひたすらフリップ大喜利を続けるストイックな構成となっている。かなり嬉しい。<br>
現場の大喜利ではひとつひとつの回答にリアクションがあり、それを見たうえで次の回答が生み出されていく。よって、そこには他の人の答えを広げて共犯的な流れを生んだり、自分で軸を持った複数の回答を重ねたりする余地がある。どのお題からもあらかじめ予測できない展開が生じてきて面白い。</p>
    <p>10/11：ヒップホップが聴きたい気分だったので、『Red Bull 64 Bars』の全動画を見ていた。レッドブルのヒップホップ専門YouTubeチャンネルが定期的に公開している、有名ラッパー・プロデューサーを呼んだ64小節のマイクパフォーマンス動画シリーズだ。<br>
もともと好きだった森/Shinichi Osawa、CHICO CARLITO/DJ Fumiya、D.O/Xanseiに加え、輪入道/Jazztronikがクリティカルヒットした。ほか、紅桜/OLIVE OIL、Tade Dust/Masayoshi Iimori、EASTA/NOTYPE 9、Kojoe/BOHEMIA LYNCH、Red Eye/Homunculu$、peko/WATT、Jinmenusagi/SONPUB、句潤/WATARAI、SMITH-CN/K.A.N.T.A、鎮座DOPENESS/YamieZimmer、SHINGO★西成/ZOT on the WAVEが良かった。</p>
    <p>10/12：読書や勉強にいまいち身が乗らなかったため、Red Bull RASENの動画をひたすら見ていた。</p>
    <p>10/15：急激に冷え込み、にわかに冬の息吹を感じさせる日。工事現場の立てる鈍い低音が、湿った空気に溶け込んでいく。</p>
    <p>10/16：仕事終わりに眺める夕方の空が好きなのだが、最近は随分と日の入りが早くなり、ゆっくりと見られそうにない。<br>
帰り際に図書館に寄って資料探しをする。また、ネットで勉強用の本をかなりの量注文する。</p>
    <p>10/17：朝の日差しが、血潮のごとき生命力をもって降り注いでいた。温度も光もはっきり届く朝だった。</p>
    <p>10/18：32GBのPCメモリが届いたので、マザーボードに搭載した。認識はしてくれたものの、フルで容量を使用できていなかったため、設定を少し変えて再起動した。するとこの操作が相当にまずかったようで、PCが起動しなくなってしまった！<br>
ざっと調べたところ、この設定はWindowsの回復環境に入り、コマンドプロンプトを操作することで直せるらしい。さっそく手順を試し、Enterキーを押せば設定画面に入れるところまで辿り着いた。ところがここ数日のWindows Updateのバグにより、設定画面でまったくキーボードやマウスの入力を受け付けてくれなくなってしまった！<br>
……今日の昼は、このようなPCトラブルの解決に多大なエネルギーを費やしていた。ノートパソコンで配信を開き、フォロワーの助言を受けながら必死でPCの復帰を試みていた。最終的に起動に成功したので、ことの顛末をまとめた記事を投稿した。<br>
<a href="https://welame.hatenablog.com/entry/2025/10/18/211824">https://welame.hatenablog.com/entry/2025/10/18/211824</a></p>
    <p>10/18：プロジェクトセカイの世界大会を見た。数々の種目を破壊した世界一の音ゲー怪人と、界隈で知らぬ者のいない天才少年二人が、初見の史上最難関譜面で真っ向から地力勝負。非常に良いものを見せてもらった。</p>
    <p>10/19：個人サイト、ブログを巡っていた。良いサイトがたくさん見つかったので、ここに紹介しておく。インターネットには宝がある。<br>
・あまねけ！　<a href="https://ama.ne.jp"></a><br>
・anopara　<a href="https://anopara.net">https://anopara.net</a><br>
・blog.eggc.net　<a href="https://blog.eggc.net">https://blog.eggc.net</a><br>
・うにぐり氏ブログ　<a href="https://blog.unigiri.net">https://blog.unigiri.net</a><br>
・メカ外道の樽　<a href="https://mechagedoh.com/about/">https://mechagedoh.com/about/</a></p>
    <p>10/20：ここ数日、朝にドアを開けるといつも雨上がりになっている。地面が湿り、一段色を深くしている。それと反対に空気は霞み、全体を白みがかった色へと変える。<br>
このような日は、なんでもゆっくりやってよい気分になる。濡れた空気が音を吸い、時の流れを感じさせなくなる。建物に入ればその静けさはなおのこと強調される。外界はいまほとんど動かずに休んでいるのだと錯覚させる。それはあながち間違いでないのかもしれないけれど。</p>
    <p>10/21：今朝は何も本を読む気がしなかったので、通勤電車から外の景色を眺め、見えたものをメモに書き留めていた。住宅街。畑。緑が生い茂った区画。家のそばを走る小さな水路。<br>
今の時期は、こうしたことは朝でないとできない。というのも、帰りの時間になれば外はずいぶん暗くなり、窓越しに見る景色ではほとんどものの輪郭が現れなくなる。街灯とか、マンションの部屋の光とか、車のヘッドライトとか、飲食店の看板とか、そういったものが闇夜の中にぽつぽつと現れ、それでようやく外がトンネルではなく屋外であることがわかるにすぎない。夏は遠くなった。</p>
    <p>10/21：帰りに二つの図書館に寄る。そのうちのひとつに、桜図書館というあらゆる駅から離れた立地の図書館がある。バスで行くのが一般的だが、余裕があるので行きは西浦和駅から歩いてみる。<br>
        西浦和は空間を大きく使った町である。駅を降りるとすぐに視界の開けた大きな道路に接続する。その頭上には存在感のある巨大な高架が果てしなく伸び続けており、ふだんとまったく異なる空間感覚をたえず喚起する。<br>
桜図書館は、その駅からおよそ30分歩き通して住宅街を抜けたところにふいに現れる。区役所などと同じ区画に大ホールがあり、その一階部分に図書館の入口がある。<br>
このホールは3階まであり、上層階はいずれも中心を開けた円環状のフロアになっているため、吹き抜けとなってどこからでも天井が見えるようになっている。ガラス張りの壁からは宵闇に包まれた空が見え、内側のオレンジ色の電灯がその対比によって実際以上の暖かみを与えている。人は少なく、まばらに置かれたテーブルでなにやら勉強をしている人が何人かいるのみ。広さに対する音の少なさがこの建物の贅沢さを感じさせる。<br>
ここまでの道のりも含めてすっかり空間感覚が麻痺してしまったからか、用事を済ませたあとはバスが来るまでただぼうっと空を見上げていた。牛乳を溶かしたような白い雲がぼんやりと広がっていた。</p>
    <p>10/22：今日は配信の予定もないので書き物を進めようと思っていたが、精神が著しく落ち込む出来事があり、糸が切れてほとんど何もできなかった。ベッドに1～2時間横たわっていたらYouTubeくらいは見られるようになった。明日から頑張る。</p>
    <p>10/23：まだ精神的な気分がすぐれない朝だった。鏡を見たら目つきがかなり鋭くなっており、人と話すときに少し気を付けなければいけないと思ったが、ただ単に眠いと思われるだけだろうと考え直した。</p>
    <p>10/24：何かをしたかったのだが、今日はあまり動けない日だった。5度浅く眠って、5度夢を見た。</p>
    <p>10/26：稲が矢印を持ち、空が50度傾き、廊下が針金となり、教室が3つあり、手が円環上の棘になって自転車と絡まり、看板が途切れ途切れの坂になり、チケットが数字のまま格子状に並び……。<br>
人生最悪クラスの悪夢を見た。追いかけられる夢やナイフを向けられる夢などはたまに見るが、こうした支離滅裂な方向性の夢は初めてかもしれない。どうにもできなくて苦しかった。シンギュラリティとはこうなのかもしれないと思った。</p>
    <p>10/26：県北の図書館に行くため、はるばる電車で移動していた。<br>
外は天気が悪く、目に見えないほどの細かい雨が降り続けていた。窓から見える近景は薄暗く、遠くの景色は白みがかっていた。空は驚くほど一色に染められ、少し青を感じさせる白色をしていた。<br>
1時間ほどして、乗る電車を間違えていることに気付いた。一旦引き返して向かい直すにはあまりに手遅れであったので、当初の目的は諦め、到着した先で喫茶店を探してゆっくりしていた。<br>
夜はタイピング練習を行った。</p>
    <p>10/27：鮮やかな朝日が差していた。電車で橋を通過するとき、その光が鉄骨に反射して移動とともに明滅した。川は鏡のごとく静止し、空にたまった雲の形を写し取ってとどめていた。<br>
夜になっても雲は多かった。ひとつひとつが大きく、寒々とした灰白色をしていて、端々はぼんやりと形を失うように溶けていた。それらがぴったり一定の層をなして移動していくものだから、下から見上げると暗い青の夜空が水面に、ほの白い雲が巨大な氷の層に見えた。天と地の違いがなくなり、ひとつの海がこちらの地面とたがいに向き合っている印象を与えた。なんの生命も宿すことのないこの海は、こちらよりもなお寒そうに見えた。</p>
    <p>10/28：仕事の集中力をもたせたいときどうするか。自分の場合、作業をしていてなんとなく疲れがくるたびにその場を離れ、歩いて廊下を一周する、という習慣がある。体を動かし、かつそのあいだ脳を休めることで、脳がちょうどよい具合にリセットされ、集中力が続く。今日も何周かぐるぐる回りつつ仕事をしていた。<br>
となればこの効果を家の中でも使ってみたくなるわけだが、すこし考えをめぐらすと、自分の家の場合はこの「一周」が成り立つルートが存在しないことに気付く。家の各場所を点とし、そのあいだをつなぐ通り道を辺としたとき、この図形のなかにはループが存在しない。抽象化を行ってはじめて、私は自分の家が木の根っこのような行き止まり型の構造になっていることに気が付く。<br>
        ちなみに建物のなかにループが成立するもっとも簡単な条件は、ある2つの階のあいだを繋ぐ階段が複数存在することである。この階段がたがいにフロア内で行き来可能なものであれば、一方の階段を上がり、他方の階段から降りてくることで簡単に周回行為が成立する。もちろんひとつの階のなかにぐるりと一周できる廊下があればそれでもよいが、こちらの場合は比較的大きな建物でもそう常にあるものではない。自分の会社の場合はこのようなひとつのフロア内で一周できる廊下はないが、行動範囲となるふたつのフロアが3つの階段で接続されているため、どの階段を使うかによって3通りのルート構築がありうる。</p>
    <p>10/29：自分の電車通勤の時間は、他の人よりは長い部類に入ると思う。行くときも帰るときも、それなりに時間をかけて家との道のりを移動している。けれどもそれらがすべて電車に乗っている時間というわけではない。実際には、プラットフォームにおける待ち時間が少なくない割合を占める。<br>
私は通勤時間を読書時間と位置づけているので、本を読んで待っていれば暇そのものは潰せる。けれども、このただじっと待っている時間、いっさい目的地に向かって進んでいない時間は、心理的にそれなりのストレス源になっている。<br>
        よって、今日はこの時間で立って待つのをやめ、駅のホームや改札周辺を歩く時間にしてみた。ふだん見慣れている駅でも、こうして散歩道のように考えてみると存外面白い。形が剥き出しになった階段の裏側。太陽に照らされて色を変えた線路の敷石。頭上の骨組み。歩き回るハト。街の建物の裏側。駅は建造物として複雑な構造をそこかしこに備えているし、場所としても特殊なものを多々含んでいる。博物館のようにそれらを見て回る時間は、けっこう退屈しないし、頭のリフレッシュにもなる。<br>
        帰りも同じことをした。電車が来るまでにそれなりの待ち時間があったので、駅の近くの道をぐるりと歩いた。<br>
途中に公園があったので立ち寄った。気まぐれに乗ってみたブランコはとても足を曲げ伸ばしできるような高さではなく、もう対象年齢を過ぎているのだと言われた気がした。<br>
そういうことをしていたら、戻ってきたときにはちょうど発車時刻を過ぎようとしており、わずかな差で電車に乗り損ねた。次の電車までは当然、またそれなりの時間を待つことになる。<br>
もうこうなったらなんでもありだと、流れに身を任せる気持ちで、何駅か徒歩で移動することにした。Googleマップで確認したところ、次の乗換駅は距離としては極端に遠くないところだったので、たまにはよいだろうと歩き始めた。思いがけない景色がたくさんあって楽しかった。<br>
さすがに疲れたので、夜は寝落ちしてしまった。</p>
    <p>10/30：寝落ちから目が覚めた。朝の5時をすこし過ぎたところだった。スマートフォンの充電が切れ、アラームが鳴らなくなった状態だったが、しっかりとその1時間前くらいに目を覚まし、人間の身体のしくみに改めて感心する。昨晩やりたいと思っていた作業の内容をまっさらな頭に思い浮かべ、すこし落胆しながら顔を洗った。</p>
    <p>10/30：家を出てすこし空を見上げると、雲とその切れ間の境目が曖昧に見えた。青空が見えず、ただぼんやりしている模様が広がるだけの朝の空だった。けれどもよく見回して、私はその印象を訂正した。はっきり見える青空は、視界のもっと端のところに切れ切れに存在していた。私がぱっと見で空の模様だと思った部分はただのひとつの雲であり、そのなかの薄くなった部分を相対的な差によって雲間であるかのように見間違え、それでたんなる雲の濃淡にすぎないところを空全体の印象であるかのように錯覚していただけだった。</p>
    <p>10/30：スマートフォンの充電はあまりできなかったが、それはたいした問題ではなかった。というのもここ数日、生活でほとんどスマートフォンを触らないようにしているからだ。<br>
理由は単純で、脳が微弱な信号に侵されていない状態を保ち、すっきりしたコンディションでいられる時間を増やすためである。もともと四六時中いじっていたわけでもないから、デジタルデトックスというほど大袈裟なものではない。けれどもいまの生活様式にメスを入れ、異なる安定状態に移していくためには、ここを見直すことがちょうどよい。<br>
日常のなんでもないところでスマートフォンを見たくなる動機は、だいたい種類が絞られる。まずは通知や連絡を見たくなる気持ち。Twitterの通知欄を見るのは、あってもなくても気持ちいい。だからこれは別に我慢しなくてもいい。次にメモを書き込みたくなる気持ち。私は読書中だけでなく、それ以外のなにか思い付きがあったときにもその場でCosenseを開き、メモを書きつけている。これは、物理的なメモ帳を使うことで代替できる。つねにメモとボールペンを持ち、なにかあったらそっちの方に書き付ければよい。私はタイピングが速いので、それを後で写す手間はものの数に入らない。最後に、Twitterやmastodonのタイムラインを眺めたくなる気持ち。こうして考えてみればなんのことはない、ただこの部分だけを意識的に減らせばいい話になる。しかも禁止する必要もなく、ただ水筒で口を軽く湿らすような控えめな手つきで、見たくなったときに少しだけ見ればいい。これはやってみればそれなりにできる。結果、初日からスマートフォンに触る頻度は激減した。</p>
    <p>10/31：昨晩はエモロックを聴きながら眠った。<br>
目を覚ましたのは5時頃であり、そこから二度寝してアラームの時間に起きた。二度寝するときは、睡眠の浅さゆえかよくない夢を見る傾向にある。今日は電車を乗り間違えて高校に遅れる夢だった。</p>
    <p>10/31：非常階段は面白い。街の建物の外壁に据え付けられたその階段は、一切の装飾を排し、ただ機能を果たすためだけに存在している。一定のリズムをもつ段を天に向かって幾何学的に巻きつけ、その鈍い色をした骨組みを空に映し出して、鮮明に自他の境界線を浮かび上がらせる。</p>
    
    <h2>読書</h2>
    <p>10/1：大澤真幸『アメリカというなぞ』を読み始めた。</p>
    <p>10/2：帰りに喫茶店に寄り読書。金山智子編『ケアするラジオ』を読み終えた。<br>
話者がマイクに物理的に近寄って声の調子を届けられること、また小規模なコミュニティでも容易に運営ができることなどから、親近感のあるコミュニケーションへの適性が高いラジオというメディア。その社会的な価値をメディア研究の文脈のなかに位置付け、再評価するための書籍。<br>
途中の章では患者との交流を重視するホスピタルラジオ、受刑者に主体性回復の契機を与える刑務所ラジオ、多言語で情報を伝える防災コミュニティラジオなど、各地の事例も紹介される。<br>
奄美大島のローカルラジオ「エフエムうけん」を紹介する章では、地域の子供たちから送られたメッセージカードの例が挙げられていた。その中の、「いもうとがうまれました。わたしみたいにかわいくなるといい」という一行が燦然と輝いていた。</p>
    <p>10/6：大築立志、鈴木三央、柳原大編著『運動学習の脳・神経科学』を一冊まるまるめくり、必要なところを読んだ。メモ書きを抜粋する。<br>
・脳のさまざまな部位には神経可塑性が認められる。そのメカニズムは、LTP（1つの神経回路を高頻度で使用することでシナプスが変化し応答強度が増強する）や、LTD（不適切な運動につながる伝達経路が遮断される）といった概念で表現される。<br>
・レミニセンス：練習を休止していたにもかかわらず、再開時にパフォーマンスが向上する。<br>
・オーバーラーニング：1回基準をクリアしたところで練習を打ち切らず、そのまま継続する。クリアまでの試行回数の半数、同数、2倍の練習を追加で行う実験では、一週間程度のスパンであれば半数追加群の時点でそれ以上の群と変わらない学習保持率を示していた。<br>
・オーバーロードの原理：練習効率を上げるためには、それまでより高い付加を与えて疲労を起こし、超回復させるのがよい。その際の原則は、意識性（目的を意識する）、個別性（個人差に合わせた方法を取る）、全面性（身体全体をまんべんなく使う）、反復性（規則的に繰り返す）、漸進性（徐々に強度を上げる）。<br>
・練習時のランダム性に関する、SheaとMorgan(1979)およびLeeとMaGill(1983)の報告。目の前のターゲットを3通りの順序でできるだけ早く倒すという実験を行う。その際、固定順序の練習を順に行っていくブロック練習と、毎回不規則に異なる順序が出て来るランダム練習の群に分ける。また期間を空けた再テストもブロック再生とランダム再生で分け、計4通りの実験を行う。結果は、ランダム練習-ブロック再生がもっとも優秀で、次にブロック練習-ブロック再生、ランダム練習-ランダム再生と続き、そこから大きく離れてブロック練習-ランダム再生がもっとも悪い成績を示す。<br>
・クローズドスキルとオープンスキルに関する、CooperとRothstein(1981)の報告。テニスのサーブとグラウンドプレイの練習を行う。そのとき、自身の動作のみをクローズアップした映像と、自身の動作を含めボールの全行程を収めた映像の2種類を場合分けしながら見せる。結果、サーブに関しては前者を与えられたグループ、グラウンドプレイに関しては後者を与えられたグループがより上達した。また、2種類の映像を交互に見ていたグループはその他の場合よりはるかに大きな進歩を示した。</p>
    <p>10/7：ジョッシュ・ウェイツキン『習得への情熱』を読み始めた。</p>
    <p>10/8：大澤真幸『アメリカというなぞ』を読み終えた。資本主義はたんなる経済現象ではなく、ピューリタンらのキリスト教思想に端を発し、それが無意識化を伴う形で変容した新しい宗教である。そのようなテーゼをもとに、アメリカ創設の歴史のなかで存在してきたさまざまな逆説を解き明かしていく長大な評論。ここ最近読んだ本の中では圧倒的に整然として読みやすい書かれ方をした本だった。</p>
    <p>10/10：宇野重規『＜私＞時代のデモクラシー』を読んだ。個人化が進んだ時代に連帯をいかに取り戻し、政治に接続するか、というテーマを扱う新書。平成に書かれた平成らしい本。われわれは結果的にSNSによって繋がれたし、それが何を意味するものだったかも知った。</p>
    <p>10/10：乾信之『タイミングの科学』を読んだ。運動研究に関する一般向け書籍。<br>
とくに運動プログラムに関する章を重点的に読んだ。人間がすばやく複数の動作を行うとき、その動作は「個々の刺激にいちいち反応している」という枠組みからは時間的に説明できず、記憶を使って動作の連鎖それ自体を覚えているのだ、と想定される。このとき、ある運動の時間構造がどのようになっているかの記憶を運動プログラムと呼ぶ。1960年代からこの研究が盛んになる。<br>
研究史を語る部分では、興味深い研究結果がたくさん出てくる。<br>
たとえば「運動の等結果性」を明らかにした実験。筆跡は、たんに手で書く場合だけでなく、手首を強制的に固定した場合や、口にペンを加えて書く場合などでも一致する。これは、動作が末端の筋肉などの各部位に刻まれたものではなく、中枢の脳においてまるごと想起されていることを意味する。
</p>
<p>書籍内ではちょうどタイピングの話（キーボーディング研究）の話も出てくる。タイピストの動作は一文字一文字の刺激-反応の繰り返しではなく、運動連鎖によって実現されている。<br>
紹介されていた実験（長崎(1997)？曖昧なので引用元今度確認する）が面白かった。まず片手の人差し指～小指に1,2,3,4の番号を振る。そして被験者は4つのキーに指を置き、指定された指の順番にできるだけ速くキーを押す。<br>
指定する順番は、321234と、それをずらした212343や123432などの文字列。これをつなげて5回ほど打ってもらい、打鍵間隔を測る。<br>
これは、タイピングにおいて指の解剖学的特徴がどれほど影響するかをみた実験である。<br>
打鍵において、被験者は6個区切り（より具体的には3-3区切り）で文字を認識する。となれば当然、パターンによって指を動かしやすい打鍵列になったり動かしにくい打鍵列になったりする。<br>
ここで、予測される実験結果はふたつある。ひとつは、どの場合でも動かしにくい指（実験者の見立てでは薬指）を使うときに打鍵間隔が広がるという結果。もうひとつは、どの指を使うかにかかわらず区切りにしたがって打鍵間隔が広がるという結果。<br>
そして、実際のところは後者だったらしい。被験者はどの指示パターンでも、1文字目と4文字目で遅れを示す。そして、薬指など弱い指を使うときに統一的に遅れを示す、といった傾向はみられない。<br>
これは、タイピングにおいて脳内の区切り方が支配的であるという結果を支持する。<br>
もちろん被験者はタイパー・タイピストではないのだし、普段のタイピングにどれほど応用できるかは分からない。けれどもこれは、タイパー界においてなんとなく共有されていた知の裏付けになりうる。どこかで掘り下げて調べたい報告ではある。</p>
    <p>10/14：ジョッシュ・ウェイツキン『習得への情熱』吉田俊太郎訳を読み終えた。かつてアメリカの年少チェスチャンピオンとして名を馳せ、そこから太極拳の達人へと転向した筆者による、熟達のなんたるかを語った自伝。これからの生活でじわじわと効いてくるであろうアイデアフルな書籍だった。</p>
    <p>10/15：エドワード・W・サイード『人文学と批評の使命』村山敏勝、三宅敦子訳を読んだ。人文学者は、テクストがいかに歴史的条件に結び付いているかを明らかにする精読技術を持って、つねに現実を問い詰めていく役割を背負わねばならない。『オリエンタリズム』でもなじみのあるサイードの文章は、膨大な例を引きながらみずからの主張を繰り返しパラフレーズし、ひとつの塊を作り上げていくような粘り強さがある。</p>
    <p>10/16：吉本隆明『情況』を読んだ。1970年初版の、吉本の時事批評集。時代がら大学闘争について多くのことを語っており、そこだけ文章のスピードが異様に上がって毒舌が振りまかれる。</p>
    <p>10/17：プルースト『失われた時を求めて』を読み始めた。全国の書店の岩波文庫の棚において物理的に幅を利かせ続けている、言わずと知れた超長編小説だ。もう後戻りはできない。</p>
    <p>10/22：夜は配信を実施。『ソシュール一般言語学講義 コンスタンタンのノート』を読み始めた。ソシュールは自身の手でまとまった講義録を遺していないため、かわりに受講生であるコンスタンタンの取ったノートがそのまま本になっているらしい。</p>
    <p>10/22：引き続き『失われた時を求めて』を読んでいる。ひとつのシーンに対してかけられる描写の量が非常に豊かで、その長さに得心がいく。</p>
    <p>10/23：夜は配信を実施。『ソシュール一般言語学講義 コンスタンタンのノート』の続き。言語記号は恣意的である、というソシュールらしい議論にいよいよ入っていく。</p>
    <p>10/23：渡邊博史『生ける屍の結末 「黒子のバスケ」脅迫事件の全真相』を読んだ。犯人自身が自伝も兼ねて著した、事件の全貌および裁判での冒頭意見陳述・最終意見陳述の内容を掲載した本。かなり忘れがたい本になると思った。<br>
ほか資料数冊をめくっていた。</p>
    <p>10/26：保坂和志『小説、世界の奏でる音楽』を途中まで読んだ。</p>
    <p>10/27：『ソシュール一般言語学講義 コンスタンタンのノート』影浦峡、田中久美子訳を読み終えた。ジュネーヴ大学におけるソシュールの『一般言語学講義』を、学生のノートをもとに再現した文献。<br>
当時のテキストに立ち返ることで、ソシュールの有名な主張がどのような問題意識のうえに成り立っているのか、その経緯がおおざっぱに確認できた。ソシュールは基本的に言語学をアップデートするという意識から出発しており、具体的な言語研究を超えて一般則を導き出そうとする目的に沿って言語研究の範囲を画定する。その作業のうちから、概念とそれを表す聴覚イメージの結びつきが恣意的であるとか、言語の静態においてはある語はそれと似たあらゆる要素と連合的な関係をもち、さらに言えばそれぞれの語の価値はそのなかの差異によってこそ規定される（概念と語が恣意的にしか結びついていないことはその必要条件である）とか、そういった観察が導かれている。</p>
    <p>10/28：プルースト『失われた時を求めて』の1巻を読み終えた。まだ全体の1/14だ。印象的な出来事が次々と起こる小説ではないが、そのかわりに外面・内面の描写がともにきわめて豊かで、発想に富んでいるため、読みごたえがある。読みごたえがあるということは、ただでさえ長編なのに普通の小説を読むときよりさらにゆっくり進まねばならないということである。先は長い。</p>
    <p>10/28：レヴィ=ストロース『野生の思考』を読み始めた。</p>
    <p>10/30：『失われた時を求めて』2巻を8割ほど読んだ。スワンという裕福な登場人物の恋と、その破綻を描く章が納められていた。1巻とは異なる人物の視点から描かれるこの巻を読んで理解したのは、プルーストがきわめて細かな描写を得意とするのみならず、その描写の目をどんな種類の事物に注ぎ、どのような形でふくらませるのかも、場面によって自力で調節できるのだという事実だった。</p>
    <p>10/31：文章の読み方が変わってきた。文章は文からなり、その文はどれもひとつの小さな発見、洞察、情報を扱っている。一文一文ごとに、書き手の目が見たこと、脳が生み出したひらめきが明示されている。それが意味のつながりをもって組み合わされることで、文章が生まれる。小説でも論説文でもそれは変わらない。豊かなことだと思う。<br>
この単純な事実を意識するようになって、文章を読むことがより楽しくなった。</p>
    
    <h2>その他活動</h2>
    <p>10/5：「日記remix 2025年9月編」という、日記を再編集した記事を投稿した。せっかく毎日文章を書いているのに個人サイトに残さないのはもったいない気がした。<br>
<a href="https://welame.netlify.app/article/202509/">https://welame.netlify.app/article/202509/</a></p>
    <p>10/5：プロセカのストーリー読みを再開した。今日は『Rekindle the flame』。<br>
ほか、原稿とブログのふたつの文章を書き進めていた。</p>
    <p>10/6：夜に少しタイピング練習。YouTube配信で手元を撮りながら試行錯誤する</p>
    <p>10/7：プロセカの宵崎奏についてなにか書こうと思ったが、思ったより長くなったのでブログ用に整えることにした。<br>
人間は生きているだけで尊い、なんてことを保証してくれる究極的な根拠はない。このおぞましさは、普通に生きているだけならば真剣に直面せずに済ましてしまえるものである。けれども一度このことを直視させられてしまった奏は、もはやそうした生き方に戻ることはできない。底から自力で生還した今も、毎日のように深淵を見つめている。</p>
    <p>10/8：夜は文章を書いていた。ブログ用の文章について書きたい内容を出しつくし、アウトラインを組んだ。いくつか紐が絡まったように流れが錯綜してまとまらない所があるので、そこを解きほぐす作業が必要になる。
ここ最近、明らかに書ける波が来ている。</p>
    <p>10/12：プロセカの記事を少し書き進める。<br>
私はたびたび創作キャラクターについての考察記事を書く。このときの心理はどのような機序によって生み出されたのか。この行動はどういった意味をもってなされたものだったのか。現実の人間にはとてもできないような、侵襲的な分析をしたい欲が自分にはある。<br>
けれどもそれらをいくらやったところで、そのキャラクターの心理がわかるわけではない。その対象は現実にはいない。わかるのはただ、「自分がそのキャラクターに何を見たがっているのか」ということだけだ。どこを切り取り、どのような価値づけを行うか。そこに現れる偏りは、自分でも自覚していない内奥の傾向を暗にさらけ出す。</p>
    <p>10/13：『Welame's holiday』と題して、一日中配信を行った。<br>
朝7時に一枠目を取り、準備をしたあと読書。ラリー・ブルックス『物語を書く人のための推敲入門』大久保ゆう訳を読んだ。もちろん私は自分自身で物語を書く予定はないのだが、長大な文章はどのような意識で改稿せねばならないのか、そうした"手の入れ方"に関してシビアで面白い示唆が多く得られる本だった。<br>
その後は『ミンゲイインターネット』で個人サイトを漁ったり、『機械設計技術者のための基礎知識』の勉強を進めたりして、午前の枠が終了。<br>
午後は3時間ほど執筆作業。そのあと、プロセカのワンダーランズ×ショウタイムのストーリー『The Power of Regret』を読んだ。<br>
ワンダショのストーリーでは、作中劇のなかにそれとなくアナロジーの関係が入れ込まれていることがある。今回の物語に関しても、リュカの気弱さが寧々の率直な感覚、手に入れた残虐さが森ノ宮の熾烈な競争に対応しており、その結末が全体としての話のまとめ方に抗う形でその両義性を示している、とみたとしてもあながち読み過ぎではないように思う。今回の試みは、一回のチャレンジとしては楽しかったが、何回も行うものとしては少しハードすぎるように感じられた。<br>
自らを公開環境に置き、作業や勉強を捗らせるための耐久配信ではあったが、やはりカメラが常に回っているという状況は気を遣う。作業しているときはもちろん、ただ単に朝食としてカップ麺を啜ることにすら神経を使う。普段の2～3時間の配信であれば平気でも、一日中となると蓄積するものが大きい。好き勝手やればいいと開き直れればよいのかもしれないが、なまじっか配信として成立するギリギリくらいの状況が続くと、視聴者からどう見えているか、細かい工夫をどう施すかといったところにどうしても脳のリソースを割き続けてしまう。<br>
結果として、集中できるメリットより必要以上に労力を使うデメリットのほうが大きく感じられた。ともかく、どっと疲れた。来てくれた人々に感謝しつつ、ゆっくり休むことにする。</p>
    <p>10/14：夜に配信を実施。昨日さんざん配信したばかりだが、それはそれとしていつものスケジュールは続ける。
ゲーム音楽のランキングを見ていたら時間があっという間に過ぎ、それだけで終了時刻が来てしまった。</p>
    <p>10/15：機械設計の勉強を進めたり、ノウハウ本の内容を一冊さらったりする。執筆作業もすこしだけ行う。</p>
    <p>10/16：夜に配信を実施。『機械設計技術者のための基礎知識』の勉強を終えた。</p>
    <p>10/18：定期配信を2枠行った。うぇるあめ杯の今週の種目は英語打鍵トレーナー。日本トップクラスの記録を投げ合う上層4人とそれなりの水準でデッドヒートを続ける下層4人がくっきり分かれ、それぞれで良い勝負を繰り広げた良回だった。私はもちろん下層のほうに属している。</p>
    <p>10/20：すこし抜き書き帳を作る。自分の好きな文章をまとめたメモページ。ためしにここにも一節抜き出す。</p>
    <p>宛ら連続活劇映画の怪人に似た黒頭巾の人物によって、秘密俱楽部は主宰され、或る種の性能実験通過者のみが、甲冑姿の騎士に案内されて、真黒に塗られた正六面体の部屋に導かれ、中央の円卓上に載っている誓約簿に署名する。その本の巻頭には、「吾等は赤色彗星のモデルを作製して、六月の夜の都会の上空に打揚げることを要望する」「遊星の楕円に反逆する抛物線は月に対して如何なる恋愛的関連を有するか」「吾々は大鏡に向って何も書いてない童話を読もうとする」「大都の真昼の刹那に起った夢とキネマの幻を結びつける平行線間の架橋は硝子製の星を連ねた月夜の無限軌道である」「一本のビール壜中に何尾の彗星を収容することが出来るか」等々が並べられているが、毎木曜夜半の広間には、東洋の古代偶像群や中世の海賊旗や陶土製のアストラルハンド（予言の手首）などが、ピタゴラスの魔の方陣に配置され、此処では前衛的な現代魔術家の舞台や霊媒実験に見られるような現象が頻々と発生する。<br>
（稲垣足穂『私の宇宙文学』）</p>
    <p>10/25：ノンストップで執筆を行っていた。その後、土曜の定期タイピング配信を実施。</p>
    <p>10/30：帰り道でハードオフに寄り、陳列棚をしげしげと眺めていた。お土産にPC用のゲームコントローラーを買って帰った。<br>
夜に配信を実施し、さっそくそのコントローラーで『ワンス・アポン・ア・塊魂』をプレイした。現代らしい進化を遂げつつ、そのはしばしで旧作プレイヤーがあまりにもてなされている。わたしも娯楽作品に「昔馴染みのお客さん」としてもてなされる年齢が来てしまった。</p>
    <p>10/31：音楽が聴きたい気分だったので、夜はひたすらSpotifyのParticle Detectorのプレイリストを聴いていた。<br>
<a href="https://open.spotify.com/user/particledetector">https://open.spotify.com/user/particledetector</a><br>
このParticle Detectorというユーザーのページは本当に異常で、世界のあらゆるジャンルをまとめた10000個以上のプレイリストが公開されている。誰がやっているのか、どうやっているのか、これだけのプレイリストをいったいどう聴けばいいのか、わからないことだらけだが、とにかく有用であることはわかる。<br>
とりあえず、アルファベット順に並んでいるプレイリストの頭のほうから1～3曲聴いてみることを繰り返す。刺さりそうなプレイリストはマイリストに保存する。今日は数字-Afのところまで進んだ。アシッドハウス(Acid House)、アフガニスタンのラップ(Afghan Rap)、アフリカの電子音楽(African Electronic)が良かった。アクースマティック(Acousmatic)も掘り下げればかなり面白そうだった。こうして名前を適当に抜き出すだけでもハチャメチャだ。</p>

    <h2>思うこと</h2>
    <p>10/1：日記は毎日書くものであるから、ときには書くことが見当たらない日、書きたくならない日もある。そのリズムの浮き沈みの底にあるときでも何事かを書けなければ、毎日更新は務まらない。<br>
広大なインターネットの中には、この浮き沈みをまったく感じさせずコンスタントに良い文章を書き続けている人が何人もいる。それは外から見る以上に大変なことだ。有名どころだとにゃるらの日記は黒背景でTwitterにアップされていた頃からよく読んでいるが、頭の中に相当いろいろな情念や体験が詰まっていないと毎日あれをやることは出来ないと思う。</p>
    <p>10/5：寝る前にラッパーのオーディション番組『ラップスタア』を観ていた。ABEMATVで年1～2回開催されている人気番組だ。<br>
予選はいくつかのラウンドに分かれる。まずは数千人の応募者が動画審査でふるいにかけられ、ステージでの事前審査に進む。そこで勝ち上がった40人が、5人ずつの8グループに分けられてサイファーパフォーマンス動画に出演する。ここで人数は12人へと絞られ、地元密着取材、楽曲制作合宿といったパートを経て、5枠しかない最後のライブ出演権の座を争う。<br>
現在の番組の進行度は、ここでいうサイファーパフォーマンスが一通り終わった段階にあたる。8グループの動画はすべてYouTubeに公開され、多くの視聴者が見られるようになっている。<br>
<a href="https://www.youtube.com/watch?v=1nQ-3YdEU7M">https://www.youtube.com/watch?v=1nQ-3YdEU7M</a><br>
自分はこの番組を2022年あたりに行われた第4回から見ており、今年は5回目となる。けれどもヒップホップの文脈にそれほど詳しいわけではなく、たんにさまざまなジャンルのラップを聴きに来ているだけのライトな視聴者である。そのため突っ込んだ話が分かるわけではないが、審査員が、ひいてはこの番組がさまざまなジレンマに悩まされていることは見ていてなんとなくわかる。<br>
まず一方で、メロディー系のラッパーの問題がある。歌を主軸にした聞き心地のいいバース作りを突き詰めたアーティストは多く、BBY NABEのようなずば抜けて完成度の高い出場者も複数出てきている。けれどもそうしたパフォーマンスには一様に、上手いけれども引っかかるものがない、という評価が下される。<br>
そしてこれはどうやらメロ系に限った話ではない、特に今週の回では、「よくも悪くも正解っぽい」という評価が目立っていた。スタンダードなスタイルを器用に、また遊び心をもって更新する力ではもはや勝ち抜けない。ここには破壊的な何かが必要とされている。<br>
他方で、インパクトが非常に強い異端的なスタイルだと、今度は「面白いけれども"ラップスタア"の名前にふさわしいのか」、という悩みがつきまとう。出場者のなかには、強烈なリリックとスタイルで審査員を盛り上がらせつつ、次のステージに残れなかったラッパーもいる。ここには先ほどとは反対に、人を引っ張る規範となるような何かが求められている。<br>
単なるプロでも破壊者でもない、「スタア」とは何なのか。おそらくその像はやる前には結べていないのだろう。その見えない答えを出場者に提示してもらうのが、この番組なの意義なのではないかと思っている。</p>
    <p>10/5：「目が死んでいる」とはどういう状態だろうか。目の表面で光が反射する、その現象自体が内面のあり方に応じて変わっているわけはない。目の周りの筋肉が動かなくなったり、目の動きが少なくなったりして、外からの見え方が変わる。そういった状況を指しているのだと思う。
けれども目が活発に動いているときは、ものごとがよく見えているときと必ずしも一致しない。体感として、力を入れて目をかっと開くとき、注意は前方に投射されるように偏る。せわしなくきょろきょろ見回すにしても、一点をしっかり見つめるにしても、注意がどこかに集中的に注がれるぶん、周辺の視野からの情報を待ち構える状態にはなりにくい。むしろ目の周りの筋肉を緩め、特定の対象なくぼうっと視界を見つめているときのほうが、ふっとした情報に気付きやすい。<br>
目が死んでいるときいつでもそうなっているとは思わない。けれども、死なないとわからないこともある。</p>
    <p>10/5：ものの感想を"見たあとすぐに"言うのは、自分にはなかなか難しい課題だと思う。出来事でも作品でもなんでもいいが、自分の場合、それらを見た直後に生じているものは、「良かった」「面白かった」というたんなる気分でしかない。引っかかる場所もいくつかあるだろうが、その意味はすぐには分からない。<br>
そこから離れて日常を送るうちに、ふとそれらのうちいくつかが腹落ちする瞬間がある。他の知識と偶然つながり、ひとつの洞察を生むことがある。あるいは最初は気にしていなかったものが、全体の中で新しい意味を持って浮かび上がって来るようになる。この消化の段階を経てはじめて、その対象への愛着が湧いてくる。その頃にはたいてい、感想を言いたいという衝動それ自体がなくなってもいるのだが。</p>
    <p>10/9：ヰ世界情緒は複数の世界を行き来する。この動画では非常に可愛らしい姿で登場しているが、普段はキュートな姿からダークな姿までさまざまなビジュアルをもって現れる。それは歌声においても同様である。可愛さに振ったライトな歌い方、語りのごとく淡々とした歌い方、低音で迫力を効かせた歌い方。たんに器用であるのとは少し違う。それら全部が、まさにヰ世界情緒そのものなのである。<br>
どこにもいて、どこにもいない。あらゆるところから距離を持つ。そのような超越性のようなものを彼女は持っている。</p>
    <p>10/12：攻撃的なものとの付き合い方を考えている。<br>
先に触れた日本語ラップは、とかく綺麗好きな令和社会の人気コンテンツのなかで圧倒的に暴力的な部類に入る。それはたいていアーティスト達本人が経験してきたものの真正な表現であり、必要性と必然性を持ったものであるとは思っている。けれどもそれらを無邪気にただ受け取り続けるわけにもいかない。強さゆえの甘さというものもある。たびたび繰り出される差別的言動、頑なになるあまりしばしば表面的な他者理解、内容だけ取り出してみれば凡庸の域を出ないメッセージ。そのうえパートナーを虐待するラッパーのニュースをたびたび耳にするとなれば、それがあなたの語る生き様の結末なのか、と嘲りたくなる。当たり前の話だが、私は暴力を肯定しない。<br>
けれども、現状にやりきれないものがあり、それを乗り越えたくなったとき、この空間が自在に使いこなしているエネルギーは必ず大きな価値を持つものだという確信もある。そこには、たんなる穏当な優しさや思いやりが、平凡な世界認識や既存の秩序になすがままに回収され、かえって攻撃の道具になってきたことへの失望もある。倫理は内側に破壊と野蛮を含まねばならない。</p>
<p>暴力への抵抗力とその当の暴力性が裏で繋がっているという認識は、自分の経験にも関係する。<br>
実のところ大抵の人がそうであるように、自分にもマイノリティ性はある。隠してはいないが堂々と言いたいものでもないし、昔はその見下すようなプレッシャーに押し潰されそうになったときもある。<br>
それを乗り越えることができた決定的な転換点は、「私はあなた方にジャッジされるだけの人間ではなく、あなた方を逆にジャッジする権利と能力をもった人間である」という自負を持ち始めたところにある。<br>
この情念を私は潔白なものだと思っていない。むしろ、まごうことなき自分の攻撃性の現れだと思っている（人をまなざすことはいつでも攻撃である）。子供のころはなすすべなくても、成人すれば徐々に気付いてくる。この人たち、ときに自分より何十年も長く生きて来たらしいこの人々は、背後にたいした意見を持っていない。持論を磨く勇気がなく、自分が関心を置いているつもりになっている分野さえ、TwitterのおすすめTLや、TikTokに現れる威勢のいいインフルエンサーの言葉だけを頼りにして図式を作っている。なぜそんな既存の網の目に怯えなければならない？</p>
<p>私は、自分が攻撃的な側面を持っているがゆえに救われている。なければいいと思うものが、自分の根幹に組み込まれている。私がアングラな作品に触れるとき、こうした部分との共鳴が起こっている。<br>
この野蛮さを、人を傷つけず、かつ圧倒する方向に開放してやるにはどうすればよいのか。思想による制御を欠いた野放図な解放でも、あるいは右左のイデオロギーに陶酔した非妥協的な解放でもない、もっと理性と一体化した安全な使い方へと着地させられないか。<br>
矛盾にも思えるそのような道を、生き物としての私は模索している。</p>
    <p>10/15：生活習慣の強化を続けている。みずからの集中度を把握し、細かい工夫によって力を出しやすい環境へと近づけていく。外乱を嫌がりすぎず、呼吸をうまく使ってコントロールする。必要なとき以外に未来のことを考えない。休息は中途半端に取らず、はっきり取る。仕事をしながら望むことをやりきるためには、気力や体力だけでなく技術が必要になる。</p>
    <p>なぜそうまでして何かをしたがるのかと問われると、正直なんとも言えない。代わりに、未だに統合的な説明を与えられずにいるいくつかの事実を順不同で並べておく。わたしは今の自分の能力と見識が満足いくものだとはまったく思っていない。わたしは自分の根源に立ち返ろうとするとき、必ずといっていいほど「既存の網の目を裂きたい」という言葉を使う癖がある。わたしの人格が発生したタイミング、あるいは行動原理の起源は明確に特定することができ、それは大学時代にまともに修学できなくなって味わった自己破壊感覚である。わたしには、何かをやっていればこの地点から想像もつかないところに行けるという確信（今までもそうしてきたという認識）と、そこまで行かなければならないという強迫観念がある。<br>
実際のところはこれ以外にもさまざまな要素が漠然と絡んでいて、これらの文をたんに並べ替えるだけでは正しい説明には辿り着けないことだけが分かっている。</p>
    <p>10/17：日英のドリルミュージックを聴いていた。とりわけ、現在各所で話題を呼んでいるPxrge Trxxxperの音楽が気になっている。確かな技術に支えられたバースと多彩なフロー、そして何より絶えざる緊張感をまとう攻撃性が目を引く。吐き出すような低音の発声で、次々に暴言じみたリリックを放つ。先輩に囲まれたサイファーで「あと他5人カマせるかどうか知らんけどまじで不安材料」と言い放ち、同じシーンのラッパーを痛罵してはばからないこの18歳の少年は、額の端に彫った"I trust no one"というタトゥーがある。<br>
<a href="https://youtu.be/L7qdRJNuNFM">https://youtu.be/L7qdRJNuNFM</a><br>
けれども彼のインタビュー映像からは、そうした刺々しさとは正反対の静けさも垣間見える。自らの荒れた過去を客観的に振り返り、今すべきことへのビジョンへと冷静に繋げる。家族の前に立てば柔らかい笑顔を見せ、カメラの前で自己像が崩れることも恐れず素直な反応を示す。さらにはかつて自分をひどく殴り、包丁さえ向けてきたという父親のことも、過去を清算して仲良くしようとしているという。そうした許しの境地に至るまでこの歳でどれほどの苦悩と回り道があったか、それを余儀なくされる圧力があったか、考えるだに背筋が凍る。<br>
<a href="https://youtu.be/cYOF-3H0So4">https://youtu.be/cYOF-3H0So4</a><br>
思うに、この静と動の二面は矛盾するものではなく、彼なりの現実との距離の取り方のふたつの現れなのだと思う。その透徹した目は、あるときは荒々しく、またあるときは達観したやり方で、世界を自分から引きはがしたところに置く。そうして、ごく少数の、しかし自分が心から愛したいものを見極めている。</p>
    <p>10/20：必ず6時間以上寝よう！<br>
生活習慣を改善するにあたって、本気で取り組むべき問題としてこの睡眠の問題が浮上してきている。私はいま生活の中でマージンとなっていたところを細かく削り取り、行動量を増やすことを続けている。そうすると必然的に、知らず知らずのうちに取れていた休息も削られていく。よって、「どう休むか」をセットで考えないともたない。<br>
まず私の基本的な生活条件として、遅くとも朝6時半までには起きなければならない。時間の取り方を考えると、6時15分、またはそれより先に起きるのがより望ましい。そして諸々の事情があり、23時までは寝ることができない。<br>
この二つを動かせないとして、自分が寝る前に何をしているのかを洗い出してみる。<br>
まず明日の準備。明日読む本と着る服は、寝る前に決めるようにしている。これは数分でできる。そして日常の記録。おもしろかったものや起こった出来事は毎晩Excelシートに書きつけているが、これも数分で終わる。タイパーブログ部の作業も、隔日かつ1回10分程度なので手早く終わらせる。<br>
次に日記関連。これは夜に極力手を付けないようにする。思い付いた内容は昼のうちに、なるべくその場で文章にする。そしてそれをまとめるのは次の朝にする。一日空けることで客観的に文を眺められるようになるというメリットもある。<br>
さらに、YouTubeをのんびり見すぎてしまう時間。これは既にもう相当な程度削れている。YouTubeで見る動画のうち、自分が本当に見たいと思っているものはそれほどなく、だいたいは惰性で見ているにすぎない。それらを除けば、残りは家のことをやっている時間にでも見終えられるくらいしかない。とにかく休むときははっきり休む。<br>
あとは、日ごとに生まれる突発的な事情。なんとしても見届けたい配信が深夜に及んだとか、意識が覚醒していまやっている作業の手が止まりそうにないとか、そういうことがある。これはもう、身を任せることにする。生活のほかの部分でそのダメージをカバーしても自分にとって元が取れると思うなら、多少のことは仕方がない。<br>
そうなると一番難しいのが、「今日まだやり足りないと感じること」をやりたいと思ってしまう心理に対応することだ。ここがこの問題の本質的課題である。どうにかする。</p>
    <p>10/24：建造物の外装は、どの側面も等しく仕上がっているわけではない。普段見える塗装の色や質感などが、四方全面にわたって続いているとは限らない。私は詳しくは知らないのだが、もっともよく見える面を造り込み、そうでない面はほどほどにする、という等級処理が行われていることもあるのだろうと思う。<br>
だから隣接する建物が取り壊されるなどして、本来見えることのない建物の側面があらわになると、そこがコンクリート剥き出しの無骨な表面になっていたりする。あるいは駅のホームからふと見える駅舎の裏側、高架の側面などが、ひどく簡素で薄汚れた外装をしていることに気づくことがある。
わたしはそのような側面に惹かれる。不器用で、うっかり引っかき傷をつけてしまっても気にならないような、そんな気の抜けた外装に。</p>
    <p>10/25：ここのところ、自分が、自分がと、自意識にかかわることばかり追い求めている気がする。それは少し先の自分が見れば狭い課題意識のなかにとらわれているように見えるだろうと思う。<br>
けれどもこれを乗り越える方法は、まず自分のことを徹底的にやり切り、しかるべき達成と諦念を手に入れることにしかない。つまり、わたしにはこれだけのことができたという実感と、わたしは本当に取るに足らない思いあがった人間だったという実感の両方を、具体的に掴まなければいけない。一足飛びにはいけない。それを追い求めるための自由を、大人は私に手渡してくれたのだと思うし、私もいずれ誰かに手渡さなければならない。</p>
    <p>10/26：昨日の日記は夢の記述から始めたので、かなり意味のわからない書き出しになった。それは夢の流れをなるべく忠実に書き取ろうとしたからそうなったわけであるけれども、この理解不能さは覚醒時の脳の動きを書き取る場合でも現れてくるもので、例えば、</p>
    <p>水瓶になってしまった！！！   脳が神経の集合で、それにもかかわらず粒子の集合でもあることがありうるとして、どっちでもいいけども、階層の問題なんだから、このときふたつの粒子があり、いっぽうがまず上に行って、ついで左に行くとすれば、それは粒子が下に行って、ついで右に行くことであって、これがあらゆる組み合わせに、つまり、しかし？   しかし、波ではない形で、（思考終了、落ち着いた心持ちになる）</p>
    <p>となり、これは夢の記述に比べればかなり秩序立ってはいるものの、依然としてあまりにあんまりなので、例えばここから「水面は一見静止して見えるときでもたえずその内側の配置を変えている」「無意識は常に生活の中で得た情報を混ぜ合わせている」のような意味の通った要素を取り出し、そこから人間的な文章に書き直すということが、あります。</p>
    <p>10/29：はじめてラブレターをもらったときに感じた感情は、怒りだった。<br>
記名のない手紙だったから、校内のだれが出したのかはそのときは分からなかった。けれども誰であってもその印象は変わらなかった。何を考えているのか、何を求められているのかさっぱりわからなくて、けれどもその分からない意図に沿ってなにか重大な応答をしなければいけない。当時の私には、そのことがどうしてもやりきれないものに感じたのだった。今でこそ恋心が切実であるという知識があるから、わたしは自分のこの反応をまったくもって正当化できるとは思わないのだが、にもかかわらずわたしがそうであることは決められたことなのだった。</p>
    <p>恋愛ごとにおける私の立場は、「～したい」や「～である」といった積極的記述ではなく、「～でない」という否定の記述によってのみ表現しうるものである。「わからない」や「したいと思わない」。無はふつうの意味での抑圧や妨害の対象となることはない。ただいびつな居心地としてのみ現れる。<br>
それはまるで、生まれつき何も食べなくても生きていける人、あるいは眠らなくても生きていける人が、他人が腹を空かせて食事にありついたり、夜にいそいそと寝床にもぐり込んで何時間も動かなくなったりするのを見て、自分だけがそうした生物としての義務を免除され、不当にも安逸を貪っていられることにいくらかの喜びを覚えつつ、それでもどこか、欠落はもっぱらこちらの方にあるのだともっとも深く変更できないところで感じるような、そんな心情にたとえられるのだと思う。</p>
    <p>10/30：自分が雲好きであることは、この日記の習慣を通してはじめて知った。「私がイメージする私」と「実際の行動の次元での私」には相違がある。したがって、行動としては何かを好きでいながら、意識としてはよくあるもののひとつにしか思っていない、ということがありうる。
これは信仰についてもいえて、意識としては神など何も思っておらず価値観の基準にもしていないが、行動を取り出すと毎年神社に参拝して手を合わせ、真剣に願い事をしている、ということもありうる。</p>

    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="日記remix 2025年10月編 - welame&#39;s page" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</Layout>

