---
import Layout from '../../layouts/Layout.astro';
const pageTitle = "日記remix 2025年9月編";
---
<Layout pageTitle={pageTitle}>
    <h1>日記remix 2025年9月編</h1>
    <p>私が2025年に書いた日記の内容を、内容別に再編集してまとめました。<br>
        それぞれの文章はおおむねそのままで掲載してあります。</p>
    
    <h2>日常</h2>
    <p>9/1：うんていで手の皮が思い切り剥けた。保護のために手袋をしていたのだが、動きすぎると結局手袋と手の接触面に負荷がかかって怪我をするらしい（しかも直接見えないので気付くのが遅れる）。<br>
おかげで今はスマートフォンを持つのに苦労している。右手の小指と人差し指をそれぞれ側面に当て、薬指と中指で背面を支える形でなんとか操作している。</p>
    <p>9/1：新しいマウスのM-DPT1MRXBKが届いた。はじめてのトラックボールマウスだ。未知の感覚に驚く。</p>
    <p>9/2：姿勢をよくしようと気をつけている。とはいっても、1日のなかで「姿勢をよくしよう」と明確に意識できている時間を合計してみるとおそらく10分にも満たないと思うので、よくはならない。</p>
    <p>9/3：今日の夕空は一段と綺麗だった。雲が地平線の先から羽根のごとく斜めに伸び、鼠色の空のなかで赤々と燃え盛っている。<br>
帰りに普段寄らないカフェに入った。東京の喫茶店は少し高い。</p>
    <p>9/5：雨の日。窓の外に見える街は音もなくゆるやかに動く。<br>
真っ白な空が光を乱反射し、あらゆるものを鈍い薄明りで包む。無骨な鉄塔の列。まばらな車通り。向こうの工事現場では重機が年季の入ったアームを昇降している。<br>
帰り際に仕事関係の専門書や『ユリイカ』の最新号などを買って帰る。</p>
    <p>9/6：休息日。休息日とあらかじめ決めていたわけではなく、起床が遅かったので事後的に休息日であることになった。</p>
    <p>9/7：夕方、コミティア帰りの田原夕さんにお会いした。さまざまなことを話した。批評や文章のこと、年代観のこと、将来のこと……。楽しかった。</p>
    <p>9/8：残業日。しばらく新人指導でつきっきりになるので、残りの通常業務が平時では使用されないはずの領域にスライドされる。</p>
    <p>9/9：相変わらず仕事が立て込んでいる。社内でする話が増えるぶん、日記に書くことは減る。<br>
弟が家に帰ってきたのでべたべたする。</p>
    <p>9/10：湿気が多い。秋になって昼の陽射しの刺し貫くようなぎらつきがなくなり、じんわりとした暑さだけが残っている。</p>
    <p>9/11：夜遅くなった帰り道、久々に雨に降られた。<br>
かなり強い雨だった。坂道を勢いよく滑り落ちていく水流。光がかき乱されぼやけて見える街灯。雨樋からひっきりなしに吐き出される雨水。熱を奪われて冷えた空気。黒光りした車道の路面は雨滴が激しく打ち付けて草原のようになり、それを車の黄色いヘッドライトが照らすと無数のクラウンが浮かび上がる。<br>
水溜まりを避けて歩こうとするのは途中から諦めた。こうなったらなすがままだ。</p>
    <p>9/11：今日はブックスタンドを選びにいくつかの雑貨店を回っていた。最終的にロフトにあった蛇腹で伸び縮みするものを買った。</p>
    <p>9/11：最近は日記を書く余裕がない。翌日起きてから通勤電車のなかで間に合わせに書くのが普通になっている。<br>
これは一日のエネルギーを使い果たして寝落ちしているのが原因であり、それはそれで望ましい状態であるようにも思う。</p>
    <p>9/12：昨日降った雨の名残を伝えるように、朝の通り道は涼しい。<br>
帰り際にメロンブックスの受け取りなどを済ます。</p>
    <p>9/12：一日に自分が受け取れる情報量には上限があり、今週はその大半を職場で体験している。言い換えれば、インターネットから秘匿された領域でやっている。今こうしてmastodonの画面に向かい合っているときも、書くべき言葉がほとんど出てこない。</p>
    <p>9/13：いつも聴いている曲を、目をつぶって細かく聴き直してみる。具体的には、土台となる一定のリズムをまず認識し、その上に長短さまざまな音が流れていくさまを分解しながら聞く。<br>
そうすることでたとえば、今まで知らなかった音の存在が見える。時間によって厚みの変化があること、その切り替えの直前にしかるべき準備が入れられていることが見える。さらには土台自身もしばしば変化し、楽曲の色を途中で入れ替えていることが見える。<br>
ここまでじっくり眺めるとき、もはや楽曲の全体の意味というものは意識に上らなくなってくる。意味とはゲシュタルトにしか宿らない。ひとたびそれを破壊してしまえば、あとに残るのは他との比較を絶したひとつの戯れのみである。</p>
    <p>9/14：昼頃からベッドに寝そべり、ずっと好きな音楽を聴いていた。集中するあまりトリップ2歩手前くらいの状態になり、手や胴体の感覚がなくなったり、足が引き攣ったり、いろいろな身体異常に襲われた。</p>
    <p>9/16：空気が湿り気を帯びてすこし下に沈むような、そんな朝だった。暗示に従うかのごとく、仕事がすべて空回りし続けた。</p>
    <p>9/17：窓越しに眺める工事現場は面白い。晴れて白くぼやけた空の下、重機から伸びる緑色のアームが音もなく上下動を繰り返す。街は可変で、いつでも消滅と生成の流れのうちにある。<br>
相変わらず後輩指導をしている。ふたり分の業務をコントロールし、つねにコミュニケーションを取りながら行う仕事は、普段の倍の体力消費をもたらす。</p>
    <p>9/18：業務は依然としてドタバタしている。今週中はなかなか休まる暇がない。<br>
帰りはやや遅い時間となり、宵闇に姿を溶かしゆく街を夜の灯火が点々と照らしていた。知らぬ間に日脚が短くなっていると思った。配信は取りやめることにした。</p>
    <p>9/19：スレート色の雲が空を厚く覆っている。風が水分を吸って冷たく肌に当たる。夕方になれば街は深い青で染められ、鉄道の軌道に暗い影が落ちる。駅の庇の側面は赤く錆び、上に数羽の鳩が留まっている。<br>
会社の大規模な懇親会の幹事を務めた。掲示物やペン類、司会台本など、必要物を詰めて終業後すぐに会場に向かう。受付から閉会まであれこれ仕切りを行う。<br>
そのまま二次会もまとめたので非常に忙しい一日だったが、なんとかやりおおせた。<br>
業務のほうもつきっきりになる状況が一段落し、峠を越した感がある。これで9月いっぱいはゆっくりとできるはずである。</p>
    <p>9/20：昨日の酔いもそこそこに重い体を起こし、昼頃に予約していた美容院に向かう。徐々に長く伸ばしている髪を整えつつ、サイドを大きく刈り上げてボリュームを調整してもらう。<br>
その後、買い物や通院を済ませる。<br>
夕方にしばし休眠する。配信時間の少し前くらいに目を覚ます。起き上がって配信準備をしようとするが、なにやら体が動かないことに気付く。せめて時間の変更をツイートしようとするが、隣にあるスマートフォンを起動するまでにも30分以上かかる。<br>
これはもう何もできる状態ではないと悟り、配信予定を取りやめて休眠した。短い夢を見た。ぼんやりとした質問を投げかけられ、間違えると水の底に連れていかれる夢だった。海中のスフィンクス。<br>
夜中ごろには回復し、食事もできた。いろいろ気が抜けてしまったのだと思う。</p>
    <p>9/21：曇り空にはおおよそ意志というものがない。不定形の雲を気まぐれに散らし、空を大雑把に覆い、光を乱反射してぼやかしている。晴れた空のあの生真面目さ、太陽光線を平行に注いで人々の皮膚を暴き出す几帳面さとは無縁である。</p>
    <p>9/22：気候はグラデーションをなして変化していくものではあるが、その様子はミクロで見れば決して滑らかではなく、随所に急降下・急上昇する箇所を残している。ここ数日の冷え込み方も、そうした断崖のひとつに数えられるものだろう。</p>
    <p>9/25：部屋の前に虫がいる。親指の先くらいの大きさの虫が、ひっくり返った状態で床に転がっている。すぐには動き出しそうにないが、足や触角はゆらゆらと動いており、刺激すればどう動くか知れたものではない。<br>
わずかに蒸し暑い夜中、額に汗をにじませながら戦略を練る。まずは台所洗剤を取ってきて、移動してほしくない方向に防衛ラインを張っておく。次にティッシュ二枚を手に取り、生け捕りを狙ってゆっくりと接近する。そして虫の周りを覆うようにして素早くティッシュを被せる。果たして作戦は成功し、虫は暴れることもなく手の中に収まった。玄関前に放してやった。</p>
    <p>9/29：雲を筆で塗りたくったような空だった。太陽のあたりにちょうど雲間が重なり、曖昧な輪郭を黄金色に照らしていた。</p>
    
    <h2>読書</h2>
    <p>9/3：牧野圭子『情景と詩的哀感』を読み終えた。「もの悲しさ」という、喪失的な哀感といくばくかの心地良さを併せ持つ独特の感覚を学術的に位置づけ、その生起メカニズムのモデル化を行う学術書。<br>
また、為末大『熟達論』を読んだ。人は熟達した技能をどのように手に入れるのか、オリンピアンの立場から実質的なところを詳細に言語化する本。まず遊び、次に型を身につけ、次第に構造を理解してその核だけを使えるようになる。非常にインスピレーションに富む本だった。</p>
    <p>9/13：テリー・イーグルトン『悲劇とは何か』大橋洋一訳を読み終えた。悲劇すなわち人間の破滅という、近代合理主義の楽観性が破綻する地点を突き付けつつ、その終わりなき生成を手放しで賞賛する従前の悲劇理論の限界も見つめている。</p>
    <p>9/16：桜庭一樹『GOSICK GREEN』を読んだ。</p>
    <p>9:21：飯島耕一『鳩の薄闇』を読み終えた。永瀬清子とオクタヴィオ・パスを中心に据え、パリやウルグアイで過ごした日々の思い出話もまじえた詩論集。</p>
    <p>9/22：岩淵悦太郎『悪文』を読み始めた。タイトル通り、読み手が意味を取りにくい"悪文"の特徴を説明していく指南書。以前一度だけ読んだことのある本だが、復習として再度手に取った。</p>
    <p>9/23：岩淵悦太郎『悪文』を読み終えた。昨日の日記でも言及した、有名な文章指南書だ。<br>
よい文・悪い文の特徴を示すいくつかのトピックのうち、「文と文の接続表現を意識する」ということは改めて意識したいポイントだと思った。書きたい情報はあらかじめ整理し、それぞれの文が前後の文と明確な関係を持つように並べなければならない。そしてその関係は、接続詞ほか適切な表現によって明示しなければならない。これはたんなる文章の巧拙だけでなく、思考の明晰さそのものが問われる要求である。</p>
    <p>9/24：メイソン・カリー『天才たちの日課 女性編』金原瑞人、石田文子訳を読んだ。</p>
    <p>9/25：野中郁次郎編著『失敗の本質 戦場のリーダーシップ篇』を読んだ。旧日本軍の失敗を題材に、大局観と現場感覚を兼ね備えて適切に動くための組織のあり方を考える書籍。</p>
    <p>9/26：山口雄大、行本顕、泉啓介、小橋重信『全図解 メーカーの仕事』を読んだ。需要予測、開発、生産からロジスティクスに至るまで、各分野の専門家が集まった教科書的な本。<br>
    しばらく本を読むペースを意識的に上げ、その集中期間を通して自らの「本の読み方」を洗練させたいと思っている。それでとりあえずここ3日ほど、一日一冊のペースで本を読んでいる。<br>
    このあたりの話をまとめようとしたら5000字を超える文章になったため、ブログに投稿した。久しぶりに個人サイトをまともに動かした。<br>
    <a href="https://welame.netlify.app/article/reading/">より多くの本を読みたい</a></p>
    <p>9/28：小田伸午『一流選手の動きはなぜ美しいのか』を読み終えた。タイトルに対する答えは「自然な動きを使っていて力感がないから」だ。</p>
    <p>9/29：マルキ・ド・サド『閨房の哲学』秋吉良人訳を読んだ。露悪的な講釈と猥雑きわまりない乱交描写が交互に繰り返される、新たな週のはじまりに手に取るものとしてはあまりに最悪な本だった。</p>

    <h2>タイピング</h2>
    <p>9/3：夜は配信を聞きながらタイピング練習。e-typingは636ptしか出ず、最大WPMも670程度。あまり感触が良くない。<br>
肉体とは知性で絶対に支配できない複雑性を持った領域であり、運動とは人間の認知能力を遥かに超えた複雑な因果の集合である。今の自分のタイピング練習のモチベーションのほとんどは、これらの巨大な未知とじっくり対峙し、探求を重ねていく楽しみによって支えられている。</p>
    <p>9/4：e-typing長文は自己ベストを696→705に更新。WPMも760と十分余っている。腕試しのほうはからきしだったが、少し700WPM台の手触りに関するヒントを得る。</p>
    <p>9/5：e-typing長文のベストを705ptから732ptに更新する。腕試しのほうは満足いく結果がなかなか出ない。両手が連動する感覚が生まれてきているのでそれを大切にしていく。</p>
    <p>9/7：今週のスコア狙いは諦めた。打ち込む中で自分の打鍵が全然速くなっていないことが分かったため、これ以上続けても意義ある結果はやってきそうにない。しばらく別の作業をする。</p>
    <p>9/9：『手の運動を学ぶ―手の役割と手の機能解剖との関係から運動を紐解き、臨床に活かす』が届いた。数ある人間の動作のうち、手の動きにフォーカスを当てて書かれた運動学の解説書。タイトル通り臨床医療の関係者に向けて書かれたものではあるが、人体への理解を深めてタイピングゲームの本質を考えたいという自分の目的にもうってつけの書籍といえる。<br>
手に取ってみたところ、厚みは130ページ程度と意外に薄かった。そのかわりサイズが大きい。さっそく、今日の配信内で冒頭部分を勉強する。<br>
手の5本の指はいくつかの機能的役割区分によって分けることができる。橈側動的区分（母指）、中央静的区分（示指・中指）、尺側動的区分（環指・小指）。それらの中手骨はおのおの異なる形で手根骨と関節をなしており、固有の特徴をもった動きを実現する。<br>
比較的平易な内容ではあるが、文章中の言葉遣いは医学的なもので統一されている。人差し指が示指、薬指が環指と呼ばれているのを読みながらはじめて知った。<br>
ちなみにタイピング界では運指の情報を伝達するための指番号というものが存在し、左小指を1、左薬指を2……と呼ぶことがある。分野の数だけそれに対応した言葉の体系がある。</p>
    <p>9/11：今日は帰りに千葉のゲームセンター「フェリシダ」に行った。ここの店舗に『タイピング・オブ・ザ・デッド』(TOD)が存在するという情報が昨日出ており、それを確かめることが目的だった。はるばる2時間かけて千葉駅に向かい、降り立った通りを進んで10分程度のところにその店はあった。<br>
店内は2階建てで、1階にメジャーなゲームやクレーン機、2階に音楽ゲームやさまざまな座席型ゲームが並ぶレイアウトになっていた。徘徊しながら探すこと数分、2階の奥の方に目当ての筐体はあった。<br>
赤と白のカラーリング。据え付けられた2台のキーボード。遠目から見ても、その特殊な台は判別できる。こんなにも堂々と置いてあるものなのか、という驚きがあった。ネットに情報が出回っていないだけで、あるところにはしっかりあるのだ。<br>
このゲームは稼働開始からゆうに25年以上が経過したアーケード用タイピングゲームであり、現存する筐体は非常に少ない。現在稼働を確認できているのは、池袋のミカド、秋葉原のGIGO3号館、長岡のテクノポリスの3店舗のみ。1台増えるだけでも大きな情報だった。<br>
せっかくなので通しプレイを楽しむ。ぐだぐだとミスを積み重ね、クイズもマジシャン戦もひどいものだったが、久しぶりのTODを満喫した。</p>
    <p>9/21：『手の運動を学ぶ』の勉強を進めた。手関節の動きには背屈・掌屈と撓屈・尺屈の2軸が存在し、それらは主に6つの筋肉によって実現される。ただしそれぞれの筋肉は両軸に対して斜め方向のベクトルの動きをもち、その合成も斜めの成分をもつ。これにより背屈は撓屈を、掌屈は尺屈を伴う。<br>
千葉県から埼玉の自宅までもさらに時間がかかるので、帰宅はずいぶんと遅い時間になった。</p>
    <p>9/23：『手の運動を学ぶ』の勉強を一気に進めた。親指の運動の章を終え、手指の関節運動を論じる最終章に入った。これで残りはわずか十ページ程度となる。<br>
以降はさらなる文献を探すとともに、競技タイピングへの応用方法も考え始めていきたいと思う。</p></p>
    <p>9/24：配信外での勉強時間もあわせ、『手の運動を学ぶ』を最後まで読み切った。運動に対するものの見方を整えるためのよい一冊となった。<br>
指の曲げ伸ばしや把持などの運動は、いずれも関節を起点にして生まれるものである。この関節運動のしかたは、まず関節を構成する骨の形状によっておおまかに形作られ、靭帯の付き方による制限を受けつつ、最終的に力の源となる筋肉の構造によって決定される。たとえば人差し指を曲げる運動では、まず第二関節が曲がり、すこし遅れて第一関節が連動し、最後に根元の関節が曲がっていくのだが、その理由も要素同士の関係を追っていけば説明することができる。</p>
    <p>9/27：RTCのタイピング風景の観察を少し行っていた。具体的には、指のそれぞれの関節がタイピング中にどれくらい動いているかを観察した。人間の運動は関節で起こるものであるから、関節に着目すればその機序がおおよそわかる。<br>
そこで気付いたのは、タイピングにおける指の第一・第二関節の動きはたいていの場合ごくわずかな範囲にすぎない、ということだった。それらは運動の最終域で調節を行うものであり、おそらくはそれ以上のものではない。基本的にはやや屈曲した状態で固まり、第三関節によって振られている。<br>
こうした気付きを実際のタイピングにも実装していきたい。</p>
    <p>9/28：タイピング練習を行う。RTC観察にもとづき、力の入れ方をいろいろ試している。関節運動が外から見てどうなっているかどいうことと、それが主観的にどう感じられるか、またどう力が入っているかということは別物である。よって、よりよい答えは自分で実際に打ちながら考えていくしかない。けれどもなかなかいい答えが出ない。<br>
「映像観察がタイピングに新しい知見をもたらす」という確信は持っているが、それを未だに明確な形にはできていない。</p>
    
    <h2>その他活動</h2>
    <p>9/2：夜に配信を実施。ネットでいろいろな人のデスクを眺める回。<br>
自分はあまりメインのデスクにものを置かないようにしており、ディスプレイ、キーボード、キーボードの位置調整用の置物（本）、マウス、デスクライトくらいしかない。このすっからかんの状態で部屋の電気を消し、デスクライトの光だけで作業するのがいちばん集中できる。</p>
    <p>9/4：夜に雑談配信を行った。Webカメラをアームで浮かせ、普段と異なる横からのアングルを試す。タイピング中の手元をなかなか広く映せる。<br>
専用のアームを設けたことで、毎回律儀に行っていたカメラの設置作業は必要なくなった。<br>
今までの配信ではカメラはディスプレイの上部に引っ掛ける形で使用しており、普段の生活で邪魔にならないよう使うたびに設置と撤去を繰り返していた。しかし今回カメラに固有のスペースができたことで、そのような手間は不要となり、ただ浮かせて放置しておくだけでよくなる。これからの配信で使用頻度が上がりそうだと思う。</p>
    <p>9/7：『LIAR GAME』を全巻読んだ。</p>
    <p>9/8：「Welame's Room」と題した枠を実施。定点カメラで勉強しながら一言二言喋る、今までと比べてもかなり静かな配信となった。<br>
無理にコンテンツっぽくするのをやめ、作業時間を共有する"部屋"というイメージで開いている。<br>
自分は現在、火・木・土の週三回の固定スケジュールで配信を行うことにしている。しかしやることが明確に決まっている土曜と比べ、平日の2回の配信については未だうまい位置付けを見つけられていない。もともと木曜の固定枠であったタイピング分析配信が行き詰まったこともそれに拍車をかけている。今のところ、何を提供したいのかも何を得たいのかもわからない配信を繰り返している感覚がある。<br>
別にやらなければいいだけだろうという話かもしれないが、来てくれる人がいる以上はより意義のある形を見つけたい。色々試し、ちょうどよいバランスを探る。</p>
    <p>9/14：漫画を読む日だった。ebooksjapanでブックマークしていた作品の一巻を片っ端から購入し、読んでいった。『すべての人類を破壊する。それらは再生できない。』や『宝石の国』が気になった。<br>
今回は普段手に取らない恋愛漫画やエッセイ漫画にも手を伸ばしていた。描かれている悩みや人間ドラマには総じてあまり共感できないが、それはそれでいい体験になりうる。</p>
    <p>9/15：ひたすらに漫画と記事を読み続ける日だった。漫画は諸星大二郎全集や読み切りの『囍』が良かった。<br>
    漫画は諸星大二郎全集や読み切りの『囍』が良かった。<br>
記事は一週間ほど前に話題になっていた『<a href="https://note.com/awesome_awa/n/n192440636a1e">台湾で鳥を探す</a>』のインパクトが非常に強かった。<br>
ほか、特に印象に残ったものを挙げていく。<br>
・『<a href="https://note.com/xcloche/n/n55938e706986?sub_rt=share_pb">色違いのコイキングでLLMをバグらせろ：グリッチトークン入門</a>』<br>
・<a href="https://msknmr.hatenablog.com/entry/2025/08/13/110000">panpanyaの漫画表現は発明なのか？</a><br>
・<a href="https://note.com/locust/n/n0510aa00b100?sub_rt=share_sb">LOCUSTレコメンド ②ukiyojingu「少年少女は前を向いたのか――10年目のカゲロウプロジェクトと「繋がり」の思想」</a><br>
・<a href="https://note.com/muryo_o/n/n958372be0ca9">風、落ちていく</a></p>
    <p>9/16：『Welame's 夜間教室』と題し、駄弁りながら勉強する配信を始めた。</p>
    <p>9/17：夜は世界史の勉強。ルネサンスと宗教改革、キリスト教の動乱の季節。<br>
その後は漫画を読んだり、タイピングの練習をしたり、同人誌作業を進めようとして行き詰まったり、ぼんやりとさまざまなことをして時間を過ごしていた。どれも寝る決心をつけるまでの時間稼ぎの域を出なかった。</p>
    <p>9/18：世界史の勉強を少しした。独立したオランダや立憲君主制の芽吹くイギリス、絶対王政をきわめるフランスの覇権争いについて。</p>
    <p>9/21：「ときめきマイリスト」なるページをサイト上に作った。書籍や漫画、音楽などについて、自分の趣味嗜好をありったけ書き連ねるページだ。自分でやっておいてなんだがこう可視化すると具合が悪くなる。<br>
    <a href="https://welame.netlify.app/article/like/">ときめきマイリスト</a></p>
    <p>9/23：夜は同人誌作業を進めた。前進はしたが、終わりはしなかった。<br>
自分が依頼されているのは高々4ページ程度の分量の内容であり、筋の立て方も初日の段階でほとんどイメージできていたものの、実際に書ききるまでの作業の重さを侮っていた。</p>
    <p>9/25：夜に勉強配信を開いた。帰宅してからしばらく眠りこけていたため、予定より遅い時間からの開始になった。『機械設計技術者のための基礎知識』の勉強を再開する。</p>
    <p>9/28：世界史の勉強を進めた。アメリカ独立やフランス革命、ナポレオンの台頭など、印象的な出来事が続いた。</p>
    <p>9/28：夜は同人誌作業を進めていた。VTuberの歴史を振り返りながら、出雲霞の引退のところで未だに何かこみ上げるものを感じた。最初から最後まで息もつかせぬ物語を生み出しつづけ、VTuberという形式の可能性を開いてくれたあのチャンネルの活動は、今でも心から好きだったと言える。キズナアイ、出雲霞、可哀片コハル。</p>
    
    <h2>思うこと</h2>
    <p>9/14：思想と呼ばれるあらゆるものへの不信感が募っているのを感じる。何が正義かを鮮やかに断ずる数々のクライテリア達は、われわれの世界の見方を広げ、また選択肢を比較衡量するためには欠かすべからざるものではある。けれども私のもっとも日常的な感性、もっとも根源的な世界認識の部分は、いかなる硬直的な「○○主義」にも触らせたくないと思ってしまう。それらは外から教えられるものではなくて、観察、そして遊びによって開いていくものだ。そのために自分の肉体はある。</p>
    <p>9/15：これからよりよい文の書き手になるため、「調べる力」を伸ばしたいと思っている。ある問いに向かうために、情報をかき集めて体系立てる力。</p>
    <p>9/16：わたしはインターネットで炎上したら花火になりたい。</p>
    <p>9/118：安部公房に『カーブの向う』という短編がある。家へと繋がるカーブの道を行く途中、主人公が突如としてその先の景色をまったく思い出せなくなってしまう、というシーンからその作品は始まる。見慣れたはずの景色が根拠を失うとき、そこにいる自己の基盤も掘り崩される。人間の根源的不安を描いた不条理文学だ。<br>
しかし思い返してみれば、私はそもそも自宅へ向かう道のことを初めからよく知らないのではあるまいか。もちろん全体の印象や道の形状、いくつかの目につくポイントは頭に入っている。けれども、例えばその地図を書き、どこに何が並んでいるかを示してみせられるかと言われれば、極めて怪しい。そして実際に周囲を眺めつつ道を歩いてみると、見たことのないものが多く目に入ってくる。家々のアシンメトリーなベランダ。シャッターの赤錆。ネイルサロンの手書きの張り紙。駐車場奥に積まれたダンボールの文字。<br>
ふだん自分が生きている空間では、生活上必要なものがどれかを把握してしまっているがゆえに、かえってそれ以上の情報を受け取れなくなっている。その無意識のセレクションをひとたび止めれば、記憶の盲点はいつでも口を開いている。</p>
    <p>9/22：先日行われていた世界陸上で、女子走り高跳び部門にウクライナからヤロスラワ・マフチフ選手が出場していた。長身から繰り出されるしなやかな跳躍もさることながら、競技の合間に寝袋にもぐり、目をつぶって横になる独特のルーティンも話題になった選手であった。<br>
優勝をかけたプレッシャーのなか、喧噪きわまる国立競技場で堂々と寝そべる姿。それは勿論、調子を整えるために自分なりに模索して見つけた最善の策なのであろう。実際に眠りに落ちているとは限らないとしても、これほどまでに「睡眠の力」を雄弁に語る光景はそうそうない。万年睡眠不足の自分はテレビの前で変に反省してしまった。</p>

    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="日記remix 2025年9月編 - welame&#39;s page" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</Layout>

