---
import Layout from '../../layouts/Layout.astro';
const pageTitle = "Welame's Monthly Best 紹介コンテンツ一覧";
---
<Layout pageTitle={pageTitle}>
    <h1>Welame's Monthly Best 紹介コンテンツ一覧</h1>
    <p>毎月YouTubeにて行っている、その月良かったコンテンツを紹介する配信シリーズ『Welame's Monthly Best』（旧名：Welame's Award）。<br>
        本記事ではそこで取り上げたものを一覧にしてまとめています。</p>

    <h3>2024年9月編</h3>
    <p>【ゲーム】<br>
        『NEEDY GIRL OVERDOSE』<br><a href="https://whysoserious.jp/needy/">https://whysoserious.jp/needy/</a><br>
        <br>
        【動画】<br>
        『煩悩事変』機能美p　<br><a href="https://youtu.be/Hv2q2Xu139Y">https://youtu.be/Hv2q2Xu139Y</a><br>
        <br>
        【漫画】<br>
        『クロシオカレント』こかむも　<br><a href="https://bookwalker.jp/series/371248/">https://bookwalker.jp/series/371248/</a><br>
        『レストー夫人』三島芳治　<br><a href="https://www.shueisha.co.jp/books/reader/main.php?cid=08879838879838315501">https://www.shueisha.co.jp/books/reader/main.php?cid=08879838879838315501</a><br>
        『星旅少年』坂月さかな　<br><a href="https://comics.pie.co.jp/series/hoshitabi/">https://comics.pie.co.jp/series/hoshitabi/</a><br>
        『ふたりで木々を』平方イコルスン　 <br><a href="https://www.hakusensha.co.jp/comicslist/69475/">https://www.hakusensha.co.jp/comicslist/69475/</a><br>
        <br>
        【書籍】<br>
        『ノンデザイナーズ・デザインブック』ロビン・ウィリアムス　 <br><a href="https://book.mynavi.jp/nddb/">https://book.mynavi.jp/nddb/</a><br>
        『まったく新しいアカデミック・ライティングの教科書』阿部幸大　<br><a href="https://www.kobunsha.com/shelf/book/isbn/9784334103804">https://www.kobunsha.com/shelf/book/isbn/9784334103804</a><br>
        『眠りの航路』呉明益　 <br><a href="https://www.hakusuisha.co.jp/book/b587424.html">https://www.hakusuisha.co.jp/book/b587424.html</a><br>
        『テロルの現象学』笠井潔　<br><a href="https://sakuhinsha.com/philosophy/29536.html">https://sakuhinsha.com/philosophy/29536.html</a><br>
        <br>
        【音楽】<br>
        『ひとりぼっち産業革命』シャノン　<br><a href="https://youtu.be/mNqm63fPTlQ">https://youtu.be/mNqm63fPTlQ</a><br>
        『フラットアース』地球平面説　 <br><a href="https://youtu.be/NcdwjLbq8EY">https://youtu.be/NcdwjLbq8EY</a><br>
        『熱風』kemu　<br><a href="https://youtu.be/7kT2Azgw3rc">https://youtu.be/7kT2Azgw3rc</a><br>
        『UNDEAD』YOASOBI　<br><a href="https://youtu.be/Jj1_mfUzjOs">https://youtu.be/Jj1_mfUzjOs</a><br>
        『ジョハリ』Nornis　<br><a href="https://youtu.be/66FfVXogNUc">https://youtu.be/66FfVXogNUc</a><br>
        『月の兎はヴァーチュアルの夢をみる』月ノ美兎　<br><a href="https://youtu.be/WpMdbqDHb_s">https://youtu.be/WpMdbqDHb_s</a><br>
        『水のトラブルおまかせください！　(××××-×××-×××)』ﾇ羊　<br><a href="https://youtu.be/IjE4To1ZV1E">https://youtu.be/IjE4To1ZV1E</a><br>
        『super highway』nouvo nude　<br><a href="https://youtu.be/o2aXLdbn5rk">https://youtu.be/o2aXLdbn5rk</a><br>
        『Part 11』Douglas Holmquist　<br><a href="https://open.spotify.com/intl-ja/track/1i4newW3sAn4Kv2IAtj6gC">https://open.spotify.com/intl-ja/track/1i4newW3sAn4Kv2IAtj6gC</a><br>
        『孤独の発明』Toe　 <br><a href="https://youtu.be/7MPFhDxaw4Y">https://youtu.be/7MPFhDxaw4Y</a><br>
        『ハミングがきこえる』カヒミ・カリィ　<br><a href="https://youtu.be/jgxmgtJ2Lc8">https://youtu.be/jgxmgtJ2Lc8</a><br>
        『The Love Parade』Cornelius　<br><a href="https://youtu.be/Y9m9Q2xUHM4">https://youtu.be/Y9m9Q2xUHM4</a><br>
        『Music Controller』Capsule　<br><a href="https://youtu.be/MxXzLphD6dk">https://youtu.be/MxXzLphD6dk</a><br>
        『残滓』早見沙織　<br><a href="https://youtu.be/GrwI4XqKQcs">https://youtu.be/GrwI4XqKQcs</a><br>
        『SIGNAL - icesawder Remix』　 <br><a href="https://youtu.be/96LZ3m9geB8">https://youtu.be/96LZ3m9geB8</a><br>
        『もってけ！セーラーふく (EX.Motte [k]Remix)』　<br><a href="https://youtu.be/kjffVovV7KI">https://youtu.be/kjffVovV7KI</a><br>
    </p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/04zZpQ36cNE?si=yso20RZ1y3US38vn" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <h3>2024年10月編</h3>
    <p>【ゲーム】<br>
        『荊棘の道は何処へ』プロジェクトセカイ<br>
        <br>
        【漫画】<br>
        『三千世界を弔って』 二ツ森曜子　<br><a href="https://mag-garden-store.com/view/item/000000002289">https://mag-garden-store.com/view/item/000000002289</a><br>
        <br>
        【書籍】<br>
        『失われた未来を求めて』木澤佐登志　<br><a href="https://www.daiwashobo.co.jp/book/b594596.html">https://www.daiwashobo.co.jp/book/b594596.html</a><br>
        『なめらかな社会とその敵』 鈴木健　<br><a href="https://www.keisoshobo.co.jp/book/b105891.html">https://www.keisoshobo.co.jp/book/b105891.html</a><br>
        『利他・ケア・傷の倫理学』 近内悠太　<br><a href="https://www.shobunsha.co.jp/?p=8166">https://www.shobunsha.co.jp/?p=8166</a><br>
        『現代思想入門』 千葉雅也　<br><a href="https://bookclub.kodansha.co.jp/product?item=0000363613">https://bookclub.kodansha.co.jp/product?item=0000363613</a><br>
        『埋没した世界――トランスジェンダーふたりの往復書簡』 五月あかり、周司あきら　<br><a href="https://www.akashi.co.jp/smp/book/b624238.html">https://www.akashi.co.jp/smp/book/b624238.html</a><br>
        <br>
        【音楽】<br>
        『0』Ado × 椎乃味醂　<br><a href="https://youtu.be/E9UPr5SesCM">https://youtu.be/E9UPr5SesCM</a><br>
        <br>
        『化けの花』 25時、ナイトコードで。×KAITO　<br><a href="https://youtu.be/UFRIsspP9UE">https://youtu.be/UFRIsspP9UE</a><br>
        『フューエル』Vivid BAD SQUAD×KAITO　<br><a href="https://youtu.be/HkcAuqAsWfY">https://youtu.be/HkcAuqAsWfY</a><br>
        『仮想狂騒曲』 倉本千奈・篠澤広・月村手毬　<br><a href="https://youtu.be/8YNzp2vRS9I">https://youtu.be/8YNzp2vRS9I</a><br>
        『Yellow Big Header』ピーナッツくん　<br><a href="https://youtu.be/qYIVHl90BTo">https://youtu.be/qYIVHl90BTo</a><br>
        『勝手に生きましょ』しぐれうい　<br><a href="https://youtu.be/P8pDGQI9bQQ">https://youtu.be/P8pDGQI9bQQ</a><br>
        『魔法使いエバ』はるまきごはん　<br><a href="https://youtu.be/4TstQhTJ6zA">https://youtu.be/4TstQhTJ6zA</a><br>
        『教師Aの顛末』林田匠　<br><a href="https://youtu.be/7AcTiWUE8TE">https://youtu.be/7AcTiWUE8TE</a><br>
        『死は海の香り』トイハニロフ　<br><a href="https://youtu.be/HX-21JZ24bo">https://youtu.be/HX-21JZ24bo</a><br>
        『Nighthawk』SHOW-GO　<br><a href="https://youtu.be/CYs9FKH93Z0">https://youtu.be/CYs9FKH93Z0</a><br>
        『獧者』狺ｰTARØET　<br><a href="https://youtu.be/ede_YDzc_EQ">https://youtu.be/ede_YDzc_EQ</a><br>
    </p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/mzNtpou8ZW0?si=o7tMQfBSBCR-V1dy" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <h3>2024年11月編</h3>
    <p>【漫画】<br>
        『瑠璃の宝石』渋谷圭一郎　<br><a href="https://piccoma.com/web/product/54422">https://piccoma.com/web/product/54422</a><br>
        『サテライト・コインランドリー』にわかあめ　<br><a href="https://comic-walker.com/detail/KC_004626_S">https://comic-walker.com/detail/KC_004626_S</a><br>
        『ナナカド町綺譚』須藤真澄　<br><a href="https://www.akitashoten.co.jp/comics/4253104169">https://www.akitashoten.co.jp/comics/4253104169</a><br>
        『ご飯は私を裏切らない』heisoku　<br><a href="https://web-ace.jp/youngaceup/contents/1000121/">https://web-ace.jp/youngaceup/contents/1000121/</a><br>
        『室外機室 ちょめ短編集』ちょめ　<br><a href="https://www.futabasha.co.jp/book/97845754405770000000">https://www.futabasha.co.jp/book/97845754405770000000</a><br>
        <br>
        【書籍】<br>
        『境界文化のライフストーリー』桜井厚　<br><a href="https://www.kinokuniya.co.jp/f/dsg-01-9784796702614">https://www.kinokuniya.co.jp/f/dsg-01-9784796702614</a><br>
        『草の竪琴』トルーマン・カポーティ　<br><a href="https://www.shinchosha.co.jp/book/209504/">https://www.shinchosha.co.jp/book/209504/</a><br>
        『解放された観客』ジャック・ランシエール　<br><a href="https://www.h-up.com/books/isbn978-4-588-14050-1.html">https://www.h-up.com/books/isbn978-4-588-14050-1.html</a><br>
        『乱読のセレンディピティ』外山滋比古　<br><a href="https://www.kinokuniya.co.jp/f/dsg-01-9784594075583">https://www.kinokuniya.co.jp/f/dsg-01-9784594075583</a><br>
        <br>
        【音楽】<br>
        『キセツに魔法をかけるレシピ -"How to"-』魔女方式（アルバム）　<br><a href="https://booth.pm/ja/items/6052850">https://booth.pm/ja/items/6052850</a><br>
        『シンカンセンスゴイカタイアイス』シャノン　<br><a href="https://youtu.be/O_VRIuKM9gw">https://youtu.be/O_VRIuKM9gw</a><br>
        『ドロシィの忘れもの』はるまきごはん　<br><a href="https://youtu.be/NC_nGoNNXJw">https://youtu.be/NC_nGoNNXJw</a><br>
        『肥矮な』言稿　<br><a href="https://youtu.be/yqe04-XyXR4">https://youtu.be/yqe04-XyXR4</a><br>
        『毒花』Aliey:S　<br><a href="https://youtu.be/Kc5LG30vxEE">https://youtu.be/Kc5LG30vxEE</a><br>
        『梅に鶯』r-906　<br><a href="https://youtu.be/AjspnMNkGu8">https://youtu.be/AjspnMNkGu8</a><br>
        『ぼくのかみさま』ワンダーランズ×ショウタイム × 鏡音レン　<br><a href="https://youtu.be/aNS1lu_PkpQ">https://youtu.be/aNS1lu_PkpQ</a><br>
        『学校の七不可思議』桃寝ちのい　<br><a href="https://youtu.be/LQ3L5fAZyaA">https://youtu.be/LQ3L5fAZyaA</a><br>
        『Beep Street』Squarepusher　<br><a href="https://youtu.be/LKJ-0ZO4pxo">https://youtu.be/LKJ-0ZO4pxo</a><br>
        『Rodeo13』梅田サイファー　<br><a href="https://youtu.be/jTxnBru3t1U">https://youtu.be/jTxnBru3t1U</a><br>
        『distance』FARMHOUSE　<br><a href="https://youtu.be/fraHK595GG0">https://youtu.be/fraHK595GG0</a><br>
    </p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/utGhfJMCMWw?si=hlyE90v5ARwfYcWH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <h3>2024年12月編</h3>
    <p>【ゲーム】<br>
        『傷だらけの手で、私達は』プロジェクトセカイ<br>
        <br>
        【漫画】<br>
        福島鉄平『放課後ひみつクラブ』　<br><a href="https://shonenjumpplus.com/episode/316112896941522424">https://shonenjumpplus.com/episode/316112896941522424</a><br>
        郷本『夜と海』　<br><a href="https://houbunsha.co.jp/comics/detail.php?p=%CC%EB%A4%C8%B3%A4">https://houbunsha.co.jp/comics/detail.php?p=%CC%EB%A4%C8%B3%A4</a><br>
        詩野うら『有害無罪玩具』　<br><a href="https://comic-walker.com/detail/KC_002633_S?episodeType=comics">https://comic-walker.com/detail/KC_002633_S?episodeType=comics</a><br>
        <br>
        【書籍】<br>
        タリアイ・ヴェーソス『氷の城』　<br><a href="https://www.kokusho.co.jp/np/isbn/9784336072504/">https://www.kokusho.co.jp/np/isbn/9784336072504/</a><br>
        赤坂真理『安全に狂う方法』　<br><a href="https://www.igaku-shoin.co.jp/book/detail/113766">https://www.igaku-shoin.co.jp/book/detail/113766</a><br>
        『少年愛文学選』高原英理編　<br><a href="https://www.heibonsha.co.jp/book/b561019.html">https://www.heibonsha.co.jp/book/b561019.html</a><br>
        武田泰淳『淫女と豪傑』　<br><a href="https://www.chuko.co.jp/bunko/2013/01/205744.html">https://www.chuko.co.jp/bunko/2013/01/205744.html</a><br>
        <br>
        【音楽】<br>
        【RAPSTAR2024 コラボ】Lil'Yukichi Presents / Tepa Roucci ✕ Luka Hatakeyama ✕ TOKYO世界 ✕ Leon Fanourakis　<br><a href="https://youtu.be/6Lb3wbXbj0c?si=6DPwcCgig5i8LesM">https://youtu.be/6Lb3wbXbj0c?si=6DPwcCgig5i8LesM</a><br>
        『東京』雪国　<br><a href="https://youtu.be/-p5fSjGXUVI?si=OKnD5D8WHAngA30R">https://youtu.be/-p5fSjGXUVI?si=OKnD5D8WHAngA30R</a><br>
        『GOLDEN BUDDY』礼賛 feat.くるま　<br><a href="https://youtu.be/KufyTQoi4-o?si=Wk9Pnxd9he46zaEZ">https://youtu.be/KufyTQoi4-o?si=Wk9Pnxd9he46zaEZ</a><br>
        『Eureka』sasakure.‌UK x ArmyTom (w/z Bitplane)　<br><a href="https://youtu.be/Idx27mkEn8E?si=JNYSPPm_-bMsLTRP">https://youtu.be/Idx27mkEn8E?si=JNYSPPm_-bMsLTRP</a><br>
    </p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/HNlZz_MyUS4?si=0glmxgyRx7oGwGf7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <h3>2025年1月編</h3>
    <p>【動画】<br>
        『朱』まりやす　<br><a href="https://youtu.be/BJa2g4bLBq4?si=Wmo_NdFsT0MuSC6I">https://youtu.be/BJa2g4bLBq4?si=Wmo_NdFsT0MuSC6I</a><br>
        <br>
        【漫画】<br>
        『ブランクスペース』熊倉献　<br><a href="https://viewer.heros-web.com/episode/13933686331689971929">https://viewer.heros-web.com/episode/13933686331689971929</a><br>
        <br>
        【書籍】<br>
        『九マイルは遠すぎる』ハリー・ケメルマン　<br><a href="https://www.kinokuniya.co.jp/f/dsg-01-9784150711023">https://www.kinokuniya.co.jp/f/dsg-01-9784150711023</a><br>
        『FACTFULNESS』 ハンス・ロスリング、オーラ・ロスリング、アンナ・ロスリング・ロンランド　<br><a href="https://bookplus.nikkei.com/atcl/catalog/19/P89600/">https://bookplus.nikkei.com/atcl/catalog/19/P89600/</a><br>
        『批評の歩き方』赤井浩太、松田樹　<br><a href="https://www.jimbunshoin.co.jp/book/b10092351.html?srsltid=AfmBOopqzHHmKE5-fHMyom3Hd5BkVeCX1nfaFEn_IP5cVkK3pOjdAqZG">https://www.jimbunshoin.co.jp/book/b10092351.html</a><br>
        『ストリートの思想』 毛利嘉孝　<br><a href="https://www.chikumashobo.co.jp/product/9784480439567/">https://www.chikumashobo.co.jp/product/9784480439567/</a><br>
        <br>
        【音楽】<br>
        『君が僕を嗤う日』中瀬ミル　<br><a href="https://youtu.be/HRGXZnRx65c?si=TXHnKgi_LM8Mb_M4">https://youtu.be/HRGXZnRx65c?si=TXHnKgi_LM8Mb_M4</a><br>
        『ファイアダンス』Vivid BAD SQUAD　<br><a href="https://youtu.be/Zqs0lEADyFo?si=zaNd0wuiOoGL5ACd">https://youtu.be/Zqs0lEADyFo?si=zaNd0wuiOoGL5ACd</a><br>
        『通行可能はあなただけ』Gyr0　<br><a href="https://youtu.be/-uxkVIJbKKM?si=OvoTPvFg4FlZ9wc6">https://youtu.be/-uxkVIJbKKM?si=OvoTPvFg4FlZ9wc6</a><br>
        『蛮行』シラフ feat.noma　<br><a href="https://youtu.be/dUJr-cV2uiE?si=i5HhVNoTQ0H-A1Lx">https://youtu.be/dUJr-cV2uiE?si=i5HhVNoTQ0H-A1Lx</a><br>
        『Akatsuki』PEZ　<br><a href="https://open.spotify.com/intl-ja/track/5Kzvafvksy487apDu6f6Fw?si=d206bb42b4834a91">https://open.spotify.com/intl-ja/track/5Kzvafvksy487apDu6f6Fw?si=d206bb42b4834a91</a><br>
        『Mother of The Future』ELECTRO KEYBOARD ORCHESTRA　<br><a href="https://open.spotify.com/intl-ja/track/5NEQnbKZUqcqHy5Pb7GdNh?si=17bd325b8c3e4021">https://open.spotify.com/intl-ja/track/5NEQnbKZUqcqHy5Pb7GdNh?si=17bd325b8c3e4021</a><br>
    </p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/CVzIbpwlL_o?si=c6DLPMnwImZfxPmz" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <h3>2025年2月編</h3>
    <p>【動画】<br>
        ZUTOMAYO レア・グルーヴ集 (Rare Groove + Animation)　<br><a href="https://youtu.be/lnkKlxEJUHk">https://youtu.be/lnkKlxEJUHk</a><br>
        <br>
        【書籍】<br>
        『数理モデル思考で紐解くRULE DESIGN -組織と人の行動を科学する-』江崎貴裕　<br><a href="https://www.socym.co.jp/book/1386">https://www.socym.co.jp/book/1386</a><br>
        <br>
        【音楽】<br>
        『天底に座した浮遊鯨が完全に消滅するまでの4つの段階』Gyr0　<br><a href="https://www.nicovideo.jp/watch/sm44674765">https://www.nicovideo.jp/watch/sm44674765</a><br>
        『終末おはなし倶楽部 (Alt.)』OLDUCT　<br><a href="https://www.nicovideo.jp/watch/sm44677749">https://www.nicovideo.jp/watch/sm44677749</a><br>
        『あそびかた』背面８回宙返り　<br><a href="https://www.nicovideo.jp/watch/sm44567204">https://www.nicovideo.jp/watch/sm44567204</a><br>
        <br>
        『叫びに代えて。』園端石 <br><a href="https://www.nicovideo.jp/watch/sm44676206">https://www.nicovideo.jp/watch/sm44676206</a><br>
        『崩屑.exe』な鍋　<br><a href="https://www.nicovideo.jp/watch/sm44623619">https://www.nicovideo.jp/watch/sm44623619</a><br>
        『Lent』宮沢もよよ　<br><a href="https://open.spotify.com/intl-ja/track/4EjesfGLewKOCfetRsFwTc?si=acab049790a34bcf">https://open.spotify.com/intl-ja/track/4EjesfGLewKOCfetRsFwTc?si=acab049790a34bcf</a><br>
        『Plan 0 From Outer Space』Competor　<br><a href="https://open.spotify.com/intl-ja/track/14fabRmJtyLan8rC1zwt7m?si=35968d7ec72c48c6">https://open.spotify.com/intl-ja/track/14fabRmJtyLan8rC1zwt7m?si=35968d7ec72c48c6</a><br>
        『インタールード』渋谷慶一郎　<br><a href="https://open.spotify.com/intl-ja/track/6uVIVyeOYG4H08dleMJ0Ca?si=8facc28167f3486c">https://open.spotify.com/intl-ja/track/6uVIVyeOYG4H08dleMJ0Ca?si=8facc28167f3486c</a><br>
    </p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/_nxdf44us-Q?si=6CB1NixHDC2BoT7y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <h3>2025年3月</h3>
    <p>【動画】<br>
        ドラムンベース講座 #1 Liquid Funk　<br><a href="https://youtu.be/XCok-cD57lM">https://youtu.be/XCok-cD57lM</a><br>
        <br>
        【書籍】<br>
        『贖罪 殺人は償えるのか』藤井誠二　<br><a href="https://www.shueisha.co.jp/books/items/contents.html?isbn=978-4-08-721325-6">https://www.shueisha.co.jp/books/items/contents.html?isbn=978-4-08-721325-6</a><br>
        『庭の話』宇野常寛　<br><a href="https://www.kodansha.co.jp/book/products/0000404327">https://www.kodansha.co.jp/book/products/0000404327</a><br>
        『歴史学の作法』池上俊一　<br><a href="https://www.utp.or.jp/book/b614672.html">https://www.utp.or.jp/book/b614672.html</a><br>
        【音楽】<br>
        『音楽を楽しく正しく聞くことに慣れている私たちにとって、不愉快で非合理なものこそが必要だ。そうして私は、この雑音の反復さえ、意味があるのだと言ってしまう。』ukiyojingu　<br><a href="https://www.nicovideo.jp/watch/sm39224978">https://www.nicovideo.jp/watch/sm39224978</a><br>
        『濁点』ARuFa　<br><a href="https://open.spotify.com/intl-ja/track/6BlWadPECZL43j72bJ65qp?si=1586ffe812824827">https://open.spotify.com/intl-ja/track/6BlWadPECZL43j72bJ65qp?si=1586ffe812824827</a><br>
        『Miknotechnica』KIT　<br><a href="https://open.spotify.com/intl-ja/track/3AkhEKLX5ucS4qqsoF6N58?si=fea622452fc143dd">https://open.spotify.com/intl-ja/track/3AkhEKLX5ucS4qqsoF6N58?si=fea622452fc143dd</a><br>
        『Fictitiousphere』Lemm　<br><a href="https://open.spotify.com/intl-ja/track/6hszhhiBHmGMK78L8hff8B?si=661f0f3a34e640f6">https://open.spotify.com/intl-ja/track/6hszhhiBHmGMK78L8hff8B?si=661f0f3a34e640f6</a><br>
        『Paradise Garage』Squarepusher　<br><a href="https://open.spotify.com/intl-ja/track/5SqxQvEEvlSXMDhWxMe5ki?si=1a4512af5dc04808">https://open.spotify.com/intl-ja/track/5SqxQvEEvlSXMDhWxMe5ki?si=1a4512af5dc04808</a><br>
        『Vic Acid』Squarepusher　<br><a href="https://open.spotify.com/intl-ja/track/30zIOHfilerYlErNMCMd2D?si=1d3aff5b2d3245fd">https://open.spotify.com/intl-ja/track/30zIOHfilerYlErNMCMd2D?si=1d3aff5b2d3245fd</a><br>
    </p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/9AcxAr0Q-dI?si=t1EbIbNqNchglnOM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <h3>2025年4月</h3>
    <p>【映画】<br>
        スカイ・クロラ The Sky Crawlers<br>
        <br>
        【漫画】<br>
        『ムシ・コミュニケーター』ムネヘロ　<br><a href="https://comic-walker.com/detail/KC_003625_S?episodeType=first">https://comic-walker.com/detail/KC_003625_S?episodeType=first</a><br>
        <br>
        【書籍】<br>
        『私たちはどう学んでいるのか』鈴木宏昭　<br><a href="https://www.chikumashobo.co.jp/product/9784480684318/">https://www.chikumashobo.co.jp/product/9784480684318/</a><br>
        『白鯨』ハーマン・メルヴィル　<br><a href="https://www.shinchosha.co.jp/book/203201/">https://www.shinchosha.co.jp/book/203201/</a><br>
        『凹凸を楽しむ 東京「スリバチ」地形散歩 多摩武蔵野編』皆川典久、真貝康之　<br><a href="https://www.kinokuniya.co.jp/f/dsg-01-9784800313867">https://www.kinokuniya.co.jp/f/dsg-01-9784800313867</a><br>
        『金融人類学への誘い』宮崎広和　<br><a href="https://www.kinokuniya.co.jp/f/dsg-01-9784801006737">https://www.kinokuniya.co.jp/f/dsg-01-9784801006737</a><br>
        <br>
        【音楽】<br>
        『Mourning, Stagnant.』saaa　<br><a href="https://youtu.be/Wd9r05g4Dik">https://youtu.be/Wd9r05g4Dik</a>
    </p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/wiD6Rte_dFU?si=X2b-6qXBM1sKzayx" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="Welame&#39;s Monthly Best 紹介コンテンツ一覧 - welame&#39;s page" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</Layout>

