---
import Layout from '../../layouts/Layout.astro';
const pageTitle = "プロセカストーリー『Colors of Pure Sense』感想　東雲絵名の眼はなにを見る（+自撮りの件について）";
---
<Layout pageTitle={pageTitle}>
    <h1>プロセカストーリー『Colors of Pure Sense』感想　東雲絵名の眼はなにを見る（+自撮りの件について）</h1>
    <p>本記事はイベント中にfusetterに書いた文章をイベント終了後に追記・移植したものです。プロジェクトセカイのイベント『Colors of Pure Sense』のネタバレを含みます。</p>
    <h2>絵名の眼</h2>
    <p><b>良かった</b>。圧巻だった。</p>
    <p>今回のイベントは、絵名の芸術とは何なのか、絵名はこれから何を磨いていくのかというぼんやりした部分が、これ以上ないほど明快に示された回だったといえる。<br>
        前回の瑞希イベントもそうだが、自分のことを深く掘り下げながら悩みに答えを出していく過程は、プロセカの原点とも言えるストーリー展開だ。</p>
    <p>場面でいえば、やはり最後の制作の様子が印象的である。<br>
        終盤、絵名が思いのままに油彩を描くシーン。「<b>（キラキラした色は――/太陽の光と、あの時お父さんが描いてた木の色を乗せて/緑じゃなくて……赤が走って――）</b>」。さりげないが、ものすごい台詞だと思う。</p>
    <figure class="respimage">
        <img alt="絵名の台詞のスクリーンショット" src="/enacps.jpg"/>
    </figure>
    <p>次々に心の声が飛び出すなか、この一瞬だけは、<b>論理の流れを越え、絵名の思考がそのまま走っている</b>。言葉がぱっと見では読み取れないほど複雑になっているが、しかし言葉のつながりを見れば確かに人間の思考の流れになっていることがわかる。<br>
        「……」で止まり、「――」でふたたび走り出す表現など、細部に気を配って描かれてはいるが、しかし中核にある混沌をそのまま残している。秀逸な台詞だと思う。</p>
    <p>ちなみに絵名の魅力が世界観にあるという点は、雪平に先立って二葉もすでに指摘している。『空白のキャンバスに描く私は』5話のことである。</p>
    <figure class="respimage">
        <img alt="『見てる世界が私とは違うっていうか、他の人には表現できない魅力だなぁって……』" src="/futabacps.jpg"/>
    </figure>
    <p>絵名のこの眼はもちろん、持って生まれた身体的な感性に属するものといって間違いない。<br>
        けれどもここでひとつ付け加えておきたいのは、それが完全に絵名の内側に属するものではなく、むしろ<b>絵名と外界の具体的な対象との関係のなかではじめて現れてくるものだ</b>、という点である。つまり、絵名の世界観は、つねに絵名とほかのものとの出会いによって成立し、形をとる。</p>
    <p>そして絵名の場合、きっとそこにはたくさんの人間がいる。私が思うに、絵名のもうひとつの天分は、外向的な性格である。喜怒哀楽をぜんぶ使って人と仲良くなり、ぶつかり、そのなかで表現に値する自分の感情を見出す。それが穂波との交流から瑞希との一件に至るまで、絵名の物語で一貫して描かれてきたことである。今回のストーリーの回想場面があくまで「昔見たきれいな自然」ではなく「自然を見るあの父」を起点にしていたことも、これと無関係ではない。</p>
    <p>とりわけニーゴという存在はこれから、絵名にとってそのもっとも近い原点、自分の心を揺さぶり筆を取らせる源泉として何度も現れるであろう。『願いは、いつか朝をこえて』でまふゆを前に思わずスケッチブックを取った、あのときのように。</p>
    <figure class="respimage">
        <img alt="『……絵名には、私がこう見えるんだね』" src="/mafuyucps.jpg"/>
    </figure>
    <h2>アカウント消去の是非</h2>
    <p>本ストーリーの最後には、絵名が長年使用していた自撮りアカウントを消去する場面があった。</p>
    <figure class="respimage">
        <img alt="『なんか、こうやってみると一瞬だな』" src="/enacps2.jpg"/>
    </figure>
    <p>勝手な想像ではあるが、この場面は、話の流れでそうなったのではなく、このストーリーを作るにあたって最初からノルマとして要請されていたものではないかと思う。<br>
    というのもこのストーリーには、自撮りの話を入れる必要性はまったくない。今回のSNSの筋にかかわる台詞は、周囲の流れからみてどれも唐突に入れられた感があり、ごっそり抜き出しても話が成り立つ。</p>
    <p>さらにいえば、実のところこの行動は全体の流れと必ずしも噛み合わない。<br>
        今回のストーリーは、「目標に対する最短距離を進む」ことと「回り道して自分の思うままにやってみる」ことを対置し、前者が後者によって解体されるさまを描いていた。そう考えたとき、決意を持つことのなかに「他の道を断つ」行動を入れ込むのは、今回の物語の筋とは微妙に食い違うのである。むしろ、自撮りのような、くだらなく思えるものの象徴であっても、なんとなくやりたい気持ちがあるのであれば切り捨てなくていいし、そこから発見できる自分もあるのかもしれない、という方向性のほうが自然ではないか。たとえばこはねと写真勝負をする過去の日常回『Take a Best Shot!』でみられる絵名の姿は、たんなる逃避行動というラベルでは決して切り捨てられない何かを示している。</p>
    <p>けれどもメタ的に言えば、今回のこれは運営自身のひとつの決意なのだともいえるかもしれない。<br>
    絵名が自撮りを始めた理由をもっともあけすけな言葉で表せば、それはおそらく「リリース当初のプロセカ運営が絵名を地雷系モチーフのキャラクターとして造形しており、自撮り癖はそのもっとも手近な要素だったから」となる。もちろんそう言ってはいないだろうが、初期の服装なども含めればそうした意図を読み取らざるを得ない。しかしこのゲームは5年続いていくうちに、そうしたわかりやすい押し出し方をしなくなった。エピソードを丁寧に重ね、たんなるひとつの属性におさまらない人物として人を書くようになった。絵名についても話が進むうちに、当初は考えられないほどたくましい人間になった。そんな絵名をこれからの道へと送り出してやる気持ちで、今回区切りをつけようとしたのだと考えれば、それはそれでひとつの決断である。</p>

    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="プロセカストーリー『Colors of Pure Sense』感想　東雲絵名の眼はなにを見る（+自撮りの件について） - welame&#39;s page" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</Layout>

