---
import Layout from '../../layouts/Layout.astro';
const pageTitle = "説明と肯定のあいだ 2025";
---
<Layout pageTitle={pageTitle}>
    <h1>説明と肯定のあいだ 2025</h1>
    <p>こういうツイートをしました。</p>
    <blockquote class="twitter-tweet"><p lang="ja" dir="ltr">博識でものごとのメカニズムを言語化することに非常に長けており、頼りがいがあると思っていた人が、世の中のさまざまな理不尽ごとに関して持ち前の説明能力を十全に発揮したはいいものの、そこからよりリアリスティックな突破口を見出そうとしたり、次善策を提示したりする姿勢をまったく見せず、</p>&mdash; うぇるあめ (@welch2929) <a href="https://twitter.com/welch2929/status/1913934855223877746?ref_src=twsrc%5Etfw">April 20, 2025</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <p><br></p>
    <blockquote class="twitter-tweet"><p lang="ja" dir="ltr">「だから仕方ないんですね～」「そういうもんなので受け入れた方がいい」みたいな現状追認の態度をやけに嬉々として取り始める、そういうことが世の中にはあります</p>&mdash; うぇるあめ (@welch2929) <a href="https://twitter.com/welch2929/status/1913934857937522895?ref_src=twsrc%5Etfw">April 20, 2025</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <p><br></p>
    <blockquote class="twitter-tweet"><p lang="ja" dir="ltr">暴力という現象、苦痛という事実が説明という知的操作によって&quot;あがなわれる&quot;ことはない、という原則になるべく従ってやっていこうな</p>&mdash; うぇるあめ (@welch2929) <a href="https://twitter.com/welch2929/status/1913934860177248335?ref_src=twsrc%5Etfw">April 20, 2025</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <p><br></p>
    <p>ちいちゃい延焼をしました。</p>
    <blockquote class="twitter-tweet"><p lang="ja" dir="ltr">この世の理不尽と戦おうとして理不尽のメカニズムを真に理解すると理不尽が理になってしまうから戦う動機が消えてしまうシステムほんま凄いよな　進撃の巨人システム</p>&mdash; LW (@lw_ru) <a href="https://twitter.com/lw_ru/status/1913943764852212187?ref_src=twsrc%5Etfw">April 20, 2025</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <p>（RT言及ツイート）</p>
    <blockquote class="twitter-tweet"><p lang="ja" dir="ltr"><a href="https://t.co/XUp0uLspil">https://t.co/XUp0uLspil</a><br>よくわからないですが感想におかしいとかおかしくないとかはあんまないんじゃないですかね<br>ZARD聞いて死にたくなる人もいるし<a href="https://twitter.com/hashtag/LW%E7%AE%B1?src=hash&amp;ref_src=twsrc%5Etfw">#LW箱</a></p>&mdash; サイゼリヤのLW (@saize_lw) <a href="https://twitter.com/saize_lw/status/1914206595577511992?ref_src=twsrc%5Etfw">April 21, 2025</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <p><br></p>
    <blockquote class="twitter-tweet"><p lang="ja" dir="ltr"><a href="https://t.co/VFkKRYN6YN">https://t.co/VFkKRYN6YN</a><br>その理解で合ってます<br>主張を理解した上で前提が違うという指摘も込みでラフに感想をツイートしています<br>「明日雨は降らない」に対して「（俺は明日雨降ると思うけどね、そして）明日雨降るのやべえ」の括弧内が略されただけです<a href="https://twitter.com/hashtag/LW%E7%AE%B1?src=hash&amp;ref_src=twsrc%5Etfw">#LW箱</a></p>&mdash; サイゼリヤのLW (@saize_lw) <a href="https://twitter.com/saize_lw/status/1914225338575683662?ref_src=twsrc%5Etfw">April 21, 2025</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <p>まず当然ながら、マシュマロ内で提示されている解釈は正しいです。そもそも誰も文章を誤読したりはしていない。ただ、想定しているケースの違い、個人的に力点を置きたい箇所の違い、そうした点でズレが生まれるのだと思います。</p>
    <p>確かに、ひとたび仕組みが解きほぐされることで、理不尽だと思っていたことが別の見方で捉えられるようになるケースはあります。例えばまさにLWさんの以前のインテリ就活記事は、そのような認識に基づいて書かれているものだと思います。</p>
    <a href="https://saize-lw.hatenablog.com/entry/2023/10/21/185938">23/10/21 就活に苦しむインテリの学生に社会の真実を教える</a>
    <p>いつの時代も人間が共存する世界は「他人がどう振る舞うかわからない」「けれども生きるために協力しなければならない」という根深いジレンマを抱えている。その不確実性を制御するために、人はしきたりを、システムを、秩序を生み出す。<br>
        その自然発生的な知恵のなにがしかが、たまたま個人にとって不可解に映ることも往々にしてあるでしょう。それが部分的にせよ全体的にせよ、氷解する日が来ることもあるのでしょう。だから私は、説明を加えること自体を否定しようとは思いませんでした。私とてそちらの"納得した側"の立場に立つこともある、というか日常のたいていの場面ではそうなのですから。</p>
    <p>けれども、限度があります。なんでもそれで切って捨てられるとは到底思えません。<br>
        私は文脈として、より悪辣なケースをも念頭に置いています。誰かに攻撃を集める。圧力や暴力ではぐれ者を従属させる。特定集団に生活・機会のリソースを与えないよう努める。それらもまた、「社会の安定のため」として容易に説明を加えられますし、現にたくさんそうされています。私の件のツイートは、それで満足してしまっている人々へのフラストレーションが蓄積して発されたものです。</p>
    <p>なるほどそれを社会で実行する一人一人の判断は合目的的かもしれない。一理あるのかもしれない。それに耐えることで強く逞しくなれることもあるのかもしれない。あるいは、向こうに落ち度があったのかもしれない。<br>
        "だが"、です。そのことによって現に生まれる激しい痛みは、苦しみは、そして死は、より原初的なものです。言葉などで取り返しのつくものではありません。理由はわかった、でもやはりなんとかしなければならないだろう。そう思う状況は当然あると思うのです。あがなえない、という言葉に私が込めた気持ちはそういうことです。</p>
    <p>私が犠牲や不利益を易々と受け入れる言葉をあくまで拒否するのは、率直に言えば素朴な、ささやかな祈りに端を発するものです。それは包み隠そうとしても仕方がない。</p>
    <p>けれども同時に、ある"説明"が十全なものであると言い切れる状況が、そう簡単にあるものか、とも思います。<br>
        言い換えれば、「説明する（ある合理性を指摘する）」ことと、「状況を追認する（その合理性が最善かつ不変のものだと認める）」ことの間には決定的な差があり、それは一足飛びに埋められるものではないだろうと感じています。<br>
        一般に、課題に対する合理的な解はひとつではなく、時間によらず不変であることもありません。また、あるひとつの合理性がその受益者として全員を包摂しきれていることもありません。そうしたことを考慮に入れたとき、「世の中のしくみにすべて納得がいってしまう」日が来るなどとは、どうしても思えないのです。</p>
    <p>根本的には、「黙ってやれ」という世界観を受け入れているかどうかなのかもしれません。それを拒絶したり、個々のケースに異議申し立てを行ったりすることはすべて、「うだうだ言って何もしようとしない態度」と同義に見えているのかもしれない。そうした認識を持てば、「合わせに来ない者へのいら立ち」も募っていくものなのかもしれません。<br>
        しかし、できる人にとっては「やるだけ」に見えるそれは、ごく偶発的にしか生じるものではない。それを余儀なくされては、人はついてこない。実際のところ、みんながみんなシビアな論理を乗りこなして上手くいっているわけでもない。<br>
        加えていえば、人間なりに素朴な正義感情を持ち合わせていて、普通に行動原理として機能している。それを捨てなかったばっかりに死んだり社会から消えたりすることも、残念ながらないとは言えないのだけれど、しかし道理ではない。<br>
        だからこの社会は大多数のそんなに器用でもバイタリティに溢れてもいない人々を抱え、回すことが出来ている。それもまた、人間集団が回るためのメカニズムの主要な部分ではなかったか。そういうもうひとつの側面をことさら否定しても、あんまり良いことがあるようには思えないです。</p>

    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="説明と肯定のあいだ 2025 - welame&#39;s page" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</Layout>

