---
import Layout from '../../layouts/Layout.astro';
const pageTitle = "プロセカストーリー『荊棘の道は何処へ』感想　知り直しと、対等な「優しさ」の模索";
---
<Layout pageTitle={pageTitle}>
    <h1>プロセカストーリー『荊棘の道は何処へ』感想　知り直しと、対等な「優しさ」の模索</h1>
    <p>このページは、ゲーム『プロジェクトセカイ』で10/12～10/19に開催されたイベント『<b>荊棘の道は何処へ</b>』の感想ページです。<br>
        最新イベントストーリーおよび過去ストーリーのネタバレを多く含みますので、それらの読了後に読み進めることを推奨いたします。</p>
    <p><br></p>
    <p>【目次】<br>
        ・まえがき<br>
        ・「はなしたい、はなしたくない」<br>
        ・アウティングという結末<br>
        ・絵名側の感情<br>
        ・「気遣い」という問題<br>
        ・瑞希のことを改めて知り直す：☆2『25時、ナイトコードで。』サイドストーリーから<br>
        ・対等な関係を再構築する：イベントストーリー『願いは、いつか朝を超えて』から<br>
        ・「われわれは」どうするのか</p>
    <p><br></p>
    <h3>まえがき</h3>
    <p>私はこのゲームを始めた頃からずっと、暁山瑞希のことを魅力的なキャラクターだと思ってきた。</p>
    <p>自分の芯がある。好きなものがある。それを表現するための豊かなイメージがある。そのイメージをまとめあげ、自分というひとつのカワイイ存在を作り上げられる。そんな突き抜けるような個を持った瑞希が好きだった。</p>
    <p>しかし突き抜ける者は同時に孤独になる。誰もついてこない孤独。未知の外部としてくくられる孤独。さらには、指差される孤独。そうして心の中に憂いを背負った瑞希もまた、私にとってはどうしようもなく愛しさと魅力を持った存在だった。自分と他人が違うことをあまりにも当たり前のこととして呑み込んでしまった人間の、あの憂いが。率直に言えばそのいくらかは、同じく殻を作りがちな私自身の体験でもある。</p>
    <p>
        だから瑞希を取り巻くような現実のあれこれにも、辟易してきた。他者に対して露悪的に振る舞って憚らない人。自分を壊すということを、他者に対して迷うということを知らない人。みずからの日常は完全なもので、ときたま浮かび上がる外敵を押しのけてさえおけばハッピーエンドになると思っている人。全部、全部。</p>
    <p>でも、私には瑞希と同じ世界は見られない。好みも違う。来歴も違う。そしてなにより、シス男性で装いにこだわりのない私は、瑞希の受難を自分のものとして受け取ることができない。<br>
        きっと瑞希にしか見えていないものは、たくさんある。いくつもの苦しみと諦めの果てに、自分の内側と外側に見出してきたものが。私がいくら近付こうとしても、言葉を紡げば紡ぐほど、それらは隙間からこぼれていってしまうのだろうと思う。そういった言いようのない恐れと寂しさを抱きながら、いまこの文章を書き始めている。</p>
    <p>私は暁山瑞希という近くて遠い人間を、そんなさまざまな感情が絡まり合った目で見ている。</p>
    <p><br></p>
    <p>『荊棘の道は何処へ』、凄まじいイベントストーリーだった。ある意味、瑞希がはじめて人前で負の感情をはっきり表した話だと思った。それくらい、今まで瑞希は怒り、悲しみ、苦しみを当たり前のように隠してきたから。特に最終話となる8話は読んでいて本当に心が辛かった。部屋で嗚咽を漏らしながら泣いた。</p>
    <p>前例のない演出の連続もまた、このイベントのシリアスさに拍車をかけていた。あまりにも酷薄な確認ダイアログ。特殊なエリア会話。ホーム画面の台詞の変化。普段から平等を重んじるこのゲームにとってはある意味冒険的な試みとも言えるのかもしれない。それでもColorful Paletteは、瑞希のために必要だと考える表現を選び、やり遂げた。</p>
    <p>本音を言うと、まず誰か今の瑞希を抱き締めてあげてほしい。できることなら私がそうしたい。もはや何も届かなくなってしまったとしても、ただその間は、そうしている間だけは、すべてを忘れていられるかもしれないから。</p>
    <p>でも同時に私たちは、もっと深い方法でしがらみを乗り越えることを、諦めてはならない。</p>
    <h3>「はなしたい、はなしたくない」</h3>
    <blockquote class="twitter-tweet tw-align-center"><p lang="ja" dir="ltr">『はなしたい、はなしたくない。』<br><br>illust：りたお（<a href="https://twitter.com/ritao_kamo?ref_src=twsrc%5Etfw">@ritao_kamo</a>）<br><br>プロセカ4周年まであと17日<a href="https://twitter.com/hashtag/%E3%83%97%E3%83%AD%E3%82%BB%E3%82%AB?src=hash&amp;ref_src=twsrc%5Etfw">#プロセカ</a> <a href="https://twitter.com/hashtag/%E3%83%97%E3%83%AD%E3%82%BB%E3%82%AB4%E5%91%A8%E5%B9%B4%E3%82%A4%E3%83%A9%E3%82%B9%E3%83%88?src=hash&amp;ref_src=twsrc%5Etfw">#プロセカ4周年イラスト</a> <a href="https://t.co/SsD2gjLP65">pic.twitter.com/SsD2gjLP65</a></p>&mdash; プロジェクトセカイ カラフルステージ！ feat. 初音ミク【プロセカ】 (@pj_sekai) <a href="https://twitter.com/pj_sekai/status/1834245586242908569?ref_src=twsrc%5Etfw">September 12, 2024</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <p>これはゲーム公式のTwitterアカウントが投稿していた、4周年記念のカウントダウンツイートのひとつだ。このカウントダウンは1日ごとに作中のキャラクター1人ずつをピックアップし、それぞれに合わせたイラストと短文を添える形式をとっている。<br>
        そして瑞希の日にはこの、「<b>はなしたい、はなしたくない</b>」という一文が添えられていた。</p>
    <p>一目でわかる、ダブルミーニング的な読みを誘導する文だ。読む人がどの漢字を当てるかによって文の中に何通りもの感情が浮かび上がり、それらの総体として瑞希の複雑な感情が表現されている。見事な文だと思う。</p>
    <p>「（秘密を）話したい」「（この関係を）離したくない」というのが、この読み方のひとつの例なのだろう。しかしこの文は同時に、「<b>話したい</b>」「<b>話したくない</b>」という、真っ向から対立する激しい葛藤を示すものとしても読める。話したら？　ありのままで大切な友達と繋がれるかもしれない。でも話してしまったら？　優しく"しなければ"と思わせてしまうかもしれない。これはイベントストーリー『ボクのあしあと、キミのゆくさき』でも現れていた、「距離感」の葛藤だ。</p>
    <figure class="respimage">
        <img alt="「傷つけないようにしなきゃとか、気をつけて話さなきゃとか……そう、思わせちゃったら――」" src="/keikyoku_1.png"/>
    </figure>
    <p>「いつも通り接する」という、カミングアウトに対する"模範"とされる態度は、それでもなお、受け手にとってどうしようもない苦しさを内側に残すこともある。ここに瑞希にとってのひとつの、出口のない問いが存在する。</p>
    <p>他人から奇異の目で見られることに慣れ切ってしまった瑞希は、もっとも近い関係でさえも、その裏にあるかもしれない心情の想像を止めることができない。相手の目には、もはや壁を隔てた状態でしか自分のことが映っていないのかもしれない。場合によっては、恐れられてしまうことだって、ありうる。<br>
        ただ一緒にいつづけるためだけに、出口が見えない道を歩かなければならない苦しみは、想像を絶する。</p>
    <h3>アウティングという結末</h3>
    <p>長い葛藤の末に、ついに瑞希は自分の事情を絵名に話すことを決意する。しかし、実際にそれを行うための機会は訪れなかった。</p>
    <p>今回モブキャラである男子生徒Aが絵名に対して行った行為は、一般的に「<b>アウティング</b>」と呼ばれるものだ。これは他人の秘密、とりわけセクシュアリティを本人の同意なく第三者に公開する行為を指す。<br>
        言いふらされた秘密が本人にとって大切なものであればあるほど、その人が依拠していた居場所、信頼関係は今回のように危険な状態に晒される。その意味でアウティングは、それを受けた人の命に関わる行為でもある。</p>
    <p>これに対置されるのが、カミングアウトという概念である。これは自分の持つ秘密を、自分自身で打ち明ける行為だ。これもまた、多くの場合苦しい行為ではある。瑞希はこの苦しみから逃れたい一心で、「誰かがすべて言ってくれればいいのに」とこぼすこともあった。しかし最終的に瑞希はこの難しく、そして真っ直ぐな道を選んだ。元通りになれないことを誰よりも覚悟するからこそ、その境界は自分の言葉で越える必要があったのだろう。</p>
    <p>男子生徒のアウティングは、本来慎重に行われるべきだったその過程を、永遠に奪ってしまった。その結果として瑞希は心の準備が整わない危険な状態のまま、大きなリスクに直面することになった。</p>
    <h3>絵名側の感情</h3>
    <p>苦しむのは瑞希ばかりでない。きっと今回のイベントのあと、絵名側もいろいろなことを整理する時間が必要になるだろう。</p>
    <p>絵名は瑞希の秘密を知り、驚きを表しつつも、ためらいなく全力で瑞希を追いかけに行った。「受け入れる」準備は、絵名のなかではすぐにできたのかもしれない。それでも、瑞希を引き止めることはできなかった。</p>
    <p>最後の「私は、なんで……！！」という台詞の真意はわからない。なんで気付いてあげられなかったんだろう、かもしれない。なんで助けるための言葉が出てこないんだろう、かもしれない。あるいは、なんで無理に聞き出そうとしてしまったのか、かもしれない。しかしいずれにしても、そこには深い自責の念がある。<br>
        また、瑞希が既に近くの人間にはカミングアウト済みだった、それを自分たちだけ知らされていなかった、という事実も、絵名にとっては疎外感となってのしかかる。男子生徒Aが自らの正当化のために「あいつだって隠してねえじゃん！！」と殊更に強調してみせた部分。瑞希にとってはそうするより他にどうしようもなかったことではあるが、絵名のこれまでの思いを考えれば、これは間違いなく受け止めがたい事実に映っていることだろう。</p>
    <p>これらの苦悩は、いずれも絵名がこれから他人に共有できないまま一人で抱えることになる苦悩だ。だから絵名は瑞希と相対する前に、まず自分の感情をゆっくりと飲み込む必要がある。強いと言われる絵名にだって、限界はある。</p>
    <h3>「気遣い」という問題</h3>
    <p>今回瑞希が吐露した感情の中には、「気遣わせてしまう怖さ」というひとつの大きな苦しみがある。しかし本来、仲間からの「気遣い」そのものはそう苦しいものではなかったはずだ。</p>
    <p>我々は日々の人間関係の中で、共に過ごす人間に対して数多くの配慮をする。何か困りごとのある人に対して、そのほかの人々がニーズを読み取り、手助けをする。それは重苦しいものでもなんでもない、日常ではごくありふれた行いである。<br>
        インドアで体力のない友達のために、歩くペースを調整する。対外的なふるまいに制限のある友達のために、状況によって話を合わせる。教室とその課題で忙しい友達のために、スケジュールを調整する。極端な猫舌の友達のために、料理を冷ましてから持っていく。これらはどれも、このゲームのファンなら見慣れた風景にすぎない。</p>
    <p>だから今回の話は、「配慮が嫌ならただ配慮しなければよい」という単純な話には繋がらないだろう。そのような周りの対応の結果として、瑞希は高校で不登校になってしまったのだから。瑞希には瑞希の、理解してほしいこと、サポートしてほしいことが、たくさんある。そのためにやはり、優しさは欠かすべからざるものである。</p>
    <p>しかしそれが自然なものでなくなったとき、関係は大きく歪む。とりわけ「知らない」「どう接すればいいかわからない」という感情は、その不安定な状態をもたらす最たるものだろう。そうして他者としての目線が、よりにもよって最も仲の良かった人間関係に埋め込まれてしまう、あるいはそう感じてしまうことほど、瑞希にとって苦しいことはない。</p>
    <figure class="respimage">
        <img alt="「絵名なら、ボクが話しても何も変わらないでいてくれる……？ずっと、ボクをボクのままで……」" src="/keikyoku_2.png"/>
    </figure>
    <p>『ボクのあしあと、キミのゆくさき』にもここについてのヒントがある。瑞希の感情の核にあるのは、「ボクをボクのままで」受け入れ続けてほしい、という思いだ。だから「よく知らない他者」に追いやられてしまうことは、瑞希にとって、たまらなく怖いこととなる。<br>
        そして当たり前だが、今回出てきた情報をひとつ知っただけでは、瑞希のことを知ったことにはならない。そこにとどまっている限り、優しさは優しさのまま空転せざるを得ない。知るならコンテクストまで知ってもらわなければ意味がないのだ。</p>
    <p>だから屋上は、自分の思いの丈を丁寧に共有し、生まれた溝をゆっくりと埋めていくための場になるはずだったのだろう。
        男子生徒の行為が、このプロセスを奪う行為として働くまでは。</p>
    <h3>瑞希のことを改めて知り直す</h3>
    <p>壊れてしまった関係を、どのように修復すればよいのか。その第一歩になるのは、暁山瑞希という人間を周りが改めて知り直す過程だろう。</p>
    <p>瑞希を考えるにあたってしばしば参考にされるのが、☆2『25時、ナイトコードで。』カードに付属したサイドストーリーである。ここでは瑞希にとっての「慣れ」と「理解」の違いという要素が言及されている。<br>
        クラスメイトの「オレはもう（瑞希に）慣れたから」という一見親和的な台詞に対して、瑞希はほのかな違和感を抱く。「（『慣れ』てほしいんじゃなくて『理解』してほしいって思うのは、贅沢なのかな）」「（……そのまま受け入れるって、そんなに難しいの……？）」という台詞に、その違和感は表現されている。瑞希を理解するということは、決してただ一緒に過ごして慣れることの延長線上にはないのだ。</p>
    <p>「瑞希らしさ」という言葉は、ストーリーにおいて一貫して示されてきたひとつのキーワードである。第一に暁山瑞希は、ファッションや裁縫、動画作り、アニメとゲーム、そして何よりカワイイものを愛する、ひとりの個別的な人間である。それを追求した結果として、いまの瑞希はある。<br>
        同サイドストーリーでは、瑞希がニーゴのメンバーに対して自らの印象を尋ねる場面がある。それに対して奏は、「自分が一番いいと思うものを持って楽しんでる。だから堂々としていてオシャレに見える」「そういう強さを持っているのが、Amiaだと、私は思う」と返す。この言葉に対して、瑞希は「（そうだった。ボクが何も言わなくたって、ボクを理解してくれる人は、ちゃんといるんだよね……）」と心の中で感じる。<br>
        この言葉に象徴されている通り、瑞希がまずもって望んでいるのは、自分という人間をありのままに理解してほしい、ということだ。その点において、ニーゴは間違いなく瑞希の最大の理解者である。瑞希という人間のパーソナリティをニーゴがよく分かっていることは、今回の文化祭中のエピソードでもはっきり示されていた。</p>
    <p><b>それが変わってしまうならば、瑞希のカミングアウトによって瑞希が再び「分からない」存在になってしまうのならば、その過程をもう一度、丁寧に繰り返すしかない。</b>カワイイを愛してきた瑞希、いつも明るく楽しむ瑞希だけでなく、そのために苦痛を抱えてきた瑞希、世界との距離に悩んできた瑞希、本当はそこまでひっくるめて暁山瑞希というひとりの人間なのだから。だからこれからは、瑞希が抱えてきた悩み、経験してきた苦痛、その内容を知ったうえで瑞希をあらためて理解することが大切なプロセスになると思っている。</p>
    <p>ひとつ付言すると、「瑞希らしさ」というワードで全て済ませればいいのだ、とまでは私は言えない。「性別なんて関係ない」という言葉は、例えば明確な性自認を持つ人にとっては障害として作用することもあるからだ。逆に二分されたカテゴリに所属させられることを憎む人にとっては何より重要な言葉であるだろうとも思う。<br>
        この機微はゲーム内でははっきりとは分からないし、これから分かるとも限らない。ただこれは他の方々の感想を見て気づいたことだが、瑞希のフラッシュバックのなかには「<b>ただの勘違いかもしれないでしょ</b>」という一言が混ざっている。瑞希をたんに「カワイイもの好き」という枠組みのみで理解する限り、うまく解釈できない台詞だ。ここには確かに瑞希が趣味・趣向の範疇を飛び越え、なんらかの志向、ないしアイデンティティを自覚しようとした、その跡が刻まれている。そこも含めて瑞希の願いを考え、聞き届ける必要があるのだろう。</p>
    <h3>対等な関係を再構築する</h3>
    <p>瑞希を知って、その先にどうするのか。重い秘密を受け止めてなお、ニーゴは対等な関係を再構築できるのか。この問題もまた、ゆくさきに待ち構えている難しい問題である。<br>
        しかしニーゴのなかでも東雲絵名は、まさにそれができる気質を持った人間であると思う。他ならぬ朝比奈まふゆの「秘密」に対して、絵名はそうしてきたのだから。</p>
    <p>まふゆが東雲家に泊まるイベントストーリー『<b>願いは、いつか朝を超えて</b>』は、まさにそのような二者関係を描いたストーリーである。まふゆは過酷な環境を生き抜いた者として、周囲からとかく「保護しなければ」という扱いを受けがちな人物だ。それは当然、まふゆにとって必要なことではある。しかしメンバーのなかで絵名だけはもっと別の、正面からぶつかるという方法でまふゆと接しようとする。ときに優しく見守り、ときに激しく怒る、そのような関係性をもって。</p>
    <figure class="respimage">
        <img alt="「音楽をやりたい、セカイに行きたい。その気持ちは、親に何言われても譲りたくないって思ってるからニーゴの活動をするんでしょ？」" src="/keikyoku_3.png"/>
    </figure>
    <p>今回問われているのは、相手に対して気遣いを見せつつ、同時にその溝を埋めていくことはできるか、という難題であった。絵名はまふゆとの関係を通して、この問いにすでに一定の答えを出しているように思える。絵名は不安定な存在であるまふゆをよく見つめ、ときに身を挺して守る。そして同時にまふゆに対する不満や要求を遠慮なくぶつけ、自立を求め、思いを正直に伝える。ここには相手に対する細やかな気遣いはあっても、息苦しいまでの遠慮は感じられない。<br>
        これらの言動はいずれも深い考えでそうしているわけではない、絵名にとっては自然なコミュニケーションの仕方なのだろう。しかし表では人を一方的に助け、裏では人に一方的に助けられる立場にあるまふゆにとって、絵名との関係はどちらにもあてはまらない、唯一無二でかけがえのない関係になっているのではないだろうか。</p>
    <p>そしてこれはまた、まふゆがニーゴメンバーの前で仮面を被っていた頃にはありえなかった接し方でもある。まふゆの事情もパーソナリティも知らない状態では、守ることも、思いをぶつけることも、どちらも真に成立しようがないからだ。<br>
        <b>「秘密」を知り、相手をありのまま知ったからこそ生まれる、対等な関係。</b>その可能性を指し示すイベントストーリーとして、『願いは、いつか朝を超えて』はいまこそ参照されるべき位置にある。</p>
    <p>このような関係性が生じる条件には、どんなものがあるだろうか。ここでひとつのヒントになりうるのは、絵名がまふゆに対してもともとある種の脅威を感じている、すなわち「欠けた」人間として相対している、という事実かもしれない。絵名にとってまふゆは自分にないものをたくさん持ち合わせた人間であり、決してただ一方的に守るべき弱い存在には見えていない。それは第一には、まふゆが才能に恵まれた人間である、という認識によるものだろう。ここには絵名とまふゆが「助ける側」「助けられる側」にとどまらない関係を構築するための、ひとつの大きな原動力が生まれている。<br>
        そしてこの「足りない人間として接し合う」という感覚は、ひいてはニーゴの関係性全体の根底にあるものではなかったか。ニーゴのメンバーは皆それぞれ自分の人生において苦しみを抱え、心の内に欠けたものを背負いながら相対している。その結果として、お互いを尊重し、フラットに支え合うような、ニーゴ特有のあたたかな環境は生まれているのだ。このような感覚もきっと、関係を再構築するときのひとつの助けになる。</p>
    <p><br></p>
    <p>思えば、『ボクのあしあと、キミのゆくさき』で出てきたにもかかわらず、今回のストーリーには出てこなかった瑞希の重要な願いがひとつ残されていた。それは、「怒ってくれるかな」という一言だ。</p>
    <figure class="respimage">
        <img alt="「……怒って……くれるかな…………」" src="/keikyoku_4.png"/>
    </figure>
    <p>これは「話さずに一緒にいつづけようとした自分のことを、ズルいと怒ってほしい」という文脈の言葉だった。決して遠ざけてほしくないのだ。表面的な形だけではなく、その奥底にまで届くような形で。絵名はそのように瑞希と笑い合い、怒り合うような日々を、ふたたび手に入れることができるか。</p>
    <p>そして瑞希もまた、それを目指す絵名を受け止められるか。<br>
        瑞希はいままで自分の心を守るため、人間関係に対する諦めの早さをごく自然に身に着けてきた。だからきっと、自分に対する理解者とは限らない人々を自分の側に引き入れようとする試みは、あまり経験のないことでもあるだろう。理由は簡単で、やっても意味がなかったから。でも今回ばかりは、そうはいかない。トラウマの再演を予感する瞬間は、一度や二度ではないだろう。それでも細く頼りない糸を手繰り寄せ、ふたたび近くで繋がり合えるか。瑞希にとっても、試練の時間になる。</p>
    <p><b>「戻れない」ことは、終わりではない。</b>戻れなくなった関係の先で、新たなつながりを再構築できるか。おそらく何をどうしてもすぐには手に入らないであろうそれを、少しずつ見つけていけるか。それはどちらの意志が欠けても成立しない、双方向の行為である。</p>
    <h3>「われわれは」どうするのか</h3>
    <p>ここまでの文章で私は、瑞希や絵名の心情を想像し、どんな解決の道がありうるのか、ということを自分なりに考えてきた。境遇も見ている世界も全然違う相手に対して究極的な断絶を予感しつつも、それでもなお、私はこのイベントの感想をただ受動的なものでは終わらせたくなかった。<br>
        それは、ここで描かれるテーマが「現実に確かに存在する問題」でもあるからだ。</p>
    <p>「鬱回」と呼ばれるような非日常はたいてい、ほんとうは現実の誰かにとっての日常である。そしてフィクションはきっと、現実世界でそれらと改めて直面したときの予行演習としても機能する。だから私はこの場であえて想像し、少しでも近付こうと試み、どうあるべきかの暫定的な結論を出さなければいけないと思ったのだ。</p>
    <p>そうした観点から最後に、私は主語を「われわれ」に据えた話をしてこの文章を締める。われわれがどの立場でこのストーリーに対面するかは人それぞれだろうが、このストーリーをゲーム内のものとして閉じず、現実世界とリンクした形で見ようとする姿勢は、このイベントを真に受け止めるために不可欠なものだろう。</p>
    <p><br></p>
    <p>まずは我々と瑞希の関係について。<br>
        瑞希はニーゴだけでなく、われわれにも秘密にしている領域がある。それはとりもなおさず、自らの性別・ジェンダーに対する具体的な望みだ。
        知っての通り、人にはみな「出生時に割り当てられた性別」が存在している。生まれたときに戸籍などに掲載され、社会のなかで法的な効力をもつ性別。今回明らかになった「性別」は、範囲としてはこの意味においてのものである。逆に言えば、われわれにとってもわかっていることはそれまでだ。性別に関する言及がこれまで徹底して避けられてきた以上、その概念について掘り下げた感情は、未だゲームの中では示されていない。
        決して無理に詮索せず、しかし耳を傾ける。それは絵名にとってだけではなく、我々にとっても求められることだろう。</p>
    <p><br></p>
    <p>そして我々と現実世界の関係について。瑞希と同種の悩みを持つ人は、当然このゲームの外にも生きている。</p>
    <p>まず第一に、描かれている範囲で瑞希の境遇は「クロスドレッサー（トランスヴェスタイト）」と呼ばれる人々と課題を共有しているのではないかと思う。クロスドレッサーとは、割り当てられた性別とは異なるとされる装い・ふるまいをする人々のことである。いわゆる異性装。<br>
        これは「表現される性」に焦点を当てるカテゴリである。服装は多くの場合、否応なしにそれをまとう人の性別と結びついた形で捉えられてしまう。人々の装いに対する望みは多様だが、現実では男性にのみ許された服装、女性にのみ許された服装というものが厳然として存在する。そのような社会的に構成された期待は、人々の間に大きな心理的制限を生み出す。同時に、その制限を抜け出すような自己表現を行い、みずからを探求しようとする試みもまた、社会のさまざまな場所で行われている。</p>
    <p><br></p>
    <p>ところでクロスドレッサーは、いわゆる性自認/ジェンダーアイデンティティとは関係のない（あるいは割り当て性別との一致を前提とした）概念である。しかし瑞希の持つ苦悩はまた、それらの要素と切り離して考えられないものでもあるように思う。<br>
        瑞希はやむを得ない場合を除き、基本的に「女性」としてのジェンダー（社会的性別）で生活している。咲希やえむのような他校の生徒から「みずきちゃん」と呼ばれ、自身もその状況に対する否定や葛藤を持たずに受け容れている（ここで男性として見られることを望みながら同時に好きな装いを追求することは、簡単に選べる道ではないにせよ、ありうるひとつの態度だ）。ここには積極的なものであれ消極的なものであれ、ジェンダーの設ける枠組みそのものを越境した状態で生きようとする意思が見てとれる。<br>
        瑞希を考えるにあたっては、「トランスジェンダー」という用語もまた、重要な位置付けを持つと考えられる。</p>
    <p>ここで基本的な用語の意味をふたつ、五月あかり・周司あきら『埋没した世界――トランスジェンダーふたりの往復書簡』から引用する。</p>
    <p>【シスジェンダー】<br>
        生まれたときに指定された性別で、不自由なくやっていける人。</p>
    <p>【トランスジェンダー】<br>
        生まれたときに「あなたはこっちの性別ね」と言われた性別で生きていく人生を、自分のものとは思えなくなった人たち。こうした人たちの中には、何らかの仕方で性別を移行する人、移行しようとする人が多く含まれる。</p>
    <p><span class="small">注：トランスジェンダーを定義する他の方法のひとつは、ジェンダーアイデンティティ（自分の性別をどう持続的に体感しているか・どちらの社会的性別集団に帰属意識を持つかの意識）の概念を核に据えるものだろう。<br>
        例えば周司あきら・高井ゆと里『トランスジェンダー入門』から同用語の主流となっている理解として提示されている説明を引用すると、「出生時に割り当てられた性別と、ジェンダーアイデンティティが異なる人たち」となる。自分を男性/女性として安定的に認識しているから、男性/女性でありたい、というように。現にトランスの多くの方々はそのような願いを持ち、表明している。ただしこの場では瑞希にありうる/現実に存在するより多様な経験を包含した書き方にするため、これよりやや広義の説明を引用させていただいた。</span></p>
    <p>トランスジェンダーと呼ばれる人々のなかにもさまざまな思いがある。生まれ持った明確な性自認のもとみずからの道を選び取ろうとする人もいる。そのようなゴールが見えないまま、今の性別の枠組みから抜け出したいという強い思いに突き動かされてさまよう人もいる。あるいはそもそもいかなる性別の持ち主としても自分を理解しない「ノンバイナリー」と呼ばれる人もいる（この場合は必ずしもトランスジェンダーという呼称が適切であるとは限らないかもしれないが）。<br>
        しかしそのような人々に共通しているのは、あらゆるものが性別を通した目で分けられる社会にあって、その中で自分の位置付けを変えたいと思っている、そうしなければもはや生きていけないと感じている、その思いの存在である。それは瑞希が社会のなかで感じてきた苦しみと、大きく重なるものでもある。</p>
    <p>トランスジェンダーの自殺率は、そうでない人に比べて極めて高いことが知られている。貧困率についても同様だ。またこのゲームで描かれることはないだろうが、トランス医療を受ける場合は、ホルモン治療をはじめとする多くの医療措置の経済的・健康的リスクなども重大なものとしてのしかかる。それは一回の手術ですぐに変わるようなものではない、長年にわたる地道なプロセスである。到底一時の気の迷いで選べるような道ではない。裏を返せば、人はそれだけ性別という壁を前に切実な苦痛と願いを抱きうるのである。現実の具体的課題にどのような立場で向かい合うにしても、このことだけは、忘れてはならない。</p>
    <p>絵名と瑞希の問題は、いずれ二人が苦しみ、悩み、その果てに乗り越えていくことだろう。私はそう信じている。<br>
        では現実の問題は？　もし自分がカミングアウトを望んでいたら/周りの人からそれを受け取ったら？　そこから生まれる出来事に関わるのは、他ならぬ我々自身である。そのための準備として、私はこのストーリーを受け止めたい。</p>

    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="プロセカストーリー『荊棘の道は何処へ』感想　知り直しと、対等な「優しさ」の模索 - welame&#39;s page" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</Layout>

