---
import Layout from '../../layouts/Layout.astro';
const pageTitle = "『傷だらけの手で、私達は』感想　あなたを知ること、わたしを語ること";
---
<Layout pageTitle={pageTitle}>
    <h1>『傷だらけの手で、私達は』感想　あなたを知ること、わたしを語ること</h1>
    <p>このページは、ゲーム『プロジェクトセカイ』で11/30～12/9に開催されたイベント『傷だらけの手で、私達は』の感想ページです。<br>
        最新イベントストーリーおよびサイドストーリー、および過去ストーリーのネタバレを多く含みます。</p>
    <p>本イベントの前編にあたる『荊棘の道は何処へ』の感想記事は以下。<br>
    <a href="https://welame.netlify.app/article/keikyoku/">プロセカストーリー『荊棘の道は何処へ』感想　知り直しと、対等な「優しさ」の模索</a></p>
    <p>【目次】<br>
        ・言わないこと<br>
        ・絵名の怒りと、理由なき肯定<br>
        ・エゴが人を救うとき<br>
        ・東雲絵名の人生を貫くもの<br>
        ・暁山瑞希の人生を貫くもの<br>
        ・「言わなきゃいけないこと」と、「言いたいこと」<br>
        ・おわりに：絵名になれない（かもしれない）私たちへ</p>
    <p><br><br>◆◆◆<br><br></p>
    <p>良かった。読めてよかったと思う以上に、この世界にこのゲームがあって良かったと、そう思わされるイベントだった。</p>
    <p>不思議なもので、「言葉が出てこない」と感じる自分がいる一方、「言葉がいくらでも引き出されてくる」と感じる自分もいる。だから今回も、自分が考えたありったけのことを書こうと思う。</p>
    <h3>言わないこと</h3>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/e0FCPmgWRmM?si=S8J4yUpWIip8GA7Z" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p>（イベント書き下ろし楽曲『余花にみとれて』）</p>
    <p>「言わない」という選択は、日常を保つ最大の防衛だ。<br>
        これは特に自分の根本が危うい立場に置かれている人にとって、ごくありふれた生き方になる。自分と他人は違うんだということが、誰よりもわかっているから。人々の日々のふるまいと言葉が何よりそれを雄弁に語ってきたから。期待しない。自分のことは自分のこととして、分け合わない。全部洗いざらい分け合ってくれなんて、冗談じゃない。それを美徳などと呼ぶ資格は、今のこの世界にはない。</p>
    <p>「一緒に泣く」というテーマはプロセカ全体に通底する主題でもあるが（例えば楽曲『needLe』『NEO』やストーリー『あたしたちのハッピーエンド』を見よ）、それは「一緒に笑う」ことほど容易なものではない。負の感情を表に出して受け止められる場面は、笑顔でいる自分が受け止められる場面ほど広くないからだ。<br>
        この点については、二時沢静音さんの『荊棘』感想記事が非常に詳細な形で語ってくださっている。あわせて読んでいただきたい。<br>
    <a href="https://note.com/kamochikamo_39/n/n79ecfddb90da">https://note.com/kamochikamo_39/n/n79ecfddb90da</a></p>
    <p>こうした防衛のうちに成り立つ生き方は、当然さまざまな危機に対してあまりに脆く儚い。だからときに人は居場所を転々とし、渡り鳥のように息をつく場所を探す生き方を選ぶ。行く先々の束の間でささやかな幸福を与え、与えられ、それを持ち運びながら次の場所へと進んでいく。それは立派なひとつの生き方である。</p>
    <p>けれども、今この文脈でそれをベストだと言ってのけるのは、正しくない。少なくとも、それを強いられる構造がベストであるわけがない。<br>
        それに、残される人々がそれを放っておけるはずもない。人が何かを諦める瞬間を見るのは、やはりどうしようもなく辛くて、苦しくて、悲しい。</p>
    <p>全員でなくていい。でもせめて誰かは、いなければいけない。そばに居て、話を聞く人が。</p>
    <h3>絵名の怒りと、理由なき肯定</h3>
    <p>瑞希にとって、やはりそれは絵名だった。</p>
    <figure class="respimage">
        <img alt="後で書きます" src="/kizudarakenotede_1.png"/>
    </figure>
    <p>前回の記事で私は、『荊棘の道は何処へ』では「怒ってくれるかな」という願いが果たされないまま終わった、と語った。今回のストーリーはまさに、それが叶えられる話でもあった。</p>
    <p>「辛かったんだね、苦しかったんだね」と普段とやけに変わった口調で寄ってみせるようなことは、もとより瑞希の求めることではない。それよりは、『荊棘』のとき何も言えなかったぶん、自分の率直な思いを、願いを、すべてぶつける。去っていこうとする瑞希に怒り、対等に訴えかけることを選ぶ。それは確かに、いつもの絵名の延長にある態度だ。</p>
    <p>「優しさが嫌だ」と言われたからといって、優しさを捨てるわけはない。気にしてしまうことも、どうしようもない。すべてが同じでいつづけることはない。そのうえでなお、一番根本のところは「変わらない」関係性を築けるのだということを、絵名は力強く提示している。</p>
    <p>この激情に、東雲絵名のすべてがあった。相手の中に深く入り込もうとする絵名に、もはや人を傷つけないということはできない。傷つけられないこともできない。その荊の道を、絵名は一切迷わずに進む。<br>
        理由は一つ、大切な仲間だから。それはまふゆにとっての態度であったし、瑞希にとっての態度でもある。</p>
    <figure class="respimage">
        <img alt="後で書きます" src="/kizudarakenotede_2.png"/>
    </figure>
    <p>「"いていいのか"って……なに……？」。絵名の言葉のなかでも、私が一番の重みをもって受け取った言葉だ。「友達でいていいとか、よくないとか――そんなの、あるわけないって言ってるの！！」。理由なき肯定、正当化のいらない肯定だ。こんなにも、こんなにも当たり前なのに、素直に受け取るのが難しい言葉があるだろうか。</p>
    <p>このメッセージは、思えば初めて出会ったときの出来事にも通じる。<br>
        瑞希がニーゴに加入するきっかけを描いた、『そしていま、リボンを結んで』。はじめて共同制作をするこのストーリーで、瑞希は「自分の感じたことを聞いてもらう」という経験をする。通じ合うという経験ではない。通じ合わないところで終わりにならず、そこからお互いに歩み寄り合うという経験だ。非対称が解体される瞬間。<br>
        「価値をジャッジする権利は自分ではない不特定の集団が持っていて、自分の感性や行動は判断される側である」という非対称性の感覚は、たぶんわかる人とわからない人がはっきり分かれる感覚だと思う。きっと、絵名は世界にそのような段差を見ていない。だからその時のふるまいも何気ないものでしかなかっただろう。しかし瑞希にとっては、「いてもいいのだろうか」という思いを振り切り、ニーゴへの所属を決意するほどの重要な時間だった。</p>
    <p>絵名はこのメッセージを、いまふたたび瑞希に伝える。今度は直接、自分の言葉で。</p>
    <figure class="respimage">
        <img alt="後で書きます" src="/kizudarakenotede_3.png"/>
    </figure>
    <p>けれども、瑞希はその言葉を心の底から信じきることはできない。いなくなったほうがいい理由に、すがってしまう。それが絵名にとって一番嫌なことなのだとわかっていても、なお。</p>
    <p>これは私の勝手な想像に過ぎないかもしれないが、われわれが瑞希の言葉に対して「そんなことない」と言いたくなるように、瑞希自身も自分の言うことに対して「そんなことはないのかもしれない」という考えをどこかで抱いてはいるのではないだろうか。</p>
    <p>自己嫌悪のループはたいてい、100%信じ込んでしまうことによって出来上がるのではない。むしろ、否定しようと思ってもなお逃れられなくなってしまう引力が存在することに、その難しさがある。それはもちろん、外部との摩擦が積み重なった結果として生まれた力だ。<br>
        周りの環境、目に見える世界が、自分が自分の語り手であることを許してくれなかった。そうしたリアルな体験、恐怖によって、自己否定のループは固められている。こればかりは個人ですぐにコントロールものではないし、もとより個人の問題に帰せられるべきものでもない。変えようとしても、ゆっくりと、本当にゆっくりとしか変えられない。このストーリーが終わったあとも、ずっと続く。</p>
    <p>他人との摩擦のなかでそうなってしまったのだとすれば、そこから引き上げられるのもまた、他人であるのかもしれない。しかし間に合わせの言葉が通用するはずはない。一般的な「救うための言葉」がどれだけ空虚なものか、実際に瑞希はよく知っているからだ。それは発言するその人の普段の言葉と地続きの、信頼できる言葉でなければならない。</p>
    <p>絵名はそこで偽らなかった。理屈もこねなかった。ただ、自分のもっとも奥底にある願いから話した。そのことが、瑞希を引き止めるもっとも大きな力になった。</p>

    <h3>エゴが人を救うとき</h3>
    <p>かつて奏がまふゆを前にして自らのエゴを自覚したように、苦しがるその手を引っ張って、相手を引き止めようとすることは、どうしたって引き止める側の願望を含まざるを得ない。たとえそれがより遠い場所へと相手を連れていくための行動だったとしても、相手が現にいま言っていることを退け、自分の願いを優先してもらおうとする、そのことの危うさが消えるわけではない。</p>
    <p>だとすれば、許されるエゴイズムと、許されないエゴイズムの違いというのは、あるのだろうか。究極的にはないのかもしれない。けれどもその内側には確かに、なんらかの決定的な区別があるように思われる。そうわれわれは直観する。</p>
    <p>これは『迷い子の手を引く、そのさきは』でまふゆが発した、「まふゆの母とニーゴは何が違うのか」という問いにも似ている。<br>
        相手のこれからの人生を理由に行動していることは、変わらない。そして、その中に自分自身の願望が入り込んでいることも、変わらない。奏がまふゆを救いたいと思ったのも、絵名が瑞希を離したくないと思ったのも、究極的には自分の内側から出てきた願いだ。その構造を共有したうえで、なお両者を分けるものとはなんだろうか。</p>
    <p>答え方はいろいろあると思う。私が思うのは、「そこに至るまでにどれだけ相手の立場を思えたか」という、その一点だ。</p>
    <figure class="respimage">
        <img alt="後で書きます" src="/kizudarakenotede_4.png"/>
    </figure>
    <p>絵名は頭っから自分の考えだけを言ったわけではない。むしろ、瑞希の心情にどこまでも近づこうとするための期間として『荊棘』から今までの時間はあった。</p>
    <p>怖かったんだろうな、と思う。屋上のあのときのような扱いをたくさん受けて来たんだろうか、と思う。たくさん考えて、離れようとしていることも、わかる。でもその奥に、その反対の気持ちがあることも、しっかり見届けている。</p>
    <p>この共感は、難しい道ではある。もちろん絵名の経験と瑞希の経験に共通点を見出すことはたやすい。自分の背負った条件に苦しんできたことも、ニーゴに自分のような人間がふさわしいのか悩んできたことも同じだ。けれどもそれは、同じ一つの文に共約が可能であるということでしかない。本当に一緒になることができるわけではない。その人の願いは、その人にしか分からない。あるいは、その人にさえも分からないのかもしれない。それを探し続けるのは、果てしない営みである。</p>
    <p>そうして深く、深く入り込もうとした末に、それでも、それでも私は一緒にいたい、という思いがこぼれてくる。だからできることは、ただ自分の願いを伝えることしかない。その領分を理解しながら、絵名は瑞希と向かい合う。<br>
        そうやって、荊を払って道を進んできた先にいるからこそ、はじめて絵名の言葉は人を救いうるほどの力を手に入れる。</p>
    
    <h3>東雲絵名の人生を貫くもの</h3>
    <p>今回のイベントは、絵名の心の動き、そして生き様を描き出したという点において、紛れもなく東雲絵名の物語であった。一方で、「本筋」とは離れた話だった、というような見方をする人もいる。<br>
        そこでこの機会に一度、そもそも絵名の物語の本筋とは何だったか、と考えてみたい。</p>
    <p>絵という要素は、絵名の中心ではあるが、すべてではない。というのも、『空白のキャンバスに描く私は』で絵画教室に戻って以降の絵名のストーリーには、明確にそれまでとは違う性質が加わっている。「他者」という要素だ。</p>
    <figure class="respimage">
        <img alt="後で書きます" src="/kizudarakenotede_5.png"/>
    </figure>
    <p>（『好きを描いて♪レインボーキャンバス』より）</p>
    <p>『好きを描いて♪レインボーキャンバス』は、保育士の職業体験で絵を描かなければならなくなった穂波に対し、絵名がその教え役になる話だ。何が穂波のためになるだろうかと、教え方に迷い続ける絵名は、最終的にその絵の奥にある感性的な価値を見出し、穂波から「自分の絵が少し好きだと思えた」という言葉を受け取る。その過程で、自分の気持ちをダイレクトに現し、絵に魅力を与えるやり方に気づいていく。</p>
    <p>『願いは、いつか朝をこえて』は、絵名がまふゆを自分の家に招き入れ、同じ部屋で制作をする話だ。どうにも気の合わない相手とこれまでにないレベルで深く言葉を交わす絵名は、共感と反発を繰り返すなかでまふゆの内面に生まれつつある変化を知る。それと同時に、その孵化を心から願っている自分がいることにもはっきり気づく。この過程を経て、絵名はこれまで表現したくてもできなかった感情に形を与える術を見出す。</p>
    <p>『Knowing the Unseen』は、絵名が因縁深き父親である東雲慎英の個展の手伝いに行く話だ。自分が生まれた頃の父親の思いを知ったことで絵名は、父親にも自分と同じ弱さと、それを受け入れたうえでの選択があるのだと知る。そうして絵名は、みずからの進路と決意を明らかにし、そうせざるを得ない運命を自覚する。</p>
    <p>こうして見ると、いまの東雲絵名の芸術は、ひとりでは完結していない。たんなる個人的な技術研鑽の物語ではない。そこには「他者とのかかわり」という要素が分かちがたく結びついている。<br>
        他者を前にして一歩立ち止まり、その人の立場に立ってみる。その中に自分の内奥に通じるものを発見して、まだ知らなかった自分の感情をはっきり見ることができるようになる。この人間的な成長のプロセスこそ、真にこれまでの絵名のストーリーの核になってきたものである。</p>
    <figure class="respimage">
        <img alt="後で書きます" src="/kizudarakenotede_6.png"/>
    </figure>
    <p>（☆4東雲絵名『傷だらけになったとしても』サイドストーリー後編より）</p>
    <p>『傷だらけの手で、私達は』においても、それは変わらない。今回出されていた課題は、「安らぎ」。張り詰めた生のなかで、ふと許しのように訪れるひととき。<br>
        絵名はすべてが一段落してこの課題に向かい合うとき、真っ先にニーゴで過ごす何気ない日常を思い浮かべる。瑞希にとってニーゴが安らぎであるように、絵名にとってもそうであったのだ。ここにも、立ち止まって他者の心とじっくり向かい合い、そのなかに自分と同じものを見つける、そうした心の動きの存在が認められる。</p>
    <p>基本的に絵名は、表現のための引き出しを豊富に持ち、それを使いこなして制作物のクオリティを担保できるような制作者としては描かれていない。自分が心の底から納得ずくで掴んだ体験を内側から込めることで、はじめて魅力的な絵が描けるタイプだろう。<br>
        だからこそなのだろうか。絵名は自分と他人の心の中に深く入り込み、その中から重要なものを見つけ出す共感能力は人一倍持ち合わせている。私が思うに、この強さこそ、東雲絵名という根っからの外向性アーティストに隠された本当の「才能」なのではないかと思う。</p>
    <p>もう一歩踏み込んだ主張が許されるならば、絵名の生は「絵の世界を努力でのし上がっていく」ことそれ自体ではなく、「<b>努力する過程で人と出会い、自己の内奥にあるものを引き出す力を得て、もはや他人との上下で測ることのできない代替不可能な固有性を獲得していく</b>」ことにその軸があるのだと思っている。<br>
        確かに目の前の"美大受験"は完全な上下の世界だろうと思う。その目標に向き合っている時間は、絵名は「才能のある誰かと才能のない私」という固定的なヒエラルキーにとどまり続けるだろう。しかしその後に続く美大生活、そして画家人生には、そのような比較可能性は、少なくとも原理的な意味では、ない。そこでは第一に、他の人では代えられない経験が、そして自分の中に見出してきた感情の深さが求められる。</p>
    <p>そうした視点で絵名を見るとき、絵名がニーゴと共に過ごし、その困難に真剣に向き合う時間は、絵名のなかでこれ以上ないほど重要な時間となる。少なくとも『空白のキャンバスに描く私は』の雪平先生はそれを見通している。ただ絵を見ただけで、なんらかの重みが絵名に加わったことを直感している。<br>
        仮に絵名をその全人格からではなく、あくまでアーティストの一人として見つめたとしても、そこに脇道などと呼ばれるべきものは、ひとつもないのだ。</p>
    <p>もちろんこの才能を、絵名自身がはっきり自覚することはないだろう。絵名はただ苦しみながら絵を描くし、目の前の友人にも心から助けたい一心で向き合い続ける。それが知らず知らずのうちに結びついて絵名の生きる世界を広げ、描けるものを、伝えられるものを増やしていく。きっとそういうふうに、絵名の芸術はある。</p>
    <h3>暁山瑞希の人生を貫くもの</h3>
    <p>次は、瑞希のことについて話そう。</p>
    <p>このストーリーで印象的だったのは、瑞希の見る世界から「情報」が抜け落ちていく様子の生々しさだ。虚ろな視線でゆっくりと見回す自分の部屋。中学時代ですら楽しめていたにもかかわらずもはや完全に魅力を失ってしまったアニメ。そして、騒々しいにもかかわらずまったく音が聞こえなくなるスクランブル交差点。<br>
        世界が空っぽになっていく。意味を持つ情報が減っていく。かわりに自分の内側から湧き出る、張り詰めたような感覚が支配していく。呼吸の音だけが鮮明に聞こえる。その気持ち悪さに頭が、頭部が、身体が埋め尽くされていくなか、かろうじて動く足に引きずられるように、ただ歩く。</p>
    <figure class="respimage">
            <img alt="後で書きます" src="/kizudarakenotede_7.png"/>
        </figure>
    <p>そんな状況だからこそ、このDear Ribbonを見つけたときの「カワイイなぁ……」という台詞は、とてつもなく重い。私はこの画面を前にして、数分間動けなくなった。</p>
    <p>このシーンは、瑞希の過去編となるイベント『変わらぬあたたかさの隣で』の反復である。繰り返し立ち現れ、そのたびに自分の人生を繋ぎ止めてきた要素であるのだ。</p>
    <figure class="respimage">
        <img alt="後で書きます" src="/kizudarakenotede_8.png"/>
    </figure>
    <figure class="respimage">
        <img alt="後で書きます" src="/kizudarakenotede_9.png"/>
    </figure>
    <p>（『変わらぬあたたかさの隣で』より）</p>
    <p>一般的に、われわれは目に見えるすべての情報を受け取っているわけではない。目の前にあるすべてのものをひとつずつ脳で認識していき、それぞれに対する判断を毎回下す、という仕方でわれわれの意識は動いていない。むしろ事物の側が自らの意識に（なんらかのしかたで）働きかけ、認知の俎上に浮かび上がり、その人によって意味を与えられる、というのが実際のところだ。<br>
        ここでいつ、なにに働きかけられるかというのは、人によって千差万別で、また自分の側から容易にコントロールできるものでもない。同じ空間にいて、同じものを見ていたとしても、その現れ方は一様ではない。そしてこの違いは（文字通り）「見ている世界の違い」になり、その人の行動を、ひいては人生を左右する。<br>
        <b>思うに、この「目の前の世界からどんな働きかけを受け取るか」というのは、その人の生き方を形作る根源であり、個性であり、そして、尊厳だ</b>。</p>
    <p>それが極限まで削られていき、世界が平板になっていくなかで、瑞希にとって最後に残る尊厳は、「カワイイ」だったのだ。</p>
    <figure class="respimage">
        <img alt="後で書きます" src="/kizudarakenotede_10.png"/>
    </figure>
    <p>アイデンティティというのは不思議な概念だと思う。それは確かに、自らが能動的に選び取ったものである。しかし同時にその内容は、他人からいくら捨てることを強要されようと最後まで手放すことのできない、本人にとって必然性を持った不動のものでもある。<br>
        それが必然であるゆえんが、この「カワイイなぁ……」とこぼす一瞬のうちに詰まっているのではないか。世間に受け入れられず、自分の苦しみの源になりつつも、それでもやっぱりカワイイものは自分へと働きかけ続け、それをどうしても愛したいと思う。この一瞬の積み重ねにこそ、ひとりの人間の尊厳のもっとも深い部分が現れているのではないか。単なる気分や迷いを超え、その人がどう生まれたかを根本から規定するものとして。<br>
        だからそれを否定されることはその人が生きること自体を否定することに繋がるし、自分がそれをアイデンティティとして能動的に選び直すこと、そして他人がそれを大切にすることは、その人がそうあることをありのまま祝福することにもなるのだろうと、私自身はそういう考えを抱いている。ゆえに、瑞希がカワイイというアイデンティティを選び、それを守り続ける限り、少なくとも瑞希はまず瑞希自身によって肯定されているのではないかと思う。</p>
    
    <h3>「言わなきゃいけないこと」と、「言いたいこと」</h3>
    <p>今回のイベントでは☆4のピックアップカードだけでなく、交換所で入手できる初出のカードも2枚存在する。そのうち、☆3として登場した奏のカードに、本編の後日譚となる重要なサイドストーリーが収録されている。</p>
    <p>瑞希が奏とまふゆにカミングアウトを行うシーン。そこで打ち明ける前に瑞希が口にした言葉は、次のようなものだった。</p>
    <figure class="respimage">
        <img alt="後で書きます" src="/kizudarakenotede_11.png"/>
    </figure>
    <figure class="respimage">
        <img alt="後で書きます" src="/kizudarakenotede_12.png"/>
    </figure>
    <p>（☆3宵崎奏『まだ何も知らない』サイドストーリー後編より）</p>
    <p>「<b>ずっと、言わなきゃって思ってたこと</b>」と、「<b>言いたいこと</b>」。細かいが、重要な違いを持った言い方だと思う。</p>
    <p>私が思うに、瑞希のカミングアウトは、二段階のステップを必要とするのではないか。<br>
        まず「言わなきゃって思っていたこと」は、瑞希にとっては受動的に、やむにやまれず言わなければならないことだ。それはとりもなおさず、自分の人生を振り回してきたたったひとつの情報についてのことである。これはいわば、学校という逃げ場のない空間でクラスメイトに"面倒がないように"言ったことと同じ領域に属するものと言っていいだろう。<br>
        「言いたいこと」は、それをさらに前に一歩進める。これは自分が何を思ってきたか、どうしたいか、どうしてほしいかという、自分の意志に属するものだろう。絶え間ない圧力を受け、自分のあり方を自分自身で語ることを封じられ、「変」などの一言で塗り替えられてきた瑞希が、それを自分の言葉で語り直す時間。相手がそれを聞いてくれるだろうという信頼なしには成り立たない、より難しい時間でもある。これはきっと、クラスメイトにも、そしておそらくは誰にも、伝えられなかったことなのではないだろうか。それを瑞希は強い覚悟を決め、口に出す。</p>
    <p>もちろんこの具体的な内容が、本編で直接描かれることはない。それはあくまで彼女たちだけが共有すべき言葉だ。ただ、その後のやりとりから、ボクをボクとして認めてほしいこと、変わらずにいてほしいことの二点が中心にあることは、わかる。</p>
    <p>ところでこれは個人的な推測にすぎないのだが、『荊棘の道は何処へ』がアウティングの物語であったのは、瑞希に明確な言葉を言わせずに（特に「ボクは…なんだ」という言葉を絶対に言わせずに）この大事な話を描き切るためのメタ的な選択の結果だったのではないかと思う。それは瑞希のための、そして瑞希に思いを託しているたくさんの（それでいて一人一人違う）人々のための気遣いになっていたのではないか。</p>

    <h3>おわりに：絵名になれない（かもしれない）私たちへ</h3>
    <p>これが、私が感じ取ったもののすべてだ。改めて、考えても考えても尽きないような、非常に美しいストーリーだったと思う。これまでのニーゴの物語の集大成のようでもあった。実際、この感想では過去のさまざまなストーリーに言及することになった。</p>
    <p>『荊棘』の記事で強調した通り、これは現実に生きられている物語である。そしてそれを乗り越えるのは絵名と瑞希ではない、われわれ自身である。そのように主語を置き換えながら、このストーリーは読まれる必要がある。</p>
    <p>絵名の出した答えは、あくまで一例なのだと思う。学ぶことはきわめて多いが、そのまま人によって真似できるものであるとは限らない。むしろ目の前の個別性をしっかりと見つめ、まだない道を探し続けることこそ、今回のような状況で求められることの本質だといってもいいだろう。</p>
    <p>最後に蛇足ながら、私自身の個人的な話に触れてこの記事を締め括ろう。</p>
    <p>まず私は、この記事のそこかしこで本来守るべき線を越え、三人称のなかに一人称を過度に混入させてしまったことを認める。私は決して瑞希と境遇を同じくしているわけではないが、さまざまな理由から誰とも話せなくなり、今回のように失踪を決め込んでしまった経験がある。<br>
        瑞希がスクランブル交差点を歩くシーンの説明でやけに力が入ってしまったのも、主観視点で表現されたそれが私の感覚ときわめて似ていたからだ。気分が悪くなるほどに。なんなら渋谷のあの場所はまんま私の大学付近の通り道だ。（ちなみに私はそのとき教員の連絡をすべてぶっちぎってそのまま留年した。連絡を取って一応補習にも行っている瑞希は偉い。）</p>
    <p>以下はプロセカに直接関係のない自分のツイートだが、今回のストーリーを受け止めるうえで最後に触れておきたいひとつのメッセージを内包してもいる。</p>
    <blockquote class="twitter-tweet tw-align-center"><p lang="ja" dir="ltr">これはフォロワーのほとんどが知らない事実なんですけど、僕が失踪していた間って「僕が完全に表で見せられない感じのうわ言・希死念慮発言・幻覚を流し、それを皆がたまにリアクションつけつつ全部無視する」クローズドな場があって、これが本当に精神回復と思想形成に信じられないくらい効いたので、</p>&mdash; うぇるあめ (@welch2929) <a href="https://twitter.com/welch2929/status/1845793666792931716?ref_src=twsrc%5Etfw">October 14, 2024</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <p><br></p>
    <blockquote class="twitter-tweet tw-align-center"><p lang="ja" dir="ltr">なんかそういう、踏み込む/手を差し伸べるというウェットなケアだけでない、聞き流す/したいままさせてやるというドライなケアも存在するよな、と思ったりしているし、感謝している</p>&mdash; うぇるあめ (@welch2929) <a href="https://twitter.com/welch2929/status/1845793668466389319?ref_src=twsrc%5Etfw">October 14, 2024</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <p>私の場合は、ネット上で名前を変えて過ごしていたところを友人の何人かに発見された。しかしその人々は、私に何か言ってくることはなかった。かわりに、とても見ていられない状態の私を、ただしたいままにさせていた。いけないとも、やめてほしいとも言わず、ただ聞いていた。</p>
    <p>情熱的なストーリーを見た後では、ずいぶん奇妙な話に見えるかもしれない。しかし私には、これしかなかった、と思えるほどの時間だった。<br>
        直接的な対話はなかったかもしれないが、私が自分を自分の言葉で語り直し、それを聞いてもらうという経験は、私だけの形で確かに果たされていたのだ。</p>
    <p>私に東雲絵名はいなかった。本当に率直なことを言えば、いたとしても受け入れられなかったと思う。すれ違い続けることを知りながら手を取り続け、その感情を一身に浴びることを受け入れられる強さは、私にはなかったからだ。だからそんな私もきっと将来、東雲絵名にはなれない。<br>
        でもそれならそれできっと、選べる道はある。</p>

    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="title - welame&#39;s page" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</Layout>

