---
import Layout from '../../layouts/Layout.astro';
const pageTitle = "校歌指導の何がよくなかったのか2025（浦和高校卒業生視点）";
---
<Layout pageTitle={pageTitle}>
    <h1>校歌指導の何がよくなかったのか2025（浦和高校卒業生視点）</h1>
    <p>9日、朝日新聞が母校である県立浦和高校の校歌指導を記事にしていた。紙面およびデジタル版で公開されている。</p>
    <blockquote class="twitter-tweet"><p lang="ja" dir="ltr">浦和高校の校歌指導に「心病んだ」男性の訴えに「改善する」と同校 <a href="https://t.co/ZvpTatNm4i">https://t.co/ZvpTatNm4i</a></p>&mdash; 朝日新聞(asahi shimbun） (@asahi) <a href="https://twitter.com/asahi/status/1888473920300597538?ref_src=twsrc%5Etfw">February 9, 2025</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <p>自分にとっては思い出深い高校であり、良い時間を過ごした場所だと思っているが、それはそれとしてこの風習には個人的に怒っており、しばしば蒸し返してもいる。後輩達にはされる側にもする側にも回ってほしくないと思う。<br>
        このトピックが大きな話題となっている今だからこそ、自分がこの行事についてあれこれと考えてきたことを整理・再構築し、現時点で感じていることを書き記しておこうと思う。</p>
    <p>また現在この問題を語るのは基本的にメディアなど外部の人々に大きく偏っているため、かつての当事者の視点からこの問題に対する詳細な語りを加え、実際の微妙なニュアンスを伝えたいという思いもある。<br>
        後に話す通り、この高校はなにもあらゆる場所に悪魔的な風習が蔓延っているわけではなく、むしろ普段はかなりのびのびとした部類の高校といってよい。この"ちぐはぐさ"が、この行事を語るにあたって取り上げうる論点のひとつにもなってくる。しかしこのような高校生活全体を踏まえた視点はどうしても外部から見えづらい所であり、実際に通った人間が話さないことには伝わりにくい。<br>
        学校が社会からこの行事を隠しおおせる段階などとうに過ぎた今だからこそ、それを有効に利用し、さまざまな当事者が率先して思いを発信するのが一番よいと思う。それが各々の価値観を磨き、問い直すきっかけになるのなら、この行事の存在も浮かばれるというものだろう。</p>
        <p>なお私は7年前に浦和高校を卒業した身なので、細部の情報に関しては現在と相違が生じていることが多々あるかと思う。ご容赦願いたい。</p>
    <h3>論点1：暴力的である</h3>
    <p>まず校歌指導について（私の入学年度においての体験に基づき）簡単に説明する。</p>
    <p>内容自体は名前の通り、新入生に校歌・応援歌等が歌えるかどうかのテストを課すというものである。しかしこの行事を特徴づけているのは、その実施形態である。</p>
    <p>開催されるのは、入学直後の校内オリエンテーションの日の午後。生徒は何も知らされないままぞろぞろ体育館に集められ、並んだ座席に座るよう指示される。その後、突如にして暗幕が閉じられ、体育館は真っ暗な状態になる。そして竹刀を持った（今は持っていないらしい？）応援団が怒号とともに登場。2階席に集まった上級生の野次とともに、終始新入生を脅しつける役を担う。<br>
        行事の進行は、体育館のスピーカーを通したアナウンスによって行われる。『1年1組1番、立て』といった号令とともに新入生のうちの1人がひとたび指名されると、怒号はそのターゲットに集中し始める。続いて『君には～（曲名）の～番を歌ってもらう』という課題が示され、集団での野次を一身に受けながら大声で絶叫するよう要求される。歌えなかった場合は体育館の前側に連行され、歌詞カードを渡されて覚えるよう求められる。それを1～2時間程度の間、標的を変えながら十数人ぶん繰り返す。<br>
        オリエンテーションは2日に分けて実施されるため、この校歌指導も1日目と2日目、計二日間にわたって行われる。</p>
    <p>この行事の存在は当然、対外的には明かされていない。校内でも箝口令が敷かれているため、外部に伝わることは少ない。次の年度になれば、学年の上がった生徒たちが恫喝役に回り、ふたたびこの行事を再演する。そうしてこの風習はかれこれ数十年、連綿と繰り返されているのである。</p>
    <p>引用ツイートには録音も貼られているので、実際の様子が気になる方のために<a href="https://x.com/kMmbAYHy4Z27191/status/1888591533169049640">リンク</a>を貼っておく。<br>
        <u><b>※ショッキングな内容を含むため、罵声が特に苦手な方は再生をお控えください。</b></u></p>
    <p><br></p>
    <p>校歌指導に対してまず第一に言うべきことは明白である。<b>暴力をやめなさい。暴力を振るわせることもやめなさい。そして、暴力をよしとすることをやめなさい。</b></p>
    <p>本来、主張はそれだけで済む。ただこの行事が「有意義だから続けている」という言説に支えられて続いている以上、意味という次元においてもこの行事の有効性を問う必要がある。</p>
    <h3>論点2：メリットに実質が伴っていない</h3>
    <p>まず、校歌指導のメリットとして掲げられがちな名目には、実質が伴っていない。</p>
    <p>校歌指導を肯定する言説としてもっともよく見かけるのは、「新入生に厳しい体験を乗り越えさせ、生徒同士の一体感を生み出す」というものである。ここで確認すべきなのは、この"一体感を生む"というフレーズが、具体的に現実のどのような状況を指して言っているのか、ということである。<br>
        言わんとしていることを汲み取ることはできる。同じ体験をしたもの同士、シンパシーを感じたり、話の種ができたり、確かにそういうことはある。しかしそこでいう連帯とは、未だ「浦高生」という漠然とした、抽象的な次元を出るものではない。</p>
    <p>後にも述べるが、この行事は徹底的な"個人化"をその特徴としている。生徒は暗い場所にじっと座らされ、周りの仲間の顔を見ることも許されない。話すことも、お互いの意思を分かち合うこともできない。すなわち、これから生活を共にする人間がどんな思いをもっているのか知り、人格的なレベルでの尊重と共感を生む、そうした<b>"顔の見える連帯"を育む機会が致命的に欠如している</b>。むしろこの場には、「見ず知らずの誰かが自分の身代わりになってくれてよかった」という、一体感という単語とは無縁の感情さえも容易に生まれうる。</p>
    <p>「厳しい状況をきっかけに連帯を作ってほしい」というのなら、それは<b>互いに仲間の方を向き、会話を重ね、アイデアや能力をもって共通の課題を乗り越えていくもの</b>でなければならないはずだ。集団が生む尊重も、クリエイティビティも、こうした類の関係性を通してはじめて生まれてくるものである。しかし校歌指導は大元のコンセプトのレベルで、そのような設計を一切備えていない。</p>
    <p>「規律を身に着けさせる」「生き方を叩き直す」などの旧弊な理屈に訴えるのもまた、妥当ではない。<br>
        事実として、校歌指導が何か生徒の生き方を根本から変え、生徒たちが黙々と従順に育つかというと、そんなことはない。現実には、ちゃんとするところはそれなりにちゃんとするし、ちゃんとしなくていいところはそれなりにちゃんとしない、等身大の人間があるばかりである。そして心配せずとも、この高校の文化はそれで回ってきたし、これからも回っていくのである。それに規律ということを持ち出すのであれば、そもそもこの高校に入学する生徒はいずれも地元中学で高い成績を取ってきた者ばかりで、どれだけ大目に見ても先取りして憂うべき問題など存在していない。</p>
    <p>人間はこのようなことをされないと立派になれないなどと、本気で思っているのだろうか。それをよりにもよって、自校を選んで入ってきた学生たちにも思うのだろうか。「集団で脅して言うことを聞かせなければならない」というパラノイアックな恐れを抱き、行事と称してこのような行為を行い続けるのは、有効性が伴っていないのみならず、<b>人間に対する根本的な信頼と礼節を欠いている</b>。</p>
    <p>なお今更ではあるが、歌詞を覚えることそれ自体が重要な意味を持っているわけでも勿論ない。覚えさせられる6曲のうちその後の学校生活でまともに歌う機会があるのは校歌と第一応援歌くらいのもので、『遠き灯』（文化祭の後夜祭用の曲）などはいざ文化祭本番になるとすっかり忘れてしまっていた、というのが一つのあるあるである。</p>
    <h3>論点3：受動的で、達成すべきゴールがない</h3>
    <p>次に、校歌指導はきわめて受動的な性質を持った行事であり、目的を持った教育行為として成立していない。</p>
    <p>このことを考えるにあたっては、同校の他の行事を例に出すのがわかりやすいかもしれない。<br>
        例えば、浦和高校には毎年秋ごろに行われる『古河マラ』という行事がある。学校のあるさいたま市から茨城県の古河市までの50kmを走り切る行事だ。競歩大会という名目であるが、完走のためには7時間でゴールにたどり着くペースが求められるため、実際にはかなりの区間を走って抜けなければ間に合わない。それゆえに、マラソン大会としての通称で呼ばれている。<br>
        当然ほとんどの生徒にフルマラソン以上の距離を走る経験などないため、その道中は困難を極める。半分走りきったくらいの段階で早くも筋肉痛の発症がはじまり、鎮痛剤スプレーを吹きかけてそれを誤魔化しつつ（『サロメチール』を一人一本持っていくのが定番だった）、無理やりにでも足を動かしてゴールへ向かうことになる。正直に言って、本当にきつい。人生で3回もやることではない、と思うほどにきつい。</p>
    <p>しかしこの手荒な行事を「悪しき習慣」として捉える人は、そう多くないと思っている。単なる無茶に終わらせない、さまざまな設計を備えているからだ。<br>
        第一に、健全である。走って強い身体を作る、とてもよいことです。<br>
        第二に、予告されている。この行事は対外的にもアピールされる浦和高校の代名詞的存在であり、生徒もそれを承知の上で入っている。<br>
        第三に、各人のキャパシティに合わせた体制がしっかりと整えられている。この行事は全員が50kmを走り切らなければ終わらないわけではない。おおよそ10km程度の間隔でチェックポイントが設けられており、それぞれに設けられた制限時間を超えた人はその場で終了、というルールになっている。これによって生徒に過大な負荷がかかることがなく、それぞれのキャパシティに合わせた目標を立てて走ることができる。<br>
        第四に、ケア体制が万全である。各チェックポイントでは休憩所のほか、エネルギー補給・水分補給などができるものが用意されている。必要な知識はガイダンスで事前に伝えられるし、実施中の安全もボランティアによって可能な限り配慮されている。<br>
        第五に、そしてもっとも重要なことに、この行事には<b>「自主性」を発揮する余地が多分に含まれている</b>。やること自体はシンプルなこの行事だが、目標をどう達成するかということに関しては、自分で最適な方法をきちんと考えなければ走り切れない。事前の準備や持ち物をどうするか。体育での走り込み以外に自主練習をしていくか。各場面での行動はどうするか。区間ごとの配分はどうするのが一番走り切りやすいか。参加者同士で協力するか、それとも自分のペースを大事にして一人で走るか。生徒による自由なアイデアを受け入れ、その価値を試させるのが、この行事の最大の特徴なのである。</p>
    <p>内容は無茶振りそのものでありながら、洗練された設計によって、各人が自分に合った目標を通じて達成の喜びを味わえる。困難を乗り越えることを通して、生徒たちは自身のうちに自分が思っていたよりずっと高いポテンシャルがあるのだと気づかされる。『古河マラ』とは、そういう行事だ。</p>
    <p>これ以外にも、浦和高校の行事は総じて生徒に対してハードな状況を課す傾向にある。ご挨拶とばかりの入学記念10kmマラソン、体育祭での学年競技、臨海学校の遠泳、文化祭の門制作と、枚挙にいとまがない。<br>
        私は浦和高校のこのような風習を、基本的に好ましいものだと思っている。生徒を非日常的な時間のなかに放り込み、「たがを外す」ことを肯定する。経験を積み重ねることで、目標に至るまでの多少の山を「なんでもないことだ」と切り捨てる、良い意味での無頓着さを育てる。それは立派な教育方針のひとつであるし、実際にこの高校に求められているものでもあろうと思う。</p>
    <p>これらと対比したとき、校歌指導という行事の異端性はおのずと浮かび上がってくる。<br>
        まず、配慮を著しく怠っていることは言うまでもない。この行事は外部に対して秘匿されており、実際に開始されるまで入学者が自発的にそれを知る手段は存在していない（OBが多い高校なので知って入ってくる人もいるらしいが、私は知らなかったし、事実として本番で歌えない≒準備してきていない人は多かった）。また暗所で個人を狙い撃ちして集団で怒鳴るという、心的外傷を容易に与えうる（そして既に心的外傷を抱えた者に甚大な被害を与えうる）形態を無神経にも選択している。離脱を許されることもないし、結果として実際に通えなくなる者が出ても顧みることはない。<br>
        そして、この行事は生徒が自主的に行動を選択して実行するためのゴールを持たない。歌唱というお題こそあるものの、基本的には合計約4時間もの間じっと座り、ただひたすら暗闇で罵られる苦痛、そして標的にされる恐怖に耐えることだけを求められる行事だといって差し支えない。横並びに座らされている間、生徒は個人としての能力、意志、尊厳、そういったものをすべて捨象された存在としてただそこに置かれるのみである。この場において、生徒が果たすべき「達成」とはなんなのだろうか。</p>
    <p>校歌指導は不当な苦痛を与えるのみならず、<b>「生徒がなんのために苦痛を耐え忍ぶのか」ということに対するビジョンを根本的に欠いている</b>。おおよそ教育と呼べるものではない。<br>
        そこで得られるのはただ、「我慢したなあ」という思い出のみだ。それは生徒たちに、<b>暴力を振るわれることと、他人が暴力を振るわれる様子を見ること、双方に対する感受性を鈍らせる結果にしかならない</b>。私はそれこそが、この行事が実質的な形で果たしている唯一の効果だとさえ思っている。理不尽な暴力は、人間を擦り減らす。現に擦り減らしてきたからこそ、この風習は誰も止めないまま何十年も続いている。「耐えられない者が悪いだけだ」と言いたげに。</p>
    <h3>論点4：学校の長所と噛み合っていない</h3>
    <p>最後に、校歌指導の装う厳格さは、浦和高校の持つ校風そのものからも乖離している。</p>
    <p>この問題を通してはじめてこの高校を知る人々は、ここがどれだけ締め付けの強い閉塞的な高校なのかと勘繰ることだろうと思う。しかし実のところ、この高校に関わる人間は、普段から生徒たちが固定化した上下の「規律」に従う人間になることを至上としているわけではない。むしろ浦和高校の生活について真っ先に挙げられる特徴は、「<b>自由さ</b>」である。少なくとも通っていた私はそう感じる。</p>
    <p>それは何よりも日常のワンシーンを描くことでよく浮かび上がる。部活を終えて荷物をまとめ、早く帰れよ、という大人の言葉もそこそこに夜の教室に集まる。あるいは、長屋と呼ばれるやけにごみごみした部室棟にたむろする。テストも近いからととりあえず勉強道具を開いてはみたものの、同級生と話したり遊んだりするのが楽しくて、ろくに進まないまま今日も帰宅する。その時間は、ときにクリエイティブな何かを作る時間になったり、次のクラス対抗大会の作戦会議をしながら団結を深める時間になったり、あるいはばかばかしい無益さに笑い合う時間になったりする。大人側もそんな空間を適度に見逃し、放任している。少なくとも私自身はそうした自由な空気感を、浦和高校で過ごしてきた日々の原風景として記憶している。</p>
    <p>県立浦和高校は旧制中学にルーツを持つ「伝統校」ではあるが、それは生徒に対する抑圧的な傾向の存在を意味しない。基本的には各人が上下関係等を理由とした不当な扱いを受けず、個性を持ったまま、過剰を抱えたまま過ごせるのがこの高校の良いところである。校歌指導が生徒に対して強迫的に求める度を越した「規律」は、空転しているどころか、この学校の校風に実質的に根差しているものでさえない。
        どこかアナーキーな魅力を放つこの学校において、異様な行事ひとつだけが、矛盾をはらんだまま浮き続けている。</p>
    <p><br></p>
    <p>暴力を振るっている/振るわせている。実質的効果もない。目指すべきビジョンもない。学校を通した一貫性もない。総じて、私はこの行事を支えるいかなる言説に対しても共感していない。<br>
        新入生に対するイニシエーションを行いたいというアイデアを否定するつもりはない。<b>新入生に真なる意味での連帯・協力を求め、互いのことを知る助けとなるような創造的な行事に取って代わるのなら、それは喜ばしいことだと思う</b>。しかしそのような目的に相応しい形態は、少なくとも今のような形ではありえない。基本コンセプト自体に重大な欠陥を抱えている以上、現在行われているらしい「改善」や「緩和」で問題が抜本的に解決するとも私は思っていない。</p>
    <p>廃止にしろ転換にしろ、浦和高校の教育方針の長所を問い直し、それをよりよい形で体現する道は、いくらでもあるはずだ。この高校に、本当にこの行事は相応しいのか。ゼロからやり直せるとしても、またやりたいと願うほどのものであるのか。再考を願う。</p>
    <h3>追記</h3>
    <p>参考までに、私よりも下の入学年度の学生による校歌指導賛成側のツイートのツリーも貼っておく。時代が異なることもあり、私の知らないことも書かれている。実施形態は時間とともにゆるやかに変化しているのかもしれない。</p>
    <blockquote class="twitter-tweet"><p lang="ja" dir="ltr">昔のことはよく存じ上げなかったのですが、現在は改善が見られます　大地獄が地獄になった程度の変化ですが、あのﾄｩｷﾞｬだけを見て誤解したままの人がいたとしたらそれは歯痒いので、昨年入学してから二回その現場を見た「被害者」であり「加害者」である俺に現在の「事実」を発信させてください <a href="https://t.co/GFI09yl3KW">pic.twitter.com/GFI09yl3KW</a></p>&mdash; 侵襲性 (@invasive78) <a href="https://twitter.com/invasive78/status/1816620623034220934?ref_src=twsrc%5Etfw">July 25, 2024</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>


    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="校歌指導の何がよくなかったのか2025（浦和高校卒業生視点） - welame&#39;s page" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</Layout>

