---
import Layout from '../../layouts/Layout.astro';
const pageTitle = "『キセツに魔法をかけるレシピ -&quot;How to&quot;- 』感想　魔女たちの反時間";
---
<Layout pageTitle={pageTitle}>
    <h1>『キセツに魔法をかけるレシピ -&quot;How to&quot;- 』感想　魔女たちの反時間</h1>
    <p>魔女方式の1stアルバム『キセツに魔法をかけるレシピ -"How to"- 』が届いた。</p>
    <blockquote class="twitter-tweet tw-align-center"><p lang="ja" dir="ltr">魔女方式のアルバムとどいた！！ キラッキラおんがく 変化のなかで不変を求める魔法 よかったです <a href="https://t.co/PyRRjpa7EW">pic.twitter.com/PyRRjpa7EW</a></p>&mdash; うぇるあめ (@welch2929) <a href="https://twitter.com/welch2929/status/1855138760142602264?ref_src=twsrc%5Etfw">November 9, 2024</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <p><a href="https://www.youtube.com/@majo-hoshiki/featured">魔女方式</a>は、ボカロPの<b>小宮かふぃー</b>、ボーカルの<b>のんです</b>の2人からなる音楽ユニットだ。幼馴染にしてともに現役学生の二人が組んだ、若き新鋭コンビである。</p>
    <p>小宮かふぃーは絵本のような世界観をアニメMVにして表現するのが得意なクリエイターで、個人名義の楽曲も以前からよく聴いていた。個人的な一番のお気に入りは『<b>スモーキィクォーツ</b>』。いつ見てもうっとりする素晴らしい作品だと思う。</p>
    <p>その小宮かふぃーの作る楽曲にのんですの透明な歌声と歌詞、ストーリーが載せられることで、魔女方式というユニットの音楽は完成する。</p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/UZz4uCDkw5E?si=lxN5W5lu7hvp3GYn" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p>『キセツに魔法をかけるレシピ -"How to"- 』、とても素敵なアルバムだった。<br>
        絵本のようなビジュアルにたがわず、どの楽曲も聴くとまるでおとぎ話のように甘く幻想的。奥行きのあるきらびやかなサウンドに浸りながら、魔法に囲まれた独自の世界を堪能することができる。<br>
        オープニングの『<b>魔女方式のはじめ方</b>』から一気に盛り上がる『<b>夏と不思議の作り方</b>』へと繋がり、そこから『<b>ハロー、メランコリィ</b>』『<b>ゆきとためいき</b>』といった季節的な空気感をもった楽曲が続く。また品の良さとあどけなさが同居する快い聴き心地は、時折入る『<b>魔女が住む部屋にありがちなこと</b>』などのインスト曲でも存分に発揮されている。統一感のある曲調は、アルバム全体をひとつの世界で包むような視聴体験を与えてくれる。</p>
    <p>といっても、このアルバムは決して幻想の享楽的な部分のみを描いたアルバムではない。むしろ「現実」という外部を持つかりそめの空間として幻想を見据える、ポジティブとネガティブの入り混じった楽曲の集まりであるといえる。</p>
    <p>先月の週記でははるまきごはんといよわの楽曲について、その感性を「<b>反時間</b>」というワードをもとに考えてきた。成長のもたらすタイムリミットを拒んで子供としての無垢なあり方を保ちたい、それを永遠のものとしたい、という感性だ。</p>
    <a href="/article/202410-1/">週記2024/10-1　いよわ、はるまきごはん――「反時間」のボカロPと、その未来</a>
    <p>時間の流れに抗してみずからを保存しようとするこの姿勢は、魔女方式の今回のアルバムにも大いに現れている。同じファンタジックなMVの作り手として、作風だけでなくその奥に生まれる思想も似通ってくるものなのかもしれない。<br>
        はるまきごはんは『セブンティーナ』で、いよわは『1000年生きてる』で、こうした課題にひとつの回答を与えた、というのが私の考えだった。魔女方式の音楽においては、時間という課題はどう描かれ、また乗り越えられているのか。ここではそれを考えてみたい。</p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/isFAH31NMl8?si=CJmwU3pXUXqhJnWD" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p><b>第一原理：物語には終わりがある。</b>この事実は、アルバム全体を通して避けられない要素として横たわる。</p>
    <p>たとえば『夏と不思議の作り方』は夏のさわやかなひとときを描いた曲であるが、その歌詞には「君との夏がすぐに終わる」「不思議と微炭酸が逃げないように」など、今の時間に終わりが来ることを明確に意識したワードが並んでいる。淡い水色を基調とする夢のような世界観の中に、ほの暗い感情がたびたび顔を覗かせる。そのような歌詞構成になっている。<br>
        なかでも楽曲を締めくくる「こんな夏になら 死んじゃってもいいかも！」の一言には、いっそ自分たちの手でこの時間を終わらせ、美しいこの時間をこのまま保存してしまおう、というある種の破滅的な気分の存在が垣間見える。はるまきごはんの『再生』とも通じる、「自己破壊=永遠」の定式だ。</p>
    <p>『ハロー、メランコリィ』もまた、ハロウィンという楽しいひと時に忍び寄るタイムリミットをテーマにした曲である。「ああ どうして フルムーンなの 君とまだ遊びたいのに」。それは、時間が来たら「殺さなきゃいけない」から。先の楽曲もそうであったが、唐突に現れる暴力的な表象は、甘いコーティングでは覆い尽くせない異質さを世界に挿入する。<br>
        ここで提示されているのは、先ほどのような自分で選び取る終わりではなく、外部から強制的にもたらされる終わりである。続く楽曲である『ゆきとためいき』の「うちまでのこのじかん」も、この否応なしに巻き込まれてしまう終末を示す別の表現だ。時間の流れがもたらすこの二者択一は、われわれの心持ちだけでは容易に動かせそうにない。</p>
    <p>この緊張感は、おそらく制作している本人たちの個人的な心情とも不可分であるのだろう。二人は収録曲のひとつである『魔女子恒星の回し方』の公開時期にちょうど高校を卒業し、それぞれ新しい場所での生活を始めたという。そのような門出の時期は、成長と環境の変化によって新たな見方を得るとともに、それまであった見方に限りがあることを知ってしまうような、アンビバレントな時期でもあるはずだ。歌詞にある「大人になんて ねえ、なりたくないよね」というネバーランド的願望の表明の裏に、私はそのようなじわりと膨らむ気持ちの重さを感じ取る。</p>
    <iframe class="youtube-16-9" src="https://www.youtube.com/embed/P10FIUJJjjg?si=1_whrEPx_XESYVNA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p>しかし『魔女子恒星の回し方』は、このような変化にポジティブな形で向き合い、希望を見出す楽曲でもある。『ゆきとためいき』の季節が過ぎ、ついに卒業の時が来たいま、ふたりの魔女はもう子供であることをやめてしまわなければいけないのか。そうではない。「この世界ではまだ、くるくるできる」、とこの曲は語る。環境が変わり、場所が変わったとしても、変わることなく続くものは存在している。それを呼び出せるという事実こそが、絶え間ない変化に対して希望を持ち続けられる条件となる。そのようなビジョンがこの曲の歌詞では表現されているのだ。<br>
        この結論は、先述の記事で語ったはるまきごはん『セブンティーナ』のあり方と似通ったものでもある。時間が進み、自分がどのような存在に変わったとしても、立ち返るための世界さえ心の中に大事に持っていれば、われわれは子供の頃の純粋な心にいつでも戻ることができるのだ。それが、タイムリミットを超えて永遠を手に入れるひとつのあり方だった。</p>
    <p>ただしこのアルバムの最終曲である『ちょっとはやいお出かけの時間』とそのキャプションを見ると、そこには少し違ったニュアンスを読み取ることもできる。朝露で湿ったさわやかな陽気を思わせるこの軽快な楽曲には、ブックレット内で「支度をして出発し、つぎのお話までゆっくりとお出かけする」というストーリーが添えられている。<br>
        魔法の世界に立ち返るというのは、決してひとつの固定された世界と行き来するだけの行為に限られるものではないのだ。むしろ<b>能動的に世界を書き足し、新しい物語を作り続けていく可能性の存在</b>こそが、この楽曲では強調されている。そのようなわれわれの道のりを保証するものこそ、ここで言われている「魔法」の役割にほかならない。音楽という手段を通し、聴き手にこの魔法の"レシピ"を示してみせるところに、このアルバムの真の力はあったのだろう。</p>
    <p>魔女方式という若きユニットは、非常に広大で魅力的な世界を構想する力を持っている。そして同時に、その鋭敏な感性をもって世界が背後に隠し持つはかなさを感じ取ってもいる。しかし魔法のかけ方を知っている二人は、もはやそのことを恐れたりはしない。<br>
        <b>第二原理：物語の終わりは、つぎの新しい物語へと「お出かけ」するタイミングである。</b>再創造の過程を繰り返すことで、わたしたちの魔法はタイムリミットを超え、永遠に続いていく。それこそが、魔女方式の示す「反時間」のあり方なのだろう。<br>
        次の楽曲が楽しみになるような終わりだと思った。</p>

    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="『キセツに魔法をかけるレシピ -&quot;How to&quot;- 』感想　魔女たちの反時間 - welame&#39;s page" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</Layout>

