---
import Layout from '../../layouts/Layout.astro';
const pageTitle = "より多くの本を読みたい";
---
<Layout pageTitle={pageTitle}>
    <h1>より多くの本を読みたい</h1>
    <h2>広く読みたい</h2>
    <p>私は普段の生活の中で、読書に多くのリソースを割いている。電車の壁によりかかりながら、帰りの喫茶店でアイスコーヒーを啜りながら、家で暗い部屋にこもりながら。つねに複数の本を持ち歩き、様々な場面で読む。</p>
    <p>なかでも私は無軌道な読書、すなわち直近の課題にこだわらず自由に本を手に取るような読書を好んでいる。<br>
    それは端的に言えば、<b>自分が未来に希望を持ち続けるための長期的活動である</b>。よい本を読めば、これまでに知らなかった情報を得ることができ、そこを足場にした新しい思考にも触れることができる。ここで流れ込んでくる多量の情報は、日常生活を送るうちに自分でも予測できないしかたで結びつき、熟成されていく。本を読んだその瞬間には意味を見出せなかった情報が、日常で再発見され、生きた形で生活に流れ込んでくる。この予測不能な作用こそが、今の自分を昔からは思いがけないような人間に仕上げてきたし、これからも仕上げていく。私はここに、成長というものを見出す。未来が断絶されていることは、未来の自分が今見える絶望的に平坦な景色の外にいること、延長線の外にいることを保証してくれる。それこそが、自分にとってすがるべき未来なのである。この目的のためであれば、本屋で何万はたこうが、一日の貴重な体力と時間を割り当てようがためらうことはない。</p>
    <p>こうしたわけで、自分にとって読書とはみずからを作る最も主要な源泉である。その源泉からより多くのものを引き出すには、できるだけ本を広く、多く読んでいくのがよい。<br>
    この「広さ」という観点は、自分の気質を踏まえたものでもある。私が生まれてから最初の20年間で確認したのは、自分が職人として特定の技能を極めたり、アカデミシャンとして専門的な領域を突き詰めたりすることにはあまり向いていないという事実である。良くも悪くもやりたいことが多い自分には、いくつもの分野を横断して掘り進め、そこからなにかを見出す役割のほうが性に合っている。これを促進する意味でも、日常における読書の範囲を拡大していくことはつねに要請される課題である。</p>
    <p>けれども量的拡大は、無制限に追求することはできない、私には仕事をはじめとした他の活動も当然ある。それらをないがしろにしないよう、持続可能な形で読書時間を確保しようとすれば、平日でおおよそ1日3時間程度の割り当てが限度だろう。タイムリミットが存在するなかで、自分にとって有益な本をなるべく広く読むにはどうすればよいか。</p>
    <p>ここで重要なのは、<b>たんに全部を駆け足で読むことは解決策にならない</b>、ということである。新しい思考を知るという大元の目的を考えれば、見慣れない概念を含んだ文章や、読んでいて負荷のかかる文章にあたることは読書の基本的な前提となる。つまり、文章はすらすら読めないほうが適切なのである。そうしたものを誘惑に負けて読み飛ばしてしまうと、時間あたりに自分が受け取れる価値は減少してしまう。<br>
    ちなみにいわゆる速読術はどうかといえば、これも割に合いそうにない。一般的な速読術とは目線の動きの無駄を抑えることで読書速度を向上させる技術であり、かならずしも理解度を減じるものではない。よって特に忌避するようなものではないように思うが、実際のところ現実の知的エリートが速読術の習得を推奨している場面を自分は見たことがない。むしろ文章を十分に遅く精読する技能のほうが重宝されているイメージさえある。日々の目的にはそちらのほうがよほど大きな寄与をもたらすのだろう。</p>
    <p><b>じゅうぶんに遅く、かつできるだけ広く本を読む</b>。この相反するふたつの課題が、自分の読書ライフに求められている。</p>
    <h2>攻略の糸口</h2>
    <p>このジレンマが解決できそうにない領域はある。<br>
    いちばん極端なものは詩である。詩は意味の領域を越えてつながったひとつの塊であり、個々の言葉が持たされる役割が非常に大きい。何がどう描かれているのかをくまなく認識し、かつそれらの関係を見ないことにははじまらない。よって、腰を据えて読む以上の選択肢はない。<br>
    文学作品は全編にわたってそのレベルの集中力が求められるわけではないが、どの言葉にもコンスタントに一定の価値があり、読むうえで省略すべきポイントはない（コンスタントに価値があると思えない作品は読むべきではない）。同じ理由で、文学作品ではないが自分にとって非常に大きな意味を持つひとにぎりの本もじっくりとした態度で読むことになる。<br>
    これらの本はやはり、相応の時間をかけることを前提として手に取らざるを得ない。生活の他の部分を最適化したり、気力を割り振ったり、自分が集中して読める条件を整えたり、そうした盤外での努力が重要となる。</p>
    <p>また、専門書をはじめとする負荷の高い本もすばやく読むという課題にはなじまない。<br>
    例えばはじめて知る分野の教科書は飛ばし読みなどしようがない。まず与えられる情報の全体を愚直に受け取っていき、そのなかで徐々に自分にとって核となる部分を見極めていくほかない。また既知の分野でも、自分にとって重要な領域の本であれば記述を逃さず受け取っていくべきである。<br>
    教科書のほかにも、難しい専門書はゆっくり読むべき文章の割合が大きくなる。たとえば難しい哲学書であれば抽象的で認識の難しい主張を長大な議論で語っており、議論の鎖をたどっていかないとすぐに置いていかれてしまう。カントの『純粋理性批判』を読んだときなど、大量に独自用語を定義しながら話が進んでいくので原語でもないのに意味を追っていくのに大変な苦労を要した。<br>
    これらは読書というよりは勉強というラベルを与えたほうが適切かもしれない。勉強であれば前の箇所を繰り返し参照したり、逐一ノートに書き取ったりといったふつうの読書と別種の努力を要する。</p>
    <p>しかしこれらにあてはまらない書籍であれば、工夫の余地がある。<br>
    特定分野の初級者～中級者を対象とした概説書。あるいは、出版して書店に並べられる程度にはライトな書き方でまとめられた研究書。自分の読書ライフの少なくない部分を占めるこれらの書物には、読書価値を大きく損なうことなく時短テクニックを発揮できる箇所が多く含まれている。<br>
    国語の問題であれば「論説文」に分類されるであろうこれらの文章には、一定の特徴がある。それは、<b>書籍のそもそもの目的が「情報伝達」にあり、それが達成されていれば書籍は十分に役割を果たしたといえる</b>、ということである。言い換えれば、文章を隅々まで読み通して「味わう」ことは、この手の読書にはほとんど求められていない。かつ、その読み取るべき情報の割合は難解な専門書のたぐいと比べて明らかに少ない。<br>
    よって、議論の内容を掴みさえすれば、あとは一定以上に重要ではない部分をスルーしてもよいことになる。時間あたりに受け取れる価値が増大すると考えれば、それは適切でさえある。</p>
    <p>この重要度の差を見極めるためには、<b>論理的な文章には構造がある</b>、ということを把握していなければならない。<br>
    論理的な文章は、キーとなる主張と、その論証の組み合わせでできている。まず、文章のなかには一段落～数段落に一か所程度の割合で、「その文章が最終的に言いたいこと」を端的に現したキーセンテンスがある。見つけるだけでその周辺の全体の性質が一発でわかるような、文章の核がある。そして残りの大部分は、そこに辿り着くための論証を繰り広げるスペースである。論証はキーセンテンスに向かって段階的に発展する。まず読み手にとっては当たり前の情報、あるいは当然飲み込めるような事実から始める。次にそれらを組み合わせることで、一段階非自明な主張を導き出す。そこからまた別の事実や主張を組み合わせることで、読み手をだんだん上の段階に連れていく。十分に議論が進めば、最終的にキーポイントとなる主張へと到達する。<br>
    この主張と論証の組み合わせが、論理的な文章の"最小ブロック"である。これを積み重ねるとひとつの大きなブロックになり、より大づかみな主張を展開できるようになる。それをさらに組み合わせれば、ひとつの長大な本が出来上がる。このように、論説文はけっして平坦な文字の並びではなく、たがいに階層的な関係をもった組織なのである。<br>
    （この辺りの話は阿部幸大『まったく新しいアカデミック・ライティングの教科書』と野矢茂樹『新版 論理トレーニング』を大いに参考にしている。これもまた、読書によって私が多くのことを話せるようになった例である。）</p>
    <p>効率的に読もうと思えば、これを逆順に分解していけばよい。すなわち、長大な本であってもそれがどんな大ブロックで構成されているか認識し、そのブロック内でさらにキーセンテンスを見出していければ、全体の構造と重要度の濃淡は見切れることになる。あとは自分にとっての重要度にあわせて読み方を調節していけば、愚直に最初から最後まで読む場合と比べて少ない労力で、重要なところを重要な順に抜き出し、「情報伝達」という本の目的を満足しながらより多くの本に手を出せることになる。</p>
    <p>実際上は、読書中のメモをどれくらいとるか、ということもあわせて考えたい点である。<br>
    自分はよほど平易な内容でない限り、メモをとりながら本を読んでいる。電車で本を読む時間が一番長いので、スマートフォンでCosenseを開き、片手でささっと重要な箇所を書き留める場合が多い。しかしメモは読書の流れを中断するし、読書時間も相当引き延ばす。あとで見返すという目的にかなう範囲で、最小限の量に抑えたいところではある。<br>
    ここでも上の、主張と論拠、という区別が役立つ。これらは大雑把にいえば、「本の内容を掴むために覚えておくべき情報」と、「必要になればあとでもう一度見に来ればよい内容」の区別に対応している。もちろん論拠のうちでも自分にとって重要だと思うものはメモしてよいし、実際新しい用語と概念は全体の構造にかかわらずメモするようにしている。しかし、おおむね本のキーセンテンスを追っていけばメモとしての効率がよいのは間違いない。</p>
    <p>こうした技能は、とりわけこれから身に着けたいと思っている「調べものとしての読書」のスキルにとって基本的なものとなる。何かひとつのトピックを深めて考えたいと思ったとき、新しいことを言いたいと思ったとき、それに関係する文献を大量に並べて情報を取っていくことは不可欠なプロセスである（Twitterにいると忘れがちですが、不可欠ですよ！　私もほとんどできていませんが……）。しかし、読むべき文献を頭から最後まで一文字一文字読んでいたのではいくら時間があっても足りることはない。<br>
    そうしたときに、適切に読むべき場所を拾う技術はどうしても必要になる。ある本に向き合ったときに、その本のなかで一定以上に重要な部分を上から抜き出して読む。これをしないと調べものとしては間に合わない。</p>
    <p>もっともこれは、分かっていても単純にはいかない。一般の本は学術論文ほど綺麗に形式化されておらず、主張と論証も截然と分かれているわけではない。読み方はその場その場で柔軟に合わせていくしかない。</p>
    <h2>目的について</h2>
    <p>最後に。これらの見極めは統一して、「自分はその本を読むことで何をしたいのか」を読む前にはっきりさせることから始めねばならない。それは一冊の本に対していつでもひとつであるとは限らないが、あらかじめ言語化しておく価値はある。<br>
    たとえば詩や文学の場合であれば、作品内で引き出されているモチーフの味わいや、文章のリズムを楽しむことが大元の目的となる。あるいは文章の中に直接的・間接的に現れる人の心理を受け止めることも欠かせない過程である。ふだん政治哲学のような抽象論を好み、正義論だの倫理だのうだうだ考えがちな自分だからこそ、そこに収めることのできない個別具体の混沌に正面から触れることは人間としての死活問題でさえある。逆に言えば、「あらすじを知る」ことは目的ではないのだから、読み飛ばしたところでその目的は達成されることはない。<br>
    教科書・難解な専門書であれば、たいていは対象のトピックの全体像をまるごと掴みにいくことがその目的となる。特に自分が馴染みのない領域であれば、はじめは読み飛ばすことなど考えず、愚直にやっていかなければ力を入れるべきポイント、抜くべきポイントは見えてこない。もちろん状況によってはリファレンスとして特定の話題に関する情報だけを抜き出したいことも多々あり、その場合は必要な情報を的確に取り出して終わりにすればよい。<br>
    そしてそれ以外の一般書であれば、先述の通り「本の主張を理解する」ことが主な目的となる。だから文章の細かい場所にまで気を配る必要は薄いが、そのかわりに文章の構造を見通すことには努力を払わねばならない。細かく言えば「既知の事柄も多いので、自分にとって特に印象的な場所だけをスクリーニングしたい」「その本の分野がどのようにものを論じるのか、方法面まで含めて勉強にしたい」「論証に使われる概念や用語もあわせて学びながら読みたい」など、現実に発生する目的はこれよりさらに複雑である。何百冊本を読もうと、うまく素早く本を読むという課題はなかなか達成されることはない。</p>

    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="ここにタイトル - welame&#39;s page" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</Layout>

