---
import Layout from '../../layouts/Layout.astro';
const pageTitle = "プロセカストーリー『覚めない幻想をノックして』メモ　奏は短期的に/長期的に何を求められているのか";
---
<Layout pageTitle={pageTitle}>
    <h1>プロセカストーリー『覚めない幻想をノックして』メモ　奏は短期的に/長期的に何を求められているのか</h1>
    <p>本記事は、プロジェクトセカイのイベント『覚めない幻想をノックして』の感想記事です。イベントおよび過去ストーリーのネタバレを含みます。</p>
    <p>◆◆◆</p>
    <p>じわじわしんどい。<br>
    今回のイベントは感想記事を書かないつもりだった。奏の話について語り切る準備が今の自分にはないと思っているからだ。<br>
    どうしようもないとは思っていない。奏なら別にどうとでもなると思う。けれどもその根本にある問題は深遠で、私の手に余る。</p>
    <p>けれども、なんらかのメモ書きは残しておきたいと思った。よって今回はストーリー上のひとつのポイントを提示し、それについて簡単な話をしておきたいと思う。</p>
    <p><br></p>
    <p><b>ポイント：ルカは「共依存をやめろ」とも「自分の幸せを探せ」とも言っていない</b></p>
    <p>今回の話の軸になっているのは、奏とまふゆの感覚の不一致にある。奏は、まふゆの気持ちがわからなくなっている、と言う。なぜ離れるのを怖がるのか、その本当のところが。<br>
    そして6話でルカが口を開くのは、奏がこの気持ちを話したタイミングである。この話に対してルカは、「自分を見ないようにしている」と指摘する。「奏だからこそ、まふゆを救える唯一の可能性があるのに」。</p>
    <p>「まふゆに曲を作らなくてもよくなったらどうするのか」という問いも、このような会話の流れの上で発されている。</p>
    <p>これは、祖母の言った「自分の人生を生きなさい」というアドバイスと一見同じように見える。けれども、その実かなり視点が異なる。直前の流れを考えれば、この言葉は「いずれ来る自分の将来のことも考えなさい」というアドバイスとして取ることはできない。ドライなルカはそのことはあまり気にしていない。まふゆを助けるという奏の目の前の目標を共有したうえで、あくまで補助線としてこの問いを発しているにすぎない。<br>
    ここで遮られた言葉を補うとすれば、「<b>まふゆの気持ちがわからないはずないだろう、自分だって今の居場所を失うことを怖がっているのだから</b>」と解すのが妥当だろうと思う。奏がまふゆと関わろうとする気持ちの裏には、自分の具体的な心の欠如がある。けれども、それらを結びつけようとしない。そのことによって、現に行き詰まりが発生している。それを崩し、自分の状況をまず自覚させるために、ルカは干渉を行っている。</p>
    <p><br></p>
    <p>あるいは今回のルカの言葉を、こう一般化することもできる。<b>抽象的な「救い」について考えるのではなく、自分の経験、自分の具体的なルーツにそれを接地させなさい</b>。<br>
    奏には、自分の家族にかかわる問題がある。それをターニングポイントとして、今の生活に行き着いている。その体験をたえず咀嚼しながら、何かをなすべきである。これは難しいことではあるが、終わりのない幸福論を繰り返すことと比べれば、かなり現実的な目標を掲げているようにも見える。</p>
    <p>この指針を体現するもっともわかりやすい例が、暁山瑞希である。<br>
    瑞希はまふゆに、自分の苦難の経験、ごく個人的な経験から得たものを手渡してきた。自分にとっての「逃げた」経験と、そこから得たもの。それは限られた視点であるがゆえに、まふゆの問題のすべてを解決することはできない。自分自身が迷っているのだから、ゴールを示してやることもできない。けれども、人助けとはもともとその不完全さを受け入れることによってしかありえない。だから自分のできる範囲で背中を押す。瑞希のこの姿勢と、そこから来る葛藤のあり方は、『ボク達の生存逃走』の頃から一貫している。</p>
    <p>今回のストーリーの終盤でも、瑞希は絵名とともにごく具体的な体験を語りかける。その中から、奏とまふゆにとって有用な言葉を探し出そうとしている。<br>
    この「一般抽象」から「個別具体」へ、という方向性が、今後の奏のストーリーのポイントになるのではないかと思う。</p>
    <p><br></p>
    <p>最後に少しだけ、広い話をしておく。<br>
    まずはっきり言わなければならないこととして、「奏自身の幸せ」というものは、ごく純粋に想定される意味では、もうない。<br>
    一度すべてが無意味になる状況に直面した人間は、その後の人生に対する見方を不可逆的に変える。ただ生きて、のんびり幸せに過ごして、死ぬ。それだけのことを、もはや価値あることだと思えなくなる。<br>
    もちろん、セルフネグレクトをやめろというレベルのアドバイスであれば有効だし、必要でもある。けれども、奏が何度「ごはんをちゃんと食べて」と言われても自分の生活を整えられないのは、自責の念でそうしているのではなく、もはやそうすることの意味が理解できないからだ。そういう奏の生きる世界の実感に近づかないまま、ある種の「常識的な」気遣いを繰り返しても、奏の心に近づくことはできない。</p>
    <p>ただ、それは奏がこの袋小路から出られないことを意味するわけではない。あくまで私が言いたいのは、奏の幸福というものがあるとすれば、それは自分の幸せ/他人の幸せという二項対立の片側にあるものではない、ということだ。奏の幸福は、今の奏が価値を見いだせるもの、すなわち人との関わりのなかに、切り離せない形で埋め込まれたものでしかありえない。根本的に相互関係的な形でこそ、宵崎奏の幸福論は可能になる。</p>
    <p>それに向かう道筋の一つとして、私は今回のイベントを捉えている。</p>


    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="プロセカストーリー『覚めない幻想をノックして』メモ　奏は短期的に/長期的に何を求められているのか - welame&#39;s page" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</Layout>

