---
import Layout from '../../layouts/Layout.astro';
const pageTitle = "タイパー達へ100の質問(2025)回答";
---
<Layout pageTitle={pageTitle}>
    <h1>タイパー達へ100の質問(2025)回答</h1>
    <h3><p>1. HNとその名前の由来を教えてください。</p></h3>

    <p>うぇるあめ。</p>
    <p></p>飲み物のwelchからとった「うぇるち」というハンドルネームを中学生の頃に付けたのがはじまりです。<br>
    さらに当時学校に「ぶどうあめ」というHNの友達がおり、その周りの仲間内で名前を「～あめ」に統一するという遊びが発生したことがあって、そのとき出来たこの名前をなんとなく使い続けて今に至ります。</p>



    <h3><p>2. SNS、ブログ、個人サイト等を使っていますか？</p></h3>

    <p>Twitter: <a href="https://x.com/welch2929">https://x.com/welch2929</a><br>
    mastodon: <a href="https://mstdn.jp/@welch2929">https://mstdn.jp/@welch2929</a><br>
    サイト: <a href="https://welame.netlify.app">https://welame.netlify.app</a></p>
    <p>あとは毎週YouTubeでタイピング関連の配信をしています。 <a href="https://www.youtube.com/@welch2929">https://www.youtube.com/@welch2929</a></p>


    <h3><p>3. あなたのタイピングのモットーは？</p></h3>

    <p>いついかなるときでも安定して速く</p>



    <h3><p>4. タイピングにおいては速度重視？正確性重視？</p></h3>

    <p>正確性重視です。95%くらいに揃ったときが一番調和がとれている感じ。</p>

    <p>とはいえ正確性はあくまで手段であり、満足のいく正確性を維持したうえで最大限速度を追い求めるという気持ちでいます。</p>



    <h3><p>5. タイピングで得意な分野は？また、苦手な分野は？</p></h3>

    <p>安定性に自信があるため、一発勝負やワード慣れしていない状態での勝負は比較的得意だと思います。ただ飽き性なので同じワードを突き詰めるような記録狙いは苦手です。</p>

    <p>種目の性質でいえば、得意な分野は短文系、とくにスタートダッシュ可能な形式（WTや歌詞）です。苦手な分野は長く打ち続ける種目（e-typing長文や打鍵トレーナー）と、逆にワードが非常に短い種目（寿司打お手軽等）。</p>



    <h3><p>6. 好き/得意なタイピングゲームは？</p></h3>

    <p>Typing TubeとYTypingは好きで、それぞれ非常に長い時間やり込んできました。</p>

    <p>短文中心に鍛えてきたので、Weather Typingも相対的に得意な方だと思います。</p>



    <h3><p>7. 嫌い/苦手なタイピングゲームは？</p></h3>

    <p>寿司打お手軽みたいな瞬発力のゲームは本当にできません。</p>

    <p>また30～1分やそれ以上のスパンで長く打ち続ける術をあまり身に着けていないので、e-typing長文や打鍵トレーナーは苦手な方だと自覚しています。</p>



    <h3><p>8. 練習においては量と質、どちらを重視しますか？</p></h3>

    <p>質です。量は時期や状況によってぶれがありますが、いかなるときでも練習中にはいま何を身に着けたいのかという目的意識を持つよう努めています。</p>



    <h3><p>9. 自分が今までで一番効果を感じたタイピングソフト/サイトや練習方法は？</p></h3>

    <p>Typing Tubeを数千譜面打ち込む。色々なワードに触れて認識力と対応力を鍛えたり、溜め打ちで瞬発力を鍛えたり、タイピングに関するあらゆる基礎をここから学んだと思っています。</p>



    <h3><p>10. タイピング大会には積極的に参加するタイプですか？またその理由は？</p></h3>

    <p>それなりに参加するタイプだと思います。InterstenoとWoTには複数回出ていますし、その他の突発的な大会イベントにもしばしば参加しています。</p>

    <p>やはり勝負事には「自分を賭ける」というところがあって、勝って今までの練習方法の成果を確認することも、負けて次なる課題の方向性を得ることも、どちらも貴重なフィードバックになると思っています。</p>



    <h3><p>11. 初めてパソコンとキーボードに触れたのはいつ頃？</p></h3>

    <p>初めてパソコンを触ったのは小学生のころだったと思います。家のPCをたまに貸してもらってゲームのバグ技とかを調べている子供でした。それに伴ってタイピングも自然と覚えましたが、検索欄に打ち込むくらいしか用途がなかったので特に早くはありませんでした。「デュエマのデュってDHUで打てておもしれえ」みたいなことを思っていた記憶だけおぼろげにあります。</p>



    <h3><p>12. 本格的にタイピングにハマった理由は？</p></h3>

    <p>大学生のころ、ネットサーフィン中にふとしたきっかけでタイピングに関する会話を目にし、そこで「ホームポジション」という概念の存在を初めて知ったのがはじまりです。それまで指2～3本ずつで打っていた自分にとって、タイピングに標準運指というものがあること自体が寝耳に水でした。それならちょっと矯正してみようか、と今までほとんど触れた事のなかったタイピングゲームを触ったところ、その面白さにどんどんはまり込んでしまって今に至ります。タイパーのなかではかなり始めた年齢が遅い方だと思います。</p>



    <h3><p>13. タイピングにハマった後、どうやって速度を付けましたか？</p></h3>

    <p>有名なタイピングゲームを片っ端から触り、記録を伸ばしていくことで速度を育てていきました。スプレッドシートに成長記録をつけており、どれかのゲームで記録を更新するたびにそれをメモしていました。特にはじめのうちはぐんぐん記録が伸びていくのでその視覚化がモチベーションに繋がっていたと思います。</p>



    <h3><p>14. いわゆるタイパー界の存在を知ったのはいつ？そのきっかけは？</p></h3>

    <p>タイピングゲームを本格的に突き詰めてみたいと思ったとき、せっかくならQWERTY以外の配列も検討してみてはどうだろうかと思い立ち、タイピングの上手い人たちはどんな配列選択をしているのだろうと調べたことがきっかけです。</p>

    <p>「タイピング 全国大会」と調べてRTCやmiriさんのインタビューを発見したり、そこからの流れでparaphrohnさんの2018アドカレの理論記事を掘り当てたりして、競技タイピング界の存在とその奥深さに気付き、タイピングゲームを始めるのと同じタイミングでタイパー界にも入り浸りはじめました。</p>



    <h3><p>15. 今の実力に至るまでに、スコアはどのようなペースで伸びていきましたか？</p></h3>

    <p>e-typingのローマ字腕試しのスコア推移です。</p>

    <p>2020/12/13 309<br>
    2021/1/5 410<br>
    2021/2/9 440<br>
    2021/3/30 459<br>
    2021/5/4 468<br>
    2021/6/6 489<br>
    2021/7/6 500<br>
    2021/8/28 542<br>
    2022/4/10 573<br>
    2022/6/11 611<br>
    2022/9/8 620<br>
    2023/6/5 633<br>
    2024/2/12 646<br>
    2025/6/10 656</p>



    <h3><p>16. タイピングにハマった理由として、自身のどういう性格が影響していると思いますか？</p></h3>

    <p>ひとりでコツコツなにかをやることに向いているタイプで、よくも悪くも普段から人と一緒に何かをやることを求めない気質だと思っています。そうした性格とロングランで黙々と実力を伸ばしていく競技タイピングという領域の噛み合いは感じます。</p>



    <h3><p>17. 愛用のキーボードは？またその使用期間は？</p></h3>

    <p>BFKB113PBKはメインキーボードとして3年間愛用しています。</p>

    <p>またInterstenoなどの実用種目ではKeychron K8 MAXをここ数か月使い始めました。</p>



    <h3><p>18. 他に持っているキーボード、持っていないけど使ったことのあるキーボードは？</p></h3>

    <p>競技タイピング用のキーボードだと、REALFORCE R2S-JP4-BKは4年以上お世話になっていました。また使いこなせませんでしたが、Razer Joroも一瞬使っていました。</p>



    <h3><p>19. 好きなキーボードのスイッチ方式は？（メンブレン、パンタグラフ、メカニカル、静電容量無接点、磁気等）</p></h3>

    <p>パンタグラフ大好きです。実用種目ではキーが深いほうがいいので、静電容量無接点かメカニカルを選びます。</p>



    <h3><p>20. キーボードを選ぶ時に重視する点は？</p></h3>

    <p>Nキーロールオーバーであること、次にキーストロークが浅いこと。テンキーやサイズなどの形態に関するこだわりはなく、もっぱらスイッチが押しやすいかどうかが判断材料になります。</p>

    <p>また最近はキーボードに詳しいタイパーが増えてきているので、特にあまり知識のないメカニカルなどはそういう人たちの評判も大いに参考にしています。</p>



    <h3><p>21. ローマ字とかな入力、どっちがメインですか？（ゲームと日常それぞれで）</p></h3>

    <p>いずれもローマ字メイン。かな入力は自作配列も作ったくらいですし使えないことはないですが、やはりローマ字一本です。</p>



    <h3><p>22. JIS配列とUS配列、どちらが好みですか？</p></h3>

    <p>JISです。キーは多い方が、Enterは大きい方が嬉しい。ただUS配列にはアポストロフィが一発で打てるという絶大なメリットがあるので、英語が出てきうる状況ではキーボード設定を英語にしてUS配列を使用することが多いです。</p>



    <h3><p>23. 数字タイピングをするときは最上段派？テンキー派？</p></h3>

    <p>最上段です。</p>



    <h3><p>24. 無変換キーを使いますか？</p></h3>

    <p>使います。カタカナは基本全部無変換。</p>



    <h3><p>25. リストレストは使いますか？</p></h3>

    <p>使いません。たびたび手首に何か敷いてはなんかちゃうなと思ってやめます。</p>



    <h3><p>26. 使用できるキーボード配列は？またその配列のメリットは何？</p></h3>

    <p>QWERTY：なにかと言われがちですが、やはり安定する使い勝手の良さ、片手連続による加速力など、攻守ともにハイレベルでまとまった良い配列です。</p>

    <p>Eucalyn配列：タイピングを始める時に一瞬試していました。ZXCV据え置き、ほか各所に気が配られており、左右分離配列としては日常的に使いやすいほうなのではないかと思います。</p>

    <p>自作かな配列：こいつです。あ行とかや行とか、JISかなの設計は受け継ぎつつその癖を取り除いた配列が欲しいと思って組みました。打ち心地が楽で気に入っています。</p>
    <figure class="respimage">
        <img alt="自作かな配列の設定ファイル画面" src="/typer100q_layout.png"/>
    </figure>



    <h3><p>27. キーマップを入れ替える、キーを使用不可にする、キートップを引っこ抜くなどの対策をしていますか？</p></h3>

    <p>BackSpace/Enterのすぐ右横にあるInsertとDeleteキーは誤ってぶっ叩く頻度が高いので無効にしています。またCapsrockと右手がぶつかりがちな右Ctrlも無効。キートップ引っこ抜きはやったことがないです。</p>



    <h3><p>28. 標準運指ですか、変則的な運指ですか？またその理由は？</p></h3>

    <p>変則です！　<a href="https://uaaaaaaaa.com/typing/fingerchart/detail/450132477726556166/1">https://uaaaaaaaa.com/typing/fingerchart/detail/450132477726556166/1</a></p>

    <p>もともとホームポジションを知らなかった地点からのスタートであり、m親など自然にやっていたものは矯正せず残そうと思っていたのがひとつ。できるだけ打ちやすい方法を模索したかったのがひとつ。特にひろりんごさんのRingo最適化講座には大きな影響を受けています。</p>



    <h3><p>29. 指は何本使用しますか？それはどの指？</p></h3>

    <p>左親指以外はすべて使用しています。</p>



    <h3><p>30. 最適化はしていますか？している場合どのように？</p></h3>

    <p>それこそe-typing300pt台のころからこつこつ仕込んでいました。運指も打ち分けも実用に足ると判断したものはすべてフル活用。</p>



    <h3><p>31. 水増し打ち（「し」をSHIで打つなど）はしますか？</p></h3>

    <p>最近はSHIを使うようになりました。左1打→右1打って右利きだとリズムが取りづらいので、SHITA, SHITE, SHIRE, SHIRAなどあえて増やしてやると打鍵がよりスムーズになる場面が多いです。文字稼ぎ目的での水増しはYIを余裕があるときに噛ます程度です。</p>



    <h3><p>32. 利き手は？また、SpaceキーやShiftキーを押す手は？</p></h3>

    <p>右利き。Spaceは右固定で、Shiftキーは左固定です。</p>



    <h3><p>33. 漢字混じり文読み、ひらがな読み、ローマ字読みのどのスタイルをとることが多いですか？</p></h3>

    <p>完全にひらがなでずっとやっています。寿司打もふりがなを出します。</p>



    <h3><p>34. タイピング関連で利用しているゲーム以外のソフト、ツール、拡張機能は？（タイプウェルセンター、e-typing plusなど）</p></h3>

    <p>タイプウェルセンター、タイプ数カウンター、e-typing plus、keyswap、多言語配列作成用のMicrosoft Keyboard Layout Creator。あとTampermonkeyでTyping Tube用のUserscriptをいくつか。</p>



    <h3><p>35. タイピングしているときの服装、姿勢は？</p></h3>

    <p>部屋着。姿勢はやや前傾、安定のために足を折りたたんで椅子の下でくるぶしをクロスに組む。</p>



    <h3><p>36. キーボードや椅子、机の位置関係は固定してありますか？</p></h3>

    <p>まずディスプレイの位置が固定してあり、そことキーボードの間に別のキーボードを置くことで位置関係を確定させています。</p>



    <h3><p>37. タイピングのコンディションを整えるために何をしていますか？(服装、食事、エナドリなど)</p></h3>

    <p>風呂に入れれば入ります。</p>



    <h3><p>38. タイピングの調子が悪いときどうしますか？</p></h3>

    <p>意地になって打ちます。おれはこんなもんじゃない……！（カタカタ）</p>



    <h3><p>39. アップをどれくらいの時間しますか？そのメニュー内容は？</p></h3>

    <p>e-typingの腕試しか歌詞タイピングの適当な譜面でとりあえず走ります。最近はメモ帳で基本動作を確認したりも。アップの意識でやっているのは10分程度でしょうか。</p>



    <h3><p>40. 1日のうち、練習はいつごろしていますか？練習時間はどのくらい？</p></h3>

    <p>平日は寝る前に1時間前後、休日は昼～夕方ごろに数時間。やれない日も多く、週を通しての平均練習量は1日3万打鍵くらいです。</p>



    <h3><p>41. 筋力や指の独立性などを鍛えるために実践しているトレーニングはありますか？</p></h3>

    <p>ありません。うんていとか懸垂とか好きなので腕の筋肉はつけはじめていますが、特にタイピングに活きているとは感じないです。</p>



    <h3><p>42. タイピングを練習するとき、裏でBGMをかけたり動画や配信を流したりしていますか？</p></h3>

    <p>記録狙いで長時間やらなければいけないときはYouTubeで長めの動画なりラジオなりを流します。ほかはあまりないかも。歌詞タイピングメインですし。</p>



    <h3><p>43. タイピングゲーム以外のゲームはどのくらい遊びますか？</p></h3>

    <p>ほとんどやらない方だと思います。ゲームはむしろ下手な部類に属します。プロセカが大好きで継続的に遊んでいる・ストーリーを読んでいる以外は、散発的になにかSteamで気になるゲームを触るくらいです。</p>

    <p>タイピングを始める前は音楽ゲームをやっており、pop'n musicは今でもたまに遊びます。</p>



    <h3><p>44. 好きな番組や動画投稿・配信チャンネルはありますか？</p></h3>

    <p>テレビっ子ではないですがSASUKEは唯一大好きです。YouTubeも見てます。</p>

    <p>2018～2022年ごろはVTuber文化全体にどっぷり浸かっていて、巨大年表を個人で編集したり、2000以上のチャンネルを登録してチェックしていたり、Webメディアのお手伝いをしたりしていました。</p>



    <h3><p>45. 好きな漫画・アニメ・映画・アーティストなどを教えてください。</p></h3>

    <p>プロフィールにガーッと書いています。抜粋すると、漫画『少女終末旅行』『シメジシミュレーション』『またぞろ。』、人文系書籍いろいろ、そしてはるまきごはん作品が好きです。</p>

    <p><a href="https://welame.netlify.app/profile/">https://welame.netlify.app/profile/</a></p>



    <h3><p>46. 学校で所属していたクラブ、部活動やサークルは何ですか？</p></h3>

    <p>中高卓球部。大学では一瞬バドミントンサークルにいたのと、UT-virtual（VR作品開発サークル）に所属し、そしてそこから派生した東大VTuber愛好会では会長をやっていました。</p>



    <h3><p>47. その他、タイピング以外に好きなもの、趣味や特技があれば教えてください。</p></h3>

    <p>趣味は読書。特技は漢字と競技プログラミング（最高AtCoder水）。</p>



    <h3><p>48. 握力はどれくらいありますか？</p></h3>

    <p>20台だと思います。</p>



    <h3><p>49. 腱鞘炎になったことはありますか？</p></h3>

    <p>ありません。明日は我が身。</p>



    <h3><p>50. 視力は？メガネやコンタクトを着用していますか？</p></h3>

    <p>右左でそれぞれ0.3, 0.4くらいです。メガネは持っているだけで使っていません。</p>



    <h3><p>51. こんなタイピングゲームがあったらいいな、というアイデアはありますか？</p></h3>

    <p>競技タイピングにおける能力（初速、打鍵間隔ムラ、チャンク処理、アルペジオ処理、etc...）をこれまでにないレベルで捉え、課題の精緻な洗い出しができるようになった分析用ソフト。いまparaphrohnさんが制作しているmede-typingには非常に大きな可能性を感じています。</p>



    <h3><p>52. リアルでタイピングの話をしますか？その際どのように自分の速さを伝えますか？</p></h3>

    <p>結構するほうです。趣味としてはけっこう覚えてもらいやすい部類に属すると思うので。</p>

    <p>秒速十数回打てるみたいな表現をします。</p>



    <h3><p>53. 学校やパソコン教室などでタイピングの授業を受けたことはありますか？ある場合、そこで使われたタイピングソフトは何でしたか？</p></h3>

    <p>ありません。もしあったらもっと早くタイパーになれていたのかもしれないし、かえって大人になってからタイピングを始めるきっかけを失っていたのかもしれない。</p>



    <h3><p>54. タイピング技術を活かした職業に就いていますか？もしくは憧れがありますか？</p></h3>

    <p>ついていません。書類を書くことは当然ありますがそれ以外は機械と向き合う日々です。</p>

    <p>字幕タイパーには興味があるかもしれません。テレビ局にかぎらずいわゆる情報保障の仕事っていろいろあると思うので。</p>



    <h3><p>55. タイピングが速くて良かったと感じたエピソードがあれば教えてください。</p></h3>

    <p>文章を書くことにためらいがなくなるのは良いですね。いまネットで日記を連載していることにも活きています。ただそういった生活上の実利は些細なもので、たんに競技タイピングがライフスタイルに張りを生み出してくれるという直接的なメリットのほうが大きいです。</p>



    <h3><p>56. 会った事のあるタイパーはどのくらいいますか？</p></h3>

    <p>大会後のgoeさんに突撃して会いに行ったのがタイパーとのファーストコンタクトです。そのあとなろつぬろぶしさんと会ったり、RTC2024の会場でparaphrohnさん、かめおさん、O.U.さん、れんこんさん、W/Hさんにお会いしたりしました。</p>



    <h3><p>57. 尊敬しているタイパーは？その理由は？</p></h3>

    <p>理詰めで自らの打鍵を最適化していくひろりんごさんのタイピングスタイルは、長らくタイパー人生の思想的な規範となりつづけてきました。また高い競技者精神を十年二十年と持ち続けているdqmaniacさんも、自分自身が歴を重ねていくごとにその凄みをますます実感し続けています。</p>



    <h3><p>58. ライバル視しているタイパーは？その理由は？</p></h3>

    <p>e-typing600台の人は基本的に全員どこかで意識しています。そのなかでも距離の近いなろつぬろぶしさん、Toshiさんあたりは意識することが多いです。</p>



    <h3><p>59. 何かタイピング系の団体に参加していますか？</p></h3>

    <p>ぁ～んのメンバーです。あとGOTOUkun510配信の常連視聴者をGOTOU界隈と呼ぶ風潮があって、それの一分子です。</p>



    <h3><p>60. リアルの人間関係においてタイピングをやり込んでいる人に出会ったことはありますか？</p></h3>

    <p>e-typing440ptくらいの高校同期がいます。タイピング初めたてくらいのころにe-typingはワードガチャゲーだぞとアドバイスをもらいました。いまも痛い程実感しているぞ。</p>



    <h2>質問セット1：e-typing</h2>

    <h3><p>61. ローマ字・英語・かな、どのモードをやり込んでいますか？</p></h3>

    <p>ローマ字を一番やりこんでいます。英語もしばしば。かなも経験はある。</p>



    <h3><p>62. プレイ中、自己ベストを出すために意識していることは何ですか？</p></h3>

    <p>初速を削ることと、しっかり加速できるところで加速すること。あとはワードごとに調節します。</p>



    <h3><p>63. 特に好きなワードは？（慣用句/元気が出る言葉/春の言葉など）</p></h3>

    <p>長いの大好き。元気が出る言葉とか、顔の慣用句とかは狙い目として意識しています。あとはバレンタインなど。</p>



    <h3><p>64. 長文ワードや、腕試し以外の常設ワードはどれくらい打ち込みますか？</p></h3>

    <p>常設はほぼやりません。長文はきまぐれに月1～2回触るといった感じ。</p>



    <h3><p>65. ランキングには毎週参加しますか、特定の週だけ参加しますか？</p></h3>

    <p>毎週参加するようにしています。</p>



    <h3><p>66. 画面拡大率や表示位置などについて気を付けていることはありますか？</p></h3>

    <p>だいたい画面上のほうにワードを置く感じ（漠然）</p>



    <h3><p>67. e-typing plusを使っている場合、初速はどれくらい？また初速を上げるために意識していること、取り組んでいることはありますか？</p></h3>

    <p>初速は0.47前後です。以前は0.55とかでしたが、DvorakJソフトの使用をやめたら劇的に改善してしまったという事件があったのと、ディスプレイを180Hzに変えたのと、一文字目を狙う技術に最低限慣れてきたのと、いろいろ重なって0.4後半は安定するようになりました。</p>



    <h3><p>68. e-typing plus/calculatorや付箋アプリなど、その他の拡張機能は利用していますか？</p></h3>

    <p>e-typing plusくらいです。</p>



    <h3><p>69. 総合ランキング（R+K+E+長文の合計）のスコアを伸ばしたいと思いますか？</p></h3>

    <p>できれば。この実力帯ではそれなりに揃っているほうだとは思います。</p>



    <h3><p>70. e-typingの辛いところ、好きなところはどこですか？</p></h3>

    <p>好きなところは、画面がシンプルで打ち心地がいいところ。辛いところはそれ以外の全部。</p>



    <h2>【質問セット2：歌詞タイピング】</h2>

    <h3><p>71. もっともよく使用するタイピングゲームは何ですか？</p></h3>

    <p>以前はTyping Tube、今はYTypingをやっています。</p>



    <h3><p>72. プレイ中、良い記録を出すために意識していることは何ですか？</p></h3>

    <p>歌詞タイピングはリザルトが出るまでに数十文という長いスパンを要する競技なので、打鍵を崩さずに打つ安定性を意識しています。ただYTypingは速度があればあるほどボーナス点が貰える加点法システムになっており、多少リスクがあってでも加速することは意識するようになりました。</p>



    <h3><p>73. 打つ曲はどんな基準で選びますか？</p></h3>

    <p>千譜面単位で打つので、ほぼ手あたり次第です。</p>



    <h3><p>74. 譜面投稿型サイトを使っている場合、投稿はどれくらいしますか？</p></h3>

    <p>ほどほどです。まあ作ってはいるくらい。</p>



    <h3><p>75. 対人戦は得意ですか？</p></h3>

    <p>得意な方だと思います。タイピングのモットーとも繋がりますが、安定性を重視しておりワード慣れも最低限しか使わないので、常にいつも通りくらいの打鍵はできます。まあ歌詞タイピングって魑魅魍魎しかやっていないので実際に部屋に入って勝てるかどうかは別の話なのですが……。</p>



    <h3><p>76. 自分なりにコツだと思っていることはありますか？</p></h3>

    <p>休むところは休む、加速するところは加速する、というシンプルな答えになります。あと次の歌詞を漢字混じりではなく読みがなにするとか、そういう意外と知られていない設定項目もひとつひとつ検討するのがよいと思います。</p>



    <h3><p>77. ひとつの曲をどれくらいやりこむタイプですか？</p></h3>

    <p>同じ曲は一日あたり通し一回しかやらないので、同じ譜面に集約的に力を注ぎ込むということはほとんどないです。音ゲーでは割と普通だと思いますが、歌詞タイピングだと比較的珍しいかもしれません。</p>



    <h3><p>78. 歌詞打ちとしてライバル視しているタイパーは？</p></h3>

    <p>全員ライバルです。けっこう大物食いができるゲーム性なのもあり、誰のスコアであっても抜けるものは抜きたいという意識でいます。ただTyping Tubeの頃から生活をともにしてきたつべさん、Toshiさん、なろつぬろぶしさん、れんこんさん、とまときんぐさんなどの面々は特にライバル視しているといえるかもしれません。Windmillさんや煮汁さんもいずれ真似したい目標となる存在です。</p>



    <h3><p>79. ゲームではなくメモ帳に歌詞を打ち込んでいく練習はしますか？</p></h3>

    <p>それメインで練習することはありませんが、調子が悪いときに点検としてやることがあります（メモ帳だとうまくいっていないところが分かりやすい）。</p>



    <h3><p>80. 歌詞タイピングの辛いところ、好きなところはどこですか？</p></h3>

    <p>体力をかなり使うので対戦が地獄部屋みたいになることは珍しくないですが、それを含めて割と全部が楽しいです。とにかく自分は新しいワードに出会いたい、まだ慣れないワードを打ち込んでいたい性分なので、個性豊かな大量のワードを提供してくれるゲームという側面から歌詞タイピングに愛着を持っています。</p>



    <h2>【質問セット3：多言語タイピング】</h2>

    <h3><p>81. 多言語タイピングを本格的にはじめたきっかけは何ですか？</p></h3>

    <p>タイピングを初めて3ヶ月くらい経ったころ、思い切って購入したREALFORCE R2Sが意外と手に馴染まず、モチベーションが下がってしまったことがありました。そんなときにちょうどIntersteno Internet Contestsがの開催告知が流れて来たため、せっかくなら手を出してみようと気分転換にはじめたのがきっかけです。</p>



    <h3><p>82. タイピングすることのできる言語を教えてください。</p></h3>

    <p>インテルステノ主要18言語。それ以外も基本アルファベットの言語であればたいていは配列さえ作ればすぐに打てます。</p>



    <h3><p>83. どのサイトを主に使用していますか？また、大会への出場経験はありますか？</p></h3>

    <p>Interstenoで使用されているTakiと、TypeRacerが練習の中心です。最近はm5bilisimというトルコの練習ツールが発掘されたのでいずれはそれを使用するかもしれません。</p>

    <p>大会はInterstenoに3回出場しています（2021,2024,2025）。最高で多言語部門総合27位です。</p>



    <h3><p>84. プレイ中、良い記録を出すために意識していることは何ですか？</p></h3>

    <p>イタリア語で4000文字を越えたときはミスタッチを減らすこと、かつ打鍵をノンストップで走らせ続けることを意識したのが信じられないくらい刺さったので、今後はそういう意識で練習すると思います。Celal Aşkınのず～っと800kpmクラスの固定速度で進んでいく打鍵ペースを模倣するのが理想です。</p>



    <h3><p>85. 普段はどのような練習をしていますか？</p></h3>

    <p>Interstenoの場合は10分間打ち続けることが前提となる競技なので、なるべく本番に近い状況を整えて長文練習を打ちます。何が刺さるかよくわからない競技なのでやっている最中は実験を重ねているという感覚が強いです。</p>



    <h3><p>86. 配列はどのような指針で作成、ないし選択していますか？</p></h3>

    <p>多言語タイピングwikiのparaph配列集をベースに自分なりにアレンジしたものを使用しています。特殊文字は基本は右Altに仕込む、場合によって1打鍵化する、という方針です。</p>



    <h3><p>87. 得意な言語、苦手な言語の傾向はありますか？</p></h3>

    <p>競技人口の関係で相場感がわからず得意不得意の分析はしにくいのですが、ロシア語がダメでほかはそこそこという感じです。</p>



    <h3><p>88. 国内・国外それぞれで意識しているタイパーはいますか？</p></h3>

    <p>意外と同実力帯のタイパーが国内にいないので、三食小籠包さん、KouTypinさん、パルキーさんなど少し先を走っているタイパーが自分にとっての目標です。まだ国外に意識を向ける段階ではないです。</p>



    <h3><p>89. 多言語タイピングの経験が他のタイピング種目や日常生活で役立ったことはありますか？</p></h3>

    <p>何が書いているかはわからないが何語かは推測がつく、みたいな状況がたまにあります。フィンランド語とかわかりやすいですね。</p>

    <p>あと「世界大会に日本人選手として出て27位になった」という表現は実態のわりになんかすごそうな感じが出るのでプロフィールに書いたりしてます。</p>



    <h3><p>90. 多言語タイピングの辛いところ、好きなところはどこですか？</p></h3>

    <p>10分という競技時間は自己分析がなかなか効きづらく、未だに暗中模索でやっている感じがありますし、それを十数言語繰り返すとなると単純に時間もめちゃくちゃ食います。負担の大きい種目だとは思います。</p>

    <p>それでもやっぱり、必ずしも馴染みのない言葉を打ち込んでちょっとずつ理解していく過程はとても楽しいです。未知のワードに出会いたいという自分のタイピング観にもマッチしていますし、文字通り世界が開けていくような競技だと思います。</p>



    <h3><p>91. タイピングをしていて良かったと思うことは？</p></h3>

    <p>生活に張りが出る、その一点です。実利より何より、タイパーという存在として生きていることそれ自体が喜び。</p>



    <h3><p>92. タイピングをしていて悪かったと思うことは？</p></h3>

    <p>あんまりないです。</p>



    <h3><p>93. タイピングをしていて楽しいと思うことは？</p></h3>

    <p>指が動かなくなるまで黙々と練習を続けること、どううまくなっていこうかとあれこれ頭をひねること、他のタイパーと交流して日々会話を重ねること、配信やブログで自分の思ったことを発信すること。</p>



    <h3><p>94. タイピングをしていて辛いと思うことは？</p></h3>

    <p>周りが上手すぎること。</p>

    <p>特に何をすればいいかアイデアが枯渇してきたとき、下振れして自分が本当に成長しているのか分からなくなったとき、そういうときほど苦しさが増します。</p>



    <h3><p>95. タイピングに関して印象深い思い出を教えてください。</p></h3>

    <p>タイピングを始めてからの時期は、Typing Tubeで他の当時のプレイヤーと日夜いろいろな譜面を打ち込み続けたり、またGOTOUkun510の配信で毎日時間をともにしたり、そういう生活を続けてきました。そのことはいまも形を変えて続く現在進行形の思い出として刻まれています。</p>

    <p>記録でいうと、e-typingで初めて600ptを突破したときはひとつの峠を越したような思いがして嬉しかったです。</p>



    <h3><p>96. 記録更新したときの喜び方は？まずどこに報告する？</p></h3>

    <p>粘り方によって「は？なんか出た」「ッシャ！！」「うわやっと出たよ……」の3パターンが存在します。Twitterに報告します。</p>



    <h3><p>97. 自分のタイピング速度に満足していますか？していない場合、どれくらい速くなったら満足すると思いますか？</p></h3>

    <p>練習で自己分析しているときはあまりの遅さになんだこいつと思いますが、そういう場面を離れれば実は結構満足しているところもあります。普通に速く打てて気持ちいい～という。でもやっぱりどこまでも行きたいです。</p>



    <h3><p>98. 競技タイピングを通して自分が目指している地点はどこですか？</p></h3>

    <p>まずはe-typing700。この勲章は掴みたい。その後もコツコツと続けて、トッププレイヤーになるというより、タイピング界がこれまで手を付けなかった練習法・活用法・発信法のルートを開拓する存在になりたいと思っています。</p>



    <h3><p>99. タイピングはスポーツだと思いますか？</p></h3>

    <p>競技タイピングを成り立たせているもの、タイパーをしてこの営みに駆り立てているもの、それは間違いなくスポーツ一般と同根をなすものです。</p>



    <h3><p>100. お疲れ様でした。最後にこの質問へ全速力で一言どうぞ。</p></h3>

    <p>本企画に協力していただいた方々、ありがとうございました！たくさんの人に参加してもらえるｔお嬉しいです！</p>

    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="タイパー達へ100の質問(2025)回答 - welame&#39;s page" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</Layout>