---
import Layout from '../layouts/Layout.astro';
const pageTitle = "welame's page";
---
<Layout pageTitle={pageTitle}>
    <figure class="image">
        <img width="200" height="200" alt="My icon" src="/myicon.jpg"/>
        <figcaption>icon:トア君(pop'n music)の自作ドット絵です。かわいいね～</figcaption>
    </figure>
    <h2>このサイトについて</h2>
    <p>
        はじめまして、うぇるあめと申します。<br>
        当サイトにご来訪いただきありがとうございます。<br>
        <br>
        ここは私がいろいろなことを書いておくために作った個人サイトです。<br>
        <a href="/profile/">profile</a>は私の自己紹介、経歴、好きなものをまとめたページです。<br>
        <a href="/VTuber">VTuber</a>には私のVTuberライターとしての活動をまとめています。<br>
        <a href="/posts/">posts</a>にはそのほか日記、文章を載せます。<br>
        <br>
        当サイトはTristen Tomczak様の<a href="https://github.com/ttomczak3/Milky-Way">Milky-Way</a>のテンプレートを使用して制作されました。
    </p>
    <h2>直近配信予定</h2>
    <p>放送開始時間は都合により遅くなる可能性があります。</p>
    <p>
        11/17（日）19:00～　寿司打の記事を作ろう！<br>
        11/18（火）22:30～　Welame's 夜間教室（作業・勉強配信） with 謎の文学少女<br>
        11/20（木）22:30～　Welame's 夜間教室（作業・勉強配信）<br>
        11/22（土）19:00～　Typing Tube対戦会+タイピングニュース雑談配信<br>
        11/22（土）23:00～　うぇるあめ杯（タイピング参加型配信）<br>
        （11/23 文学フリマ東京）<br>
        11/24（月）終日 Welame's Holiday Spotify無限周回編
    </p>
    <h2>参加</h2>
    <p>
        2025.11 田原夕氏制作個人誌『生き延びるための自虐［増補改訂版］』解説寄稿<br>
        2025.4～ 競技タイピングコミュニティ『<a href="https://w.atwiki.jp/typerportal/pages/1.html">タイパーブログ部</a>』運営<br>
        2024.12 VTuber関連合同誌『<a href="https://x.com/welch2929/status/1867544958045200695">風とバーチャル 第三集</a>』データ提供<br>
        2024.6 VTuber関連合同誌『<a href="https://x.com/welch2929/status/1817911160655827027">風とバーチャル 第二集</a>』データ提供、あとがき執筆<br>
        2023.12 VTuber関連合同誌『<a href="https://x.com/welch2929/status/1733410577412940045">風とバーチャル 第一集</a>』データ提供<br>
        2021.06 中京テレビ主催イベント『<a href="https://www.ctv.co.jp/vtuber-ex-nagoya/">ナゴヤVTuber展inパルコ</a>』年表展示企画協力<br>
        2020～2024 東京大学VTuber愛好会 会長<br>
        2019～ xR/VTuber系エンタメWebメディア『MoguLive!』ライター参加<br>
    </p>
</Layout>

