---
import Layout from '../layouts/Layout.astro';
const pageTitle = "welame's page";
---
<Layout pageTitle={pageTitle}>
    <figure class="image">
        <img width="200" height="200" alt="My icon" src="_VbDRgPQ_400x400.jpg"/>
        <figcaption>icon:トア君(pop'n music)の自作ドット絵です。かわいいね～</figcaption>
    </figure>
    <h2>このサイトについて</h2>
    <p>
        はじめまして、うぇるあめと申します。<br>
        当サイトにご来訪いただきありがとうございます。<br>
        <br>
        ここは私がいろいろなことを書いておくために作った個人サイトです。<br>
        <a href="/profile/">profile</a>は私の自己紹介、経歴、好きなものをまとめたページです。<br>
        <a href="/VTuber">VTuber</a>には私のVTuberライターとしての活動をまとめています。<br>
        <a href="/posts/">posts</a>にはそのほか日記、文章を載せます。<br>
        <br>
        当サイトはTristen Tomczak様の<a href="https://github.com/ttomczak3/Milky-Way">Milky-Way</a>のテンプレートを使用して制作されました。
    </p>
</Layout>

