---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
const pageTitle = "Posts";
---
<Layout pageTitle={pageTitle}>
    <h2>Pickup</h2>
    <ul role="list" class="link-card-grid">
        <Card
            url="/article/keikyoku/"
            image="/keikyoku_thumbnail.png"
            title="プロセカストーリー『荊棘の道は何処へ』感想"
            body="知り直しと、対等な「優しさ」の模索"
        />
        <Card
            url="/article/202410-1/"
            image="/202410-1_1.png"
            title="週記2024/10-1"
            body="いよわ、はるまきごはん――「反時間」のボカロPと、その未来"
        />
        <Card
            url="/article/202409-4/"
            image="/202409-4_1.png"
            title="週記2024/09-4"
            body="プロセカ4周年、アセクシュアル/アロマンティック、NEEDY GIRL OVERDOSE"
        />
        <Card
            url="/article/202409-2/"
            image="/202409-2_2.jpg"
            title="週記2024/09-2"
            body="古代印欧語研究会、しゅーおん!!!、GiveWellと効果的な利他主義"
        />
        <Card
            url="/article/202409-1/"
            image="/202409-1_1.png"
            title="週記2024/09-1"
            body="YouTubeMusicWeekend、カフェ読書、ノンデザイナーズ・デザインブック"
        />
        <Card
            url="/article/202408-2/"
            image="/202408-2_2.png"
            title="週記2024/08-2"
            body="YouTube配信チャレンジ、Chase my IDEAL IDOL!、VTuberの哲学、コミックマーケット104"
        />
    </ul>
    <h2>Blog</h2>
    <a href="/article/keikyoku/">プロセカストーリー『荊棘の道は何処へ』感想　知り直しと、対等な「優しさ」の模索</a><br><br>
    <a href="/article/202410-2/">週記2024/10-2　週記をリニューアルします</a><br>
    <a href="/article/202410-1/">週記2024/10-1　いよわ、はるまきごはん――「反時間」のボカロPと、その未来</a><br><br>
    <a href="/article/202409-4/">週記2024/09-4　プロセカ4周年、アセクシュアル/アロマンティック、NEEDY GIRL OVERDOSE</a><br>
    <a href="/article/202409-3/">週記2024/09-3　渋谷系、人類の会話のための哲学</a><br>
    <a href="/article/202409-2/">週記2024/09-2　古代印欧語研究会、しゅーおん!!!、GiveWellと効果的な利他主義</a><br>
    <a href="/article/202409-1/">週記2024/09-1　YouTubeMusicWeekend、カフェ読書、ノンデザイナーズ・デザインブック</a><br><br>
    <a href="/article/202408-4/">週記2024/08-4　『社会はなぜ左と右にわかれるのか』：リベラル左派と保守主義、東京都写真美術館</a><br>
    <a href="/article/202408-3/">週記2024/08-3　サテライト・コインランドリー、浦和ZINEフェス、入手品の感想書きまくり</a><br>
    <a href="/article/202408-2/">週記2024/08-2　YouTube配信チャレンジ、Chase my IDEAL IDOL!、VTuberの哲学、コミックマーケット104</a><br>
    <a href="/article/202408-1/">週記2024/08-1　溶ける魚、ケチャまつり、『風とバーチャル』とVTuber年表</a><br><br>
    <a href="/article/202407-4/">週記2024/07-4　ハーモニー、児玉まりあ文学集成・雨がしないこと、アンゼルム、みんなで決めるゲーム音楽ベスト100</a><br>
    <a href="/article/202407-3/">週記2024/07-3　好き？好き？大好き？、ドロッセルマイヤー退勤 in 大宮、panpanya</a><br>
    <a href="/article/202407-2/">週記2024/07-2　中野散歩、太鼓の達人の思い出</a><br>
    <a href="/article/202407-1/">週記2024/07-1　＜千のプラトー＞入門講義、ラップスタア2024、OVER RAD SQUAD</a><br><br>
    <a href="/article/202406-2/">週記2024/06-2　SF6、カフカ短編集、灯を手繰りよせて</a><br>
    <a href="/article/202406-1/">週記2024/06-1　購入した本、プレイヤーとニーゴ楽曲</a>
    <h2>YouTube</h2>
    <ul role="list" class="link-card-grid">
        <Card
            url="https://www.youtube.com/watch?v=fhe2KIlCeto"
            image="/youtube.webp"
            title="Intersteno Typing test - Deutsch / Deutsch (Schweiz) 【タイピング】"
            body="多言語タイピング動画（ドイツ語）"
        />
    </ul>
</Layout>

