---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
const pageTitle = "Posts";
---
<Layout pageTitle={pageTitle}>
    <h2>Pickup</h2>
    <ul role="list" class="link-card-grid">
        <Card
            url="/article/keikyoku/"
            image="/keikyoku_thumbnail.png"
            title="プロセカストーリー『荊棘の道は何処へ』感想"
            body="知り直しと、対等な「優しさ」の模索"
        />
        <Card
            url="/article/kizudarakenotede/"
            image="/kizudarakenotede_thumbnail.png"
            title="プロセカストーリー『傷だらけの手で、私達は』感想"
            body="あなたを知ること、わたしを語ること"
        />
        <Card
            url="/article/202410-1/"
            image="/202410-1_1.png"
            title="週記2024/10-1"
            body="いよわ、はるまきごはん――「反時間」のボカロPと、その未来"
        />
        <Card
            url="/article/majohousiki/"
            image="/majohousiki_thumbnail.png"
            title="『キセツに魔法をかけるレシピ -&quot;How to&quot;- 』感想"
            body="魔女たちの反時間"
        />
        <Card
            url="/article/202501-2/"
            image="/202501-2_thumbnail.png"
            title="週記2025/01-2"
            body="やらなきゃダメだから（クリフハンガー/e-typing）やってるだけ"
        />
        <Card
            url="/article/202409-4/"
            image="/202409-4_1.png"
            title="週記2024/09-4"
            body="プロセカ4周年、アセクシュアル/アロマンティック、NEEDY GIRL OVERDOSE"
        />
        <Card
            url="/article/202409-2/"
            image="/202409-2_2.jpg"
            title="週記2024/09-2"
            body="古代印欧語研究会、しゅーおん!!!、GiveWellと効果的な利他主義"
        />
        <Card
            url="/article/202409-1/"
            image="/202409-1_1.png"
            title="週記2024/09-1"
            body="YouTubeMusicWeekend、カフェ読書、ノンデザイナーズ・デザインブック"
        />
        <Card
            url="/article/202408-2/"
            image="/202408-2_2.png"
            title="週記2024/08-2"
            body="YouTube配信チャレンジ、Chase my IDEAL IDOL!、VTuberの哲学、コミックマーケット104"
        />
    </ul>
    <h2>Blog</h2>
    <b><a href="/article/keikyoku/">プロセカストーリー『荊棘の道は何処へ』感想</a></b>　知り直しと、対等な「優しさ」の模索<br>
    <b><a href="/article/keikyoku/">プロセカストーリー『傷だらけの手で、私達は』感想</a></b>　あなたを知ること、わたしを語ること<br><br>
    <b><a href="/article/majohousiki/">『キセツに魔法をかけるレシピ -&quot;How to&quot;- 』感想</a></b>　魔女たちの反時間<br><br>
    <b><a href="/article/koukasidou/">校歌指導の何がよくなかったのか2025（浦和高校卒業生視点）</a></b><br><br>
    <b><a href="/article/exp/">説明と肯定のあいだ 2025</a></b><br>
    <b><a href="/article/reading/">より多くの本を読みたい</a></b><br><br>
    <b><a href="/article/award/">Welame's Monthly Best 紹介コンテンツ一覧</a></b><br>
    <b><a href="/article/like/">ときめきマイリスト</a></b><br><br>
    <b><a href="/article/typer100q/">タイパー達へ100の質問(2025)回答</a></b><br>
    <h2>Diary</h2>
    <b><a href="/article/202502-1-2-3/">週記2025/02-1,2,3</a></b>　閑静なmastodon日記<br><br>
    <b><a href="/article/202501-3-4/">週記2025/01-3,4</a></b>　ニーゴ配信、タイピング再燃<br>
    <b><a href="/article/202501-2/">週記2025/01-2</a></b>　やらなきゃダメだから（クリフハンガー/e-typing）やってるだけ<br>
    <b><a href="/article/202501-1/">週記2025/01-1</a></b>　Typing of The Deadを探せ<br><br>
    <b><a href="/article/2024result/">2024年 リザルト画面</a></b><br><br>
    <b><a href="/article/202412-3/">週記2024/12-3</a></b>　ボルダリング初体験<br>
    <b><a href="/article/202412-2/">週記2024/12-2</a></b>　プロセカ感想、タイパーアドカレ、文庫本ノート<br>
    <b><a href="/article/202412-1/">週記2024/12-1</a></b>　ハンドメイドギンガfinale<br><br>
    <b><a href="/article/202411-4/">週記2024/11-4</a></b>　駒場祭、古代オリエント博物館、コミティア入手品<br>
    <b><a href="/article/202411-2-3/">週記2024/11-2,3</a></b>　拡張される音楽、誕生日、石と科博、コミティア、タイピング大会<br>
    <b><a href="/article/202411-1/">週記2024/11-1</a></b>　教科書に帰れ<br><br>
    <b><a href="/article/202410-3/">週記2024/10-3</a></b>　自撮り、バラドルと存在肯定<br>
    <b><a href="/article/202410-2/">週記2024/10-2</a></b>　週記をリニューアルします<br>
    <b><a href="/article/202410-1/">週記2024/10-1</a></b>　いよわ、はるまきごはん――「反時間」のボカロPと、その未来<br><br>
    <b><a href="/article/202409-4/">週記2024/09-4</a></b>　プロセカ4周年、アセクシュアル/アロマンティック、NEEDY GIRL OVERDOSE<br>
    <b><a href="/article/202409-3/">週記2024/09-3</a></b>　渋谷系、人類の会話のための哲学<br>
    <b><a href="/article/202409-2/">週記2024/09-2</a></b>　古代印欧語研究会、しゅーおん!!!、GiveWellと効果的な利他主義<br>
    <b><a href="/article/202409-1/">週記2024/09-1</a></b>　YouTubeMusicWeekend、カフェ読書、ノンデザイナーズ・デザインブック<br><br>
    <b><a href="/article/202408-4/">週記2024/08-4</a></b>　『社会はなぜ左と右にわかれるのか』：リベラル左派と保守主義、東京都写真美術館<br>
    <b><a href="/article/202408-3/">週記2024/08-3</a></b>　サテライト・コインランドリー、浦和ZINEフェス、入手品の感想書きまくり<br>
    <b><a href="/article/202408-2/">週記2024/08-2</a></b>　YouTube配信チャレンジ、Chase my IDEAL IDOL!、VTuberの哲学、コミックマーケット104<br>
    <b><a href="/article/202408-1/">週記2024/08-1</a></b>　溶ける魚、ケチャまつり、『風とバーチャル』とVTuber年表<br><br>
    <b><a href="/article/202407-4/">週記2024/07-4</a></b>　ハーモニー、児玉まりあ文学集成・雨がしないこと、アンゼルム、みんなで決めるゲーム音楽ベスト100<br>
    <b><a href="/article/202407-3/">週記2024/07-3</a></b>　好き？好き？大好き？、ドロッセルマイヤー退勤 in 大宮、panpanya<br>
    <b><a href="/article/202407-2/">週記2024/07-2</a></b>　中野散歩、太鼓の達人の思い出<br>
    <b><a href="/article/202407-1/">週記2024/07-1</a></b>　＜千のプラトー＞入門講義、ラップスタア2024、OVER RAD SQUAD<br><br>
    <b><a href="/article/202406-2/">週記2024/06-2</a></b>　SF6、カフカ短編集、灯を手繰りよせて<br>
    <b><a href="/article/202406-1/">週記2024/06-1</a></b>　購入した本、プレイヤーとニーゴ楽曲
    <h2>Blog(Another)</h2>
    <p>タイピングブログ：<br>
    <b><a href="https://welame.hatenadiary.com/entry/2024/12/20/014452">『寿司打』全部門史上最高記録、『e-typing』ローマ字史上最高記録。タイピング界の新鋭・goe選手インタビュー</a></b><br><br>
    <b><a href="https://welame.hatenadiary.com/entry/2024/10/11/235948">競技タイピング界隈のリンク集</a></b><br><br>
    <a href="https://welame.hatenadiary.com/entry/2025/04/21/000130">競技タイピング界の現在　2025年3月編：RTC2025発表とe-typingR歴代、打トレ歴代</a><br>
    <a href="https://welame.hatenadiary.com/entry/2025/03/02/211556">競技タイピング界の現在　2025年2月編：バレンタイン週、打トレ1000と長文Error、タイパー辞典新体制など</a><br>
    <a href="https://welame.hatenadiary.com/entry/2025/02/02/203839">競技タイピング界の現在　2025年1月編：いろはかるたと新世代、R総合ZF、a-cho閉店など</a><br><br>
    <a href="https://welame.hatenadiary.com/entry/2025/02/09/151158">タイピング考察ノート　7巻：「動作最適化」概念と定量的なスピード感覚の構築</a><br>
    <a href="https://welame.hatenadiary.com/entry/2025/01/17/015826">RTCの歴代パンタグラフキーボード選手と、その打ち方</a><br>
    <a href="https://welame.hatenadiary.com/entry/2024/12/03/000039">タイピング配信をはじめました</a><br>
    <a href="https://welame.hatenadiary.com/entry/2024/11/15/015343">ローマ字入力において「ん」は「n'」で打てる</a><br>
    <a href="https://welame.hatenadiary.com/entry/2022/05/04/193332">Typing Tubeプレイ者のための基礎知識・ミニ知識集</a><br><br>
    <a href="https://welame.hatenadiary.com/entry/2022/01/03/231246">タイプウェル憲法トライアスロンを中堅タイパーがやったらどうなるの？</a><br>
    <a href="https://welame.hatenadiary.com/entry/2021/12/26/124501">タイピングASMR動画の"打ち方"を観察したい</a><br>
    <a href="https://welame.hatenadiary.com/entry/2021/05/19/215925">intersteno多言語部門に初参加しました</a>
    </p>
    <h2>YouTube</h2>
    <ul role="list" class="link-card-grid">
        <Card
            url="https://www.youtube.com/watch?v=fhe2KIlCeto"
            image="/youtube.webp"
            title="Intersteno Typing test - Deutsch / Deutsch (Schweiz) 【タイピング】"
            body="多言語タイピング動画（ドイツ語）"
        />
        <Card
            url="https://www.youtube.com/live/NdRhcqFd6Nc"
            image="/youtube.webp"
            title="Weather Typing参加型、週間ニュース等　タイピング配信24/09/27"
            body="毎週行っているタイピング配信"
        />
        <Card
            url="https://www.youtube.com/live/04zZpQ36cNE"
            image="/youtube.webp"
            title="Welame's Award 2024年9月編"
            body="おすすめ作品2024/9"
        />
        <Card
            url="https://www.youtube.com/live/mzNtpou8ZW0"
            image="/youtube.webp"
            title="Welame's Award 2024年10月編"
            body="おすすめ作品2024/10"
        />
        <Card
            url="https://www.youtube.com/live/utGhfJMCMWw"
            image="/youtube.webp"
            title="Welame's Award 2024年11月編"
            body="おすすめ作品2024/11"
        />
    </ul>
</Layout>

