---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
const pageTitle = "Posts";
---
<Layout pageTitle={pageTitle}>
    <h2>Blog</h2>
    <ul role="list" class="link-card-grid">
        <Card
            url="/article/202409-2/"
            image="/202409-2_2.jpg"
            title="週記2024/09-2"
            body="古代印欧語研究会、しゅーおん!!!、GiveWellと効果的な利他主義"
        />
        <Card
            url="/article/202409-1/"
            image="/202409-1_1.png"
            title="週記2024/09-1"
            body="YouTubeMusicWeekend、カフェ読書、ノンデザイナーズ・デザインブック"
        />
        <Card
            url="/article/202408-4/"
            image="/202408-4_1.jpg"
            title="週記2024/08-4"
            body="『社会はなぜ左と右にわかれるのか』：リベラル左派と保守主義、東京都写真美術館"
        />
        <Card
            url="/article/202408-3/"
            image="/202408-3_2.jpg"
            title="週記2024/08-3"
            body="サテライト・コインランドリー、浦和ZINEフェス、入手品の感想書きまくり"
        />
        <Card
            url="/article/202408-2/"
            image="/202408-2_2.png"
            title="週記2024/08-2"
            body="YouTube配信チャレンジ、Chase my IDEAL IDOL!、VTuberの哲学、コミックマーケット104"
        />
        <Card
            url="/article/202408-1/"
            image="/202408-1_1_thumbnail.png"
            title="週記2024/08-1"
            body="溶ける魚、ケチャまつり、『風とバーチャル』とVTuber年表"
        />
        <Card
            url="/article/202407-4/"
            image="/202407-4_1.png"
            title="週記2024/07-4"
            body="ハーモニー、児玉まりあ文学集成・雨がしないこと、アンゼルム、みんなで決めるゲーム音楽ベスト100"
        />
        <Card
            url="/article/202407-3/"
            image="/202407-3_1.jpg"
            title="週記2024/07-3"
            body="好き？好き？大好き？、ドロッセルマイヤー退勤 in 大宮、panpanya"
        />
        <Card
            url="/article/202407-2/"
            image="/202407-2_2.jpg"
            title="週記2024/07-2"
            body="中野散歩、太鼓の達人の思い出"
        />
        <Card
            url="/article/202407-1/"
            image="/202407-1_1.png"
            title="週記2024/07-1"
            body="＜千のプラトー＞入門講義、ラップスタア2024、OVER RAD SQUAD"
        />
        <Card
            url="/article/202406-2/"
            image="/202406-2_1_thumbnail.png"
            title="週記2024/06-2"
            body="SF6、カフカ短編集、灯を手繰りよせて"
        />
        <Card
            url="/article/202406-1/"
            image="/202406-1_1.png"
            title="週記2024/06-1"
            body="購入した本、プレイヤーとニーゴ楽曲"
        />
    </ul>
    <h2>YouTube</h2>
    <ul role="list" class="link-card-grid">
        <Card
            url="https://www.youtube.com/watch?v=fhe2KIlCeto"
            image="/youtube.webp"
            title="Intersteno Typing test - Deutsch / Deutsch (Schweiz) 【タイピング】"
            body="多言語タイピング動画（ドイツ語）"
        />
    </ul>
</Layout>

