---
import { getCollection } from "astro:content";
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
const allProjects = await getCollection("projects");
const pageTitle = "Profile";
---
<Layout pageTitle={pageTitle}>
    <h2>Profile</h2>
    <p>
        ハンドルネーム：うぇるあめ<br>
        <br>
        1999年11月11日 生<br>
        2018年 埼玉県立浦和高等学校 卒業<br>
        2024年 東京大学 工学部 応用化学科 卒業（2留、6年在学）<br>
        2024年～ 分析機器メーカー勤務<br>
        <br>
        連絡先：<a href="https://x.com/welch2929">Twitter</a> DMにお願いします。
    </p>
    <h2>Belong</h2>
    <p>
        2018-2020 UT-virtual （東大VR開発サークル）<br>
        2018- 東大VTuber愛好会（創設メンバー、2020年～2024年3月 会長）<br>
    </p>
    <h2>SNS</h2>
    <h3>Twitter</h3>
    <p>
        <a href="https://x.com/welch2929">＠welch2929</a>（本アカウント）<br>
        <a href="https://x.com/welch292929">@welch292929</a>（VTuberファンアカウント、更新停止）<br>
        <br>
        ・いいね、リプライ、DM等はご自由に。僕が喜びます。<br>
        ・ブロックは通常用いません。<br>
        ・自発フォローは単純にツイートを見たいと思った方に。フォローバックは気まぐれです。<br>
        ・可能ならお別れはブロ解ではなくリムーブでしていただけると有難いです。（あなたのツイートを見続けたいので）<br>
    </p>
    <h3>mastodon</h3>
    <p>
        <a href="https://mstdn.jp/@welch2929">@welch2929</a><br>
        見たもの、読んだ本などをシェアします。
    </p>
    <h3>Discord</h3>
    <p>
        ＠welch2929
    </p>
    <h2>Blog</h2>
    <p>
        <a href="https://welch2929.hatenadiary.jp">うぇるあめのVTuber情報保管庫</a> …VTuberに関する記事<br>
        <a href="https://welame.hatenadiary.com">うぇるたいぷろぐ</a> …競技タイピングに関する記事<br>
        <a href="https://welame.hatenablog.com">雨のち植える</a> …雑多な記事
    </p>
    <h2>LIKE</h2>
    <h3>VTuber</h3>
    <p><a href="/VTuber/">専用ページ</a>にまとめてあります。</p>
    <h3>音楽ゲーム</h3>
    <p>
        ◆pop'n music <br>
        始めたバージョンはうさねこ。<br>
        Lv49はtrideca/Timepiece phase II/Sky High/SailRen/the Chameleon/メタリックオペラ/Moon child/オイパンクの8曲をクリア済。<br>
        <br>
        ◆プロジェクトセカイ<br>
        MASTER AP2譜面。<br>
        ストーリーも基本的にすべて読んでいます。<br>
        <br>
        ◆beatmania IIDX<br>
        BISTROVER SP八段。右利き2P。<br>
        <br>
        ◆太鼓の達人<br>
        イエロー九段。中学生の頃に「金色の太鼓勢」というチームに入れてもらっていました。<br>
        Xa裏クリア、郢曲フルコンなど。<br>
    </p>
    <h3>競技タイピング</h3>
    <p><a href="/typing/">専用ページ</a>にまとめてあります。</p>
    <h3>情報系</h3>
    <p>
        応用情報技術者(AP)、データベーススペシャリスト（DB）合格<br>
        <br>
        競技プログラミング：<br>
        AtCoder緑(highest水/Rating1200)。C++ユーザー。蟻本は一通り読了。<br>
        PAST（アルゴリズム実技検定）中級認定。<br>
        AtCoderユーザーページ：<a href="https://atcoder.jp/users/welame">https://atcoder.jp/users/welame</a><br>
    </p>
    <h3>ゲーム</h3>
    <p>
        プロジェクトセカイの「25時、ナイトコードで。」というユニットを愛しています。<br>
        ほか、サルゲッチュシリーズや塊魂シリーズ、幻想水滸伝II、UNDERTALEなどが思い出のゲームです。<br>
        <br>
        また、ゲーム音楽が好きです。FCやSFC、レトロPCゲーのような古いものから最近のゲームのものまで色々聴きます。<br>
        一番好きなサントラはサガフロンティア2。<br>
    </p>
    <h3>漫画</h3>
    <p>
        ・『少女終末旅行』<br>
        ・『シメジシミュレーション』<br>
        ・『またぞろ。』<br>
        ・『春あかね高校定時制夜間部』<br>
        ・panpanya作品<br>
    </p>
    <h3>書籍</h3>
    <p>
        ・『贖罪 殺人は償えるのか』藤井誠二<br>
        ・『生き延びるための自虐』田原夕<br>
        ・『失われた未来を求めて』木澤佐登志<br>
        ・『有閑階級の理論』ソースティン・ヴェブレン<br>
        ・『ヴィータ 遺棄された者たちの生』ジョアオ・ビール<br>
        <br>
        ・『白鯨』ハーマン・メルヴィル<br>
        ・『砂糖菓子の弾丸は撃ちぬけない』桜庭一樹<br>
        <br>
        ・『現代政治理論』ウィル・キムリッカ
        ・『まったく新しいアカデミック・ライティングの教科書』阿部幸大
    </p>
    <p><a href="/article/like/">and more...</a></p>
    <h3>アーティスト</h3>
    <p>
        <a href="https://www.youtube.com/@harumakigohan">はるまきごはん</a>さんを愛しています。<br>
    </p>
    <h3>その他趣味</h3>
    <p>
        ・漢字<br>
        幼い頃から難読漢字の類いが好きでした。小5のときに漢字検定2級を取得。<br>
        1級をそのうち取りたいと思いつつも漢字逞筆を1/3やったくらいで勉強が止まっています。<br>
        <br>
        ・読書<br>
        人文学の書籍を中心に月10～15冊くらいいろいろ読みます。乱読派です。<br>
        <br>
        ・言語学習<br>
        ドイツ語（第二外国語）、インドネシア語、中国語。文法と単語の基礎をさらったくらいなので、今はすべて忘れていますが……。<br>
        <br>
        ・アニメ試聴<br>
        ・競技クイズ<br>
        ・MCバトル試聴<br>
        ・簡単なドット絵作り<br>
    </p>
    <p>（最終更新：2025年5月25日）</p>
    
</Layout>

