---
import Layout from '../layouts/Layout.astro';
const pageTitle = "タイピング";
---
<Layout pageTitle={pageTitle}>
    <h2>タイピングについて</h2>
    <p>2020年末から練習中。</p>
    <p>ブログ記事の投稿や、YouTubeでの毎週の雑談配信も行っています。タイピング愛好者グループ「ぁ～ん」所属。</p>
    <p>
        ◆e-typing腕試し<br>
        ローマ字646、英語530、かな237、ローマ字長文696<br>
        <br>
        ◆寿司打<br>
        高級23140円お得（速度：8.5key/秒、ミス：24key、2位）<br>
        <br>
        ◆Weather Typing<br>
        qwe Lv8.4<br>
        <br>
        ◆Intersteno Internet Contests多言語部門（オンライン世界大会）<br>
        2021年大会全体40位、2024年大会全体34位<br>
        <br>
        タイプウェル成績表<br>
        <table>
            <tr>
                <th>タイプウェル国語R</th>
                <th>常用XX</th>
                <th>カタカナXB</th>
                <th>漢字XD</th>
                <th>慣ことXA</th>   
            </tr>
            <tr>
                <th>タイプウェル国語K</th>
                <th>常用SF</th>
                <th>カタカナSJ</th>
                <th>漢字SJ</th>
                <th>慣ことSH</th>   
            </tr>
            <tr>
                <th>タイプウェル英語</th>
                <th>常用XA</th>
                <th>A-F拡張XE</th>
                <th>G-P拡張XD</th>
                <th>Q-Z拡張XE</th>   
            </tr>
            <tr>
                <th>タイプウェルオリジナル</th>
                <th>のみSD</th>
                <th>混在SB</th>
                <th>すべキーSI</th>
                <th>数字SH</th>   
            </tr>
        </table>
        <br>
        ブログ：<a href="https://welame.hatenadiary.com">https://welame.hatenadiary.com</a><br>
        タイパーとしてのより詳しいプロフィール：<a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vQgCEiRl0R6OBo-5Za3tJGP7JmzPMDlwR_G4TOQYt-cz9XZgI71K46d1VtI95SPXr8nS9SNrJTF1Fzj/pubhtml">SpreadSheetリンク</a><br>
        <br>
        QWERTY配列とかな入力のほかにEucalyn配列も使用経験があり、e-typingのベストスコアは274です。<br>
    </p>
</Layout>