---
import Layout from '../layouts/Layout.astro';
const pageTitle = "VTuber";
---
<Layout pageTitle={pageTitle}>
    <h2>VTuberについて</h2>
    <p>
        2018年1月あたりから毎日見続けています。<br>
        特定のVを追うというよりは広くいろいろなものを見たいタイプです。音楽勢や動画勢が特に好き。<br>
        <br>
        ライターとしても活動しており、巨大年表制作やWebメディアでの記事執筆をしておりました。
    </p>
    <h3>主な情報発信</h3>
    <p>
        ◆VTuber界ニュース一覧<br>
        いわゆるVTuber界の年表。VTuber界の出来事を各日付ごとに記録しています。<br>
        現在は休止しておりますが、Discordサーバー「Project Virtual History」にて後継の表が作成されています。また後述の「風とバーチャル」にも拡大版がまとめられています。<br>
        <a href="https://docs.google.com/document/u/3/d/e/2PACX-1vS33XP-EvGRBxZs1OV_ibFmsTpMOyYjIwUGCLF_0kaH05pJBT_idZEEiQCYZO9cSnI8tpAs0EtNXY40/pub">Google Document</a><br>
        <br>
        ◆うぇるあめのVTuber情報保管庫<br>
        個人ブログ。紹介記事や特集記事を書いていました。<br>
        <a href="https://welch2929.hatenadiary.jp">https://welch2929.hatenadiary.jp</a><br>
        <br>
        ◆MoguLive<br>
        VR/AR/MR/VTuberの情報を取り扱うニュースメディア。ライターの一人として記事執筆等をさせていただいておりました。<br>
        <a href="https://www.moguravr.com/writer/writer-100256/">https://www.moguravr.com/writer/writer-100256/</a><br>
        <br>
        ◆同人誌「風とバーチャル」<br>
        バーチャルYouTuber/VTuberに関する文芸・歴史誌に年表データを提供しました。<br>
        第一集はコミックマーケット103 1日目およびネット通販にて頒布。<br>
        <a href="https://windvirtual.booth.pm">https://windvirtual.booth.pm</a>
    </p>
    <h3>その他活動</h3>
    <p>
        ◆ナゴヤVTuber展inパルコ<br>
        中京テレビのイベント「ナゴヤVTuberまつり」内で展示された巨大年表の編集に協力させていただきました。<br>
        <a href="https://www.youtube.com/watch?v=h1p9UL-k8Zg">https://www.youtube.com/watch?v=h1p9UL-k8Zg</a><br>
        <br>
        ◆VRカタリアウ @ cluster 2020<br>
        ゲストとしてLTに登壇させていただきました。<br>
        <a href="https://www.youtube.com/watch?v=cXZaRMR0lXw">https://www.youtube.com/watch?v=cXZaRMR0lXw</a><br>
        <br>
        ◆Vtuber MOVIE Rush<br>
        グエスさん主催のVTuber動画紹介企画。Selectorの一人として参加させていただきました。<br>
        <a href="https://www.youtube.com/watch?v=L1r4dN43By0&list=PLiJYIJ11WMuWFW3g4BI_UNScBMiyYlkpW&index=15">https://www.youtube.com/watch?v=L1r4dN43By0</a><br>
        <br>
        ◆VのQオープン<br>
        月津さん主催のVTuberクイズ大会。第一回2位、第二回4位。<br>
        第一回：<br>
        <a href="https://www.youtube.com/watch?v=tVmWfv6mgRM">https://www.youtube.com/watch?v=tVmWfv6mgRM</a><br>
        第二回：<br>
        <a href="https://www.youtube.com/watch?v=PmtUEwnligI">https://www.youtube.com/watch?v=PmtUEwnligI</a><br>
        <br>
        ◆公開Cosense<br>
        <a href="https://scrapbox.io/welch292929public/">https://scrapbox.io/welch292929public/</a><br>
    </p>
</Layout>