---
const year = new Date().getFullYear();
---
<footer>
    <div class="center">
        <!--
        <ul class="footer">
            <li class="icon__btn"><a class="icon__link" href="#" target="_blank"><span class="Twitter-icon">Twitter</span></a></li>
        </ul>
        -->
        <small>&copy; {year} welame.</small>
    </div>
</footer>

