---
import ThemeIcon from './ThemeIcon.astro';
---
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap" rel="stylesheet">
<div class="navbar">
    <div class="navbar__title">
        <a href="/">welame's page</a>
    </div>
    <div class="navbar__menu">
        <a href="/profile/">Profile</a>
        <a href="/VTuber/">VTuber</a>
        <a href="/typing/">Typing</a>
        <a href="/posts/">Posts</a>
        <ThemeIcon />
    </div>
</div>

